html{
  body{
    font-family: $font;
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}


.col-xxs{
  @media (max-width: 499px) {
    width: 100%;
  }
}

.text-align-start{
  text-align: $start !important;
}

.text-align-end{
  text-align: $end !important;
}

img.logo {
  width: 180px;
}

.navbar, .header, .footer {
  padding-left: 10px;
  padding-right: 10px;
}