

/*mixin*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
} //usage @include transition(color .3s ease);


%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} //usage @extend %clearfix;

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
} //usage @include keyframes(slide-down){} & @include animation('slide-down 5s 3');

/*end of mixin*/



/* sass variables */

//colors

$black: #000;
$light-gray: #e9e9e9;
$medium-gray: #5e5e5e;
$dark-gray: #191919;

//sizes
$header-height: 40px;
$header-height-big: 70px;

//other
$gray-narrow-border: 1px solid $light-gray;

/* end of sass variables */

*{
  font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:active, a:focus, a:visited{
  color:inherit;
  text-decoration: none;
}
.list-reset{
  margin:0;
  padding:0;
  list-style-type: none;
}
.text-align-center{
  text-align: center;
}

a.nav-links{
  font-size: 14px;
  line-height: 15px;
  position: relative;
  padding: 10px 0 9px;
  display: inline-block;
  vertical-align: top;
  transition: color 0.25s;
  color:$medium-gray;
  text-transform: capitalize;
}

.header{
  height:$header-height;
  border-bottom: 1px solid $light-gray;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  min-width: 320px;
}
.inner-header{
  position: relative;
  .logo{
    font-size: 16px;
    margin: 10px 5px 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark-gray;
    float:left;
  }
}

.nav-bar{
  float: right;
  position: relative;
  display: none;
  ul{
    @extend .list-reset;
    .menu-item{
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      margin-right:30px;
      a{
        @extend .nav-links;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.nav-toggle{
  width:$header-height;
  height:$header-height;
  float: right;
  background: transparent;
  border: none;
  border-left: $gray-narrow-border;
  padding:11px 6px;
  text-align: center;
  .line{
    display: inline-block;
    float: right;
    margin-bottom: 4px;
    width:27px;
    height:2px;
    background: $dark-gray;
    border-radius: 2px;
  }
}
.nav-list{
  position: absolute;
  background: #fff;
  top: $header-height;
  left:0;
  right:0;
  border-bottom: $gray-narrow-border;
  padding:15px;
  text-align: center;
  display: none;
  ul{
    @extend .list-reset;
    .menu-item{
      margin-bottom: 5px;
      a{
        @extend .nav-links;
      }
    }
  }
}
.main-title{
  color:#6f6f6f;
  font-weight: 300;
  margin:20px 0;
  font-size: 3em;
  text-transform: capitalize;
}

.b-credit{
  //padding: 20px;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  //border-top: $gray-narrow-border;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  a{
    font-weight: 600;
    color: #c3c3c3;
  }
}

.persian{
  &,
  a,
  p{
    font-family:IRANSans;
    direction: rtl;
    font-weight: 300;
    color: #333;
  }
}

@media(min-width: 768px){
  .mobile,.nav-list{
    display: none;
  }
  .nav-bar{
    display: inline-block;
  }
  .header{
    height: $header-height-big;
    padding: 18px 0 19px;
    .inner-header{
      padding:0 40px;
      .logo{
        margin: 10px 0 0;
        font-size: 20px;
        margin-top: 0;
      }
    }
  }
}






