@import "style";

.wrapper{
  position: relative;
}

.b-biography{
  margin-top: 80px;
  @media (max-width: 767px) {
    margin-top: 50px;
  }
  .main-title{
    text-align: center;
  }

  .bio-img{
    max-height: 600px;
    margin: 40px 0;
    overflow: hidden;
    @media (max-width: 767px) {
      margin: 20px 0;
    }
    img{
      width: 100%;
    }
  }
  .bio-abstract{
    font-weight: 300;
    font-size: 20px;
    width: 85%;
    margin:20px auto 30px;
    font-family:IRANSans;
    p{
      margin: 0;
      padding: 0;
    }
  }
  .bio-context{
    p{
      font-family:IRANSans;
      font-size: 16px;
      line-height: 25px;
      color:$medium-gray;
    }
  }

  .bio-footer{
    width: 85%;
    margin: 40px auto 60px;
    text-align: center;

    .social{
      font-size: 30px;
    }
  }

}