@import "style";

/* variales*/

$footer-height: 100px;
$img-size: $footer-height - 20px;
/* End variales*/

.owl-nav, .owl-dots{
  display: none;
}
.b-credit{
  bottom: unset;
}


.img-bar{
  //position: fixed;
  bottom: 0;
  left:0;
  right:0;
  height:$footer-height;
  //border-top: $gray-narrow-border;
  overflow: hidden;
  padding: 10px 0;
  background: #fff;
  .img-bar-inner{
    width: 100%;
    text-align: center;
  }
}
.img-row{
  height: $img-size;
  display: inline-block;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  @extend .list-reset;
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  .owl-stage-outer{
    overflow: visible;
  }
  .item{
    float: left;
    cursor: pointer;
    width: ($img-size * 3)/4;
    //width: ($img-size * 2)/3;
    height: $img-size;
    overflow: hidden;
    @include transition(all .3s);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    a{
      display: inline-block;
      img{
        width:$img-size;
        height: $img-size;
      }
    }
    &:hover{
      -webkit-transform: scale(1.2,1.2);
      -moz-transform: scale(1.2,1.2);
      -ms-transform: scale(1.2,1.2);
      -o-transform: scale(1.2,1.2);
      transform: scale(1.2,1.2);
      @include transition(all .3s);
    }
  }
}
/*.stylize li{
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
  overflow: hidden;
  width:$img-size;
  height: $img-size;
  &:hover{
    -webkit-transform: scale(1.2,1.2) skew(30deg);
    -moz-transform: scale(1.2,1.2) skew(30deg);
    -ms-transform: scale(1.2,1.2) skew(30deg);
    -o-transform: scale(1.2,1.2) skew(30deg);
    transform: scale(1.2,1.2) skew(30deg);
    @include transition(all .3s);
  }
    img{
      -webkit-transform: skew(30deg);
      -moz-transform: skew(30deg);
      -ms-transform: skew(30deg);
      -o-transform: skew(30deg);
      transform: skew(30deg);
      object-fit: cover;
      width: 160px !important;
      height: 160px !important;
      &:hover{
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
        @include transition(all .3s);
        width:$img-size !important;
        height: $img-size !important;
      }
    }
}*/


.blog-post{

  .main-data{
    height: calc(100vh - 90px);
    .post-image{
      height: 60vh;
    }
    @media (max-width: 767px) {
      height: auto;
    }
    @media (max-height: 700px) {
      height: auto;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: auto;
    }
  }
  .post{
    margin-top: $header-height-big;
    margin-bottom: 50;
    //position: relative;
    @media (max-width: 767px) {
      margin-top: $header-height;
    }
    .main-title{
      text-align: center;
    }
    .year-title{
      text-align: center;
      color: #6f6f6f;
      font-weight: 300;
      margin-top: -10px;
    }
    .post-image{
      margin: 30px 0;
      width:100%;
      //height: 600px;
      overflow: hidden;
      //@media (max-height: 700px) and (max-width: 425px) {
      //  height: auto;
      //}
      @media (max-width: 767px) {
        height: auto;
        width: 90%;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
      }
      @media (max-height: 700px) {
        height: auto;
        width: 90%;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        text-align: center;
        height: auto;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
        }
      }
    }
    .post-info{
      text-align: center;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 20px;
      color: #8c8c8c;
      span{
        color: #333;
      }
    }
    .news-date{
      color: #888;
      border-bottom: $gray-narrow-border;
      margin-bottom: 15px;
      padding: 5px;
    }
    .post-description{
      font-size: 16px;
      line-height: 25px;
      color: #5e5e5e;
      font-family:IRANSans;
      p{
        font-family:IRANSans;
      }
    }
    .navigator{
      position: fixed;
      display: inline-block;
      width: 56px;
      height: 55px;
      top: 50vh;
      @media (max-width: 929px) {
        margin: 0 !important;
        //background-color: #333;
        padding: 10px 5px;
        width: 35px;
        height: 70px;
      }

      a{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      svg{
        width:100%;
        height:100%;
        fill: #6f6f6f;
        @media (max-width: 929px){
          //fill: #fff;
          height: 50px;
        }
      }
      &.nav_back{
        left: 0;
        margin-left: 30px;
      }
      &.nav_next{
        right:0;
        margin-right: 30px;
      }
    }
  }

  &.news{
    .main-data{
      height: auto;
      .post-image{
        height: auto;
        width: 90%;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .gallery-single{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    //background-color: rgb(0,0,0);
    //background-color: rgba(0,0,0,0.7);
    background-color: #ffffff;
    z-index: 210;
    padding-top: 100px;
    overflow: auto;
    .close_icon{
      width: 50px;
      height: 50px;
      top: 30px;
      right: 30px;
      position: fixed;
      display: inline-block;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
      @media (max-width: 767px) {
        width: 30px;
        height: 30px;
      }
    }
    .img-single{
      margin: auto;
      display: block;
      max-width: 80%;
      max-height:95%;
      @media (max-width: 700px) {
        max-width: 95%;
        max-height:95%;
      }
    }
    .caption{
      //margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      font-size: em(20);
      line-height: em(22);
      margin: 10px auto;
      background-color: #000;
      background-color: rgba(0,0,0,0.6);
      border-radius: 5px;
    }
    .img-single,
    .caption{
      @include animation(zoom 0.6s);
    }
  }
}
