@import 'style';

html,body{
  height: 100%;
}
.wrapper{
  min-height: 100%;
  position: relative;

}
.contact{
  /*position: absolute;
  top: $header-height-big;
  left:0;
  right: 0;
  bottom: 0;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: $header-height-big;
  @media (max-width: 767px) {
    padding-top: $header-height;
  }

  canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
  }
  .container{
    height: 100%;
  }
  .contact-box{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;

    .contact-box-inner{
      display: table-cell;
      vertical-align: middle;
    }
    .contact-container{
      background: rgba(255,255,255,0.3);
    }

    .contact-list{
      display: inline-block;
      margin: 30px auto 10px;
      text-align: left;
      list-style: none;
      padding: 0;

      .contact-links{
        .social{
          font-size: 20px;

        }
      }
      .contact-item{
        cursor: pointer;
        padding-left: 1em;
        //text-indent: -.7em;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 25px;
        position: relative;
        @include transition(all .35s ease-out);
        &:hover{
          &::before{
            width: 20px;
            left: -7px;
          }
        }
        &::before {
          content: "";
          display: inline-block;
          background-color: #848484;
          height: 3px;
          width: 13px;
          border-radius: 2px;
          margin-right: 2px;
          margin-bottom: 4px;
          @include transition(all .3s ease);
          position: absolute;
          top: 50%;
          left: 0px;
          bottom: 50%;
          right: 47px;
          overflow: hidden;
        }
        .contact-item_title{
          font-weight: 600;
          margin-right: 10px;
          text-transform: capitalize;
        }
        .contact-item_data{
          @media (max-width: 374px) {
            display: block;
          }
        }
      }
    }

    .contact-form{
      max-width: 650px;
      margin: 10px auto 50px;
      @extend %clearfix;
      h2{
        margin-top: 0;
        //font-size: 28px;
      }
      input{
        border: 1px solid #ddd;
        padding: 8px 10px;
        background: #eee;
        margin: 5px;
        font-family: "Open Sans";
        width: 100%;
        &:nth-last-child(1){
          margin-right: 0;
        }
      }
      label{
        display: none;
      }
      textarea{
        border: 1px solid #ddd;
        background: #eee;
        display: block;
        width: 100%;
        margin:5px;
        padding: 20px;
        resize: none;
        // height: 200px;
      }
      .form-feed.alert{
        margin: 5px;
        border-radius: 0;
        width: 100%;
      }
      button{
        width:100%;
        padding: 5px 10px;
        background: #333;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
        margin: 5px;
      }
    }
  }

}