@import 'style';

.login{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
  }
  .container{
    height: 100%;
  }
  .login-box{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;

    .login-box-inner{
      display: table-cell;
      vertical-align: middle;
    }
    .login-container{
      background: rgba(255,255,255,0.3);
    }
    .login-form{
      max-width: 350px;
      margin: 10px auto 50px;
      @extend %clearfix;
      h2{
        margin-bottom: 20px;
      }
      input{
        border: 1px solid #ddd;
        padding: 8px 10px;
        background: #eee;
        margin: 5px;
        font-family: "Open Sans";
        width: 100%;
        &:nth-last-child(1){
          margin-right: 0;
        }
      }
      label{
        display: none;
      }
      button{
        width:100%;
        padding: 5px 10px;
        background: #333;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
        margin: 15px 5px 5px;
      }
      .message{
        text-align: left;
        margin: 10px 5px;
        width: 100%;
        padding: 8px 10px;
        border-radius: 0;
      }
      .remember{
        text-align: left;
        margin: 5px;
        line-height: 19px;
        input{
          display: inline-block;
          width: unset;
          margin: 2px;
          margin-right: 5px;
        }
      }
    }

  }
}