@import 'style';

.b-credit{
  position: static;
}

.pagination-container{
  width: 100%;
  text-align: center;
  .pagination{
    a,
    a:hover,
    a:focus,
    a:active{
      color: #333;
    }
    .active{
      span{
        background-color: #333;
        border-color: #333;
      }
    }
    .disabled{
      span{
        opacity: 0.8;
      }
    }
  }
}

.news-list{
  margin-top: $header-height-big;
  @media (max-width: 767px) {
    margin-top: $header-height;
  }
  .main-title{
    text-align: center;
  }

  .news-stack{
    padding:0;
    list-style-type: none;
    max-width: 1000px;
    margin: 0 auto;
    .news-item{
      margin: 40px 0;
      a{
        display: inline-block;
        width: 100%;
      }
      .news-image{
        width: 100%;
        height: 500px;
        overflow: hidden;
        filter: grayscale(100%);
        @include transition(all 0.35s ease-in-out);
        @media (max-width: 991px) {
          height: 350px;
        }
        @media (max-width: 599px) {
          height: 300px;
        }
        @media (max-width: 424px) {
          height: 250px;
        }
        img{
          width: 100%;
          height:100%;
          object-fit: cover;
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: auto;
          }
        }
        &:hover{
          filter: grayscale(0%);
          @include transition(all 0.35s ease-in-out);
        }
      }
      .news-title{
        color: #333;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 4px;
        text-transform: capitalize;
        //font-family:IRANSans;
      }
      .news-date{
        margin: 0 25px 10px;
        color: #888;
        font-weight: 400;
        font-family:IRANSans;
      }
      .news-abstract{
        margin: 0 20px 20px;
        font-size: 16px;
        line-height: 25px;
        color: #5e5e5e;
        font-family:IRANSans;
      }
    }
  }

  hr{
    border-top-color: #ddd;
    margin-bottom: 60px;
  }


}