@import "style";
html,body{
  height: 100%;
}
html,body, .wrapper{
  min-height: 100%;
}
.wrapper{
  position: relative;
}
.b-credit{
 // bottom: unset;
}
.appendix{
  display: block;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  padding-top: $header-height-big;
  padding-bottom: 80px;
  position: relative;
  .container-fluid{
    //display: table;
    // height: 100%;
    min-height: 100%;
  }

  canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
  }
}
.year-container{
  width: 80%;
  //display: table-cell;
  //vertical-align: middle;
  margin: 100px auto 0;
  text-align: center;
  .main-title{
    margin-bottom: 40px;
  }
}
.years{
  text-align: center;
  @extend %clearfix;
  .year{
    display: inline-block;
    //font-size: 55px;
    font-size: 65px;
    font-weight: 600;
    //font-weight: 300;
    margin-right: 20px;
    @media (max-width: 1024px) {
      font-size: 55px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
      width: 100%;
      text-align: left;
    }
    @media (max-width: 500px) {
      font-size: 30px;
    }
    @media (max-width: 375px) {
      font-size: 25px;
    }
    a{
      //color: #888;
      color: #b3b3b3;
      float: left;
      opacity: 0.6;
      @include transition(opacity .5s cubic-bezier(.694,0,.335,1));
      @media (max-width: 767px) {
        display: block;
      }
      &:hover{
        opacity: 1;
        @include transition(opacity .5s cubic-bezier(.694,0,.335,1));
      }
    }
    span{
      //color:#444;
      color:#808080;
      float: left;
      font-weight: 500;
    }
    &:last-child{
      span{
        visibility: hidden;
      }
    }
  }
}

.year.blink{
  a{
    opacity: 1;
    @include transition(opacity .5s cubic-bezier(.694,0,.335,1));
  }
}


.year.active{
  a{
    opacity: 1;
    transform: scale(1,1) !important;
    @include transition(all .5s cubic-bezier(.694,0,.335,1));
  }
}

@media(min-width: 768px) {
  .appendix{
    padding-top: $header-height-big;
  }
}

/*.wrapper{
  position: relative;
  min-height: 100%;
  .b-credit{
    bottom: unset;
  }
}

.categories{
  margin-top: $header-height-big;
  @media (max-width: 767px) {
    margin-top: $header-height;
  }
  .main-title{
    text-align: center;
  }
  .category-card{
    margin: 40px auto;
    //padding-left: 20px;
    //max-width: 320px;
    h2{
      color: #6f6f6f;
      //font-weight: 600;
      font-weight:300;
      text-transform: capitalize;
      font-size: 50px;
      margin-bottom: 30px;
      @media (max-width: 424px) {
        font-size: 35px;
      }
      &:hover{
        &+.category-line{
          &:after{
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
            @include transition(all 0.35s linear);
          }
        }
      }
    }
    .category-line{
      //display: none;
      height: 2px;
      position: relative;
      overflow: hidden;
      margin: -20px 0 20px;
      &:after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #666;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        @include transition(all 0.35s linear);
        //@include animation(draw-line 0.5s linear)
        -webkit-transform: scale(0, 1);
        -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        -o-transform: scale(0, 1);
        transform: scale(0, 1);
      }

    }
    .category-desc{
      //background: url("../images/left-brace.svg") no-repeat;
      background-size: contain;
      font-size: 16px;
      line-height: 22px;
      padding-left: 30px;
      //padding-left: 50px;
      color: #000;
      opacity: 0.5;
    }
  }
}

@include keyframes(draw-line){
  0%{
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
  }
  100%{
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}*/

