/*
*-------------------------------------------------------
* File Input Style overwrite
*-------------------------------------------------------
*/

.file-input{
  padding: 0 25px;
  .btn{
    i.fa{
      margin: 0;
    }
  }
  .file-preview{
    border-color: #eee;

    .fileinput-remove{
      display: none;
    }

    .file-drop-zone{
      border: 3px dashed #ddd;

      .file-drop-zone-title{
        font-size: 1.4em;
      }
    }
  }
}

.file-zoom-dialog{
  .btn{
    i.fa{
      margin: 0;
    }
  }
  .kv-zoom-title{
    display: inline-block;
    direction: ltr;
  }
}
