/*
*-------------------------------------------------------
* Form Control Styles
*-------------------------------------------------------
*/
.control--radio{
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  input{
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked ~.control__indicator{
      &:after{
        display: block;
      }
    }
  }
  .control__indicator{
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 50%;
    &:after{
      content: '';
      position: absolute;
      display: none;
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fff;
    }
    &.control-danger{
      background: #f05050;
    }
    &.control-primary{
      background: #5d9cec;
    }
    &.control-info{
      background: #23b7e5;
    }
    &.control-success{
      background: #27c24c;
    }
    &.control-warning{
      background: #ff902b;
    }
    &.control-green{
      background: #37bc9b;
    }
    &.control-pink{
      background: #f532e5;
    }
    &.control-inverse{
      background: #131e26;
    }
    &.control-purple{
      background: #7266ba;
    }
  }
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator{
  background: #ccc;
}