/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: b;
    animation-name: b
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden; /* fix for flashing background */
    -webkit-transform: translateZ(0)
}

.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel .owl-refresh .owl-item {
    display: none
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

/* No Js */
.no-js .owl-carousel {
    display: block
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(../owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale .1s ease;
    -moz-transition: scale .1s ease;
    -ms-transition: scale .1s ease;
    -o-transition: scale .1s ease;
    transition: scale .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1
}

.owl-theme .owl-controls {
    margin-top: 10px
}

.owl-theme .owl-controls .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    margin: auto;
    width: 100%
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-style: solid;
    color: transparent;
    border-width: 5px 0 0 5px;
    border-color: #fff;
    box-shadow: -4px -4px 7px -5px #000, inset 4px 4px 7px -6px #000
}

.owl-theme .owl-controls .owl-nav .owl-next {
    right: 30px;
    transform: rotate(135deg)
}

.owl-theme .owl-controls .owl-nav .owl-prev {
    left: 30px;
    transform: rotate(-45deg)
}

.owl-theme .owl-controls .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px; /*background: #d6d6d6;*/
    display: block;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px #fff;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    background-color: rgba(0, 0, 0, .1) /*-webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px*/
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    box-shadow: 0 0 0 1px #fff, inset 0 0 0 12px #fff
}

/*
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    -moz-perspective: 1200px;
    -moz-perspective-origin-x: 50%;
    -moz-perspective-origin-y: 50%;
    perspective: 1200px
}

/* fade */
.owl-fade-out {
    z-index: 2;
    -webkit-animation: b .7s both ease;
    -moz-animation: b .7s both ease;
    animation: b .7s both ease
}

.owl-fade-in {
    -webkit-animation: a .7s both ease;
    -moz-animation: a .7s both ease;
    animation: a .7s both ease
}

/* backSlide */
.owl-backSlide-out {
    -webkit-animation: c 1s both ease;
    -moz-animation: c 1s both ease;
    animation: c 1s both ease
}

.owl-backSlide-in {
    -webkit-animation: d 1s both ease;
    -moz-animation: d 1s both ease;
    animation: d 1s both ease
}

/* goDown */
.owl-goDown-out {
    -webkit-animation: e .7s ease both;
    -moz-animation: e .7s ease both;
    animation: e .7s ease both
}

.owl-goDown-in {
    -webkit-animation: f .6s ease both;
    -moz-animation: f .6s ease both;
    animation: f .6s ease both
}

/* scaleUp */
.owl-fadeUp-in {
    -webkit-animation: g .5s ease both;
    -moz-animation: g .5s ease both;
    animation: g .5s ease both
}

.owl-fadeUp-out {
    -webkit-animation: h .5s ease both;
    -moz-animation: h .5s ease both;
    animation: h .5s ease both
}

/* Keyframes */
/*empty*/
@-webkit-keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-moz-keyframes b {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes b {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes c {
    25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px)
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%)
    }
    to {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%)
    }
}

@-moz-keyframes c {
    25% {
        opacity: .5;
        -moz-transform: translateZ(-500px)
    }
    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%)
    }
    to {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%)
    }
}

@keyframes c {
    25% {
        opacity: .5;
        transform: translateZ(-500px)
    }
    75% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%)
    }
    to {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%)
    }
}

@-webkit-keyframes d {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0)
    }
}

@-moz-keyframes d {
    0%, 25% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px)
    }
    to {
        opacity: 1;
        -moz-transform: translateZ(0) translateX(0)
    }
}

@keyframes d {
    0%, 25% {
        opacity: .5;
        transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        transform: translateZ(-500px)
    }
    to {
        opacity: 1;
        transform: translateZ(0) translateX(0)
    }
}

@-webkit-keyframes e {
    to {
        opacity: 0;
        -webkit-transform: scale(.8)
    }
}

@-moz-keyframes e {
    to {
        opacity: 0;
        -moz-transform: scale(.8)
    }
}

@keyframes e {
    to {
        opacity: 0;
        transform: scale(.8)
    }
}

@-webkit-keyframes f {
    0% {
        -webkit-transform: translateY(-100%)
    }
}

@-moz-keyframes f {
    0% {
        -moz-transform: translateY(-100%)
    }
}

@keyframes f {
    0% {
        transform: translateY(-100%)
    }
}

@-webkit-keyframes g {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}

@-moz-keyframes g {
    0% {
        opacity: 0;
        -moz-transform: scale(1.5)
    }
}

@keyframes g {
    0% {
        opacity: 0;
        transform: scale(1.5)
    }
}

@-webkit-keyframes h {
    to {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}

@-moz-keyframes h {
    to {
        opacity: 0;
        -moz-transform: scale(1.5)
    }
}

@keyframes h {
    to {
        opacity: 0;
        transform: scale(1.5)
    }
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 120px
}

a {
    -webkit-transition: all .2s;
    transition: all .2s;
    color: #5e5f68
}

.nav > li > a:focus, .nav > li > a:hover, .nav li.open > a, .nav li.open > a:focus, .nav li.open > a:hover {
    background-color: #f6f6f6
}

.navbar {
    background-color: #ebebef;
    border-top: 5px solid #b0b2c3;
    height: 90px;
    box-sizing: content-box;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .5);
    -webkit-transition: all .2s;
    transition: all .2s
}

.navbar .navbar-brand {
    height: 90px;
    max-width: 120px
}

.navbar .navbar-brand, .navbar .navbar-brand img {
    -webkit-transition: all .2s;
    transition: all .2s
}

.navbar .navbar-brand img {
    display: inline-block;
    max-height: 60px;
    width: auto
}

.navbar li.current a {
    color: #5e5f68
}

.navbar.scaled {
    height: 50px
}

.navbar.scaled .navbar-brand {
    padding: 6px 15px;
    height: 51px
}

.navbar.scaled img {
    max-height: 40px
}

@media screen and (max-width: 400px) {
    .navbar .navbar-brand img {
        height: 41px
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse {
        background-color: #ebebef;
        box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .5)
    }
}

@media screen and (min-width: 767px) {
    .navbar a {
        font-weight: 300;
        font-size: 20px
    }

    .navbar .navbar-nav > li > a {
        padding-top: 31px;
        line-height: 45px;
        border-bottom: 1px solid transparent
    }

    .navbar .navbar-nav > li.current a, .navbar .navbar-nav > li > a.active, .navbar .navbar-nav > li > a:active, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
        border-color: #293889
    }

    .navbar li.languages {
        display: inline-block;
        vertical-align: top
    }

    .navbar li.languages > a {
        font-size: 12px;
        font-weight: 700;
        padding: 0;
        display: inline-block;
        line-height: 35px;
        margin: 0 5px;
        color: #b0b2c3;
        position: relative
    }

    .navbar li.languages > a.active, .navbar li.languages > a:focus, .navbar li.languages > a:hover {
        color: #5e5f68;
        background-color: transparent
    }

    .navbar li.languages > a.active:before {
        content: "";
        position: absolute;
        width: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: #b0b2c3;
        border-bottom: none
    }

    .navbar ul.dropdown-menu {
        left: 0;
        right: auto;
        padding: 0;
        box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .5);
        border-width: 1px 0 0;
        border-radius: 0;
        border-color: #293889;
        margin-top: -1px;
        background-color: #f6f6f6
    }

    .navbar ul.dropdown-menu .caret {
        border: 4px solid;
        border-color: transparent transparent transparent currentColor
    }

    .navbar ul.dropdown-menu a {
        padding: 5px 15px;
        display: block;
        line-height: 1.2;
        color: #293889;
        font-weight: 300;
        font-size: 16px
    }

    .navbar ul.dropdown-menu a:focus, .navbar ul.dropdown-menu a:hover {
        background-color: #ebebef
    }

    .navbar li a {
        font-size: 18px;
        padding-right: 8px;
        padding-left: 8px
    }

    .navbar li.languages {
        position: absolute;
        right: 22px
    }

    .navbar.scaled .navbar-nav > li:not(.languages) > a {
        padding-top: 19px;
        line-height: 17px
    }
}

.sub-header {
    background-color: #002e49;
    box-shadow: inset 0 -2px 10px -3px rgba(0, 0, 0, .5);
    color: #FFFFFF
}

.sub-header .page-title {
    font-size: 24px
}

.sub-header .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px
}

.sub-header .breadcrumb > li + li:before {
    content: "\f105";
    color: #FFFFFF;
    font-family: FontAwesome;
    font-size: 1.2em
}

.sub-header img {
    position: absolute;
    max-height: 80px;
    width: auto;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

li.languages a {
    border-bottom: none !important
}

.main-header-slider img {
    min-height: 300px
}

.owl-hide-controls .owl-controls, .owl-hide-dots .owl-dots, .owl-hide-nav .owl-nav {
    display: none !important
}

.owl-carousel {
    direction: ltr
}

html[dir=rtl] .owl-carousel .item {
    direction: rtl
}

.owl-carousel .gray-scale > * > img, .owl-carousel .gray-scale > a > * > img, .owl-carousel .gray-scale > a > img, .owl-carousel .gray-scale > img {
    -webkit-filter: grayscale(.95);
    -webkit-filter: grayscale(95%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grayscale(95%);
    opacity: .8;
    -webkit-transition: all .2s;
    transition: all .2s
}

.owl-carousel .gray-scale.current > * > img, .owl-carousel .gray-scale.current > a > * > img, .owl-carousel .gray-scale.current > a > img, .owl-carousel .gray-scale.current > img, .owl-carousel .gray-scale:hover > * > img, .owl-carousel .gray-scale:hover > a > * > img, .owl-carousel .gray-scale:hover > a > img, .owl-carousel .gray-scale:hover > img {
    -webkit-filter: grayscale(0);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grayscale(0);
    opacity: 1
}

.owl-carousel .slide-text {
    position: absolute;
    color: #fff
}

.owl-carousel .slide-text .slide-title {
    font-size: 1.7em;
    font-weight: 500
}

.owl-carousel .slide-text .slide-subtitle {
    font-size: 1.5em;
    font-weight: 300
}

.owl-carousel .slide-text .underlined {
    padding: 10px 0;
    border-bottom: 1px solid
}

.owl-carousel .slide-text .bordered {
    border: 1px solid;
    padding: 15px 50px
}

.owl-carousel .slide-text.center {
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap
}

.owl-carousel.skew-slides .item {
    -webkit-transform: skew(16deg);
    transform: skew(16deg);
    overflow: hidden
}

.owl-carousel.skew-slides .item .slide-text, .owl-carousel.skew-slides .item .text > * {
    -webkit-transform: skew(-16deg);
    transform: skew(-16deg)
}

.owl-carousel.skew-slides .item .slide-text.center, .owl-carousel.skew-slides .item .text > .center {
    -webkit-transform: translate(-50%, -50%) skew(-16deg);
    transform: translate(-50%, -50%) skew(-16deg)
}

.owl-carousel.skew-slides .item .image, .owl-carousel.skew-slides .item > img {
    -webkit-transform: skew(-16deg) scale(1.2);
    transform: skew(-16deg) scale(1.2)
}

@media screen and (max-width: 767px) {
    .owl-carousel .slide-text .slide-title {
        font-size: 1.5em
    }

    .owl-carousel .slide-text .slide-subtitle {
        font-size: 1.1em
    }
}

@media screen and (max-width: 490px) {
    .owl-carousel .slide-text .slide-title {
        font-size: 1.2em
    }

    .owl-carousel .slide-text .slide-subtitle {
        font-size: 1em
    }
}

.owl-carousel.small-nav .owl-controls .owl-nav [class*=owl-] {
    border-width: 3px 0 0 3px;
    width: 20px;
    height: 20px
}

.owl-carousel.solid-nav .owl-controls .owl-nav [class*=owl-] {
    box-shadow: none;
    border-color: #b0b2c3
}

@media (min-width: 860px) {
    .owl-carousel.offset-nav .owl-controls .owl-nav .owl-prev {
        left: -20px
    }

    .owl-carousel.offset-nav .owl-controls .owl-nav .owl-next {
        right: -20px
    }
}

.expo-slider .owl-controls .owl-nav, .slider-theme-2 .owl-controls .owl-nav {
    bottom: auto;
    top: 70px
}

.expo-slider .owl-controls .owl-nav [class*=owl-], .slider-theme-2 .owl-controls .owl-nav [class*=owl-] {
    border-width: 3px 0 0 3px;
    width: 20px;
    height: 20px
}

.expo-slider .text, .slider-theme-2 .text {
    background-color: #f6f6f6;
    padding: 20px
}

.expo-slider .text h1, .expo-slider .text h2, .expo-slider .text h3, .expo-slider .text h4, .expo-slider .text h5, .expo-slider .text h6, .slider-theme-2 .text h1, .slider-theme-2 .text h2, .slider-theme-2 .text h3, .slider-theme-2 .text h4, .slider-theme-2 .text h5, .slider-theme-2 .text h6 {
    display: inline-block
}

.expo-slider .text .date, .slider-theme-2 .text .date {
    margin: 0 10px
}

.expo-slider .text p, .slider-theme-2 .text p {
    font-size: 1.3rem
}

.expo-slider .text > :first-child, .expo-slider .text > :first-child *, .slider-theme-2 .text > :first-child, .slider-theme-2 .text > :first-child * {
    margin-top: 0
}

.expo-slider .text > :last-child, .slider-theme-2 .text > :last-child {
    margin-bottom: 0
}

.slider-theme-3 .item .text {
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    position: absolute;
    height: 25%;
    -webkit-transition: all .2s;
    transition: all .2s;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    padding: 5px;
    margin: 5px;
    border-radius: 6px
}

.slider-theme-3 .item .text > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    margin: 0
}

.slider-theme-3 .item.text-hover .text {
    bottom: -30%
}

.slider-theme-3 .item:hover .text {
    opacity: 1
}

.slider-theme-3 .item:hover.text-hover .text {
    bottom: 0
}

.title-bar {
    background: url(../images/dotted-bg.svg) repeat-x 0;
    background-size: 2px 5px;
    position: relative;
    margin: 20px 0 10px
}

.title-bar > * {
    display: inline-block;
    background-color: #fff;
    margin: 0;
    padding: 0 10px 0 0
}

.title-bar .show-more {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0 0 10px
}

.title-bar .show-more > a {
    margin: 0 5px;
    text-decoration: none
}

.title-bar .show-more > a i {
    margin: 0 2px
}

.title-bar.text-center > * {
    padding: 0 10px
}

.widget .content ul {
    list-style: none;
    padding: 0 20px
}

.widget .content ul li {
    line-height: 2
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    background-color: #5e5f68;
    border-top: 6px solid #b0b2c3;
    color: #ebebef;
    padding-top: 20px;
    padding-bottom: 20px
}

footer a {
    color: #b0b2c3
}

footer a:focus, footer a:hover {
    text-decoration: none;
    color: #ebebef
}

footer .languages {
    margin-left: 10px;
    font-size: 11px
}

footer .languages a {
    margin: 0 0 0 5px
}

article {
    margin-bottom: 20px
}

article .content > img:first-child {
    max-width: 50%;
    height: auto
}

article .content img.pull-right {
    margin: 20px 0 20px 20px
}

article .content img.pull-left {
    margin: 20px 20px 20px 0
}

article .content img.block {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

@media screen and (max-width: 990px) {
    .row.mobile-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

.thumbs-list .item.row {
    margin: 0
}

.thumbs-grid > div, .thumbs-list > div {
    padding-bottom: 15px;
    padding-top: 15px
}

.thumbs-grid .item, .thumbs-list .item {
    background: #ebebef;
    padding: 10px
}

.thumbs-grid .item > a, .thumbs-list .item > a {
    position: relative;
    display: block;
    margin-bottom: 5px
}

.thumbs-grid .item p:last-child, .thumbs-list .item p:last-child {
    margin: 0
}

.thumbs-grid .media-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    z-index: 1
}

.media-object {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block
}

/*ltr*/
.text-end {
    text-align: right
}

.breadcrumb a {
    color: #FFFFFF;
}

.breadcrumb > .active {
    color: #FFFFFF;
}

/*map*/
#map {
    width: 100%;
    height: 400px;
    margin: 20px 0
}

/*# sourceMappingURL=style.css.map */

/*********** yousefi ***********/
#register-panel {
    padding-top: 20px;
}

.links .owl-stage {
    margin: auto;
}