.contact-form{
	padding: 30px;
	border: 1px solid #e6eff3;
	border-radius: 3px;
	margin-top: 40px;

	.alert{
		margin-top: 20px;
	}
}
.alert{
	width: 100%;
	background: #fff;
	border: 1px solid #dee4ed;
	border-radius: 3px;
	padding: 8px 12px;
	margin-bottom: 1rem;
	position: relative;
	font-weight: bold;
	font-size: 0.75rem;
	font-family: Vazir, Tahoma, Arial, sans-serif !important;

	p{
		color: inherit;
		font-weight: inherit;
	}

	&.success{
		color: #4CAF50;
		border-color: #4CAF50;
		background: #F2FFF3;
	}
	&.danger{
		color: #F44336;
		border-color: #F44336;
		background: #FFF3F2;
	}
}