/*
*-------------------------------------------------------
* Widget / Footer
*-------------------------------------------------------
*/

footer{
  position: static !important;
  .site-title{
    font-size: em(21);
    margin-bottom: 10px;
  }
  .contact-data{
    .address,
    .phone{
      i{
        font-size: em(18);
        @include margin-end(5)
      }
    }
  }

  .footer-nav{
    @media (max-width: 991px) {
      text-align: center;
      padding-top: 10px;
    }

    .languages{
      a{
        margin: 0;
      }
    }
  }

  .credits{
    text-align: center;
    padding-top: 10px;
  }
}