/*
*-------------------------------------------------------
* Layout / Header
*-------------------------------------------------------
*/
body{
  padding-top: 96px !important;
}
.navbar{
  .navbar-nav{
    .dropdown{
      &.open > a .caret{
        @include transform(scaleY(-1))
      }
    }
  }
}

.scaled{
  .navbar-header{
    .navbar-toggle{
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
