/*
*-------------------------------------------------------
* Layout / Home
*-------------------------------------------------------
*/

.main-header-slider img {
  object-fit: cover;
}

.main-header-slider {
  .slide-text {
    h3,
    h4 {
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
  }
}

.highlights-slider,
.expo-slider {
  .image {
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie {
        height: auto;
      }
    }
  }
  .text {
    h5 {
      font-size: em(17);
      font-weight: 500;
    }
  }
  .owl-controls {
    .owl-nav {
      top: 100px;
    }
  }
}

.highlights-slider-text {
  .highlight-content {
    font-size: em(17);
  }
  .highlight-readmore {
    color: $color__blue;
    font-weight: 600;
  }
}

.widget {
  .title-bar {
    .show-more {
      color: $color__blue;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.links-slider {
  .item {
    width: 120px;
    height: 120px;
  }
}