@-webkit-keyframes bg-move-horizontal {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-187%);
  }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.8); }
  100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

@-webkit-keyframes r1slide {
  0% {
    background-position: 2654px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  19.9% {
    color: #ffffff;
  }
  20% {
    color: #CCCCCC;
  }
  20.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  28.9% {
    color: #ffffff;
  }
  29% {
    color: #CCCCCC;
  }
  29.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  40.9% {
    color: #ffffff;
  }
  41% {
    color: #CCCCCC;
  }
  41.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  61.9% {
    color: #ffffff;
  }
  62% {
    color: #CCCCCC;
  }
  62.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  69.9% {
    color: #ffffff;
  }
  70% {
    color: #CCCCCC;
  }
  70.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  90.9% {
    color: #ffffff;
  }
  91% {
    color: #CCCCCC;
  }
  91.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r2slide {
  0% {
    background-position: 2653px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  10.9% {
    color: #ffffff;
  }
  11% {
    color: #CCCCCC;
  }
  11.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  44.9% {
    color: #ffffff;
  }
  45% {
    color: #CCCCCC;
  }
  45.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r3slide {
  0% {
    background-position: 2649px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  2.9% {
    color: #ffffff;
  }
  3% {
    color: #CCCCCC;
  }
  3.1% {
    color: #ffffff;
  }
  4.9% {
    color: #ffffff;
  }
  5% {
    color: #CCCCCC;
  }
  5.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  18.9% {
    color: #ffffff;
  }
  19% {
    color: #CCCCCC;
  }
  19.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  28.9% {
    color: #ffffff;
  }
  29% {
    color: #CCCCCC;
  }
  29.1% {
    color: #ffffff;
  }
  31.9% {
    color: #ffffff;
  }
  32% {
    color: #CCCCCC;
  }
  32.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  39.9% {
    color: #ffffff;
  }
  40% {
    color: #CCCCCC;
  }
  40.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  44.9% {
    color: #ffffff;
  }
  45% {
    color: #CCCCCC;
  }
  45.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  48.9% {
    color: #ffffff;
  }
  49% {
    color: #CCCCCC;
  }
  49.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  52.9% {
    color: #ffffff;
  }
  53% {
    color: #CCCCCC;
  }
  53.1% {
    color: #ffffff;
  }
  54.9% {
    color: #ffffff;
  }
  55% {
    color: #CCCCCC;
  }
  55.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  61.9% {
    color: #ffffff;
  }
  62% {
    color: #CCCCCC;
  }
  62.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  78.9% {
    color: #ffffff;
  }
  79% {
    color: #CCCCCC;
  }
  79.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  98.9% {
    color: #ffffff;
  }
  99% {
    color: #CCCCCC;
  }
  99.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r4slide {
  0% {
    background-position: 2651px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  4.9% {
    color: #ffffff;
  }
  5% {
    color: #CCCCCC;
  }
  5.1% {
    color: #ffffff;
  }
  8.9% {
    color: #ffffff;
  }
  9% {
    color: #CCCCCC;
  }
  9.1% {
    color: #ffffff;
  }
  12.9% {
    color: #ffffff;
  }
  13% {
    color: #CCCCCC;
  }
  13.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  39.9% {
    color: #ffffff;
  }
  40% {
    color: #CCCCCC;
  }
  40.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  47.9% {
    color: #ffffff;
  }
  48% {
    color: #CCCCCC;
  }
  48.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  54.9% {
    color: #ffffff;
  }
  55% {
    color: #CCCCCC;
  }
  55.1% {
    color: #ffffff;
  }
  58.9% {
    color: #ffffff;
  }
  59% {
    color: #CCCCCC;
  }
  59.1% {
    color: #ffffff;
  }
  62.9% {
    color: #ffffff;
  }
  63% {
    color: #CCCCCC;
  }
  63.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  97.9% {
    color: #ffffff;
  }
  98% {
    color: #CCCCCC;
  }
  98.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r5slide {
  0% {
    background-position: 2651px;
  }
  1.9% {
    color: #ffffff;
  }
  2% {
    color: #CCCCCC;
  }
  2.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  10.9% {
    color: #ffffff;
  }
  11% {
    color: #CCCCCC;
  }
  11.1% {
    color: #ffffff;
  }
  19.9% {
    color: #ffffff;
  }
  20% {
    color: #CCCCCC;
  }
  20.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  51.9% {
    color: #ffffff;
  }
  52% {
    color: #CCCCCC;
  }
  52.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  69.9% {
    color: #ffffff;
  }
  70% {
    color: #CCCCCC;
  }
  70.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r6slide {
  0% {
    background-position: 2653px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  25.9% {
    color: #ffffff;
  }
  26% {
    color: #CCCCCC;
  }
  26.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  84.9% {
    color: #ffffff;
  }
  85% {
    color: #CCCCCC;
  }
  85.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r7slide {
  0% {
    background-position: 2650px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  14.9% {
    color: #ffffff;
  }
  15% {
    color: #CCCCCC;
  }
  15.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  25.9% {
    color: #ffffff;
  }
  26% {
    color: #CCCCCC;
  }
  26.1% {
    color: #ffffff;
  }
  29.9% {
    color: #ffffff;
  }
  30% {
    color: #CCCCCC;
  }
  30.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  39.9% {
    color: #ffffff;
  }
  40% {
    color: #CCCCCC;
  }
  40.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  64.9% {
    color: #ffffff;
  }
  65% {
    color: #CCCCCC;
  }
  65.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  79.9% {
    color: #ffffff;
  }
  80% {
    color: #CCCCCC;
  }
  80.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r8slide {
  0% {
    background-position: 2651px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  1.9% {
    color: #ffffff;
  }
  2% {
    color: #CCCCCC;
  }
  2.1% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  8.9% {
    color: #ffffff;
  }
  9% {
    color: #CCCCCC;
  }
  9.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  18.9% {
    color: #ffffff;
  }
  19% {
    color: #CCCCCC;
  }
  19.1% {
    color: #ffffff;
  }
  19.9% {
    color: #ffffff;
  }
  20% {
    color: #CCCCCC;
  }
  20.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  28.9% {
    color: #ffffff;
  }
  29% {
    color: #CCCCCC;
  }
  29.1% {
    color: #ffffff;
  }
  29.9% {
    color: #ffffff;
  }
  30% {
    color: #CCCCCC;
  }
  30.1% {
    color: #ffffff;
  }
  31.9% {
    color: #ffffff;
  }
  32% {
    color: #CCCCCC;
  }
  32.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  40.9% {
    color: #ffffff;
  }
  41% {
    color: #CCCCCC;
  }
  41.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  48.9% {
    color: #ffffff;
  }
  49% {
    color: #CCCCCC;
  }
  49.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  51.9% {
    color: #ffffff;
  }
  52% {
    color: #CCCCCC;
  }
  52.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  58.9% {
    color: #ffffff;
  }
  59% {
    color: #CCCCCC;
  }
  59.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  61.9% {
    color: #ffffff;
  }
  62% {
    color: #CCCCCC;
  }
  62.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  64.9% {
    color: #ffffff;
  }
  65% {
    color: #CCCCCC;
  }
  65.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  68.9% {
    color: #ffffff;
  }
  69% {
    color: #CCCCCC;
  }
  69.1% {
    color: #ffffff;
  }
  69.9% {
    color: #ffffff;
  }
  70% {
    color: #CCCCCC;
  }
  70.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  78.9% {
    color: #ffffff;
  }
  79% {
    color: #CCCCCC;
  }
  79.1% {
    color: #ffffff;
  }
  79.9% {
    color: #ffffff;
  }
  80% {
    color: #CCCCCC;
  }
  80.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  84.9% {
    color: #ffffff;
  }
  85% {
    color: #CCCCCC;
  }
  85.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  98.9% {
    color: #ffffff;
  }
  99% {
    color: #CCCCCC;
  }
  99.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r9slide {
  0% {
    background-position: 2655px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  2.9% {
    color: #ffffff;
  }
  3% {
    color: #CCCCCC;
  }
  3.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  28.9% {
    color: #ffffff;
  }
  29% {
    color: #CCCCCC;
  }
  29.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  44.9% {
    color: #ffffff;
  }
  45% {
    color: #CCCCCC;
  }
  45.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  52.9% {
    color: #ffffff;
  }
  53% {
    color: #CCCCCC;
  }
  53.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  61.9% {
    color: #ffffff;
  }
  62% {
    color: #CCCCCC;
  }
  62.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  78.9% {
    color: #ffffff;
  }
  79% {
    color: #CCCCCC;
  }
  79.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r10slide {
  0% {
    background-position: 2651px;
  }
  1.9% {
    color: #ffffff;
  }
  2% {
    color: #CCCCCC;
  }
  2.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  47.9% {
    color: #ffffff;
  }
  48% {
    color: #CCCCCC;
  }
  48.1% {
    color: #ffffff;
  }
  51.9% {
    color: #ffffff;
  }
  52% {
    color: #CCCCCC;
  }
  52.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  84.9% {
    color: #ffffff;
  }
  85% {
    color: #CCCCCC;
  }
  85.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  97.9% {
    color: #ffffff;
  }
  98% {
    color: #CCCCCC;
  }
  98.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r11slide {
  0% {
    background-position: 2651px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r12slide {
  0% {
    background-position: 2651px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  25.9% {
    color: #ffffff;
  }
  26% {
    color: #CCCCCC;
  }
  26.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  31.9% {
    color: #ffffff;
  }
  32% {
    color: #CCCCCC;
  }
  32.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r13slide {
  0% {
    background-position: 2651px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  61.9% {
    color: #ffffff;
  }
  62% {
    color: #CCCCCC;
  }
  62.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r14slide {
  0% {
    background-position: 2650px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  11.9% {
    color: #ffffff;
  }
  12% {
    color: #CCCCCC;
  }
  12.1% {
    color: #ffffff;
  }
  14.9% {
    color: #ffffff;
  }
  15% {
    color: #CCCCCC;
  }
  15.1% {
    color: #ffffff;
  }
  18.9% {
    color: #ffffff;
  }
  19% {
    color: #CCCCCC;
  }
  19.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  61.9% {
    color: #ffffff;
  }
  62% {
    color: #CCCCCC;
  }
  62.1% {
    color: #ffffff;
  }
  64.9% {
    color: #ffffff;
  }
  65% {
    color: #CCCCCC;
  }
  65.1% {
    color: #ffffff;
  }
  68.9% {
    color: #ffffff;
  }
  69% {
    color: #CCCCCC;
  }
  69.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r15slide {
  0% {
    background-position: 2650px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  1.9% {
    color: #ffffff;
  }
  2% {
    color: #CCCCCC;
  }
  2.1% {
    color: #ffffff;
  }
  2.9% {
    color: #ffffff;
  }
  3% {
    color: #CCCCCC;
  }
  3.1% {
    color: #ffffff;
  }
  4.9% {
    color: #ffffff;
  }
  5% {
    color: #CCCCCC;
  }
  5.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  10.9% {
    color: #ffffff;
  }
  11% {
    color: #CCCCCC;
  }
  11.1% {
    color: #ffffff;
  }
  12.9% {
    color: #ffffff;
  }
  13% {
    color: #CCCCCC;
  }
  13.1% {
    color: #ffffff;
  }
  14.9% {
    color: #ffffff;
  }
  15% {
    color: #CCCCCC;
  }
  15.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  18.9% {
    color: #ffffff;
  }
  19% {
    color: #CCCCCC;
  }
  19.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  25.9% {
    color: #ffffff;
  }
  26% {
    color: #CCCCCC;
  }
  26.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  28.9% {
    color: #ffffff;
  }
  29% {
    color: #CCCCCC;
  }
  29.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  31.9% {
    color: #ffffff;
  }
  32% {
    color: #CCCCCC;
  }
  32.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  39.9% {
    color: #ffffff;
  }
  40% {
    color: #CCCCCC;
  }
  40.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  44.9% {
    color: #ffffff;
  }
  45% {
    color: #CCCCCC;
  }
  45.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  47.9% {
    color: #ffffff;
  }
  48% {
    color: #CCCCCC;
  }
  48.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  51.9% {
    color: #ffffff;
  }
  52% {
    color: #CCCCCC;
  }
  52.1% {
    color: #ffffff;
  }
  52.9% {
    color: #ffffff;
  }
  53% {
    color: #CCCCCC;
  }
  53.1% {
    color: #ffffff;
  }
  54.9% {
    color: #ffffff;
  }
  55% {
    color: #CCCCCC;
  }
  55.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  62.9% {
    color: #ffffff;
  }
  63% {
    color: #CCCCCC;
  }
  63.1% {
    color: #ffffff;
  }
  64.9% {
    color: #ffffff;
  }
  65% {
    color: #CCCCCC;
  }
  65.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  68.9% {
    color: #ffffff;
  }
  69% {
    color: #CCCCCC;
  }
  69.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  78.9% {
    color: #ffffff;
  }
  79% {
    color: #CCCCCC;
  }
  79.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  97.9% {
    color: #ffffff;
  }
  98% {
    color: #CCCCCC;
  }
  98.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r16slide {
  0% {
    background-position: 2651px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  40.9% {
    color: #ffffff;
  }
  41% {
    color: #CCCCCC;
  }
  41.1% {
    color: #ffffff;
  }
  44.9% {
    color: #ffffff;
  }
  45% {
    color: #CCCCCC;
  }
  45.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  90.9% {
    color: #ffffff;
  }
  91% {
    color: #CCCCCC;
  }
  91.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r17slide {
  0% {
    background-position: 2650px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  40.9% {
    color: #ffffff;
  }
  41% {
    color: #CCCCCC;
  }
  41.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r18slide {
  0% {
    background-position: 2649px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.2% {
    color: #ffffff;
  }
  2.9% {
    color: #ffffff;
  }
  3% {
    color: #CCCCCC;
  }
  3.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  52.9% {
    color: #ffffff;
  }
  53% {
    color: #CCCCCC;
  }
  53.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  84.9% {
    color: #ffffff;
  }
  85% {
    color: #CCCCCC;
  }
  85.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r19slide {
  0% {
    background-position: 2651px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  2.9% {
    color: #ffffff;
  }
  3% {
    color: #CCCCCC;
  }
  3.1% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  6.9% {
    color: #ffffff;
  }
  7% {
    color: #CCCCCC;
  }
  7.1% {
    color: #ffffff;
  }
  8.9% {
    color: #ffffff;
  }
  9% {
    color: #CCCCCC;
  }
  9.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  10.9% {
    color: #ffffff;
  }
  11% {
    color: #CCCCCC;
  }
  11.1% {
    color: #ffffff;
  }
  12.9% {
    color: #ffffff;
  }
  13% {
    color: #CCCCCC;
  }
  13.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  19.9% {
    color: #ffffff;
  }
  20% {
    color: #CCCCCC;
  }
  20.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  22.9% {
    color: #ffffff;
  }
  23% {
    color: #CCCCCC;
  }
  23.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  26.9% {
    color: #ffffff;
  }
  27% {
    color: #CCCCCC;
  }
  27.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  29.9% {
    color: #ffffff;
  }
  30% {
    color: #CCCCCC;
  }
  30.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  31.9% {
    color: #ffffff;
  }
  32% {
    color: #CCCCCC;
  }
  32.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  39.9% {
    color: #ffffff;
  }
  40% {
    color: #CCCCCC;
  }
  40.1% {
    color: #ffffff;
  }
  40.9% {
    color: #ffffff;
  }
  41% {
    color: #CCCCCC;
  }
  41.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  47.9% {
    color: #ffffff;
  }
  48% {
    color: #CCCCCC;
  }
  48.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  52.9% {
    color: #ffffff;
  }
  53% {
    color: #CCCCCC;
  }
  53.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  56.9% {
    color: #ffffff;
  }
  57% {
    color: #CCCCCC;
  }
  57.1% {
    color: #ffffff;
  }
  58.9% {
    color: #ffffff;
  }
  59% {
    color: #CCCCCC;
  }
  59.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  62.9% {
    color: #ffffff;
  }
  63% {
    color: #CCCCCC;
  }
  63.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  69.9% {
    color: #ffffff;
  }
  70% {
    color: #CCCCCC;
  }
  70.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  72.9% {
    color: #ffffff;
  }
  73% {
    color: #CCCCCC;
  }
  73.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  76.9% {
    color: #ffffff;
  }
  77% {
    color: #CCCCCC;
  }
  77.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  79.9% {
    color: #ffffff;
  }
  80% {
    color: #CCCCCC;
  }
  80.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  81.9% {
    color: #ffffff;
  }
  82% {
    color: #CCCCCC;
  }
  82.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  89.9% {
    color: #ffffff;
  }
  90% {
    color: #CCCCCC;
  }
  90.1% {
    color: #ffffff;
  }
  90.9% {
    color: #ffffff;
  }
  91% {
    color: #CCCCCC;
  }
  91.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  94.9% {
    color: #ffffff;
  }
  95% {
    color: #CCCCCC;
  }
  95.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  97.9% {
    color: #ffffff;
  }
  98% {
    color: #CCCCCC;
  }
  98.1% {
    color: #ffffff;
  }
  99.9% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r20slide {
  0% {
    background-position: 2652px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r22slide {
  0% {
    background-position: 2651px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.1% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  12.9% {
    color: #ffffff;
  }
  13% {
    color: #CCCCCC;
  }
  13.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  24.9% {
    color: #ffffff;
  }
  25% {
    color: #CCCCCC;
  }
  25.1% {
    color: #ffffff;
  }
  28.9% {
    color: #ffffff;
  }
  29% {
    color: #CCCCCC;
  }
  29.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  36.9% {
    color: #ffffff;
  }
  37% {
    color: #CCCCCC;
  }
  37.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  62.9% {
    color: #ffffff;
  }
  63% {
    color: #CCCCCC;
  }
  63.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  70.9% {
    color: #ffffff;
  }
  71% {
    color: #CCCCCC;
  }
  71.1% {
    color: #ffffff;
  }
  74.9% {
    color: #ffffff;
  }
  75% {
    color: #CCCCCC;
  }
  75.1% {
    color: #ffffff;
  }
  78.9% {
    color: #ffffff;
  }
  79% {
    color: #CCCCCC;
  }
  79.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  86.9% {
    color: #ffffff;
  }
  87% {
    color: #CCCCCC;
  }
  87.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r23slide {
  0% {
    background-position: 2650px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  4.9% {
    color: #ffffff;
  }
  5% {
    color: #CCCCCC;
  }
  5.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  23.9% {
    color: #ffffff;
  }
  24% {
    color: #CCCCCC;
  }
  24.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  35.9% {
    color: #ffffff;
  }
  36% {
    color: #CCCCCC;
  }
  36.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  54.9% {
    color: #ffffff;
  }
  55% {
    color: #CCCCCC;
  }
  55.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  73.9% {
    color: #ffffff;
  }
  74% {
    color: #CCCCCC;
  }
  74.1% {
    color: #ffffff;
  }
  79.9% {
    color: #ffffff;
  }
  80% {
    color: #CCCCCC;
  }
  80.1% {
    color: #ffffff;
  }
  85.9% {
    color: #ffffff;
  }
  86% {
    color: #CCCCCC;
  }
  86.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r24slide {
  0% {
    background-position: 2651px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  3.9% {
    color: #ffffff;
  }
  4% {
    color: #CCCCCC;
  }
  4.1% {
    color: #ffffff;
  }
  7.9% {
    color: #ffffff;
  }
  8% {
    color: #CCCCCC;
  }
  8.1% {
    color: #ffffff;
  }
  15.9% {
    color: #ffffff;
  }
  16% {
    color: #CCCCCC;
  }
  16.1% {
    color: #ffffff;
  }
  19.9% {
    color: #ffffff;
  }
  20% {
    color: #CCCCCC;
  }
  20.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  53.9% {
    color: #ffffff;
  }
  54% {
    color: #CCCCCC;
  }
  54.1% {
    color: #ffffff;
  }
  57.9% {
    color: #ffffff;
  }
  58% {
    color: #CCCCCC;
  }
  58.1% {
    color: #ffffff;
  }
  65.9% {
    color: #ffffff;
  }
  66% {
    color: #CCCCCC;
  }
  66.1% {
    color: #ffffff;
  }
  69.9% {
    color: #ffffff;
  }
  70% {
    color: #CCCCCC;
  }
  70.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  84.9% {
    color: #ffffff;
  }
  85% {
    color: #CCCCCC;
  }
  85.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r25slide {
  0% {
    background-position: 2651px;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r26slide {
  0% {
    background-position: 2409px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  4.9% {
    color: #ffffff;
  }
  5% {
    color: #CCCCCC;
  }
  5.1% {
    color: #ffffff;
  }
  8.9% {
    color: #ffffff;
  }
  9% {
    color: #CCCCCC;
  }
  9.1% {
    color: #ffffff;
  }
  12.9% {
    color: #ffffff;
  }
  13% {
    color: #CCCCCC;
  }
  13.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  20.9% {
    color: #ffffff;
  }
  21% {
    color: #CCCCCC;
  }
  21.1% {
    color: #ffffff;
  }
  25.9% {
    color: #ffffff;
  }
  26% {
    color: #CCCCCC;
  }
  26.1% {
    color: #ffffff;
  }
  29.9% {
    color: #ffffff;
  }
  30% {
    color: #CCCCCC;
  }
  30.1% {
    color: #ffffff;
  }
  33.9% {
    color: #ffffff;
  }
  34% {
    color: #CCCCCC;
  }
  34.1% {
    color: #ffffff;
  }
  37.9% {
    color: #ffffff;
  }
  38% {
    color: #CCCCCC;
  }
  38.1% {
    color: #ffffff;
  }
  41.9% {
    color: #ffffff;
  }
  42% {
    color: #CCCCCC;
  }
  42.1% {
    color: #ffffff;
  }
  45.9% {
    color: #ffffff;
  }
  46% {
    color: #CCCCCC;
  }
  46.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  54.9% {
    color: #ffffff;
  }
  55% {
    color: #CCCCCC;
  }
  55.1% {
    color: #ffffff;
  }
  58.9% {
    color: #ffffff;
  }
  59% {
    color: #CCCCCC;
  }
  59.1% {
    color: #ffffff;
  }
  62.9% {
    color: #ffffff;
  }
  63% {
    color: #CCCCCC;
  }
  63.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  79.9% {
    color: #ffffff;
  }
  80% {
    color: #CCCCCC;
  }
  80.1% {
    color: #ffffff;
  }
  83.9% {
    color: #ffffff;
  }
  84% {
    color: #CCCCCC;
  }
  84.1% {
    color: #ffffff;
  }
  87.9% {
    color: #ffffff;
  }
  88% {
    color: #CCCCCC;
  }
  88.1% {
    color: #ffffff;
  }
  91.9% {
    color: #ffffff;
  }
  92% {
    color: #CCCCCC;
  }
  92.1% {
    color: #ffffff;
  }
  95.9% {
    color: #ffffff;
  }
  96% {
    color: #CCCCCC;
  }
  96.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r27slide {
  0% {
    background-position: 2563px;
  }
  0.9% {
    color: #ffffff;
  }
  1% {
    color: #CCCCCC;
  }
  1.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  9.9% {
    color: #ffffff;
  }
  10% {
    color: #CCCCCC;
  }
  10.1% {
    color: #ffffff;
  }
  13.9% {
    color: #ffffff;
  }
  14% {
    color: #CCCCCC;
  }
  14.1% {
    color: #ffffff;
  }
  17.9% {
    color: #ffffff;
  }
  18% {
    color: #CCCCCC;
  }
  18.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  25.9% {
    color: #ffffff;
  }
  26% {
    color: #CCCCCC;
  }
  26.1% {
    color: #ffffff;
  }
  30.9% {
    color: #ffffff;
  }
  31% {
    color: #CCCCCC;
  }
  31.1% {
    color: #ffffff;
  }
  34.9% {
    color: #ffffff;
  }
  35% {
    color: #CCCCCC;
  }
  35.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  42.9% {
    color: #ffffff;
  }
  43% {
    color: #CCCCCC;
  }
  43.1% {
    color: #ffffff;
  }
  46.9% {
    color: #ffffff;
  }
  47% {
    color: #CCCCCC;
  }
  47.1% {
    color: #ffffff;
  }
  50.9% {
    color: #ffffff;
  }
  51% {
    color: #CCCCCC;
  }
  51.1% {
    color: #ffffff;
  }
  55.9% {
    color: #ffffff;
  }
  56% {
    color: #CCCCCC;
  }
  56.1% {
    color: #ffffff;
  }
  59.9% {
    color: #ffffff;
  }
  60% {
    color: #CCCCCC;
  }
  60.1% {
    color: #ffffff;
  }
  63.9% {
    color: #ffffff;
  }
  64% {
    color: #CCCCCC;
  }
  64.1% {
    color: #ffffff;
  }
  67.9% {
    color: #ffffff;
  }
  68% {
    color: #CCCCCC;
  }
  68.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  75.9% {
    color: #ffffff;
  }
  76% {
    color: #CCCCCC;
  }
  76.1% {
    color: #ffffff;
  }
  80.9% {
    color: #ffffff;
  }
  81% {
    color: #CCCCCC;
  }
  81.1% {
    color: #ffffff;
  }
  84.9% {
    color: #ffffff;
  }
  85% {
    color: #CCCCCC;
  }
  85.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  92.9% {
    color: #ffffff;
  }
  93% {
    color: #CCCCCC;
  }
  93.1% {
    color: #ffffff;
  }
  96.9% {
    color: #ffffff;
  }
  97% {
    color: #CCCCCC;
  }
  97.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes r28slide {
  0% {
    background-position: 2390px;
  }
  0.1% {
    color: #CCCCCC;
  }
  0.1% {
    color: #ffffff;
  }
  5.9% {
    color: #ffffff;
  }
  6% {
    color: #CCCCCC;
  }
  6.1% {
    color: #ffffff;
  }
  10.9% {
    color: #ffffff;
  }
  11% {
    color: #CCCCCC;
  }
  11.1% {
    color: #ffffff;
  }
  16.9% {
    color: #ffffff;
  }
  17% {
    color: #CCCCCC;
  }
  17.1% {
    color: #ffffff;
  }
  21.9% {
    color: #ffffff;
  }
  22% {
    color: #CCCCCC;
  }
  22.1% {
    color: #ffffff;
  }
  27.9% {
    color: #ffffff;
  }
  28% {
    color: #CCCCCC;
  }
  28.1% {
    color: #ffffff;
  }
  32.9% {
    color: #ffffff;
  }
  33% {
    color: #CCCCCC;
  }
  33.1% {
    color: #ffffff;
  }
  38.9% {
    color: #ffffff;
  }
  39% {
    color: #CCCCCC;
  }
  39.1% {
    color: #ffffff;
  }
  43.9% {
    color: #ffffff;
  }
  44% {
    color: #CCCCCC;
  }
  44.1% {
    color: #ffffff;
  }
  49.9% {
    color: #ffffff;
  }
  50% {
    color: #CCCCCC;
  }
  50.1% {
    color: #ffffff;
  }
  54.9% {
    color: #ffffff;
  }
  55% {
    color: #CCCCCC;
  }
  55.1% {
    color: #ffffff;
  }
  60.9% {
    color: #ffffff;
  }
  61% {
    color: #CCCCCC;
  }
  61.1% {
    color: #ffffff;
  }
  66.9% {
    color: #ffffff;
  }
  67% {
    color: #CCCCCC;
  }
  67.1% {
    color: #ffffff;
  }
  71.9% {
    color: #ffffff;
  }
  72% {
    color: #CCCCCC;
  }
  72.1% {
    color: #ffffff;
  }
  77.9% {
    color: #ffffff;
  }
  78% {
    color: #CCCCCC;
  }
  78.1% {
    color: #ffffff;
  }
  82.9% {
    color: #ffffff;
  }
  83% {
    color: #CCCCCC;
  }
  83.1% {
    color: #ffffff;
  }
  88.9% {
    color: #ffffff;
  }
  89% {
    color: #CCCCCC;
  }
  89.1% {
    color: #ffffff;
  }
  93.9% {
    color: #ffffff;
  }
  94% {
    color: #CCCCCC;
  }
  94.1% {
    color: #ffffff;
  }
  100% {
    background-position: 0px;
  }
}