%full-width {
  width: 100%;
}

%full-height {
  height: 100%;
}

.file-manager-modal {
  padding: 30px !important;

  .modal-dialog {
    @extend %full-height, %full-width;
    margin: 0 !important;

    .modal-content {
      @extend %full-height, %full-width;
      border: 1px solid #ccc;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);

      .modal-body {
        @extend %full-height;
        height: 100%;
        padding: 0 !important;
        max-height: 100vh;
        overflow: hidden;
        .file-manager-iframe {
          @extend %full-height, %full-width;
        }
      }

      .btn-close {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        margin: 0;
        padding: 0;
        color: #666;
        background: transparent;
        z-index: 1000;
        cursor: pointer;
      }
    }
  }
  
  @media (max-width: 640px) {
    padding: 0 !important;
  }
}