/*
*-------------------------------------------------------
* Widget / Title Bar
*-------------------------------------------------------
*/

.title-bar{
  .show-more{
    position: static;
    @include transform(translateY(0));
    float: $end;
  }
}