table.tableCalendar {
  td {
    width: 10%;
    text-align: center;
  }

  tbody {
    td {
      height: 100px;
      padding: 0;
    }

    td.currentDay {
      border: 4px solid #DDDDDD;
    }

  }

  .cell {
    position: relative;
    padding: 0px;
    margin: 0;

    .gregorian {
      direction: ltr;
      color: lightgray;
      text-align: left;
      position: absolute;
      left: 2px;
      top: 2px;
      font-size: 10px;
    }

    .day {
      font-size: 30px;
      padding-top: 20%;
      font-weight: 100;
    }

    .hoverHide {
      display: none;
    }

    .add {
      //z-index:2000;
      position:absolute;
      top:0;
      right:0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 0;
      border-color: transparent #F5F5F5 transparent transparent;

      a {
        position: absolute;
        display:block;
        right: -35px;
        top: 5px;
        color: #5E5E5E;
        font-size: 15px;
        cursor: pointer;
      }
    }

    .handles {
      width: 100%;
      position: relative;
      //border: 1px solid;
      left: 0;
      right: 0;
      margin: 0;
      //top: +8px;
      //text-align: right;

      .handle {
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
      }
    }
  }


}