/*!
 * Bootstrap v3.0.3 (http://getbootstrap.com)
 * Copyright 2013 Twitter, Inc.
 * Licensed under http://www.apache.org/licenses/LICENSE-2.0
 * RTL version created by : Farhad Eidi (farhadeidi.com, @farhadex)
 */

body {
  direction: rtl
}

.list-inline,
.list-inline > li:first-child,
.list-unstyled {
  padding-right: 0;
  padding-left: auto
}

dd {
  margin-right: 0;
  margin-left: auto
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .dl-horizontal dd {
    margin-right: 180px;
    margin-left: auto
  }
  .dl-horizontal dd:after,
  .dl-horizontal dd:before {
    content: " ";
    display: table
  }
  .dl-horizontal dd:after {
    clear: both
  }
}

blockquote {
  border-right: 5px solid #eee;
  border-left: none
}

blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eee;
  border-right: 0
}

blockquote.pull-left .small,
blockquote.pull-left p,
blockquote.pull-left small {
  text-align: left
}

blockquote.pull-left .small:before,
blockquote.pull-left small:before {
  content: ''
}

blockquote.pull-left .small:after,
blockquote.pull-left small:after {
  content: '\00A0 \2014'
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  text-align: left
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container:after,
.container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row:after,
.row:before {
  content: " ";
  display: table
}

.row:after {
  clear: both
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: right
}

.col-xs-12 {
  width: 100%
}

.col-xs-11 {
  width: 91.66666666666666%
}

.col-xs-10 {
  width: 83.33333333333334%
}

.col-xs-9 {
  width: 75%
}

.col-xs-8 {
  width: 66.66666666666666%
}

.col-xs-7 {
  width: 58.333333333333336%
}

.col-xs-6 {
  width: 50%
}

.col-xs-5 {
  width: 41.66666666666667%
}

.col-xs-4 {
  width: 33.33333333333333%
}

.col-xs-3 {
  width: 25%
}

.col-xs-2 {
  width: 16.666666666666664%
}

.col-xs-1 {
  width: 8.333333333333332%
}

.col-xs-pull-12 {
  left: 100%;
  right: auto
}

.col-xs-pull-11 {
  left: 91.66666666666666%;
  right: auto
}

.col-xs-pull-10 {
  left: 83.33333333333334%;
  right: auto
}

.col-xs-pull-9 {
  left: 75%;
  right: auto
}

.col-xs-pull-8 {
  left: 66.66666666666666%;
  right: auto
}

.col-xs-pull-7 {
  left: 58.333333333333336%;
  right: auto
}

.col-xs-pull-6 {
  left: 50%;
  right: auto
}

.col-xs-pull-5 {
  left: 41.66666666666667%;
  right: auto
}

.col-xs-pull-4 {
  left: 33.33333333333333%;
  right: auto
}

.col-xs-pull-3 {
  left: 25%;
  right: auto
}

.col-xs-pull-2 {
  left: 16.666666666666664%;
  right: auto
}

.col-xs-pull-1 {
  left: 8.333333333333332%;
  right: auto
}

.col-xs-pull-0 {
  left: 0;
  right: auto
}

.col-xs-push-12 {
  right: 100%;
  left: auto
}

.col-xs-push-11 {
  right: 91.66666666666666%;
  left: auto
}

.col-xs-push-10 {
  right: 83.33333333333334%;
  left: auto
}

.col-xs-push-9 {
  right: 75%;
  left: auto
}

.col-xs-push-8 {
  right: 66.66666666666666%;
  left: auto
}

.col-xs-push-7 {
  right: 58.333333333333336%;
  left: auto
}

.col-xs-push-6 {
  right: 50%;
  left: auto
}

.col-xs-push-5 {
  right: 41.66666666666667%;
  left: auto
}

.col-xs-push-4 {
  right: 33.33333333333333%;
  left: auto
}

.col-xs-push-3 {
  right: 25%;
  left: auto
}

.col-xs-push-2 {
  right: 16.666666666666664%;
  left: auto
}

.col-xs-push-1 {
  right: 8.333333333333332%;
  left: auto
}

.col-xs-push-0 {
  right: 0;
  left: auto
}

.col-xs-offset-12 {
  margin-right: 100%;
  margin-left: auto
}

.col-xs-offset-11 {
  margin-right: 91.66666666666666%;
  margin-left: auto
}

.col-xs-offset-10 {
  margin-right: 83.33333333333334%;
  margin-left: auto
}

.col-xs-offset-9 {
  margin-right: 75%;
  margin-left: auto
}

.col-xs-offset-8 {
  margin-right: 66.66666666666666%;
  margin-left: auto
}

.col-xs-offset-7 {
  margin-right: 58.333333333333336%;
  margin-left: auto
}

.col-xs-offset-6 {
  margin-right: 50%;
  margin-left: auto
}

.col-xs-offset-5 {
  margin-right: 41.66666666666667%;
  margin-left: auto
}

.col-xs-offset-4 {
  margin-right: 33.33333333333333%;
  margin-left: auto
}

.col-xs-offset-3 {
  margin-right: 25%;
  margin-left: auto
}

.col-xs-offset-2 {
  margin-right: 16.666666666666664%;
  margin-left: auto
}

.col-xs-offset-1 {
  margin-right: 8.333333333333332%;
  margin-left: auto
}

.col-xs-offset-0 {
  margin-right: 0;
  margin-left: auto
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: right
  }
  .col-sm-12 {
    width: 100%
  }
  .col-sm-11 {
    width: 91.66666666666666%
  }
  .col-sm-10 {
    width: 83.33333333333334%
  }
  .col-sm-9 {
    width: 75%
  }
  .col-sm-8 {
    width: 66.66666666666666%
  }
  .col-sm-7 {
    width: 58.333333333333336%
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-5 {
    width: 41.66666666666667%
  }
  .col-sm-4 {
    width: 33.33333333333333%
  }
  .col-sm-3 {
    width: 25%
  }
  .col-sm-2 {
    width: 16.666666666666664%
  }
  .col-sm-1 {
    width: 8.333333333333332%
  }
  .col-sm-pull-12 {
    left: 100%;
    right: auto
  }
  .col-sm-pull-11 {
    left: 91.66666666666666%;
    right: auto
  }
  .col-sm-pull-10 {
    left: 83.33333333333334%;
    right: auto
  }
  .col-sm-pull-9 {
    left: 75%;
    right: auto
  }
  .col-sm-pull-8 {
    left: 66.66666666666666%;
    right: auto
  }
  .col-sm-pull-7 {
    left: 58.333333333333336%;
    right: auto
  }
  .col-sm-pull-6 {
    left: 50%;
    right: auto
  }
  .col-sm-pull-5 {
    left: 41.66666666666667%;
    right: auto
  }
  .col-sm-pull-4 {
    left: 33.33333333333333%;
    right: auto
  }
  .col-sm-pull-3 {
    left: 25%;
    right: auto
  }
  .col-sm-pull-2 {
    left: 16.666666666666664%;
    right: auto
  }
  .col-sm-pull-1 {
    left: 8.333333333333332%;
    right: auto
  }
  .col-sm-pull-0 {
    left: 0;
    right: auto
  }
  .col-sm-push-12 {
    right: 100%;
    left: auto
  }
  .col-sm-push-11 {
    right: 91.66666666666666%;
    left: auto
  }
  .col-sm-push-10 {
    right: 83.33333333333334%;
    left: auto
  }
  .col-sm-push-9 {
    right: 75%;
    left: auto
  }
  .col-sm-push-8 {
    right: 66.66666666666666%;
    left: auto
  }
  .col-sm-push-7 {
    right: 58.333333333333336%;
    left: auto
  }
  .col-sm-push-6 {
    right: 50%;
    left: auto
  }
  .col-sm-push-5 {
    right: 41.66666666666667%;
    left: auto
  }
  .col-sm-push-4 {
    right: 33.33333333333333%;
    left: auto
  }
  .col-sm-push-3 {
    right: 25%;
    left: auto
  }
  .col-sm-push-2 {
    right: 16.666666666666664%;
    left: auto
  }
  .col-sm-push-1 {
    right: 8.333333333333332%;
    left: auto
  }
  .col-sm-push-0 {
    right: 0;
    left: auto
  }
  .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: auto
  }
  .col-sm-offset-11 {
    margin-right: 91.66666666666666%;
    margin-left: auto
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333333334%;
    margin-left: auto
  }
  .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: auto
  }
  .col-sm-offset-8 {
    margin-right: 66.66666666666666%;
    margin-left: auto
  }
  .col-sm-offset-7 {
    margin-right: 58.333333333333336%;
    margin-left: auto
  }
  .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: auto
  }
  .col-sm-offset-5 {
    margin-right: 41.66666666666667%;
    margin-left: auto
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333333333%;
    margin-left: auto
  }
  .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: auto
  }
  .col-sm-offset-2 {
    margin-right: 16.666666666666664%;
    margin-left: auto
  }
  .col-sm-offset-1 {
    margin-right: 8.333333333333332%;
    margin-left: auto
  }
  .col-sm-offset-0 {
    margin-right: 0;
    margin-left: auto
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right
  }
  .col-md-12 {
    width: 100%
  }
  .col-md-11 {
    width: 91.66666666666666%
  }
  .col-md-10 {
    width: 83.33333333333334%
  }
  .col-md-9 {
    width: 75%
  }
  .col-md-8 {
    width: 66.66666666666666%
  }
  .col-md-7 {
    width: 58.333333333333336%
  }
  .col-md-6 {
    width: 50%
  }
  .col-md-5 {
    width: 41.66666666666667%
  }
  .col-md-4 {
    width: 33.33333333333333%
  }
  .col-md-3 {
    width: 25%
  }
  .col-md-2 {
    width: 16.666666666666664%
  }
  .col-md-1 {
    width: 8.333333333333332%
  }
  .col-md-pull-12 {
    left: 100%;
    right: auto
  }
  .col-md-pull-11 {
    left: 91.66666666666666%;
    right: auto
  }
  .col-md-pull-10 {
    left: 83.33333333333334%;
    right: auto
  }
  .col-md-pull-9 {
    left: 75%;
    right: auto
  }
  .col-md-pull-8 {
    left: 66.66666666666666%;
    right: auto
  }
  .col-md-pull-7 {
    left: 58.333333333333336%;
    right: auto
  }
  .col-md-pull-6 {
    left: 50%;
    right: auto
  }
  .col-md-pull-5 {
    left: 41.66666666666667%;
    right: auto
  }
  .col-md-pull-4 {
    left: 33.33333333333333%;
    right: auto
  }
  .col-md-pull-3 {
    left: 25%;
    right: auto
  }
  .col-md-pull-2 {
    left: 16.666666666666664%;
    right: auto
  }
  .col-md-pull-1 {
    left: 8.333333333333332%;
    right: auto
  }
  .col-md-pull-0 {
    left: 0;
    right: auto
  }
  .col-md-push-12 {
    right: 100%;
    left: auto
  }
  .col-md-push-11 {
    right: 91.66666666666666%;
    left: auto
  }
  .col-md-push-10 {
    right: 83.33333333333334%;
    left: auto
  }
  .col-md-push-9 {
    right: 75%;
    left: auto
  }
  .col-md-push-8 {
    right: 66.66666666666666%;
    left: auto
  }
  .col-md-push-7 {
    right: 58.333333333333336%;
    left: auto
  }
  .col-md-push-6 {
    right: 50%;
    left: auto
  }
  .col-md-push-5 {
    right: 41.66666666666667%;
    left: auto
  }
  .col-md-push-4 {
    right: 33.33333333333333%;
    left: auto
  }
  .col-md-push-3 {
    right: 25%;
    left: auto
  }
  .col-md-push-2 {
    right: 16.666666666666664%;
    left: auto
  }
  .col-md-push-1 {
    right: 8.333333333333332%;
    left: auto
  }
  .col-md-push-0 {
    right: 0;
    left: auto
  }
  .col-md-offset-12 {
    margin-right: 100%;
    margin-left: auto
  }
  .col-md-offset-11 {
    margin-right: 91.66666666666666%;
    margin-left: auto
  }
  .col-md-offset-10 {
    margin-right: 83.33333333333334%;
    margin-left: auto
  }
  .col-md-offset-9 {
    margin-right: 75%;
    margin-left: auto
  }
  .col-md-offset-8 {
    margin-right: 66.66666666666666%;
    margin-left: auto
  }
  .col-md-offset-7 {
    margin-right: 58.333333333333336%;
    margin-left: auto
  }
  .col-md-offset-6 {
    margin-right: 50%;
    margin-left: auto
  }
  .col-md-offset-5 {
    margin-right: 41.66666666666667%;
    margin-left: auto
  }
  .col-md-offset-4 {
    margin-right: 33.33333333333333%;
    margin-left: auto
  }
  .col-md-offset-3 {
    margin-right: 25%;
    margin-left: auto
  }
  .col-md-offset-2 {
    margin-right: 16.666666666666664%;
    margin-left: auto
  }
  .col-md-offset-1 {
    margin-right: 8.333333333333332%;
    margin-left: auto
  }
  .col-md-offset-0 {
    margin-right: 0;
    margin-left: auto
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: right
  }
  .col-lg-12 {
    width: 100%
  }
  .col-lg-11 {
    width: 91.66666666666666%
  }
  .col-lg-10 {
    width: 83.33333333333334%
  }
  .col-lg-9 {
    width: 75%
  }
  .col-lg-8 {
    width: 66.66666666666666%
  }
  .col-lg-7 {
    width: 58.333333333333336%
  }
  .col-lg-6 {
    width: 50%
  }
  .col-lg-5 {
    width: 41.66666666666667%
  }
  .col-lg-4 {
    width: 33.33333333333333%
  }
  .col-lg-3 {
    width: 25%
  }
  .col-lg-2 {
    width: 16.666666666666664%
  }
  .col-lg-1 {
    width: 8.333333333333332%
  }
  .col-lg-pull-12 {
    left: 100%;
    right: auto
  }
  .col-lg-pull-11 {
    left: 91.66666666666666%;
    right: auto
  }
  .col-lg-pull-10 {
    left: 83.33333333333334%;
    right: auto
  }
  .col-lg-pull-9 {
    left: 75%;
    right: auto
  }
  .col-lg-pull-8 {
    left: 66.66666666666666%;
    right: auto
  }
  .col-lg-pull-7 {
    left: 58.333333333333336%;
    right: auto
  }
  .col-lg-pull-6 {
    left: 50%;
    right: auto
  }
  .col-lg-pull-5 {
    left: 41.66666666666667%;
    right: auto
  }
  .col-lg-pull-4 {
    left: 33.33333333333333%;
    right: auto
  }
  .col-lg-pull-3 {
    left: 25%;
    right: auto
  }
  .col-lg-pull-2 {
    left: 16.666666666666664%;
    right: auto
  }
  .col-lg-pull-1 {
    left: 8.333333333333332%;
    right: auto
  }
  .col-lg-pull-0 {
    left: 0;
    right: auto
  }
  .col-lg-push-12 {
    right: 100%;
    left: auto
  }
  .col-lg-push-11 {
    right: 91.66666666666666%;
    left: auto
  }
  .col-lg-push-10 {
    right: 83.33333333333334%;
    left: auto
  }
  .col-lg-push-9 {
    right: 75%;
    left: auto
  }
  .col-lg-push-8 {
    right: 66.66666666666666%;
    left: auto
  }
  .col-lg-push-7 {
    right: 58.333333333333336%;
    left: auto
  }
  .col-lg-push-6 {
    right: 50%;
    left: auto
  }
  .col-lg-push-5 {
    right: 41.66666666666667%;
    left: auto
  }
  .col-lg-push-4 {
    right: 33.33333333333333%;
    left: auto
  }
  .col-lg-push-3 {
    right: 25%;
    left: auto
  }
  .col-lg-push-2 {
    right: 16.666666666666664%;
    left: auto
  }
  .col-lg-push-1 {
    right: 8.333333333333332%;
    left: auto
  }
  .col-lg-push-0 {
    right: 0;
    left: auto
  }
  .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: auto
  }
  .col-lg-offset-11 {
    margin-right: 91.66666666666666%;
    margin-left: auto
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333333334%;
    margin-left: auto
  }
  .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: auto
  }
  .col-lg-offset-8 {
    margin-right: 66.66666666666666%;
    margin-left: auto
  }
  .col-lg-offset-7 {
    margin-right: 58.333333333333336%;
    margin-left: auto
  }
  .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: auto
  }
  .col-lg-offset-5 {
    margin-right: 41.66666666666667%;
    margin-left: auto
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333333333%;
    margin-left: auto
  }
  .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: auto
  }
  .col-lg-offset-2 {
    margin-right: 16.666666666666664%;
    margin-left: auto
  }
  .col-lg-offset-1 {
    margin-right: 8.333333333333332%;
    margin-left: auto
  }
  .col-lg-offset-0 {
    margin-right: 0;
    margin-left: auto
  }
}

th {
  text-align: right
}

@media (max-width: 767px) {
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-right: 0;
    border-right: inherit
  }
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-left: 0;
    border-right: inherit
  }
}

.checkbox,
.radio {
  padding-right: 20px;
  padding-left: auto
}

.checkbox-inline input[type=checkbox],
.checkbox input[type=checkbox],
.radio-inline input[type=radio],
.radio input[type=radio] {
  float: right;
  margin-right: -20px;
  margin-left: auto
}

.checkbox-inline,
.radio-inline {
  padding-right: 20px;
  padding-left: auto
}

.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
  margin-right: 10px;
  margin-left: auto
}

@media (min-width: 768px) {
  .form-inline .checkbox,
  .form-inline .radio {
    padding-right: 0;
    padding-left: inherit
  }
  .form-inline .checkbox input[type=checkbox],
  .form-inline .radio input[type=radio] {
    margin-right: 0;
    margin-left: auto
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}

.caret {
  margin-right: 2px;
  margin-left: auto
}

.dropdown-menu {
  right: 0;
  left: auto;
  float: right
}

.dropdown-menu.pull-left,
.pull-left > .dropdown-menu {
  left: 0;
  right: auto
}

.btn-group-vertical > .btn,
.btn-group > .btn {
  float: right
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
  margin-left: auto
}

.btn-toolbar .btn-group {
  float: right
}

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn-group + .btn-group {
  margin-right: 5px;
  margin-left: auto
}

.btn-group > .btn:first-child {
  margin-right: 0;
  margin-left: auto
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px
}

.btn-group > .btn-group {
  float: right
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px
}

.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group,
.btn .caret {
  margin-right: 0;
  margin-left: auto
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate
}

.input-group[class*=col-] {
  float: none;
  padding-left: 0;
  padding-right: 0
}

.input-group .form-control {
  width: 100%;
  margin-bottom: 0
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px
}

.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px
}

.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px
}

.input-group-addon input[type=checkbox],
.input-group-addon input[type=radio] {
  margin-top: 0
}

.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group .form-control:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px
}

.input-group-addon:first-child {
  border-left: 0;
  border-right: 1px solid #ccc
}

.input-group-addon:last-child,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group .form-control:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px
}

.input-group-addon:last-child {
  border-right: 0;
  border-left: 1px solid #ccc
}

.input-group-btn {
  position: relative;
  white-space: nowrap
}

.input-group-btn:first-child > .btn {
  margin-right: -1px
}

.input-group-btn:last-child > .btn {
  margin-left: -1px
}

.input-group-btn > .btn {
  position: relative
}

.input-group-btn > .btn + .btn {
  margin-left: -4px
}

.input-group-btn > .btn:active,
.input-group-btn > .btn:hover {
  z-index: 1
}

.nav {
  padding-right: 0;
  padding-left: auto
}

.nav-tabs > li {
  float: right
}

.nav-tabs > li > a {
  margin-left: 2px;
  margin-right: auto
}

.nav-pills > li {
  float: right
}

.nav-pills > li + li {
  margin-right: 2px;
  margin-left: auto
}

.nav-stacked > li {
  float: none
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-right: 0;
  margin-left: auto
}

.nav-justified > .dropdown .dropdown-menu {
  right: auto
}

.nav-tabs-justified > li > a {
  margin-left: 0;
  margin-right: auto
}

@media (min-width: 768px) {
  .navbar-header {
    float: right
  }
}

.navbar-brand {
  float: right
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-right: -15px;
    margin-left: auto
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 25px 5px 15px
  }
}

@media (min-width: 768px) {
  .navbar-nav,
  .navbar-nav > li {
    float: right
  }
}

@media (min-width: 768px) {
  .navbar-form.navbar-right:last-child,
  .navbar-nav.navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto
  }
}

.navbar-nav.pull-left > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-left {
  right: auto;
  left: 0
}

@media (min-width: 768px) {
  .navbar-text {
    float: right
  }
  .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto
  }
}

.pagination {
  padding-right: 0;
  padding-left: auto
}

.pagination > li > a,
.pagination > li > span {
  float: right;
  margin-right: -1px;
  margin-left: auto
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-right: 0;
  margin-left: auto;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0
}

.pager {
  padding-right: 0;
  padding-left: auto
}

.pager .next > a,
.pager .next > span {
  float: left
}

.pager .previous > a,
.pager .previous > span {
  float: right
}

.nav-pills > li > a > .badge {
  margin-right: 3px;
  margin-left: auto
}

.alert-dismissable {
  padding-left: 35px;
  padding-right: auto
}

.alert-dismissable .close {
  right: auto;
  left: -21px
}

@-webkit-keyframes a {
  0% {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}

@keyframes a {
  0% {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease
}

.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px
}

.progress.active .progress-bar {
  -webkit-animation: a 2s linear infinite;
  animation: a 2s linear infinite
}

.progress-bar-success {
  background-color: #5cb85c
}

.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent)
}

.progress-bar-info {
  background-color: #5bc0de
}

.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent)
}

.progress-bar-warning {
  background-color: #f0ad4e
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent)
}

.progress-bar-danger {
  background-color: #d9534f
}

.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 25%, transparent 50%, hsla(0, 0%, 100%, .15) 50%, hsla(0, 0%, 100%, .15) 75%, transparent 75%, transparent)
}

.list-group,
.media-list {
  padding-right: 0;
  padding-left: auto
}

.list-group-item > .badge {
  float: left
}

.list-group-item > .badge + .badge {
  margin-left: 5px;
  margin-right: auto
}

.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child {
  border-right: 0;
  border-left: auto
}

.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
  border-left: 0;
  border-right: auto
}

.close {
  float: left
}

.modal-footer {
  text-align: left
}

.modal-footer .btn + .btn {
  margin-right: 5px;
  margin-left: auto
}

.modal-footer .btn-group .btn + .btn {
  margin-right: -1px;
  margin-left: auto
}

.modal-footer .btn-block + .btn-block {
  margin-right: 0;
  margin-left: auto
}

.popover {
  left: auto;
  right: 0;
  text-align: right
}

.carousel,
.carousel-inner {
  position: relative
}

.carousel-inner {
  overflow: hidden;
  width: 100%
}

.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: left .6s ease-in-out;
  transition: left .6s ease-in-out
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block
}

.carousel-inner > .active {
  left: 0
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%
}

.carousel-inner > .next {
  left: 100%
}

.carousel-inner > .prev {
  left: -100%
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0
}

.carousel-inner > .active.left {
  left: -100%
}

.carousel-inner > .active.right {
  left: 100%
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0), color-stop(rgba(0, 0, 0, .5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.carousel-control:focus,
.carousel-control:hover {
  outline: none;
  color: #fff;
  text-decoration: none;
  opacity: .9;
  filter: alpha(opacity=90)
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 2;
  display: inline-block
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 50%
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 50%
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif
}

.carousel-control .icon-prev:before {
  content: '\2039'
}

.carousel-control .icon-next:before {
  content: '\203a'
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 4;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9
;
  background-color: transparent
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
  text-shadow: none
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px
  }
  .carousel-indicators {
    bottom: 20px
  }
}

.owl-carousel .slide-text {
  direction: rtl
}

@media (min-width: 768px) {
  .navbar .navbar-nav.navbar-right {
    float: left !important
  }
}

@media screen and (min-width: 767px) {
  .navbar li.languages {
    left: 22px;
    right: auto
  }
  .navbar ul.dropdown-menu {
    left: auto;
    right: 0
  }
}

.title-bar > * {
  padding: 0 0 0 10px
}

.title-bar .show-more {
  right: auto;
  left: 0;
  padding: 0 10px 0 0
}

.text-end {
  text-align: left
}

.text-start {
  text-align: right
}

footer .lanquages {
  margin-right: 10px;
  margin-left: 0
}

footer .lanquages a {
  margin: 0 15px 0 0
}

.navbar ul.dropdown-menu {
  text-align: right
}

@media screen and (min-width: 767px) {
  .navbar ul.dropdown-menu .caret {
    border: 4px solid;
    border-color: transparent currentColor transparent transparent
  }
}

.sub-header .breadcrumb > li + li:before {
  content: "\f104";
  padding: 0 5px
}

.sub-header img {
  left: 15px;
  right: auto
}

/*# sourceMappingURL=rtl.css.map */

/* hadi */

.sub-header img {
  left: 0 !important;
  right: auto;
}

.item {
  direction: rtl;
}