/*
*-------------------------------------------------------
* Base
*-------------------------------------------------------
*/

html{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding:0;

  body{
    width: 100%;
    margin: 0 !important;
    height: 100%;
  }
}

// Creating Margin and padding
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}