/*
*-------------------------------------------------------
* Dropzone Layout
*-------------------------------------------------------
*/

$border-color: #e9edf4;
$border: 1px solid $border-color;
$border-radius: 3px;

$box-shadow:  0 2px 4px rgba(0,0,0,0.15);

$color-primary: #00a8ff;
$color-red: #e74c3c;
$color-white: #fff;
$color-gray: #dde6e9;
$color-blue-light: #33b9ff;

.dropzone-wrapper {

  position: relative;

  .previews {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    .files{
      display: flex;
      flex-wrap: wrap;
    }

    .file-preview {
      width: 150px;
      height: 150px;
      @media (max-width: 767px) {
        width: 130px;
        height: 130px;
      }
      border: $border;
      border-radius: $border-radius;
      margin: 5px;
      background-color: #E9EDF0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.5s;
      box-shadow: none;
      position: relative;

      img.img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      img.icon {
        width: 50px;
        opacity: 0.2;
      }

      &:hover {
        &:not(.add-file) {
          box-shadow: $box-shadow;
        }
      }

      .remove {
        background-color: $color-red;
        color: $color-white;
        display: flex;
        width: 20px;
        height: 20px;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 3px;
        border-radius: $border-radius;
      }
    }
  }
}

.dropzone-custom-content {
  text-align: center;
  //font-family: $font-family;

  .dropzone-custom-title {
    margin-top: 0;
    color: $color-primary;
  }

  .subtitle {
    color: $color-gray;
  }

}

.dropzone_view {
  display: flex;
  align-items: center;
  justify-content: center;

  .dz-preview {
    width: 150px;
    height: 150px;

    .dz-details {
      background-color: rgba($color-blue-light, 0.7);
      width: 100%;
      height: 100%;
      z-index: 15;

      .dz-size {
        font-size: 14px;
        margin-bottom: 5px;
        direction: ltr;
      }
    }

    .dz-image {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .dz-error-message {
      background: $color-red;
      top: -5%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:after {
        left: 50%;
        bottom: -5px;
        top:unset;
        transform: translateX(-50%);
        border-top: 6px solid #e74c3c;
        border-bottom: 0;
      }
    }

    .dz-remove {
      margin-left: 0;
      transform: translateX(-50%);
      left: 50%;
      right: auto;
      white-space: nowrap;
      letter-spacing: 0;
      bottom: 10px;
      position: absolute;
      z-index: 16;
      color: $color-white;
      background: rgba(0,0,0,0.4);
      padding: 6px 11px 4px;
      border-radius: 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
