/*-----------------------------------------------------------------
- Slideshow > Pagination > 1
-----------------------------------------------------------------*/
.rslides_tabs {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
  cursor: default;
  z-index: 2;
  background: rgba(#fff,0.3);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  
  li {
    position: relative;
    display: block;
    float: left;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    perspective: 1000px;
    &:after {
      background-color: #333;
      transform: rotateY(180deg);
    }

    a {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      text-indent: -999em;
      overflow: hidden;
      cursor: pointer;
      position: absolute;
      background-color: transparent;
      transform-style: preserve-3d;
      transition: transform 0.3s ease, opacity 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #777;
        text-indent: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }

    &.rslides_here {
      a {
        transform: rotateY(180deg);
        &:after {
          background-color: #333;
          transform: rotateY(0deg);
        }
      }
    }
  }

}
