/*-----------------------------------------------------------------
- SlideShow Positions
-----------------------------------------------------------------*/
@mixin content_pos($y, $x){
  &.#{$y}-#{$x}{

    @if $y == 'center' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else {
      #{$y}: 5%;
    }

    @if $x == 'center' {
      left: 50%;
      transform: translateX(-50%);
    }
    @else {
      #{$x}: 5%;
    }

    text-align: #{$x};
  }
}

.slideshows{
  .content{
    // .top-right
    @include content_pos('top', 'right');
    // .top-center
    @include content_pos('top', 'center');
    // .top-left
    @include content_pos('top', 'left');

    // .bottom-right
    @include content_pos('bottom', 'right');
    // .bottom-center
    @include content_pos('bottom', 'center');
    // .bottom-left
    @include content_pos('bottom', 'left');


    // .center-right
    @include content_pos('center', 'right');
    // .center-center
    @include content_pos('center', 'center');
    // .center-left
    @include content_pos('center', 'left');
  }

}
