/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  }

.rslides_nav{
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  color: #333;
  background: rgba(#fff,0.3);
  padding: 15px;
  display: flex;
  text-decoration: none;
  i{
    transition: transform 0.35s;
  }

  &.prev{
    left: 15px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    &:hover{
      i{
        transform: translateX(-3px);
      }
    }
  }

  &.next{
    right: 15px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    &:hover{
      i{
        transform: translateX(3px);
      }
    }
  }
}
