.disabled-box {
  pointer-events: none;
  opacity: 0.4;
}

.uploader-container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  border: none !important;

  * {
    font-family: IRAN, Vazir, Tahoma, Arial, sans-serif;
  }
}

.spare-part-preview-image {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  width: 100%;
}


.product-head .head-wrapper .content .actions a {
  margin: 0 5px 5px 0;
}

.shipping-row .group{
	display: inline-block;
	margin-left: 5px;

	input{
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
	label{
		display: inline-block;
		padding: 30px;
		background: #ffffff;
		border: 1px solid transparent;
		box-shadow: 0 5px 15px rgba(0,0,0,0.1);
		border-radius: 10px;
		margin-bottom: 20px;
		text-align: center;
		cursor: pointer;

		.title{
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 8px;
		}
	}
	input:checked + label{
		box-shadow: 0 5px 15px rgba(#8bc34a, 0.25);
		border-color: #2ecc71;

		.title{
			color: #2ecc71;
		}
	}
}
ul#menu li.has-child ul li a{
    text-align: right !important;
}

// Product item
.product-item{
    display: flex;
    margin-bottom: 80px;

    .img{
        height: auto;
        position: relative;
        margin-top: 0;
        top: auto;
        transform: none;
        text-align: right;
        width: 210px;
        flex: 0 0 210px;
        z-index: 50;

        img{
            width: auto;
            height: 120%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .content{
        padding: 20px;
        position: relative;
        z-index: 100;
    }
}

@media (max-width: 992px){

    .product-item{
        margin-bottom: 30px;

        .img{
            width: 120px;
            flex: 0 0 100px;

            img{
                width: 100%;
                height: auto;
            }
        }
        .content{
            padding: 10px;
        }
    }

}

@media (max-width: 767px){
    ul{
        width: 100%;
    }
    .product-item{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 40px;

        .img{
            margin-bottom: 20px;
        }
    }
    .product-row .product-image{
        display: none;
    }
    .product-row .title{
        font-size: 14px;
    }
    .coupon-row .result{
        padding: 0 5px 5px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
}
#features-a .feature .img img{
    width: 100%;
}
.select select{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.part-title.right, .part-title.ta-r{
    text-align: right;

    .title:after{
        left: auto;
        right: 0;
        transform: none;
    }
}

.filters-content{
    @media (max-width: 767px){
        display: none;
    }
}
#filters-toggle{
    display: none;

    @media (max-width: 767px){
        display: inline-block;
    }
}