@import "variables-components/gachet-colors";
.help-block {
  float: right;
}

.ui-controlgroup > .ui-controlgroup-item {
  float: right;
}

.form-buttonset .ui-button:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
}

/********************* Navbar Overwrite *********************/

@media (min-width: 992px) {
  header#main-header #logo-part #logo{
    float: right;
  }
  header#main-header #logo-part ul.menu{
    float: right;
    margin: 10px 0 0 35px;
  }
  header#main-header #logo-part ul.menu > li ul.sub-menu{
    right: -1px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px 0 3px 3px;
  }
  header#main-header #logo-part ul.menu > li.has-child:after{
    right: 0;
  }
  header#main-header #logo-part ul.menu > li.has-child:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
  }
  header#main-header #logo-part{
    ul.menu{
      .search-form{
        button{
          left: 0;
          right:auto;
        }
        #close-search{
          right: 10px;
          left:auto;
        }
      }
    }
  }
}

@media (max-width: 991px){
  body a#close-menu{
    left: 15px;
    right: unset;
  }
  header#main-header #logo-part ul.menu{
    right: -100%;
    left: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  header#main-header #logo-part ul.menu li{
    text-align: right;
  }
  header#main-header #logo-part ul.menu li a.sub-toggle{
    left: 10px;
  }
  header#main-header #logo-part ul.menu.opened {
    right: 0;
    left: auto;
  }
  header#main-header #logo-part{
    ul.menu{
      .search-form{
        button{
          left: 0;
          right: auto;
        }
      }
    }
  }
}

/********************* Navbar Overwrite end *********************/

/********************* Product List Filter *********************/
.sidebar-filter{
  .filter-container{
    @media (max-width: 767px){
      left: auto;
      right:-100%;
      &.opened{
        right: 0;
      }
      .filter-panel--close{
        left: 20px;
        right: auto;
      }
    }
  }
}
/********************* Product List Filter end *********************/

/********************* Tabs *********************/
.nav-tabs{
  li{
    float: right;
    margin-left: -1px;
    margin-right: 0;
  }
}
/********************* Tabs End *********************/

/********************* Comments *********************/

.comments{
  .comment{
    .user-avatar{
      float: right;
    }
    .contents{
      margin-right: 60px;
      margin-left:0;
      @media (max-width: 424px) {
        margin-right: 50px;
      }
      .time{
        margin-right: 5px;
        margin-left:0;
      }
      .actions{
        .reply{
          color: #656565;
          opacity: 0.5;
          i{
            margin-left: 4px;
            margin-right: 0;
          }
        }
      }
    }
    .comments{
      padding-right: 10px;
      padding-left: 0;
      margin-right: 20px;
      margin-left:0;
    }
  }
  .reply-comment{
    .reply-preview{
      padding-right: 20px;
      padding-left:30px;

      &:after{
        left: 5%;
        right: auto;
      }
      .reply-icon{
        margin-left: 5px;
        margin-right: 0;
      }
      .reply-close{
        left: 20px;
        right: auto;
      }
    }
  }

}

/********************* Comments End *********************/

/********************* Rating alert *********************/
.rating-alert{
  .star-cb-group{
    float: left;
  }
}
/********************* Rating alert End *********************/
/********************* Profile *********************/
.page-content.profile header.profile-header .profile-tabs .tab{
  @media (max-width: 767px) {
    display: inline-block;
    width: 50%;
    float: right;
    border-bottom: 1px solid #e1e1e1;
  }
}
/********************* Profile end *********************/

/********************* Floating Button  *********************/
.btn-floating{
  position: fixed;
  right: auto;
  left: 20px;
}
/********************* Floating Button End *********************/

/*
*-------------------------------------------------------
* Header
*-------------------------------------------------------
*/

header#main-header {
  #topbar {
    a.auth-link{
      border-right: 1px solid $ml_red-dark;
      border-left: 0;
    }
    .dropdown {
      &.user{
        a.dropdown-toggle {
          border-right: 1px solid $ml_red-dark;
          border-left: 0;
        }
      }
    }
  }
}

/*
*-------------------------------------------------------
* Testimonials
*-------------------------------------------------------
*/

#testimonials{
  .testimonials-list .item {
    .content:before{
      right: 25px;
    }
  }
}

/*
*-------------------------------------------------------
* dashboard
*-------------------------------------------------------
*/

.dashboard-container{
  .dashboard-sidebar{
    right:0;
    -webkit-box-shadow: -6px 0px 5px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: -6px 0px 5px -5px rgba(0,0,0,0.2);
    box-shadow: -6px 0px 5px -5px rgba(0,0,0,0.2);
  }
  .dashboard-body{
    margin-right: 300px;
    @media (max-width: 768px) {
      margin-right:0 ;
    }
  }
  .profile-tabs .tab{
    @media (max-width: 768px) {
      float: right;
    }
  }
}

/*
*-------------------------------------------------------
* Selected Posts
*-------------------------------------------------------
*/

.selected-posts{
  .posts{
    border-right: 3px solid $ml_red;
    border-left: 0;
    a{
      .post-inner{
        .post-image{
          float: right;
          @media (max-width: 540px) {
            float: none;
          }
        }
        .post-content{
          float: right;
          padding-right: 10px;
          padding-left: 0;
          @media (max-width: 540px) {
            float: none;
            padding: 0;
          }
          .abstract{
            text-align: justify;
          }
        }
      }
    }
  }
}

/*
*-------------------------------------------------------
* Social Links
*-------------------------------------------------------
*/

.social-links{
  float: left;
}

/*
*-------------------------------------------------------
* Color Selector
*-------------------------------------------------------
*/

.color-selector{
  .control--radio{
    &:not(:last-of-type){
      margin-left: 10px;
      margin-right: 0;
    }
    .control__indicator{
      left: auto;
      right: 0;
    }
  }
}
