/*-----------------------------------------------------------------
- More styles for Gachet
-----------------------------------------------------------------*/
$color-blue: #4FBAC4;
$color-red: #ff5347;

header#main-header #topbar{
	background: #f4f5f9;
}
header#main-header #logo-part{
	padding: 25px 0;

    @media (max-width: 768px){
        padding-bottom: 10px;
    }
}
a#logo{
    display: inline-block;
    height: 60px;
    width: auto;

    img{
        height: 100%;
        max-width: none;
    }
}
.header-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header#main-header #logo-part .cart{
	margin-top: 0;
}

#menu-container{
	background: #55c5cf;
    border-top: 1px solid #50acb5 !important;
    border-bottom: 3px solid #000 !important;
}
@media (min-width: 768px){
	header#main-header ul.menu>li {
		padding: 10px 12px;
		transition: all 0.2s ease;

		&:hover{
			background: #4f97bd;
		}
		a {
			font-size: 14px;
			font-weight: 500;
			color: #fff;
		}
	}
}
.part-title h3, .part-title h3 span{
    color: #b90804 !important;
}
header#main-header #logo-part .search-form form{
	display: flex;
	box-shadow: 0 2px 4px rgba(#000, 0.08);
	border-radius: 8px;
    width: 340px;

    @media (max-width: 480px){
        width: auto !important;
    }
}
header#main-header #logo-part .cart a{
	box-shadow: 0 2px 4px rgba(#000, 0.08);
}
header#main-header #logo-part .search-form #site-search{
    border-radius: 0 4px 4px 0;
}
header#main-header #logo-part .search-form #site-search{
    width: 100%;
    max-width: 100%;
    background: #fafafa;

    &:focus{
        background: #ffffff;
    }
}
header#main-header #logo-part .search-form #submit-search{
    background: $color-red;
    border-color: $color-red;
    color: #ffffff;
    padding: 6px 9px 5px;
    font-size: 24px;
    border-radius: 4px 0 0 4px;

    &:hover{
        background: darken($color-red, 3%);
        color: #ffffff;
    }
}
header#main-header #logo-part .cart > a{
    border-radius: 4px;
}
header#main-header #logo-part .cart.cart-button > a{
    font-size: 13px;
    padding: 9px 12px;

    &.auth-button{
        background: $color-blue;
        color: #ffffff;
        border-color: darken($color-blue, 5%);
    }

    @media (max-width: 992px){
        padding: 8px 14px;

        i{
            margin-left: 0 !important;
            font-size: 20px !important;
        }
        span{
            display: none !important;
        }
    }
}
header#main-header #logo-part .cart .menu a{
    width: 100%;
    display: inline-block;
    border: 0;
    box-shadow: none;
    padding: 6px 10px;
    font-size: 14px;
    color: #555;
}
header#main-header #logo-part .cart.cart-counter {
    a {
        i {
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    &.full{
        a{
            background: $color-red;
            color: #ffffff;
            border-color: darken($color-red, 5%);

            &:after{
                width: 28px;
                height: 28px;
                padding: 1px;
                text-align: center;
                border: 2px solid #fff;
                font-weight: 500;
            }
        }
    }
}

.res-search{
    width: 100%;
    margin-top: 20px;

    .search-form{
        width: 100% !important;

        form{
            width: 100%;
            max-width: none;
        }
    }
}

/*-----------------------------------------------------------------
- Tiles
-----------------------------------------------------------------*/
.tiles{
    margin: 15px 0;
    display: flex;

    .tile-box{
        padding: 10px;
        width: 100%;
    }
    a.tile{
        display: inline-block;
        width: 100%;
        text-align: center;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(#000, 0.1);
        border-radius: 4px;
        padding: 25px 10px;

        img{
            height: 40px;
            margin-bottom: 20px;
        }
        .title{
            display: block;
            text-align: center;
            font-size: 14px;
            color: #222;
            font-weight: 500;
            transition: all 0.3s ease;
        }

        &:hover{
            box-shadow: 0 0 10px rgba($color-red, 0.2);

            .title{
                color: $color-red;
            }
        }
    }

    @media (max-width: 992px) {
        flex-wrap: wrap;

        .tile-box{
            flex-basis: 33.3%;
        }
    }
    @media (max-width: 550px) {
        .tile-box{
            flex-basis: 50%;
        }
    }
}

header#main-header ul.menu>li.has-child:after{
    display: none !important;
}
header#main-header ul.menu{
    & > li.has-child{

        @media (min-width: 768px) {
            a.sub-toggle {
                display: none !important;
            }
        }
        & > ul ul {
            opacity: 0 !important;
            visibility: hidden !important;
            top: 0;
            right: 100%;
        }
    }

    li.has-child:hover > ul{
        opacity: 1 !important;
        visibility: visible !important;
    }
}

@media (min-width: 768px){
    header#main-header ul.menu>li ul.sub-menu{
        padding: 0;

        li.has-child{
            position: relative;
        }
    }
    header#main-header ul.menu>li.has-child:hover ul.sub-menu a {
        font-weight: normal;
        padding: 10px 12px;
        font-size: 13px;
        border-bottom: 1px solid #e7e7e7;

        &:last-child{
            border-bottom: 0;
        }

        &:hover{
            color: #7f55dc;
        }
    }
}
.product-item .content .price ins, .product-single .product-detials .price ins{
    color: #b90804;
}

/*-----------------------------------------------------------------
-   Items Slider
-----------------------------------------------------------------*/

.items-slider{
    .owl-stage{
        display: flex;
        align-items: stretch;
        .slide{
            //width: 200px;
            height: 100%;
            .product-item{
                height: 100%;
                display: flex;
                flex-direction: column;
                .thumbnail{
                    padding: 10px;
                }

                .content{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h6{
                        max-height: 85px;
                        overflow: hidden
                    }
                }
            }
        }
    }
}

/*
*-------------------------------------------------------
* Products
*-------------------------------------------------------
*/

.ware_slider{
    .slide{
        .product-item{
            .thumbnail{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.product-item{
    .content h6{
        font-size: 0.9rem;
        font-weight: 400;
    }
}

.product-list{
    .row{
        margin: 0;
        &>[class^='col-']{
            padding: 5px;

        }
    }

    .product-item{
        margin:0 0 -1px -1px;
        border-radius: 0;
        border-color: #ececec;
        overflow: hidden;
        z-index: 0;

        .thumbnail{
            padding-top: 5px;
            transform: scale(1.01);
            z-index: -1;
        }

        .content{
            h6{
                height: 55px;
                white-space: normal;
                overflow: hidden;
                text-align: right;
            }
            .price{
                font-size: 16px;
                text-align: left;
                height: 54px;
                ins{
                    //display: block;
                }
            }
        }

        &:hover{
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            z-index: 1;
        }
    }
}

.product-item{
    &.ribbon-sale:before{
        content: 'OFF';
    }

    &.ribbon-sale:before,
    &.ribbon-offer:after {
        z-index: 1;
    }
}
.product-images ul.slides{
  &.ribbon-sale:before{
    content: 'OFF';
  }

  &.ribbon-sale:before,
  &.ribbon-offer:after {
    z-index: 3;
  }
}


.product-item .content .price,
.product-single .product-detials .price{
  ins{
    color: $color-red;
  }

  del{
    color: #666;
  }
}

.product-single {
  .product-detials{
    .product-name{
      font-size: 1.5rem;
    }
  }
}

/*
*-------------------------------------------------------
* Brands slider
*-------------------------------------------------------
*/

.brands_slider{
    .brand_slide{
        .panel {
            padding: 5px;
            a{
                width: 100%;
                display: inline-block;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

/*
*-------------------------------------------------------
*   Compare
*-------------------------------------------------------
*/

.products-compare{
    th.head {
        .title{
            font-size: 0.9rem;
            font-weight: 400;
        }

        .prices{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
            height: 55px;

            ins{
                color: $color_red;
                text-decoration: none;
            }
            del{
                color: #666;
            }
        }
    }
}

/*
*-------------------------------------------------------
* Footer
*-------------------------------------------------------
*/

footer#main-footer{
    ul.menu-footer{
        li{
            a{
                color: #000;
            }
        }
    }
}

/*
*-------------------------------------------------------
* Forms
*-------------------------------------------------------
*/

label{
    color: #000;
}

/*
*-------------------------------------------------------
* Contact Page
*-------------------------------------------------------
*/

.contact-page{
    p{
        font-size: 17px;
    }
}
