/*
*-------------------------------------------------------
* Widget
*-------------------------------------------------------
*/

%custom_scrollbar{
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    outline: 1px solid #708090;
    border-radius: 3px;
  }
}


.categories_widget{
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @extend %custom_scrollbar;

  .categories_widget_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .control_buttons{
      display: flex;
      align-items: center;
    }
  }


  .categories_accordion{
    margin-bottom: 0;


    .categories_folder_panel{
      border: 0;
      border-radius: 0;

      .panel-heading{
        border-top: 0;
        background-color: #f3f3f3;
        padding: 0;

        .panel-title{
          font-size: 14px;
          a{
            padding: 12px 15px;
            display: block;
          }
        }
      }

      .categories_nested{
        max-height: 300px;
        overflow-y: auto;
        padding: 0 15px;
        margin: 0 -15px;

        @extend %custom_scrollbar;

        .category_list{
          list-style-type: none;
          margin-bottom: 5px;
          padding: 0;

          .category_item{
            & > .category_list{
              padding-right: 20px;
            }
          }


        }
      }


    }
  }

}
