/*-----------------------------------------------------------------
- Auth
-----------------------------------------------------------------*/
.auth-form{
	p{
		font-size: rem(14);
	}
	input, select, textarea{
		box-shadow: none !important;
		height: 44px;
		padding: 10px 12px;
	}
	.button{
		height: 44px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.auth-links{
	margin: 30px 0;
	text-align: center;

	a{
		text-decoration: none;
		font-size: rem(14);
	}
	span{
		font-size: rem(14);
		color: $color-gray-lightest;
		margin: 0 10px;
	}
}