/*-----------------------------------------------------------------
- Base
-----------------------------------------------------------------*/
body{
	overflow-x: hidden;

	&.home{
		background: url('../images/home-head-bg.png') top right no-repeat;

		&:before{
			top: 750px;
		}
	}
}

.part-title{
	margin: 40px auto;
	text-align: center;
	position: relative;
	z-index: 10;
	display: inline-block;
	width: 100%;

	.icon{
		margin-bottom: 30px;
	}
	.subtitle{
		display: block;
		position: relative;
		font-family: $font-family-iran;
		font-weight: 900;
		font-size: rem(20);
		color: $color-gray-lighter;
		margin-bottom: 20px;
	}
	a.subtitle:hover{
		color: $color-blue;
	}
	.title{
		display: inline-block;
		position: relative;
		font-family: $font-family-iran;
		font-weight: 900;
		font-size: rem(32);
		color: $color-gray;
		padding-bottom: 25px;
		margin-bottom: 20px;

		&:after{
			content: '';
			display: inline-block;
			width: 40px;
			height: 8px;
			border-radius: 4px;
			background: $color-red;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&.small{
			font-size: rem(24);
		}
	}

	&.inner{
		text-align: right;
		margin: 0 0 20px !important;

		.title{
			font-size: rem(20);
		}
	}

	&.panel-title{
		text-align: right;
		margin: 0 0 20px !important;

		.subtitle{
			display: inline-block;
			font-size: rem(20);
			font-weight: 600;

			&:after{
				content: ' / ';
				vertical-align: middle;
				position: relative;
				top: 2px;
			}
		}
		.title{
			display: inline-block;
			font-size: rem(20);

			&:before{
				height: 7px;
				bottom: 3px;
			}
		}
	}
	.button.action{
		position: absolute;
		top: 0;
		left: 0;

		@include bp{
			position: relative;
			float: left;
		}
	}
}

.box{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	@include box;
	padding: 30px;
}

section.panel{
	input, select, textarea{
		box-shadow: none !important;
	}
}

.disabled-area{
	transition: $global-transition;

	&.active{
		opacity: 0.5;
		pointer-events: none;
	}
}

// Table scroll
//------------------------------------------------
.table-scroll{
	@include bp {
		overflow-y: scroll;
	}
}