/*-----------------------------------------------------------------
- Festivals
-----------------------------------------------------------------*/
.festival-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: url('../images/festival-bg.png') bottom center repeat-x;
	z-index: -1;
	opacity: 0.3;
}
.festival-item{
	@include box;
	position: relative;
	border-top: 10px solid $color-blue;
	border-bottom: 10px solid $color-blue;
	margin-bottom: 20px;

	.head{
		padding: 50px 30px 30px;
	}
	.title{
		background: linear-gradient(to right, #FF160A 20%, #FFBC35 40%, #FFBC35 60%, #FF160A 80%);
		background-size: 200% auto;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: shine 3s linear infinite;
		font-family:$font-family-iran;
		font-size: rem(32);
		text-align: center;

		@keyframes shine {
			to {
				background-position: 200% center;
			}
		}
	}
	.date{
		text-align: center;
		font-weight: $font-weight-medium;
		color: #009688;
		margin-top: 15px;
	}

	hr{
		border: 0;
		border-top: 1px dashed #cfe0ef;
	}

	.content{
		padding: 20px 30px 40px 30px;
	}

	&.style-1{
		.ribbons{
			img{
				position: absolute;
				z-index: -1;

				&.ribbon-1{
					top: -30px;
					right: 130px;
				}
				&.ribbon-2{
					top: -60px;
					left: 20px;
				}
				&.ribbon-3{
					top: 30px;
					right: -70px;
				}
				&.ribbon-4{
					top: 60px;
					left: -50px;
				}
			}
		}
	}

	&.done{
		border-color: $color-gray-lightest;
	}

	&.future{
		border-color: $color-green;
	}

	.ribbon {
		width: 150px;
		height: 150px;
		overflow: hidden;
		position: absolute;
		top: -20px;
		left: -10px;

		&:before, &:after {
			position: absolute;
			z-index: -1;
			content: '';
			display: block;
			border: 5px solid $color-red-dark;
			border-top-color: transparent;
			border-left-color: transparent;
		}
		&:before{
			top: 0;
			right: 0;
		}
		&:after{
			bottom: 0;
			left: 0;
		}
		span {
			position: absolute;
			display: block;
			width: 225px;
			padding: 15px 0;
			background-color: $color-red;
			box-shadow: 0 5px 10px rgba(0,0,0,.1);
			color: #fff;
			font-family: $font-family-vazir;
			font-size: rem(18);
			line-height: 1;
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
			text-transform: uppercase;
			text-align: center;
			right: -25px;
			top: 30px;
			transform: rotate(-45deg);
		}

		@include bp{
			span{
				width: 165px;
				right: 25px;
				top: 20px;
				font-size: rem(14);
			}
			&:before{
				right: 35px;
			}
			&:after{
				bottom: 35px;
			}
		}
	}

}