/*-----------------------------------------------------------------
- Footer
-----------------------------------------------------------------*/

// Footer
//------------------------------------------------
footer#main-footer {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	padding: 50px 0;
	margin-top: 30px;
	background: #222222;

	a#logo-footer{
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 50px;
	}

	.socials{
		margin-bottom: 70px;

		a{
			display: inline-block;
			vertical-align: middle;
			font-size: rem(24);
			color: #eee;
			margin: 0 20px;
			text-decoration: none;

			&:hover{
				color: #FFFFFF;
			}
		}
	}

	.copyright{
		font-size: rem(16);
		color: $color-gray;
	}
}