/*-----------------------------------------------------------------
- Header
-----------------------------------------------------------------*/
header#main-header{
	background: #fff;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);

	#main-header-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 137px;

		@include bp{
			height: 65px;
		}
	}

	.socials{
		a{
			font-size: rem(20);
			color: #737373;
			margin-left: 10px;
			transition: $global-transition;

			&:hover{
				color: $color-blue;
			}
		}

		@include bp{
			display: none;
		}
	}

	a#logo{
		display: inline-block;
		vertical-align: middle;

		img{
			width: 50%;
		}
	}

	a#cart-link{
		float: left;
		margin: 0 10px 0 0;
		position: relative;

		span.icon{
			display: inline-block;
			padding: 14px;
			background: #f2f6fb;
			border-radius: 50%;
			cursor: pointer;
			font-size: rem(24);
			color: $color-gray-lighter;
			transition: $global-transition;
		}
		span.count{
			position: absolute;
			top: -5px;
			right: 0;
			background: $color-blue-dark !important;

			& + span.icon{
				color: $color-blue;
			}
		}

		&:hover{
			span.icon{
				background: $color-blue;
				color: #FFFFFF !important;
			}
		}

		@include bp{
			margin-top: 0;
			float: none;
		}
	}

	#langs{
		float: left;
		position: relative;
		margin: 0 10px 0 0;

		.current{
			padding: 10px;
			background: #f2f6fb;
			border-radius: 50%;
			cursor: pointer;
		}
		img{
			display: inline-block;
			width: 32px;
			border-radius: 50%;
		}
		.others{
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			background: #FFFFFF;
			border-radius: 10px;
			box-shadow: $global-box-shadow;
			padding: 5px 0;
			opacity: 0;
			visibility: hidden;
			transition: $global-transition;

			&:after {
				bottom: 100%;
				left: 27px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 8px;
				margin-left: -8px;
			}

			a{
				display: inline-block;
				white-space: nowrap;
				vertical-align: middle;
				padding: 8px 15px;
				font-size: rem(14);
			}
			img{
				margin-left: 10px;
				vertical-align: middle;
				width: 24px;
			}
		}

		&:hover{
			.others{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@include bp{
		padding: 30px 0;

		a#logo{
			text-align: right;
			float: right;

			img{
				width: 100%;
			}
		}
		#langs{
			display: none;
		}
		#langs-res{
			position: absolute;
			z-index: 9750;
			bottom: 0;
			right: 0;
			width: 70%;
			padding: 15px 10px;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			transition: $global-transition;

			a{
				display: inline-block;
				vertical-align: middle;
				padding: 5px;
				border-radius: 50%;
				background: #fff;
				width: 40px;

				img{
					width: 100%;
					height: auto;
					display: inline-block;
					vertical-align: middle;
					border-radius: 50%;
				}

				&.current{
					background: $color-blue;
				}
			}

			&.is-active{
				opacity: 1;
				visibility: visible;
			}
		}
		.head-col{
			width: 50%;

			&.left{
				display: flex;
				flex-direction: row-reverse;
			}
		}
	}
}
body.home header#main-header{
	background: none;
	box-shadow: none;
}

// Nav menu
//------------------------------------------------
nav#nav{
	background: #464646;
	display: flex;
	justify-content: center;
	box-shadow: inset 0 -4px 0 0 #373737;
	margin-bottom: 50px;
}
ul#menu{
	list-style: none;
	margin: 0;
	padding: 0;

	li{
		float: right;
		display: inline-block;
		margin-right: 1px;

		a{
			font-family: $font-family-iran;
			font-weight: $font-weight-bold;
			display: inline-block;
			vertical-align: middle;
			font-size: rem(14);
			line-height: 14px;
			color: #fff;
			padding: 23px 15px;
			text-decoration: none;
			box-shadow: inset 0 -4px 0 0 rgba(#3eb4d6, 0);
		}
		&.active a{
			color: #fff;
			background: $color-blue;
			box-shadow: inset 0 -4px 0 0 #3eb4d6;
			position: relative;

			@include bp{
				box-shadow: inset -4px 0 0 0 #3eb4d6;
			}
		}

		&.has-child{
			position: relative;

			> a:after{
				content: '▾';
				margin-right: 3px;
				vertical-align: middle;
			}
			ul{
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 5000;
				background: #FAFAFA;
				padding: 0;
				opacity: 0;
				visibility: hidden;
				transform: perspective(600px) rotateY(90deg);
				transform-origin: left center 0;
				transform-style: preserve-3d;
				transition: all 0.3s ease 0s;

				li{
					width: 100%;
					margin: 0;

					a{
						padding: 12px 20px;
						display: inline-block;
						width: 100%;
						vertical-align: middle;
						white-space: nowrap;
						text-align: left;
						box-shadow: none;
						color: $color-gray;
						font-weight: $font-weight-normal;

						&:hover{
							color: $color-blue;
						}
					}
				}
			}
		}

		&:hover{
			> a{
				color: #fff;
				background: $color-blue;
				box-shadow: inset 0 -4px 0 0 #3eb4d6;
			}
			ul{
				opacity: 1;
				visibility: visible;
				transform: perspective(600px) rotateY(0deg);

				a{
					&:hover{
						background: #F1F1F1;
					}
				}
			}
		}
	}
}
@include bp{
	ul#menu{
		position: absolute;
		top: 0;
		bottom: 0;
		right: -100%;
		width: 70%;
		background: #FFFFFF;
		box-shadow: 0 -5px 15px rgba(#000, 0.2);
		z-index: 9700;
		transition: $global-transition;
		padding: 20px 0;

		li{
			width: 100%;
			margin: 0;

			a{
				width: 100%;
				padding: 15px;
				color: #737373;

				&:after{
					width: 3px !important;
					height: 100% !important;
				}
			}
		}

		&.is-active{
			right: 0;
		}
	}
}

// Responsive menu
//------------------------------------------------
.hamburger{
	display: none;
	float: left;
	position: relative;
	z-index: 9100;

	@include bp{
		display: inline-block;
		float: left;
		padding-right: 10px;
		padding-left: 10px;
	}
}
// Menu overlay
.menu-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9000;
	background: rgba(#000, 0.8);
	opacity: 0;
	visibility: hidden;
	transition: $global-transition;

	&.is-active{
		opacity: 1;
		visibility: visible;
	}
}
body.menu-open{
	overflow: hidden;
}