/*-----------------------------------------------------------------
- Home
-----------------------------------------------------------------*/

// Main slide
//------------------------------------------------
#main-slide{
	display: inline-block;
	width: 100%;
	height: calc( 100vh - 200px );
	position: relative;
	margin-top: -50px;

	.rslides{
		height: 100%;

		li{
			height: 100%;
		}
	}
	img{
		width: 100%;
		height: 100%;
		position: relative;
		transition: all 1s ease;
		object-fit: cover;
	}
	.text{
		position: absolute;
		right: 50px;
		bottom: 50px;
		max-width: 50%;
		z-index: 100;
		background: rgba(#fff, 0.75);
		padding: 15px;
		border-radius: 0 0 0 20px;

		h1{
			display: inline-block;
			font-family:$font-family-iran;
			font-weight: 900;
			font-size: rem(42);
			color: #222;
			position: relative;
			margin-bottom: 25px;
			opacity: 0;
			transform: perspective(600px) rotateY(-90deg);
			transform-origin: right center 0;
			transform-style: preserve-3d;
			transition: all 0.5s ease 0s;

			&:before{
				content: '';
				display: inline-block;
				width: 100%;
				height: 15px;
				background: $color-blue;
				position: absolute;
				bottom: 5px;
				left: 0;
				z-index: -1;
			}
		}
		p{
			color: $color-gray;
			line-height: 1.8;

			opacity: 0;
			transform: perspective(600px) rotateY(-90deg);
			transform-origin: right center 0;
			transform-style: preserve-3d;
			transition: all 0.5s ease 0s;
			transition-delay: 300ms;
		}

		@include bp{
			width: 95%;
			max-width: 95%;
			right: 50%;
			transform: translateX(50%);

			h1{
				font-size: rem(24);
				margin-bottom: 10px;
			}
			p{
				font-size: rem(13);
				margin-bottom: 0;
			}
		}
	}
	.rslides1_on{
		.text{
			h1{
				opacity: 1;
				transform: perspective(600px) rotateY(0deg);
			}
			p{
				opacity: 1;
				transform: perspective(600px) rotateY(0deg);
			}
		}
	}

	ul.rslides_tabs{
		position: absolute;
		bottom: 50px;
		left: -5px;
		margin: 0;
		padding: 0;
		background: $color-blue;
		padding: 15px 15px 15px 50px;
		border-radius: 0 30px 30px 0;
		list-style: none;
		z-index: 1000;
		box-shadow: 3px 3px 0 0 #55B9D6;

		li{
			display: inline-block;

			a{
				display: inline-block;
				text-indent: 9999px;
				overflow: hidden;
				width: 30px;
				height: 30px;
				background: #FFFFFF;
				border-radius: 50%;
				border: 3px solid transparent;
				margin-left: 5px;
				vertical-align: middle;
				opacity: 0.5;
				transform: rotateY(0deg);
			}

			&.rslides_here{
				a{
					background: #FFCC00;
					border-color: #fff;
					opacity: 1;
					transform: rotateY(180deg);
				}
			}
		}
	}

	@include bp{
		ul.rslides_tabs{
			position: relative;
			text-align: center;
			width: calc( 100% - 100px );
			border-radius: 30px;
			padding: 15px;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
			margin: -35px 50px 0;
			bottom: 0;
		}
	}
}


// Features a
//------------------------------------------------
#features-a{
	margin-top: -30px;
	padding: 0 0 30px 0;
	background: #F9FAFF;
	position: relative;

	.divider{
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: -1;
	}

	.feature{
		display: table;
		width: 100%;
		margin-bottom: 15px;

		.img{
			display: table-cell;
			width: 40%;
			vertical-align: middle;
			padding: 0 15px;

			img{
				border-radius: 25px 0 25px 0;
			}
		}
		.text{
			display: table-cell;
			width: 60%;
			vertical-align: middle;
			padding: 0 15px;

			.title{
				font-family:$font-family-iran;
				font-weight: 900;
				font-size: rem(24);
				color: #222;
				margin-bottom: 15px;
			}
			p{
				color: #222222;
				font-size: rem(14);
				line-height: 1.8;
			}
		}

		@include bp{
			display: inline-block;

			.img, .text{
				display: inline-block;
				width: 100%;
			}
			.img{
				text-align: center;
				margin-bottom: 20px;
			}
		}
	}
}
.big-title{
	color: #0F3C6E;
	text-align: right;
	font-size: rem(28);
	padding: 50px 0 40px;
	position: relative;
	z-index: 1;
	font-family: $font-family-iran;
	font-weight: $font-weight-bold;

	span{
		&:first-child{
			color: #7F868E;
		}
		&:nth-child(2){
			color: $color-red;
		}
	}

	i.lines{
		display: block;
		margin-top: 18px;
		line-height: 10px;

		&:before, &:after{
			display: inline-block;
			content: '';
			height: 10px;
			border-radius: 5px;
			background: $color-blue;
			width: 30px;
		}
		&:after{
			margin-right: 5px;
			width: 75px;
			background: #E2E2E2;
		}
	}

	@include bp{
		padding: 30px 0;
	}
}

#features-b{

	.feature{
		margin-bottom: 50px;

		.img{
			margin-bottom: 50px;

			img{
				border-radius: 25px 0 25px 0;
			}
		}
		.text{
			.title{
				font-family:$font-family-iran;
				font-weight: 900;
				font-size: rem(32);
				color: #222;
				margin-bottom: 10px;
				text-align: center;
			}
			.subtitle{
				font-family:$font-family-iran;
				font-weight: 900;
				font-size: rem(28);
				color: #222;
				margin-bottom: 30px;
				text-align: center;
			}
			p{
				color: $color-gray;
				font-size: rem(16);
				line-height: 1.8;
			}
		}
	}
}