/*-----------------------------------------------------------------
- Icons
-----------------------------------------------------------------*/
.icon-ap:before {
	content: "\e900";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-map:before {
	content: "\f279";
}
.icon-plus:before {
	content: "\f067";
}
.icon-question:before {
	content: "\f128";
}
.icon-minus:before {
	content: "\f068";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-print:before {
	content: "\f02f";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-image:before {
	content: "\f03e";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-fb:before {
	content: "\f082";
}
.icon-comments:before {
	content: "\f086";
}
.icon-li:before {
	content: "\f08c";
}
.icon-phone:before {
	content: "\f095";
}
.icon-tw:before {
	content: "\f099";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-users:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-gp:before {
	content: "\f0d5";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-unsorted:before {
	content: "\f0dc";
}
.icon-sort-desc:before {
	content: "\f0dd";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-asc:before {
	content: "\f0de";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-cloud-download:before {
	content: "\f0ed";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-in:before {
	content: "\f16d";
}
.icon-tl:before {
	content: "\f1d8";
}
.icon-cart-plus:before {
	content: "\f217";
}
