/*-----------------------------------------------------------------
- News
-----------------------------------------------------------------*/
a.news-item{
	margin-bottom: 20px;

	.cover{
		width: 240px;
		float: right;
	}
	.details{
		float: right;
		width: calc(100% - 240px);
		padding-right: 20px;

		.title{
			transition: $global-transition;
			margin-bottom: 15px;
		}
		p{
			color: $color-gray-light;
			margin-bottom: 0;
		}
	}

	@include bp{
		.cover{
			width: 100%;
			margin-bottom: 20px;
		}
		.details{
			width: 100%;
			padding-right: 0;

			.title{
				font-size: rem(20);
			}
			p{
				font-size: rem(13);
			}
		}
	}

	&:hover{
		box-shadow: $global-box-shadow-hover;

		.title{
			color: $color-blue;
		}
	}

	&.style-2{
		.cover{
			width: 100%;
			margin-bottom: 20px;
		}
		.details{
			width: 100%;
			padding-right: 0;

			.title{
				font-size: rem(20);
			}
			p{
				font-size: rem(13);
			}
		}
	}
}