/*-----------------------------------------------------------------
- Order
-----------------------------------------------------------------*/
.product-row{
	vertical-align: middle;

	.item{
		display: table;
		width: 100%;
	}
	.product-image{
		display: table-cell;
		width: 100px;
		vertical-align: middle;

		img{
			width: 100%;
			height: auto;
		}
	}
	.details{
		display: table-cell;
		vertical-align: middle;
	}
	.title{
		font-size: rem(16);
		font-weight: $font-weight-bold;
		color: $color-gray;
		vertical-align: middle;
	}
	.options{
		font-size: rem(14);
		color: $color-gray;
		margin-top: 5px;
	}
	.qty{
		input{
			width: 50px;
		}

		&.review{
			text-align: center;
			font-size: rem(16);
			font-weight: $font-weight-medium;
		}
	}
	.price{
		text-align: center;
		font-size: rem(14);
		font-weight: $font-weight-bold;
		color: $color-gray-dark;

		&.row-total{
			color: $color-blue-dark;
		}
	}
	.product-remove{
		text-align: center;

		a{
			font-size: rem(16);
			color: $color-gray-lighter;
			text-decoration: none;

			&:hover{
				color: $color-red;
			}
		}
	}
}
.coupon-row{
	.result{
		display: inline-block;
		margin-left: 20px;
		color: $color-gray-light;
		font-weight: $font-weight-bold;

		&.success{
			color: $color-green;
		}
		&.error{
			color: $color-red;
		}
		&.warning{
			color: $color-orange;
		}
	}
	td{
		text-align: left !important;
	}
	input{
		display: inline-block;
		width: 200px;
		position: relative;
		top: 1px;
	}
}
table.table.total{
	td{
		font-size: rem(14);
		font-weight: $font-weight-medium;

		&:first-child{
			color: $color-gray;
			background: #fcfdfd;
		}
		&:last-child{
			text-align: left;
			color: $color-gray;
			font-size: rem(16);
		}
		&.coupon{
			color: $color-green;
		}
		&.big-total{
			font-weight: $font-weight-bold;
			color: $color-blue;
			font-size: rem(20);
		}
	}
}
.order-auth{
	a{
		text-decoration: none;
		font-size: rem(14);
	}

	@include bp{
		a:not(.button){
			display: inline-block;
			margin-top: 20px;
		}
	}
}

.payment-result{
	text-align: center;

	.title{
		font-weight: $font-weight-bold;
		color: $color-green;
		font-size: rem(20);
		margin-bottom: 30px;

		&.success{
			color: $color-green;
		}
		&.error{
			color: $color-red;
		}
	}
	p{
		color: $color-gray;
	}
	.action{
		margin-top: 50px;
	}
	.code{
		background: #effff8;
		border: 2px dashed lighten($color-green, 20%);
		color: $color-green;
		font-weight: $font-weight-bold;
		display: inline-block;
		padding: 10px 20px 9px;
		margin-top: 10px;
	}
}

// Method
.payment-method{
	display: table;
	width: 100%;

	.right{
		display: table-cell;
		width: 100px;
		text-align: center;
		vertical-align: middle;
		border-left: $global-border-light;
	}
	.left{
		display: table-cell;
		vertical-align: top;
		padding: 20px;

		h5{
			font-size: rem(20);
			margin-bottom: 0;
			line-height: 2;
			padding-top: 3px;
			font-family:$font-family-iran;
		}
		.hide-content{
			display: none;
		}
	}
	.info{
		border: 1px solid #d8ebf1;
		border-radius: 5px;
		background: #f9feff;
		padding: 10px 15px;
		margin-bottom: 10px;

		span{
			display: block;
			color: #2B3A88;

			&:first-child{
				margin-bottom: 5px;
				font-size: rem(14);
				color: #6F879A;
			}
		}

		&.form-info{
			padding: 20px;
			background: #FFFFFF;

			.field{
				margin-bottom: 0;
			}
			.button{
				margin-top: 24px;
			}
		}
	}

	// Responsive
	@include bp{
		display: inline-block;

		.left, .right{
			display: inline-block;
			width: 100%;
		}
		.right{
			border-left: 0;
			border-bottom: $global-border-light;
			padding: 20px 0;
		}
	}
}
.radio_style{
	display: inline-block;
	width: 25px;

	input{
		height: 0;
		width: 0;
		display: none;
		overflow: hidden;
		opacity: 0;
	}

	input + label{
		position: relative;
		display: flex;
		margin: .6em 0;
		align-items: center;
		color: #9e9e9e;
		transition: color 250ms cubic-bezier(.4,.0,.23,1);
	}
	input + label > span{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		background: transparent;
		border: 2px solid #CBCBCB;
		border-radius: 2px;
		cursor: pointer;
		transition: all 250ms cubic-bezier(.4,.0,.23,1);
	}

	input + label:hover, input:focus + label{
		color: #fff;
	}
	input + label:hover > span, input:focus + label > span{
		background: #dcedc8;
		border-color: $color-green;
	}

	input:checked + label > span{
		border: .5em solid $color-green;
		background: $color-green;
		animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
	}
	input:checked + label > span:before{
		content: "";
		position: absolute;
		top: 3px;
		left: 4px;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		transform: rotate(45deg);
		transform-origin: 0% 100%;
		animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
	}
}

@keyframes shrink-bounce{
	0%{
		transform: scale(1);
	}
	33%{
		transform: scale(.85);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes checkbox-check{
	0%{
		width: 0;
		height: 0;
		border-color: #fff;
		transform: translate3d(0,0,0) rotate(45deg);
	}
	33%{
		width: 8px;
		height: 0;
		transform: translate3d(0,0,0) rotate(45deg);
	}
	100%{
		width: 8px;
		height: 16px;
		border-color: #fff;
		transform: translate3d(0,-5px,0) rotate(45deg);
	}
}

.recipt-table{
	.part-title{
		margin-bottom: 0 !important;
	}
}