/*-----------------------------------------------------------------
- Page
-----------------------------------------------------------------*/
.page{
	.part-title{
		margin-bottom: 50px;

		.title{
			color: #222222;
		}
	}
	.page-desc{
		font-weight: $font-weight-medium;
		text-align: center;
		color: #555555;
		margin-bottom: 30px;
	}
}
.page-content{
	p{
		color: #222222;
	}
	img{
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		margin: 15px 0;
		border-radius: 25px 0 25px 0;
	}
	.image{
		box-shadow: $global-box-shadow;
		padding: 5px;
		border-radius: 25px 0 25px 0;
		margin: 15px 0;

		img{
			margin: 0 0 10px 0;
			border-radius: 25px 0 0 0;
		}
		p{
			text-align: center;
			margin-bottom: 5px;
			color: $color-gray;
		}
	}
	ul{
		li{
			font-weight: $font-weight-light;
			margin-bottom: 5px;
		}
	}
}

.contact-box{
	@include box;
	text-align: center;
	padding: 20px;
	margin-bottom: 10px;

	.icon-wrapper{
		display: table;
		width: 100%;
		text-align: center;
		vertical-align: middle;
		margin-bottom: 40px;
	}
	.icon{
		display: table-cell;
		height: 64px;
		vertical-align: middle;
	}
	.value{
		font-size: rem(20);
		font-weight: $font-weight-bold;
		color: #175F73;

		&.address{
			font-size: rem(16);
			font-weight: $font-weight-normal;
		}
	}
}
.page-foot{
	@include box;
	margin-top: 30px;
	text-align: left;
	padding: 15px;

	span{
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		color: $color-gray;
	}
	.socials{
		display: inline-block;

		a{
			display: inline-block;
			vertical-align: middle;
			font-size: rem(20);
			margin-right: 5px;
			text-decoration: none;
		}
	}
}

// Support
//------------------------------------------------
#support-contents{

}
.province{
	display: none;

	.title{
		text-align: center;
		font-size: rem(24);
		font-weight: $font-weight-bold;
		color: $color-gray;
		margin: 30px 0 20px;
	}

	table{
		box-shadow: $global-box-shadow;

		thead{
			background: #F4F6FC !important;

			th{
				color: $color-blue;
				border: 0 !important;
			}
		}
		td{
			border-top-color: #F5F5F5 !important;
		}
	}

	&:first-child{
		display: block;
	}
}

// Jobs
//------------------------------------------------
.jobs-list{
	@include box;
	padding: 30px;
	margin-bottom: 30px;

	.title{
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px dashed $color-gray-lightest;
	}
	.item{
		margin-bottom: 10px;

		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		display: inline-block;
		text-decoration: none;

		&:before{
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			background: $color-gray-lighter;
			margin-left: 10px;
			transition: $global-transition;
			transform: rotate(0deg);
		}

		&:hover{
			&:before{
				background: $color-blue;
				margin-left: 15px;
				transform: rotate(45deg);
			}
		}
	}
}


// Board
//------------------------------------------------
.person-item{
	text-align: center;
	@include box;
	padding: 20px;
	margin-bottom: 30px;

	img{
		width: 100%;
		height: auto;
		vertical-align: middle;
		margin-bottom: 30px;
	}
	.name{
		color: $color-gray-dark;
	}
	.position{
		color: $color-gray-light;
		font-size: rem(14);
	}
}


// Support form
//------------------------------------------------
.support-form{
	article{
		padding: 30px !important;
	}
	.part-title{
		text-align: right;
		margin: 5px 0 15px;

		.title{
			font-size: rem(20);
		}
	}
}


// Page
//------------------------------------------------
.faq-part{
	padding-top: 20px;

	.q{
		border-bottom: $global-border-light;
		border-right: 3px solid transparent;
		transition: $global-transition;

		a.title{
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			padding: 20px 15px;
			color: $color-gray-light;
			font-size: rem(16);
			font-weight: $font-weight-medium;

			&:hover{
				color: $color-blue;
			}
		}
		.content{
			display: none;
			padding: 0 15px 20px;
			margin-top: -10px;

			p{
				font-size: rem(14);
				color: $color-gray-dark;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		&.active{
			border-right-color: $color-blue;

			a{
				color: $color-blue;
			}
		}
	}
}
.faq-search button{
	&:after{
		content: 'ثبت پرسش';
	}

	@include bp{
		width: 100%;

		&:after{
			content: 'پرسش خود را نیافتید؟ از ما بپرسید';
		}
	}
}

// Gallery
//------------------------------------------------
a.box-item{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	position: relative;
	z-index: 10;
	@include box;
	padding: 10px;
	top: 0;
	margin-bottom: 30px;

	> img.fluid{
		border-radius: 8px;
	}
	.hover{
		content: '';
		background: linear-gradient(90deg, rgb(97, 206, 237), rgb(115, 115, 115));
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		border-radius: 8px;
		transition: $global-transition;
		opacity: 0;
	}
	img.icon{
		position: absolute;
		width: 64px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateY(90deg);
		opacity: 0;
		transition: $global-transition;
		z-index: 100;
	}
	.title{
		position: absolute;
		right: 0;
		bottom: 20px;
		padding: 10px 15px;
		background: rgba($color-blue, 1);
		border-radius: 10px 0 0 10px;
		color: #FFFFFF;
		box-shadow: $global-box-shadow;
		transition: $global-transition;
	}

	&:hover{
		top: -10px;

		.hover{
			opacity: 0.7;
		}
		img.icon{
			transform: translate(-50%, -50%) rotateY(0deg);
			opacity: 1;
		}
		.title{
			background: $color-gray;
		}
	}

	&.with-title{
		img.icon{
			top: 45%;
		}
	}
}

// Where
//------------------------------------------------
#iran-map{
	.Provinces {
		path {
			fill:   #BDBDBD;
			cursor: pointer;

			&:hover {
				fill: $color-blue !important;
			}
			&[data-status="active"], &[data-status="active"]:hover{
				fill: $color-green !important;
			}
		}
	}
	.Island path {
		fill: #FFF;
	}
	.Sea .Caspian-Sea, .Sea .Persian-Gulf, .Lake path{
		fill: #2196F3;
	}
	.province-title {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background-color: rgba(#fff, 0.7);
		color: $color-gray;
		border: 1px solid $color-gray-lighter;
		border-radius: 5px;
		font-size: rem(14);
		padding: 0 5px;
	}
}
.province-head{
	font-size: rem(20) !important;
	color: $color-blue !important;
}
table.table.province-details{
	td{
		vertical-align: top;

		div{
			margin-bottom: 5px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


// Faq
//------------------------------------------------
#faq-title-wrapper{
	position: relative;
}
.suggestions{
	display: inline-block;
	opacity: 0;
	visibility: hidden;
	transition: $global-transition;
	width: 100%;
	margin-top: -17px;
	background: #fff;
	position: relative;
	box-shadow: $global-box-shadow;
	border: $form-input-border;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 100;

	.title{
		padding: 20px;
		color: #00BFA5;
		font-weight: $font-weight-medium;
		font-size: rem(14);
		background: #F9FCFF;
	}

	&.active{
		opacity: 1;
		visibility: visible;
	}

	&:after, &:before {
		bottom: 100%;
		right: 30px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #f9fcff;
		border-width: 10px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: darken($form-input-border-color, 5%);
		border-width: 11px;
		margin-right: -1px;
	}

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			display: inline-block;
			width: 100%;
			border-top: $global-border-light;

			a{
				display: inline-block;
				width: 100%;
				padding: 15px 20px;
				font-size: rem(16);
				color: $color-gray;

				&:hover{
					background: #FAFAFA;
					color: $color-blue;
				}
			}
		}
	}
}