/*-----------------------------------------------------------------
- Panel
-----------------------------------------------------------------*/
.panel-calendar{
	.month{
		margin-bottom: 20px;

		.day{
			display: inline-block;
			vertical-align: middle;

			label{
				width:          20px;
				height:         20px;
				border-radius:  50%;
				display:        inline-block;
				vertical-align: middle;
				background:     #E2EDF5;
				border:         1px solid #C4CFD7;
				text-align:     center;
				font-weight:    $font-weight-medium;
				cursor: 		pointer;
				transition: 	$global-transition;
				color: $color-gray-light;

				&:hover{
					background: $color-blue;
					color: #FFFFFF;
					border-color: $color-blue-dark;
				}

				@include bp{
					width: 29px;
					height: 29px;
					padding: 5px;
				}
			}
			input{
				display: none;
				height: 0;
				width: 0;
				overflow: hidden;
				opacity: 0;
				visibility: hidden;

				&:checked + label{
					background: $color-green;
					border-color: $color-green-dark;
					color: #FFFFFF;
				}
			}
		}
	}
	.action .button{
		width: 100%;
	}
}
.year-control{
	width: 100%;
	display: table;
	border: $global-border;
	border-radius: 3px;
	margin-bottom: 20px;

	.col{
		display: table-cell;
		vertical-align: middle;

		.button{
			border: 0;

			@include bp{
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		&:first-child{
			.button{
				border-left: $global-border;
				border-radius: 0 $button-border-radius $button-border-radius 0;

				&:hover{
					border-color: $color-gray-lightest;
				}
			}
		}
		&:last-child{
			.button{
				border-right: $global-border;
				border-radius: $button-border-radius 0 0 $button-border-radius;

				&:hover{
					border-color: $color-gray-lightest;
				}
			}
		}
	}
	h3{
		text-align: center;
		margin-bottom: 0;
		padding: 0 10px;
	}
}

// Ticket
//------------------------------------------------
section.panel.ticket-info{
	article{
		padding: 0;
		display: table;
		width: 100%;
	}
	.item{
		display: table-cell;
		padding: 15px 15px;
		border-left: $global-border-light;

		small{
			color: $color-gray-light;
			display: block;
			margin-bottom: 5px;
		}
		h5{
			margin-bottom: 0;
		}

		&:last-child{
			border-left: 0;
		}
	}
}

section.panel.ticket-content{
	header{
		padding: 15px;
	}
	article{
		padding: 0;
	}
	.ticket-post{
		border-bottom: $global-border-light;

		&:last-child{
			border-bottom: 0;
		}

		.head{
			background: #FAFAFA;
			padding: 10px;
			border-bottom: $global-border-light;

			h5{
				display: inline-block;
				margin-bottom: 0;
			}
			.date{
				display: inline-block;
				vertical-align: middle;
				color: $color-gray-lighter;
				font-size: rem(14);

				&:before{
					content: '|';
					margin: 0 10px;
					vertical-align: middle;
				}
			}
		}
		.content{
			padding: 15px;

			p{
				font-size: rem(14);
			}
		}

		&.support{
			.content{
				background: #FFFEF1;
			}
		}
	}
}

// Table order head
//------------------------------------------------
.table-order-head{
	td{
		@include bp{
			display: block;

			&.pl50{
				padding-left: 12px !important;
			}
		}
	}
}