@media print {

	body, html{
		font-size: 12px;
	}
	body:before{
		display: none;
	}
	footer#main-footer{
		display: none;
	}
	button{
		display: none !important;
	}
	.table-scroll{
		overflow: visible !important;
	}
	table{
		box-shadow: none !important;
	}
	table.total{
		max-width: 50%;
		float: left;
	}
	header#main-header{
		box-shadow: none;
		border-bottom: $global-border;
		text-align: center;
		margin-bottom: 0;
		padding: 10px 0;

		a#logo{
			float: none;

			img{
				width: 50%;
			}
		}
	}
	.part-title{
		margin-bottom: 20px !important;

		.title{
			font-size: rem(20);
		}

		&.panel-title{
			.title{
				font-size: rem(16);
			}
		}
	}

	@page {
		size: landscape
	}
}