/*-----------------------------------------------------------------
- Profile
-----------------------------------------------------------------*/
section.panel.profile-head{
	text-align: center;

	.avatar{
		display: inline-block;
		width: 72px;
		position: relative;
		margin-top: 30px;
		margin-bottom: 20px;

		img{
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
		a.edit{
			display: inline-block;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			padding: 5px;
			background: #98a2a9;
			color: #FFFFFF;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;

			&:hover{
				background: $color-blue;
			}
		}
	}
	.name{
		padding-bottom: 30px;
		border-bottom: $global-border-light;
		margin-bottom: 0;
	}
	ul.profile-menu{
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline-block;
		width: 100%;
		vertical-align: middle;

		@include bp(sm){
			display: inline-block !important;
		}

		li{
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			border-bottom: $global-border-light;
			text-align: right;
			float: right;

			a{
				width: 100%;
				display: inline-block;
				padding: 15px 20px;
				vertical-align: middle;
				border-right: 3px solid transparent;
				font-size: rem(14);
				font-weight: $font-weight-medium;
			}

			&.divider{
				padding: 1px 0;
			}

			&.active{
				background: #FCFDFD;

				a{
					border-right-color: $color-blue;
					color: $color-gray;
				}
			}
		}

		@include bp{
			display: none;
		}
	}
	.res-menu-toggle{
		display: none;
		width: 100%;
		padding: 15px 20px;
		vertical-align: middle;
		border-right: 3px solid transparent;
		font-size: rem(14);
		font-weight: $font-weight-medium;
		text-align: right;
		position: relative;
		border: 0;
		border-bottom: 1px solid transparent;

		h3{
			display: inline-block;
			margin-bottom: 0;
		}
		span{
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%) rotate(0deg);
			font-size: rem(16);
			display: inline-block;
			transition: $global-transition;
		}

		&.active{
			border-color: $global-border-light-color;

			span{
				transform: translateY(-50%) rotate(180deg);
			}
		}

		@include bp{
			display: inline-block;
		}
	}
}

// Profile value
//------------------------------------------------
.profile-value{
	article{
		position: relative;
	}
	h5{
		font-size: rem(14);
		font-weight: 300;
		color: #555;
	}
	h2{
		font-family:$font-family-iran;
		font-weight: $font-weight-bold;
		color: $color-blue;
		font-size: rem(36);

		small{
			font-size: rem(20);
			color: #777777;
		}
	}
	a.button{
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
	}

	@include bp{
		a.button{
			position: relative;
			top: 0;
			left: 0;
			transform: none;
			width: 100%;
			margin-top: 10px;
		}
	}
}
tr.order-row{
	.toggle{
		button{
			font-size: rem(16);

			&:hover{
				border-color: $color-gray-lighter;
			}
			&:before{
				display: inline-block;
				transform: rotate(0deg);
				transition: $global-transition;
			}
		}
		&.toggled{
			background: #FAFAFA;

			button{
				border-color: $color-blue;
				background: #FFFFFF !important;

				&:before{
					transform: rotate(180deg);
				}
			}
		}
	}
	&.focus{
		background: #fffdf3;
	}
}
tr.order-detail{
	display: none;

	&.open{
		display: table-row;
	}
	td{
		padding: 20px;
		background: #FAFAFA;

		table{
			box-shadow: none;
			background: #FFFFFF;

			td, th{
				background: #FFFFFF !important;
			}
			.product-row .title{
				font-size: rem(14);
			}
		}
	}
}

// Codes
#new-code-modal{
	.gift-inputs{
		display: table;
		width: 100%;
		text-align: right;
		table-layout: fixed;
		direction: ltr;

		.wrap{
			display: table-cell;
			padding: 0 2px;
		}
		input{
			text-align: center;
			font-size: rem(18);
			font-weight: $font-weight-bold;
			color: $color-blue;
			margin: 0 3px;

			&::-webkit-input-placeholder {
				font-size: rem(20);
				color: #aaa;
				letter-spacing: 4px;
			}
			&::-moz-placeholder {
				font-size: rem(20);
				color: #aaa;
				letter-spacing: 4px;
			}
			&:-ms-input-placeholder {
				font-size: rem(20);
				color: #aaa;
				letter-spacing: 4px;
			}
			&:-moz-placeholder {
				font-size: rem(20);
				color: #aaa;
				letter-spacing: 4px;
			}
		}
	}
	button{
		margin-top: 10px;
		margin-left: 5px;
	}
	.result{
		margin-left: 5px;
		margin-top: 20px;

		.message{
			border: 1px dashed $global-border-color;
			text-align: center;
			padding: 5px;
			font-size: rem(13);

			&.success{
				border-color: $color-green;
				color: $color-green;
			}
			&.error{
				border-color: $color-red;
				color: $color-red;
			}
		}
	}
}