/*-----------------------------------------------------------------
- Product
-----------------------------------------------------------------*/

// Product item
//------------------------------------------------
.product-item{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	position: relative;
	margin-bottom: 50px;
	border-radius: 0 0 0 20px;
	background: #FFFFFF;
	background-image: linear-gradient(135deg, #FFFFFF 50%, #F1F1F1 100%);
	border: 3px solid #EBEBEB;
	box-shadow: 0 5px 10px 0 rgba(185,193,199,0.43), inset 0 0 3px #fff;

	.img{
		height: calc( 100% + 60px );
		position: absolute;
		margin-top: 5px;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;

		img{
			height: 100%;
			width: auto;
		}
	}
	.content{
		padding: 20px 220px 20px 20px;

		.title{
			font-family:$font-family-iran;
			font-weight: $font-weight-bold;
			font-size: rem(28);
			color: #222;
			position: relative;
			margin-bottom: 10px;
		}
		p{
			font-size: rem(14);
			color: #646464;
			margin-bottom: 10px;
			line-height: 1.5;
		}
		.colors{
			.item{
				width: 30px;
				height: 30px;
				display: inline-block;
				border-radius: 10px;
				@include box;

				span{
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					margin: 4px;
					border-radius: 10px;
					border: $global-border;
				}
			}
		}
		a{
			height: 34px;
			padding: 9px 20px;
			font-family: Iranyekan;
		}
	}

	// Ribbon
	.ribbon{
		width: 170px;
		padding: 10px;
		position: absolute;
		text-align: center;
		color: #fff;
		top: 20px;
		left: -45px;
		transform: rotate(-45deg);
		background: $color-blue;
		line-height: 1;

		@each $color, $value in $colors{
			&.#{$color} {
				background: $value;
			}
		}
	}

	// Shop
	&.shop-item{
		background-position: 135% 50%;

		.price{
			margin-top: 20px;
			color: $color-green;

			ins, del{
				font-size: rem(18);
				font-weight: $font-weight-bold;
			}
			del{
				color: $color-gray-lighter;
				margin-left: 5px;
			}
			ins{
				text-decoration: none;
			}
		}
	}

	@include bp{
		background: #FFFFFF;

		.img{
			width: 100%;
			padding: 15px;
			position: static;
			height: auto;
			transform: none;
			margin-top: -50px;

		}
		.content{
			width: 100%;
			padding: 0 15px 15px;

			a{
				margin: 10px 0;
				width: 100%;
			}
		}
	}
}

/// Head
.product-head{
	margin-top: -50px;
	padding-top: 120px;
	background: #FAFAFA;
	background: radial-gradient(circle, rgba(#eef3f5,1) 0%, rgba(#fff,1) 140%);
	position: relative;
	z-index: 10;
	overflow: hidden;
	border-bottom: 1px solid #f0f2f5;

	.head-wrapper{
		border-bottom: 0;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		box-shadow: 0 -5px 25px rgba(#0089ff, 0.12);
		background: #FFFFFF;
		border-radius: 10px 10px 0 0;

		.img{
			margin-top: -100px;
			width: 40%;
			float: right;
			padding: 0 50px;
		}
		.content{
			float: right;
			width: 60%;
			padding-left: 30px;
			padding-bottom: 50px;
		}
		ul{
			padding-right: 20px;

			li{
				font-size: rem(14);
				color: $color-gray;
				margin-bottom: 5px;
			}
		}
		.colors{
			.item{
				width: 30px;
				height: 30px;
				display: inline-block;
				border-radius: 10px;
				@include box;

				span{
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					margin: 4px;
					border-radius: 10px;
					border: $global-border;
				}
			}

			&.product-landing-colors{
				a.item{
					border: 1px solid transparent;

					&:hover{
						border-color: $color-gray-lighter;
					}
					&.active{
						border-color: $color-blue;
					}
				}
			}
		}
		.colors-gallery ul{
			padding: 0 !important;
		}
		ul.color-item-gallery{
			position: relative;

			& + .rslides_tabs{
				display: inline-block;
				width: 100%;
				padding: 0;
				margin-bottom: 30px;
				text-align: center;

				li{
					display: inline-block;
					margin: 0 2px;
					position: static;
					width: auto;
					float: none;

					a{
						display: inline-block;
						text-indent: 9999px;
						overflow: hidden;
						width: 20px;
						height: 20px;
						background: $color-blue;
						border-radius: 50%;
						margin-left: 5px;
						vertical-align: middle;
						opacity: 0.5;
						transform: rotateY(0deg);
					}

					&.rslides_here{
						a{
							opacity: 1;
							transform: rotateY(180deg);
						}
					}
				}
			}
		}
	}
	.part-title{
		text-align: right;
		margin-bottom: 20px;

		.title{
			color: #222;

			&:before{
				display: none;
			}
		}
	}

	@include bp{
		padding-top: 70px;

		.head-wrapper{
			.img{
				width: 100%;
				margin-top: -50px;
			}
			.content{
				width: 100%;
				padding: 0 20px 20px;

				.part-title{
					margin-top: 0;
				}
				.actions{
					margin-top: 20px !important;

					a{
						margin: 0 0 5px 5px;
					}
				}
			}
		}
	}
}

.product-part{
	text-align: left;
	display: inline-block;
	width: 100%;
	border-radius: 0;
	border-top: 1px solid #f0f2f5;
	box-shadow: 0 5px 25px rgba(#0089ff, 0.12);
	margin-top: -1px;
	padding: 0;
	overflow-x: hidden;

	.content{
		margin: 0 auto 30px;
		text-align: right;
		padding-top: 0;

		.part-title{
			margin-bottom: 30px;
			position: relative;

			.hide-title{
				position: absolute;
				top: -75px;
				left: 50%;
				transform: translateX(-50%);
				font-size: rem(100);
				color: #000000;
				opacity: 0.05;
				font-family: $font-family-iran;
				font-weight: $font-weight-bold;
				z-index: 1;
				white-space: nowrap;
			}
			.title{
				color: #222222;
			}
		}

		.content-wrapper{
			width: 70%;
			margin: 20px auto;

			@include bp{
				width: 90%;
			}

			.part-title{
				text-align: right;
				margin: 20px 0 0;

				.subtitle{
					color: $color-blue;
					margin-bottom: 15px;

					&:before{
						content: '';
						width: 10px;
						height: 10px;
						display: inline-block;
						vertical-align: middle;
						margin-left: 10px;
						background: $color-gray-lightest;
					}
				}
			}
			p{
				color: $color-gray-dark;
			}
		}

		hr{
			width: 70%;
			margin: 30px auto;
			border: 0;
			border-top: 1px dashed $color-gray-lightest;
		}

		img{
			width: 100%;
			height: auto;
			vertical-align: middle;
			margin: 20px 0;
		}

		.specs{
			.part-title{
				.subtitle{
					margin-bottom: 5px;
				}
			}
			table tr{
				td{
					font-size: rem(16);

					&:first-child{

					}
					&:last-child{
						font-weight: $font-weight-bold;
						color: $color-gray-light;
					}
				}
			}
		}
		a.download{
			display: inline-block;
			border-radius: 10px;
			border: $global-border-light;
			padding: 30px;
			text-align: center;
			text-decoration: none;
			width: 40%;
			margin: 0 10px;

			img{
				height: 100px;
				margin-bottom: 30px;
			}

			&:hover{
				background: #fafcff;
				box-shadow: $global-box-shadow;
			}

			@include bp{
				width: 100%;
				margin: 0 0 20px;
			}
		}
	}

	&.last{
		margin-bottom: -50px;
	}
}

// Slider
//------------------------------------------------
.product-gallery{
	position: relative;

	ul.rslides{
		li{
			height: 600px;
			background-position: center center;
			background-size: cover;

			@include bp{
				height: 195px;
			}
		}
	}
	.rslides_tabs{
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			display: inline-block;

			a{
				display: inline-block;
				text-indent: -9999px;
				overflow: hidden;
				width: 20px;
				height: 20px;
				background: rgba(#fff, 0.7);
				border: 2px solid #fff;
				margin: 0 3px;
				transform: rotateY(0deg);
			}

			&.rslides_here{
				a{
					background: $color-blue;
					border-color: #fff;
					transform: rotateY(180deg);
				}
			}
		}
	}
}

.products-compare{
	th.head{
		text-align: center;
		padding: 20px;

		img{
			width: 80px;
			max-width: 100%;
			height: auto;
			vertical-align: middle;
			margin-bottom: 20px;
		}
		.title{
			font-size: rem(16);
			font-weight: $font-weight-bold;
			color: $color-gray;
			vertical-align: middle;
			margin-bottom: 10px;
		}
		.price{
			text-align: center;
			font-size: rem(16);
			font-weight: $font-weight-bold;
			color: $color-green;
			margin-bottom: 15px;
		}
	}
	tr.row-title td{
		font-size: rem(20);
		color: $color-gray-lighter;
		font-family: $font-family-iran;
		font-weight: $font-weight-bold;
		padding-right: 20px;

		&:before{
			content: '';
			width: 10px;
			height: 10px;
			background: $color-blue;
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
		}
	}
	tr.row-data{
		td{
			font-size: rem(14);
			color: $color-gray;
			font-weight: $font-weight-normal;
			text-align: center;

			&:first-child{
				width: 150px;
				background: #fcfdfd;
				text-align: right;
				font-weight: $font-weight-bold;
				padding-right: 20px;
			}
		}
	}
}

// Product single
//------------------------------------------------
.product-single{
	@include box;

	.product-single-part{
		padding: 50px;
		border-bottom: 1px solid #E7E9F4;

		&:first-child{
			padding-top: 30px;
		}
		&:last-child{
			border-bottom: 0;
		}

		@include bp{
			padding: 20px;
		}
	}
	.product-intro{
		ul{
			padding-right: 20px;

			li{
				font-size: rem(14);
				color: $color-gray;
				margin-bottom: 5px;
			}
		}
		.colors{
			.item{
				width: 30px;
				height: 30px;
				display: inline-block;
				border-radius: 10px;
				@include box;

				span{
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					margin: 5px;
					border-radius: 10px;
					border: $global-border;
				}
			}
		}
		.part-title{
			text-align: right;
			margin-bottom: 20px;

			.title{
				color: #222;

				&:before{
					display: none;
				}
			}
		}
		.qty{
			max-width: 100px;
			margin-top: 10px;
		}
		.price{
			margin-top: 20px;

			del{
				display: block;
				font-size: rem(16);
				color: #777;
				margin-bottom: 5px;
			}
			ins{
				font-size: rem(28);
				color: $color-red;
				font-weight: $font-weight-bold;
				text-decoration: none;
			}
		}
		.actions{
			margin-top: 20px !important;
		}
	}
	.specs{
		.part-title{
			text-align: right;
			margin: 20px 0 0;

			.subtitle{
				color: $color-blue;
				margin-bottom: 5px;

				&:before{
					content: '';
					width: 10px;
					height: 10px;
					display: inline-block;
					vertical-align: middle;
					margin-left: 10px;
					background: $color-gray-lightest;
				}
			}
		}
		table tr{
			td{
				font-size: rem(16);

				&:first-child{

				}
				&:last-child{
					font-weight: $font-weight-bold;
					color: $color-gray-light;
				}

				@include bp{
					font-size: rem(14);
				}
			}
		}
	}
}

.color_checkbox{
	display: inline-block;
	margin-left: 5px;

	input{
		height: 0;
		width: 0;
		display: none;
		overflow: hidden;
		opacity: 0;

		& + label{
			display: inline-block;
			border: 2px dashed #e7e7e7;
			padding: 5px 10px;
			border-radius: 5px;
			cursor: pointer;
			font-weight: $font-weight-medium;
			transition: $global-transition;

			span{
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
				border-radius: 10px;
				margin-left: 5px;
				border: $global-border;
				transition: $global-transition;
			}
		}
		&:checked + label{
			border: 2px solid  $color-blue;
		}
	}
}

.pager-wrapper{
	padding: 0 46px;
	position: relative;

	@include bp{
		padding: 0 20px;
	}

	button.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		border: 0;
		background: #FFFFFF;
		padding: 10px 4px;
		font-size: rem(40);
		outline: 0;
		cursor: pointer;
		color: #777;

		&:hover{
			color: $color-blue;
		}
		&.slick-disabled{
			pointer-events: none;
			opacity: 0.5;
		}

		&.prev{
			left: -23px;
		}
		&.next{
			right: -23px;
		}
	}
}
.product-single-gallery .gallery-pager{
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
	direction: ltr;

	a{
		display: inline-block;
		vertical-align: middle;
		outline: 0;
		border: 2px dashed #e7e7e7;
		margin: 0 2px;
		padding: 3px;

		img{
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}
	.rslides_here a{
		border: 2px solid  $color-blue;
	}
}

// Products filters
//------------------------------------------------
.product-filter{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	@include box;
	position: relative;
	margin-bottom: 30px;

	> .title{
		display: inline-block;
		width: 100%;
		padding: 15px 15px;
		color: $color-gray;
		font-size: rem(14);
		font-weight: $font-weight-bold;
		border-bottom: 1px dashed $color-gray-lightest;
	}
	> .content{
		padding: 20px;

		.field{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.price-filter{
	.content{
		padding-right: 30px;
		padding-left: 30px;
	}
	.values{
		display: inline-block;
		width: 100%;
		margin: 15px 0 0;

		.from, .to{
			font-size: rem(13);
			color: $color-gray;
		}
		.from{
			float: right;
			margin-right: -15px;
		}
		.to{
			float: left;
			margin-left: -15px;
		}
	}
}
.search-filter{
	input{
		box-shadow: none;
	}
}