html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: IRANSans;

    .container {
      height: 100%;
      width: 100%;
      display: table;
      background-image: url("../images/backgrounds/walnut_shell.jpg");
      background-position: center;
      background-size: cover;

      .content {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;

        .box {
          $boxShadow: 0px 3px 4px 3px rgba(0,0,0, .4);
          margin: auto;
          box-sizing: content-box;
          max-width: 700px;
          background-color: #fff;
          margin-top: 270px;
          text-align: center;
          padding: 20px 25px;
          border-radius: 3px;
          -webkit-box-shadow: $boxShadow;
          -moz-box-shadow: $boxShadow;
          box-shadow: $boxShadow;

          .icon {
            margin-top: 0;
            margin-bottom: 0;
            color: #ccc;
          }

          hr {
            width: 80%;
            opacity: .1;
            margin-top: 15px;
            margin-bottom: 15px;
          }

          .links {
            > * {
              color: #7A9212;
              text-decoration: none;
            }
          }

        }
      }
    }
  }
}
