$assetsDir: "../";
$juiDir: "#{$assetsDir}libs/jquery-ui/";

@import "front-basement";
@import "yt-accordion";
//@import "bootstrap-select/bootstrap-select";

.hidden {
  display: none !important;
}

.help-block {
  font-size: 0.8em;
  padding: 5px 0;
  float: left;
}

.form-group.has-error .help-block {
  color: #e70000;
}

.round-image{
  border-radius: 50%;
  overflow: hidden;
}

/********************* jquery-ui *********************/

.form-buttonset .ui-checkboxradio-icon {
  display: none;
}

.ui-datepicker-title select {
  display: inline-block;
  padding: 0 !important;
  font-size: 0.8em !important;
}

.ui-slider .ui-slider-range {
  background-color: #125dad;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border-color: #125dad !important;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  height: 30px !important;
}

.ui-widget.ui-widget-content {
  border-color: #034EA2 !important;
}

/********************* jquery-ui end *********************/

.slider-container .min-label,
.slider-container .max-label {
  font-size: 12px;
}

.score-box {
  float: right;
  padding: 0 50px;
}

.score-box-inner {
  background-color: #ffffff;
  //float: right;
  width: 100%;
  height: 130px;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  max-width: 400px;
  margin: 0 auto;
}

.score-box .score-box-icon {
  width: 30%;
  float: right;
  padding-top: 20px;
  font-size: 40px;
}

.score-box .score-box-title,
.score-box .score-box-score {
  width: 70%;
  float: left;
  padding: 15px 5px 0;
}

.score-box .score-box-score {
  font-size: 20px;
  padding-bottom: 10px;
}

.score-box.red .score-box-inner {
  color: #e75668;
  border-color: #e75668;
}

.score-box.green .score-box-inner {
  color: #7a9212;
  border-color: #7a9212;
}

.score-box.blue .score-box-inner {
  color: #034ea2;
  border-color: #034ea2;
}

.score-box.gray .score-box-inner {
  color: #a0a0a0;
  border-color: #a0a0a0;
}

.score-box.dark .score-box-inner {
  color: #7089a5;
  border-color: #7089a5;
}

.button-link {
  font-size: 12px;
}

.fa {
  font-family: FontAwesome !important;
}

.shop-icon {
  background: url("#{$assetsDir}/images/shop-icons.png") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("#{$assetsDir}/images/shop-icons.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-position-x: 0%;
  background-position-y: 0%;
  display: inline-block;
  position: relative;
}

@for $i from 5 to 29 {
  .f#{$i} {
    font-size: 1px * $i;
    @if ($i<10) {
      font-weight: 100;
    }
  }
}

.icon-button,
.icon-button:hover,
.icon-button:active {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 5px;
  line-height: 1.1;
  font-size: 14px;
  background-color: transparent;
}

.team-item.leader {
  min-height: 150px;
}

.radio {
  input {
    display: none;
  }

  label {
    position: initial;
    //  padding-right: 5px !important;
    //  margin-left: 20px !important;
  }

  &:not(:last-of-type) {
    margin-left: 10px;
  }
}

select {
  padding: .5rem .75rem .5rem 25px;
}

/********************* dialog *********************/

.has-dialog {
  position: relative !important;
  min-height: 300px !important;
}

.yt-dialog {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8);
}

.yt-dialog-body {
  //background-color: #fff;
  //width: 70%;
  width: 100%;
  //max-width: 400px;
  //height: auto;
  height: 100%;
  //margin: 10% auto;
  //-webkit-border-radius: 3px;
  //-moz-border-radius: 3px;
  //border-radius: 3px;
  //border: 1px solid #e1e1e1;
  //padding: 10px 15px;
  text-align: center;
  position: relative;
}

.yt-dialog-image {
  padding: 15px 0;
  position: absolute;
  left:50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.yt-dialog-text {
  font-size: 14px;
  padding: 10px 0;
  display: none;
}

/********************* dialog end *********************/

/********************* bootstrap :) *********************/
.collapse {
  display: none;
}

/********************* bootstrap end :) *********************/

/********************* Player List *********************/

.player-list {
  margin-right: -3px;
  margin-left: -3px;

  .player-list-item {
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 10px;

    &.current {
      filter: grayscale(100%);

      .player-list-item-inner {
        border-color: #e75668;
      }

      .player-list-item-playing {
        opacity: 1;
      }
    }

    &:not(.current) {
      .player-list-item-inner {
        cursor: pointer;
      }
    }

    &:hover, &.current {
      .player-list-item-text {
        opacity: 1;
      }
    }

    .player-list-item-inner {
      border: 2px solid #e1e1e1;
      width: 100%;
      height: 150px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .player-list-item-text {
      @extend .text-center;
      position: absolute;
      bottom: 0;
      font-size: 11.3px;
      padding: 3px 5px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .player-list-item-playing {
      opacity: 0;
      font-weight: 600;
    }

    * {
      $transition: all 1s;
      -webkit-transition: #{$transition};
      -moz-transition: #{$transition};
      -ms-transition: #{$transition};
      -o-transition: #{$transition};
      transition: #{$transition};
    }
  }
}

/********************* Player List end *********************/

/********************* Product List *********************/

#category-header{
  .field.sort{
    @media (max-width: 767px) {
      float: none;
    }
  }

}

.product-single .product-wares {
  .product-ware-item {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
    button.add-to-cart {
      padding: 6px 12px;
      line-height: 11px;
      height: 30px;
    }

    input {
      height: 30px;
    }

    .visible-xs {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
.product-list{
  .product-item{
    .content{
      overflow: hidden;
      h6{
        white-space: nowrap;
      }
    }
    .price{
      min-width:116px;
    }
  }
}

/********************* Product List end *********************/

/********************* Product List Filter *********************/
.sidebar-filter{
  .filter-opener{
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    border-radius: 0;
    //padding: 13px;
    z-index: 9990;
    box-shadow: 1px -2px 4px rgba(0,0,0,0.2);
    @media (min-width: 768px) {
      display: none;
    }
  }
  .filter-container{
    .filter-panel--close{
      display: none;
    }
    .filter-submit{
      display: none;
    }
    @media (max-width: 767px) {
      position: fixed;
      overflow-y: auto;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      margin: 0;
      transition: all 0.2s ease-in-out;
      &.opened{
        left: 0;
      }
      .category-filters{
        border-radius: 0;
        border: 0;
      }
      .filter-panel--close {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #333;
        opacity: 0.7;
        font-size: 18px;
        cursor: pointer;
      }
      .filter-submit{
        display: block;
      }
    }
  }
}
/********************* Product List Filter end *********************/


/********************* Map in Form *********************/

.map-in-form {
  height: 400px;
  position: relative;

  .not-allowed-message {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: justify;
    padding: 5px 20px;
    background-color: #fff;
  }

  .map-in-form-cover {
    background-color: rgba(255, 255, 255, .6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;

    .map-in-form-cover-alert {
      width: 100%;
      background-color: rgba(221, 244, 48, .6);
      height: 100px;
      margin-top: calc(50% - 50px);
      padding: 40px 15px;
      text-align: center;
      font-weight: 500;
    }
  }
}

/********************* Map in Form end *********************/

/********************* Addresses List *********************/

.selectable-address input[type="radio"]:not(:checked) + label .alert {
  display: none;
}

/********************* Addresses List end *********************/

/********************* Header *********************/

.page-content.profile header.profile-header .profile-tabs {
  padding: 0;
}

/********************* Header end *********************/

/********************* Cart *********************/
.cart-full {
  table.table {
    tr {
      td {
        &.price {
          text-align: center;

          table {
            tr {
              td {
                &:nth-child(2) {
                  text-align: left;
                }

                &[colspan="2"] {
                  text-align: center;
                  color: #748b11;
                  border-top: 1px dashed;
                }
              }
            }
          }
        }

        table {
          width: 100%;
          height: 100%;
          tr {
            td {
              border: none;
            }
          }
        }
      }
    }
  }
}

/********************* Cart end *********************/

/********************* Disable Box *********************/
.disabled-box {
  pointer-events: none;
  opacity: 0.4;
}

/********************* Disable Box end *********************/

/********************* Purchase - User *********************/

/********************* Purchase - User end *********************/

/********************* Purchase - Radio Table *********************/

.radio-table {
  border-collapse: collapse;

  * {
    font-size: 14px;
  }
  td, th {
    border: 1px solid #E1E1E1;
  }
  th {
    color: #a0a0a0;
  }
  td {
    color: #034EA2;
  }
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: #f9fafd;
      }
    }
  }
}

/********************* Purchase - Radio Table end *********************/

/********************* Purchase - Payment *********************/

/********************* Purchase - Payment end *********************/



/********************* Show/hide Classes *********************/
.sm-show{
  display: none;

  @media (max-width: 991px) {
    display: inline-block;
  }
}
.sm-hide{
  @media (max-width: 991px) {
    display: none;
  }
}
/********************* Show/hide Classes end *********************/

/********************* Navbar Overwrite *********************/

@media (min-width: 992px) {
  header#main-header #logo-part #logo{
    float: left;
  }
  header#main-header #logo-part ul.menu {
    float: left;
    padding: 0;
    margin: 30px 35px 0 0;
    list-style: none;
    position: relative;
  }
  header#main-header #logo-part ul.menu.menu-full{
    float: none;
    margin: 0 0 0 35px;
    width: 100%;
  }
  header#main-header #logo-part ul.menu > li {
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    border: 1px solid transparent;
  }
  header#main-header #logo-part ul.menu > li a {
    font-size: 1rem;
    font-weight: normal;
    color: #757575;
  }
  header#main-header #logo-part ul.menu > li a:hover {
    color: #7A9212;
  }
  header#main-header #logo-part ul.menu > li ul.sub-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    min-width: calc(100% + 50px);
    border-radius: 0 3px 3px 3px;
    border: 1px solid #E8EFF2;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  header#main-header #logo-part ul.menu > li ul.sub-menu:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ffffff;
    z-index: 110;
  }
  header#main-header #logo-part ul.menu > li ul.sub-menu li a {
    font-size: 0.875rem;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    padding: 5px 10px;
  }
  header#main-header #logo-part ul.menu > li.has-child {
    transition: all 0.3s ease-in-out;
  }
  header#main-header #logo-part ul.menu > li.has-child:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ffffff;
    z-index: 110;
  }
  header#main-header #logo-part ul.menu > li.has-child:hover {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
    border-color: #E8EFF2;
  }
  header#main-header #logo-part ul.menu > li.has-child:hover > a {
    color: #7A9212;
  }
  header#main-header #logo-part ul.menu > li.has-child:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
  }
  header#main-header #logo-part{
    ul.menu{
      .search-form{
        width: 100%;
        position: absolute;
        background: #fff;
        z-index: 20;
        padding: 0;
        display: none;
        opacity: 0;
        transition: all 0.35s;
        &.opened{
          display: block;
          opacity: 1;
          transition: all 0.35s;
        }
        input{
          padding:0 40px;
        }
        button{
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          bottom: 0;
          width: 40px;
          background: transparent;
          box-shadow: none;
          em{
            font-size: 20px;
          }
        }
        #close-search{
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          color: #666;
          cursor: pointer;
          &:hover{
            color: #7A9212;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 991px) {
  header#main-header #logo-part ul.menu {
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
  }
  header#main-header #logo-part ul.menu > li {
    display: inline-block;
    padding: 5px 8px;
  }
  header#main-header #logo-part ul.menu > li a {
    font-size: 0.875rem;
  }
}

/*-----------------------------------------------------------------
- Responsive menu
-----------------------------------------------------------------*/
@media (max-width: 991px) {
  body {
    position: relative;
  }
  body a#close-menu {
    position: absolute;
    top: -100px;
    right: 15px;
    z-index: 9999;
    font-size: 1.875rem;
    color: #ffffd0;
    transition: all 0.2s ease-in-out;
  }
  body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: inline-block;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  body.menu-opened {
    overflow: hidden;
  }
  body.menu-opened:before {
    opacity: 1;
    visibility: visible;
  }
  body.menu-opened a#close-menu {
    top: 15px;
  }
  header#main-header #logo-part ul.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
  }
  header#main-header #logo-part ul.menu li {
    width: 100%;
    text-align: left;
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
  }
  header#main-header #logo-part ul.menu li a:not(.sub-toggle) {
    display: inline-block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: normal;
    color: #757575;
    padding: 10px 30px;
  }
  header#main-header #logo-part ul.menu li a:not(.sub-toggle):hover {
    color: #7A9212;
  }
  header#main-header #logo-part ul.menu li a.sub-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 1.125rem;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
  }
  header#main-header #logo-part ul.menu li a.sub-toggle.toggled {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  header#main-header #logo-part ul.menu li ul.sub-menu {
    background: #f3ffe6;
    display: none;
  }
  header#main-header #logo-part ul.menu.opened {
    left: 0;
  }
  header#main-header #logo-part{
    ul.menu{
      .search-form{
        width: 100%;
        background: #fff;
        z-index: 20;
        padding: 0 15px;
        display: block;
        transition: all 0.35s;
        form{
          position: relative;
        }
        &.opened{
          display: block;
          opacity: 1;
          transition: all 0.35s;
        }
        input{
          padding:0 40px;
        }
        button{
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          bottom: 0;
          width: 40px;
          background: transparent;
          box-shadow: none;
          em{
            font-size: 20px;
          }
        }
        #close-search{
          display: none;
        }
      }
    }
  }
}

/********************* Navbar Overwrite end *********************/


/********************* Slider Nav *********************/

a.rslides_nav.rslides1_nav {
  position: absolute;
  top: calc(50% - 42.5px); // Nav height is 85px now, hence half of it is 42.5px
  z-index: 3;
  opacity: 0.7;
  //background-color: #000;
  background-color: transparent;
  color: #fff;
  font-size: 45px;
  padding: 0 15px;
  text-align: center;
  & em{
    display: inline-block;
    margin-top: 16px;
  }
  @media (max-width: 425px) {
    font-size: 36px;
    padding: 0 10px;
    top:calc(50% - 36px); // Nav height is 72px now, hence half of it is 36px
  }
  &.prev{
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &.next{
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

/********************* Slider Nav end *********************/

/********************* Tabs *********************/
.nav-tabs{
  margin: 0;
  padding: 0;
  list-style: none;
  border-width: 0;
  border-bottom: 1px solid #E1E1E1;
  li{
    float: left;
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
    margin-right: -1px;
    a{
      display: block;
      font-family: "Yekan", IRANSans, sans-serif;
      font-size: 1rem;
      height: 45px;
      padding: 5px 28px;
      position: relative;
      color: #777;
      text-align: center;
      background-color: #E1E1E1;
      border: 1px solid #E1E1E1;
      transition: 200ms ease;
      -ms-transition: 200ms ease;
      -moz-transition: 200ms ease;
      -webkit-transition: 200ms ease;
      box-shadow: 0 2px 0 transparent inset;
      -webkit-box-shadow: 0 2px 0 transparent inset;
      -ms-box-shadow: 0 2px 0 transparent inset;
      -o-box-shadow: 0 2px 0 transparent inset;
    }
    &.active{
      a{
        border-bottom: 1px solid transparent;
        color: #7A9212;
        background-color: #fff;
      }
    }
  }
}
.tab-content-wrapper{
  border:1px solid #E1E1E1;
  border-top:0;
  padding: 30px 20px;
  @media (max-width: 450px) {
    padding: 30px 5px;
  }
  .tab-content{
    display: none;
    &.show{
      display: block;
    }
  }
}
/********************* Tabs end *********************/

/********************* Comments *********************/
.comments{
  padding: 13px;
  @media (max-width: 424px) {
    padding: 13px 0;
  }
  .comment{
    position: relative;
    background: 0 0;
    margin: 20px 0 0;
    padding: 10px 0 0;
    border: none;
    border-top: none;
    line-height: 1.2;
    .user-avatar{
      display: block;
      width: auto;
      height: auto;
      float: left;
      margin: 3px 0 0;
      .avatar{
        width: 50px;
        height: 50px;
        @media (max-width: 424px) {
          width: 40px;
          height: 40px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .contents{
      margin-left: 60px;
      @media (max-width: 424px) {
        margin-left: 50px;
      }
      .user-name{
        //font-size: em(16);
        font-weight: 500;
        color: #7A9212;
      }
      .time{
        margin-left: 5px;
        color: #333;
        opacity: 0.5;
        //font-size: em(13);
      }
      .comment-text{
        margin: 5px;
        font-weight: 300;
        color: #333;
      }
      .actions{
        .reply{
          color: #656565;
          opacity: 0.5;
          i{
            margin-right: 4px;
          }
        }
      }
    }
    .comments{
      padding: 10px 0;
      padding-left: 10px;
      margin-bottom: 6px;
      margin-left:20px;
      background: #eee;
      .comment{
        margin-top: 0;
      }
    }
  }
  .reply-comment{
    margin: 20px 0 0;
    label{
      display: none;
    }
    .reply-input {
      display: block;
      margin: 5px 0;
      width: 100%;
      border: 1px solid #ccc;
      padding: 5px 10px;
      border-radius: 3px;
      //font-size: em(16);
      font-weight: 400;
      color: #333;
      //line-height: em(20);
    }
    textarea.reply-input{
      padding: 15px 20px;
      height: 100px;
      resize: none;
    }
    .reply-preview{
      padding: 10px 20px;
      padding-right: 30px;
      margin-bottom: 10px;
      background: #f1f6da;
      border: 1px solid #c1c7a8;
      position: relative;
      border-radius: 5px;
      color: #333;
      &:after{
        content: "";
        position: absolute;
        top:100%;
        bottom: 0;
        right: 5%;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #c1c7a8;
      }
      .reply-icon{
        opacity: 0.7;
        margin-right: 5px;
      }
      .reply-close{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
/********************* Comments end *********************/

/********************* Product Slide *********************/

.product-images{
  ul.thumbnails{
    &.no-padding{
      padding: 0;
    }
  }
}
/********************* Product Slide end *********************/

/********************* Rating alert *********************/

$unchecked-star: '\f006';
$unchecked-color: #888;
$checked-star: '\f005';
$checked-color: #7A9212;

.rating-alert{
  background-color: #f1f1f1;
  padding: 20px 30px 10px;
  border-radius: 2px;

  .star-cb-group {
    float: right;
    /* remove inline-block whitespace */
    font-size: 0;
    * {
      font-size: 1.5rem;
    }
    /* flip the order so we can use the + and ~ combinators */
    & > input {
      display: none;
      & + label {
        /* only enough room for the star */
        display: inline-block;
        overflow: hidden;
        text-indent: 9999px;
        width: 1em;
        white-space: nowrap;
        cursor: pointer;
        &:before {
          display: inline-block;
          text-indent: -9999px;
          content: $unchecked-star;
          color: $unchecked-color;
        }
      }
      &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 1px #333;
      }
    }

    /* the hidden clearer */
    & > .star-cb-clear + label {
      text-indent: -9999px;
      width: .5em;
      margin-left: -.5em;
    }
    & > .star-cb-clear + label:before {
      width: .5em;
    }

    &:hover > input + label:before {
      content: $unchecked-star;
      color: $unchecked-color;
      text-shadow: none;
    }
    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
      content: $checked-star;
      color: $checked-color;
      text-shadow: 0 0 1px #333;
    }
  }
}
/********************* Rating alert end *********************/

/********************* Product Cover *********************/
.cover-image {
  width: 100%;
  height: 500px;
  height: 50vh;
  z-index: -1;
  position: relative;
  overflow: hidden;
  margin-top: -40px;
  @media (max-width: 767px) {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cover-layout{
  @media (min-width: 768px){
    margin-top: -200px;
    margin-top: -20vh;
  }
  .container{
    @media (min-width: 768px){
      background-color: #fff;
      padding-top: 15px;
      box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.16);
    }
  }
}
/********************* Product Cover end *********************/

/********************* Toast message *********************/

.toast-message{
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 400px;
  font-size: 16px;
  transition: all .5s;
  z-index: 9999;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  @media (max-width: 424px) {
    width: calc(100% - 20px);
  }
  &.success{
    background: #64DD17;
    background: #7A9212;
  }
  &.danger{
    background: #F44336;
    background: #E75668;
  }
  .message{
    color: #fff;
    padding: 20px 30px;
    text-align:center;
  }
  .close{
    position: absolute;
    top:33%;
    right: 15px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.2;
    cursor: pointer;
    &::after{
      content: "×";
    }
    &:hover{
      opacity: 0.6;
    }
  }
}

/********************* Toast message end *********************/


/********************* Cart Mobile *********************/
.xs-hide{
  @media (max-width: 767px) {
    display: none;
  }
}
.cart-total-container{
  @media (max-width: 767px) {
    max-width: 500px;
    margin:0 auto;
  }
  .table.table.bordered.cart-total{
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.product-list--tablet{
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  .product-card {
    max-width: 500px;
    position: relative;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
    border-radius: 3px;
    margin: 9px auto;
    /* background: #f7f5f5; */
    border: 1px solid #e1e1e1;
    .remove-row{
      display: inline-block;
      width: 25px;
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .product-header{
      padding: 20px 40px;
      border-bottom: 1px solid #e1e1e1;
      text-align: center;

      a{
        display: inline-block;
        h5{
          margin-top: 10px;
        }
      }
    }
    .product-details{
      .col-half{
        display: inline-block;
        width: 50%;
        height: 80px;
        float: left;
        text-align: center;
        font-size: 0.85em;
        &:nth-child(2){
          border-left: 1px solid #e1e1e1;
        }
        span.title{
          display: inline-block;
          width: 100%;
          font-weight: 500;
          text-align: center;
          border-bottom: 1px solid #e1e1e1;
          padding:5px 0;
          font-size: 1rem;
          margin-bottom: 5px;
        }
        .product-count{
          input.product-amount{
            max-width: 100px;
            display: inline;
            padding: 4px 8px;
            height: 35px;
            width: 50px;
          }
        }
      }
      .col-full{
        width:100%;
        .price-total{
          border-top: 1px solid #e1e1e1;
          .price-total--single{
            padding: 6px 0;
            text-align: center;
          }
          table{
            width: 100%;
            td{
              padding: 6px 0;
            }
            .total{
              text-align: center;
              color: #748b11;
              border-top: 1px dashed;
            }
          }
        }
      }
    }
  }

  .cart-buttons{
    position: fixed;
    left:0;
    right: 0;
    bottom: -1px;

    a{
      display: inline-block;
      width: 50%;
      height: 100%;
      float: left;
      border-radius: 0;
      &.flush-cart{
        background-color: #f0f0f0;
        border-top: 1px solid #e1e1e1;
      }
      &.green{
        border-top: 1px solid #708611;
      }
    }
  }
}

.delivery{
  @media (max-width: 767px) {
    width:100%;
  }
}
/********************* Cart Mobile end *********************/

/********************* Step2 Table *********************/
.functions{
  &.functions--horizontal{
    padding: 0;
    @media (min-width: 768px) {
      display: none;
    }
    .functions-inner{
      width: 100%;
      padding: 10px 8px;
      height: 30px;
      a{
        width: 50%;
        height: 100%;
        display: inline-block;
        bottom: 0;
        top: 0;
        &.btn-edit{
          right: 0;
          left: 50%;
        }
        &.btn-remove{
          right: 50%;
          left: 0;
        }
      }
    }
  }
}
/********************* Step2 Table end *********************/


/********************* Profile *********************/
.page-content.profile header.profile-header .profile-tabs .tab{
  @media (max-width: 767px) {
    display: inline-block;
    width: 50%;
    float: left;
    border-bottom: 1px solid #e1e1e1;

  }
}
/********************* Profile end *********************/

/********************* HR  *********************/

hr.or:after {
  content: attr(data-text);
}
/********************* HR end *********************/


/********************* BreadCrumb  *********************/
.cover{
  background: #eee;
}
/********************* BreadCrumb end  *********************/


/********************* Floating Button  *********************/
.btn-floating{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding:0;
  background: #000;
  opacity: 0.4;
  color: #FFF;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  z-index: 100;
  &:hover{
    background: #7A9212;
    border-color: #708611;
    opacity: 1;
    color: #FFF;
  }
  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
  em{
    margin: 0;
    font-size: 30px;
  }
}
/********************* Floating Button End *********************/











