/*-----------------------------------------------------------------
- Typography
-----------------------------------------------------------------*/
@font-face {
  font-family: IRANSans;
  font-weight: 100;
  font-style: normal;

  src: url("../fonts/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/IRANSansWeb_Light.eot");
  src: url("../fonts/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/IRANSansWeb_Light.woff") format("woff"), url("../fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/IRANSansWeb.eot");
  src: url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/IRANSansWeb_Bold.eot");
  src: url("../fonts/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-weight: 900;
  font-style: normal;

  src: url("../fonts/IRANSansWeb_Black.eot");
  src: url("../fonts/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/IRANSansWeb_Black.woff") format("woff"), url("../fonts/IRANSansWeb_Black.ttf") format("truetype");
}

html,
body{
  width:100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  background-color: rgba(255, 130, 45, 0.85);
  background-color: linear-gradient(to bottom right, $color__orange,$color__orange, $color__orange--light);
  color: $color__white;
  position: relative;
  font-family: IRANSans;
  .bg{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.1;
      @include only-ie{
        height: auto;
      }
    }
  }
  .home {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 2em;
    color:white;
    text-decoration:none
  }

  .error {
    text-align: center;
    padding: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    h1 {
      margin: -10px 0 -70px;
      font-size: calc(17vw + 40px);
      opacity: .8;
      letter-spacing: -17px;
      @media (max-width: $tablet) {
        letter-spacing: -5px;
        margin: -10px 0 -30px;
      }
    }
    p {
      opacity: .8;
      font-size: 20px;
      margin: 8px 0 38px 0;
      font-weight: bold
    }
  }
}