// Only IE Show
@mixin only-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
/*
  Usage:
  @include only-ie{}
*/

//----------------------------------------------------
// Animations
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
/*
 @include keyframes(slide-down) {}
 @include animation('slide-down 5s 3');
*/

//-------------------------------------------------
// Transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
/*
  @include transition(color .3s ease);
*/

//-------------------------------------------------
// Box-Shadow
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}
/*
  @include box-shadow();
*/

//-----------------------------------------------
// Clear Fix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/*
  @extend %clearfix;
*/

//---------------------------------------------------
// Visually Hidden
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

//----------------------------------------------------
// px to em
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/*
*-------------------------------------------------------
* Variables
*-------------------------------------------------------
*/

// Media Query
$tablet: 767px;
$mobile: 450px;

/*
*-------------------------------------------------------
* Drirectional functions
*-------------------------------------------------------
*/
@mixin padding-start($value){
  padding-#{$start}: $value + px;
}
@mixin padding-end($value){
  padding-#{$end}: $value + px;
}
@mixin margin-start($value){
  margin-#{$start}: $value + px;
}
@mixin margin-end($value){
  margin-#{$end}: $value + px;
}
@mixin border-start($value){
  border-#{$start}: $value;
}
@mixin border-end($value){
  border-#{$end}: $value;
}
@mixin start($value){
  #{$start}: $value;
}
@mixin end($value){
  #{$end}: $value;
}

/*
*-------------------------------------------------------
* Colors
*-------------------------------------------------------
*/

$color__blue: #1e50ab;
$color__blue--dark: #2b2e4a;
$color__orange: #ed9b2d;
$color__orange--light: #ffcc00;

$bg_danger: #f36565;
$border_danger: #e21e1e;

$bg_success: #5ed650;
$border_success: #52c146;

$bg_warning: #fda631;
$border_warning: $color__orange;

$color__gray--light: #e2e2e2;
$color__gray: #959ba6;
$color__gray--very-dark: #222;

$color__white: #fff;
$color__black: #000;
