/*
*-------------------------------------------------------
* Header
*-------------------------------------------------------
*/

#main-header{
  #logo{
    img{
      max-width: 80px;
      max-height:80px;
    }
  }
}
/*
*-------------------------------------------------------
* Menu
*-------------------------------------------------------
*/
.menu{
  .has-child{
    li{
      a{
        white-space: nowrap;
      }
    }
  }
}
@media (max-width: $tablet) {
  nav#menu-wrapper ul.menu.opened{
    overflow: auto;
  }
}
nav#menu-wrapper ul.menu li a.sub-toggle{
  @media (max-width: $tablet) {
    @include end(30px);
  }
}


/*
*-------------------------------------------------------
* Navbar
*-------------------------------------------------------
*/

#search-form{
  button[type=submit]{
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}
/*
*-------------------------------------------------------
* Footer
*-------------------------------------------------------
*/
footer#main-footer{
  position: static;
  overflow: hidden;
}

/*
*-------------------------------------------------------
* Slider
*-------------------------------------------------------
*/
#slider{
  height: 950px;
  height: 100vh;
  overflow: hidden;
  .rslides1{
    height: 100%;
    li{
      width: 100%;
      height: 100%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include only-ie{
          height: auto;
        }
      }
      .content{
        .title,
        .subtitle{
          color: #fff;
          text-shadow: 0 3px 5px rgba(0,0,0,0.4);
        }

        &.left,
        &.right{
          @media (max-width: $tablet) {
            padding: 0 35px;
            text-align: center;
            left: auto;
            right: auto;
            max-width: none;
          }
        }
      }
    }
  }
  .rslides_nav{
    .slide-prev{
      @media (max-width: $tablet) {
        @include start(20px !important);
        @include end(auto !important);
      }
    }
    .slide-next{
      @media (max-width: $tablet) {
        @include end(20px !important);
        @include start(auto !important);
      }
    }
  }
}
/*
*-------------------------------------------------------
* Home Links
*-------------------------------------------------------
*/
#home-links{
  .item{
    max-width: 400px;
    margin: 10px auto;
    display: block !important;
    .icon{
      text-align: center;
      i{
        font-size: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      }
    }
    .title{
      left:0 !important;
      text-align: right !important;
      $shadow_color: rgba(255,255,255,0.4);
      $text-shadow: -1px 0 $shadow_color, 0 1px $shadow_color, 1px 0 $shadow_color, 0 -1px $shadow_color;
      text-shadow: $text-shadow;

      @media (max-width: $mobile) {
        left:0 !important;
      }
    }
  }
}

/*
*-------------------------------------------------------
* Latest News
*-------------------------------------------------------
*/

#latest-news{
  .news-item{
    .content{
      .ta-l{
        text-align: $start !important;
        @extend %clearfix;
        .more{
          float: $end !important;
        }
      }
    }
  }
}
.news-item{
  $box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
/*
*-------------------------------------------------------
* In text images
*-------------------------------------------------------
*/

.with-caption{
  margin-bottom: 20px;
}
/*
*-------------------------------------------------------
* News List Item
*-------------------------------------------------------
*/
.news-item{
  .content{

  }
}


/*
*-------------------------------------------------------
* Pagination
*-------------------------------------------------------
*/
.pagination{
  ul{
    li{
      float: $start;
      span{
        font-family: IRANSans, Tahoma, Arial, sans-serif;
        font-size: .875rem;
        font-weight: normal;
        display: inline-block;
        padding: 10px;
        text-align: center;
        border-left: 1px solid #e7e7e7;
      }
    }
  }
  .arrow{
    &.first{
      float: right !important;
      border-left: 1px solid #e7e7e7;
      border-right: 0;
    }
    &.last{
      float: left !important;
      border-right: 1px solid #e7e7e7;
      border-left: 0;
    }
  }
}
/*
*-------------------------------------------------------
* addToAny styles
*-------------------------------------------------------
*/
.a2a_custom_style{
  a{
    margin: 0 !important;
  }
}
.news-footer{
  .socials a{
    margin: 0;
  }
}
/*
*-------------------------------------------------------
* Members Id Box
*-------------------------------------------------------
*/
.xs500{
  @media (max-width: 499px) {
    width: 100% !important;
  }
}
.members{
  @extend %clearfix;
}
.id-box{
  border-bottom:5px solid $color__orange--light;
  @include box-shadow(0 4px 10px rgba(0,0,0,0.15));
  margin:10px 0;
  overflow: hidden;
  .image-box{
    width: 100%;
    height: 300px;
    @media (max-width: $tablet) {
      height: 250px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height:auto;
      }
    }
  }
  .info-box{
    background: #fff;
    padding: 20px;
    text-align: center;
    font-size: em(20);
    .position{
      color: $color__gray;
      font-weight: 400;
      white-space: nowrap;
    }
    .name{
      color: $color__blue;
      font-weight: 500;
      white-space: nowrap;
    }
  }
}
/*
*-------------------------------------------------------
* Alerts
*-------------------------------------------------------
*/
.alert{
  &.alert-danger{
    background: $bg_danger;
    color: #fff;
    padding: 10px 12px;
    border: 1px solid $border_danger;
  }
  &.alert-success{
    background: $bg_success;
    color: #fff;
    padding: 10px 12px;
    border: 1px solid $border_success;
  }
  &.alert-warning{
    background: $bg_warning;
    color: #fff;
    padding: 10px 12px;
    border: 1px solid $border_warning;
  }
}
/*
*-------------------------------------------------------
* Service Item
*-------------------------------------------------------
*/

.service-item{
  height: 250px;
  .cover{
    height: 100%;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height: auto;
      }
    }
  }
  &:hover{
    .title{
      padding-top: 60% !important;
    }
  }
}
/*
*-------------------------------------------------------
* Gallery
*-------------------------------------------------------
*/

.lg-actions{
  .lg-next{
    /*@include end(20px);
    @include start(auto);*/
    right: 20px;
    left:auto;

  }
  .lg-prev{
    /*@include end(auto);
    @include start(20px);*/
    left: 20px;
    right:auto;
  }
}
.lg-outer .lg-thumb-item{
  float: left !important;
}

/*
*-------------------------------------------------------
* Tooltip
*-------------------------------------------------------
*/

[data-tooltip] {
  position: relative;
  display: inline-block;
  box-sizing: content-box; }
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
[data-tooltip]:before {
  content: '';
  border: 6px solid transparent; }
[data-tooltip]:after {
  height: 22px;
  padding: 11px 11px 0 11px;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
  white-space: nowrap; }
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #323232; }
[data-tooltip].simptip-position-bottom:after {
  background-color: #323232;
  color: #ecf0f1; }
[data-tooltip].simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #323232; }
[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: transparent; }
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  opacity: 1;
  visibility: visible; }

.simptip-position-bottom:before, .simptip-position-top:before, .simptip-position-bottom:after, .simptip-position-top:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.simptip-position-bottom:after, .simptip-position-top:after {
  width: auto; }

.half-arrow.simptip-position-bottom:before, .half-arrow.simptip-position-top:before {
  border-style: none;
  border-right: 7px solid #323232; }

.simptip-position-bottom:before, .simptip-position-bottom:after {
  top: 100%; }

.simptip-position-bottom:before {
  margin-top: -5px; }

.simptip-position-bottom:after {
  margin-top: 7px; }

.simptip-position-bottom:hover:before, .simptip-position-bottom:hover:after {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.simptip-position-bottom.simptip-movable:before {
  margin-top: -15px; }

.simptip-position-bottom.simptip-movable:after {
  margin-top: -3px; }

.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px); }

.simptip-position-bottom.simptip-movable.half-arrow:before {
  margin-top: -10px; }

.simptip-position-bottom.half-arrow:before {
  margin-top: 0;
  border-top: 7px solid transparent; }

.simptip-fade:before, .simptip-fade:after {
  transition: opacity 0.2s linear, visibility 0.2s linear; }

/*
*-------------------------------------------------------
* Langs
*-------------------------------------------------------
*/

#top-bar{
  .langs{
    float: $start;
    margin-top: 9px;
    a{
      opacity: 0.5;
      &.active{
        opacity: 1;
      }
    }
  }
}

/*
*-------------------------------------------------------
* members col
*-------------------------------------------------------
*/
.members{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  .member-col{
    width: 230px;
    padding: 15px;
    .id-box .image-box{
      height: auto;
    }
  }
}






