/*-----------------------------------------------------------------
- Locale styles
-----------------------------------------------------------------*/
.post-locales{
	.panel-heading{
		border-bottom: 0;
	}
	.current-locale{
		background-color: #e4f8e4;
		border-bottom: 1px solid;
		border-top: 1px solid;
		border-color: #C9EFCC;
		padding: 10px;

		.title{
			font-size: 12px;
			font-weight: bold;
			color: #30a51e;
			position: relative;
			top: 1px;
		}
		img{
			position: relative;
			top: 1px;
			margin-left: 3px;
		}
		.badge{
			font-size: 11px;
			font-weight: normal;

			i{
				vertical-align: middle;
				margin-left: 3px;
			}
		}
	}
	.flex-row{
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
		max-height: 100%;
		place-content: center space-between;
		align-items: center;
	}

	.other-locales{
		padding: 10px 0;

		&.empty{
			padding: 0;
		}
	}
	.locale-item{
		padding: 5px 15px;

		.title{
			font-size: 12px;
			color: #777;
			position: relative;
			top: 1px;
		}
		img{
			position: relative;
			top: 1px;
			margin-left: 3px;
		}
		.badge{
			color: #009688;
			font-size: 11px;
			font-weight: normal;

			i{
				vertical-align: middle;
				margin-left: 3px;
			}
		}
	}
}