/**
 * SlideShow Editor
 * -------------------------
 * Created by Negar Jamalifard
 * n.jamalifard@gmail.com
 * On 2018-09-30
 */

.js_slidesContainer {

  .panel {

    .js_slideHandle {
      cursor: move;
      cursor: -webkit-grabbing;
    }

    .js_previewer {
      i.fa-eye-slash {
        display: none;
      }
    }
    .js_slidePreview {
      display: none;
    }

    &.show_preview {
      .js_previewer {
        i.fa-eye-slash {
          display: inline-block;
        }
        i.fa-eye {
          display: none;
        }
      }

      .js_slideFormEditor {
        display: none;
      }

      .js_slidePreview {
        display: block;
      }
    }
  }

}


.slideshows{
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content{
    position: absolute;
    color: #333;
    background: rgba(#fff,0.3);
    padding: 20px;
    border-radius: 5px;
    .title{
      font-size: 30px;
      font-weight: 600;
    }
    .subtitle{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .description{

    }
    a{
      font-weight: 500;
      padding: 5px;
      display: inline-block;
    }
  }
}

.js_slidePreview{
  .slideshows{
    width: 100%;
    height: 450px;
    overflow: hidden;
    img{
      position: absolute;
    }
  }
}

.previewModal{
  .modal-dialog{
    width: 90%;
    @import "slideshow/responsiveslides";
    @import "slideshow/dots";
    .slideshows{
      width: 100%;
      height: 500px;
      overflow: hidden;
    }
  }
}




// Slideshow Classes
//===========================================

// Positions
@import "slideshow/positions";

// Themes
.slideshows{
  .content{
    &.dark{
      color: #333;
    }

    &.light{
      color: #fff;
      background: rgba(#000,0.3);
    }
  }
}
