/*
*-------------------------------------------------------
* Layout / Board
*-------------------------------------------------------
*/
$color_todo       : #039be5 ;
$color_emergency  : #e53935 ;
$color_doing      : #673ab7 ;
$color_done       : #00acc1 ;
$color_passed     : #00c853 ;



.board{
  direction: ltr;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
  0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  overflow: hidden;

  .col-heading{
    text-align: center;
    min-height: 60px !important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;

    h3{
      text-align: center;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .nColumn{

    // Names
    &[data-col-role='names']{

      .nCell{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fbfbfb;
        @import "../widget/user-pic";
      }
    }

    // Todo
    &[data-col-role='todo']{
      .col-heading{
        color: $color_todo;
      }
    }

    // Emergency
    &[data-col-role='emergency']{
      .col-heading{
        color: $color_emergency;
      }
    }

    // Doing
    &[data-col-role='doing']{
      .col-heading{
        color: $color_doing;
      }
    }

    // Done
    &[data-col-role='done']{
      .col-heading{
        color: $color_done;
      }
    }

    // Passed
    &[data-col-role='passed']{
      .col-heading{
        color: $color_passed;
      }
    }

    .nCell{
      height: 100px;
      position: relative;
      padding: 0 5px;
      background-color: #fff;

      .more{
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: #333;
        opacity: 0.7;
        font-size: 13px;
        font-weight: 600;
        line-height: 30px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        display: none;
        background: #e4e4e4;
        border-radius: 50%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover{
          opacity: 0.9;
        }
      }

      &.moreExist{
        .more{
          display: inline-block;
        }
      }

      .close-list{
        position: absolute;
        top: 35px;
        left: -25px;
        display: inline-block;
        background: #ccc;
        padding: 6px;
        height: 30px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        cursor: pointer;
        @include transform(translateX(100%));
        visibility: hidden;
        @include transition(transform 0.5s);
        transition-delay: 0.5s;
      }

      .tasks-container{
        min-height: 100%;
      }

      &.fullList{
        .close-list{
          visibility: visible;
          @include transform(translateX(0%));
        }

        .tasks-container{
          background: #fff;
          position: absolute;
          z-index: 99;
          top: 0;
          left: -5px;
          right: -5px;
          padding: 0 5px;
          border-radius: 2px;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25),
          0 10px 10px rgba(0,0,0,0.22), 0 0 4px 2px rgba(3, 155, 229, 0.53);
          max-height: 400px;
          overflow: auto;
          border: 1px solid #039be5;


          // Scrollbar
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 2px;
          }
          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 2px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #777;
          }

        }
        &.down{
          .tasks-container{
            bottom: 0;
            top: auto;
          }
        }
      }
    }
  }
}

