/*
*-------------------------------------------------------
* Button Group
*-------------------------------------------------------
*/

.btn-checkbox-group{
  &.btn-group{
    .btn.btn-danger{
      .fa-check-square{
        display: none;
      }
      .fa-square-o{
        display: inline-block;
      }
    }
    input[type=checkbox]{
      &:checked{
        & ~ .btn.btn-danger{
          color: #fff;
          background-color: #ee3d3d;
          border-color: #ec2626;
          .fa-check-square{
            display: inline-block;
          }
          .fa-square-o{
            display: none;
          }
        }
      }
    }
  }

}
