/*
*-------------------------------------------------------
* Layout / Calendar
*-------------------------------------------------------
*/

.calendar-body{
  &.loading{
    position: relative;
    opacity: 1;
    z-index: 0;

    &:before{
      content: "";
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background: rgba(255,255,255,0.5);
      z-index: 1;
    }

    &:after{
      content: "\f1ce";
      font-family: "fontawesome";
      font-size: 40px;
      color: #5d9cec;
      z-index: 2;
      position: absolute;
      top:50%;
      left:50%;
      @include transform(translate(-50%, -50%));
      @include transform-origin(50% 50%);
      @include animation(rotating 1s linear infinite);

    }
  }
}

@include keyframes(rotating){
  from{
    @include transform(rotate(0deg));
  }
  to{
    @include transform(rotate(360deg));
  }
}
