/*
*-------------------------------------------------------
* Layout / Date Cell
*-------------------------------------------------------
*/

$workday-color: $color_green;
$offday-color: #f47f7f;
$inactive-color: #ccc;

.workdays-table{

  .table-header{
    padding: 15px 30px;
    display: flex;
    &>div{
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }
    .year-title{
      justify-content: center;
    }
    .type-selector{
      justify-content: flex-start;
      .form-group{
        max-width: 300px;
        width: 100%;
      }
    }
    .year-control{
      justify-content: flex-end;
    }
    
    @media (max-width: $tablet) {

      flex-wrap: wrap;
      &>div{
        width: 100%;
        text-align: center;
        flex-basis: auto;
        justify-content: center !important;
      }
      .year-title{
        order: 1;
      }
      .type-selector{
        order: 3;
        margin-top: 10px;
      }
      .year-control{
        order: 2;
      }
    }

  }

  .nTable{
    border-top:1px solid #eaeaea;
    overflow-x: auto;
    .nColumn{
      &.dateCol{
        flex-grow: unset;
      }

      .nCell{
        height: 35px;
        &.col-heading{
          background-color: $titleBgColor;
          display: flex;
          align-items: center;
          justify-content: center;
          h3{
            margin: 0;
            font-size: 15px;
            font-weight: 500;
          }
        }
        &.dateCell{
          background-color: $titleBgColor;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 5px;
          span{
            font-size: 16px;
            font-weight: 500;
          }
        }
        &.day-toggle-view{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $inactive-color;
          span{
            color: $color_white;
            height: 18px;
            display: none;
            i{
              font-size: 18px;
            }
          }

          &[data-status=off]{
            background-color: $offday-color;
            opacity: 0.6;
            span.offday{
              display: inline-block;
            }
          }

          &[data-status=on]{
            background-color: $workday-color;
            opacity: 0.6;
            span.workday{
              display: inline-block;
            }
          }

          &[role=button]{
            &[data-status=off],
            &[data-status=on]{
              opacity: 1;
            }
          }


        }
      }
    }
  }

}