/*
*-------------------------------------------------------
* Layout / Grid
*-------------------------------------------------------
*/
$col-border: #ddd;
$cell_border: #eaeaea;


.nTable{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #fff;

  .nColumn{
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include border-end(2px solid $col-border);

    &:last-child{
      @include border-end(0);
    }
    &.col--2{
      flex-grow: 2;
    }

    &.col--3{
      flex-grow: 3;
    }

    .nCell{
      padding: 10px 5px;
      min-height: 35px;
      border-bottom: 1px solid $cell_border;

      &:last-child{
        border-bottom: 0;
      }
    }
  }
}