$startSide: map_get($localeDirections, 'start');
$endSide: map_get($localeDirections, 'end');

@media print {
  a[href]:after {
    content: "";
  }
}

// Variables --start
$rtlRatio: 1;

@if $rtl {
  $rtlRatio: -1;
}

// Variables --end

// General Classes --start
.cover {
  @extend .bg-white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// General Classes --end

// General Silent Classes --start
%display-none {
  display: none;
}

%display-flex {
  display: flex;
}

%font-family-awesome {
  font-family: FontAwesome;
}

// General Silent Classes --end

// Keyframes --start
@-webkit-keyframes emitis-heartbeat {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.10);
  }
  50% {
    -webkit-transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.06);
  }
  80% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

// Keyframes --end

// Body --start
body {
  @extend .text-darkGray;
}

a:focus {
  outline-style: none;
}

// Body --end

// Top Main Header --start
header {
  .top-bar {
    @media(max-width: 500px) {
      font-size: 12px;
    }
    > ul {
      > li {
        padding: 0;
        &:not(:last-child) {
          &:after {
            content: "";
            width: 8px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fff;
            @media (max-width: 767px) {
              display: none;
            }
          }
        }

        a {
          .menu-text {
            @media (max-width: 767px) {
              display: none;
            }
          }
          .menu-icon {
            @extend .f14;
            padding-#{$startSide}: 10px;
            @media (min-width: 768px) {
              display: none;
            }
          }
        }
        li {
          a {
            padding: 10px 20px;
          }
        }
      }
      a {
        @extend .pt10, .pb10, .pr15, .pl10;
        display: inline-block;
        @media(max-width: 767px) {
          padding: 12px 5px;
          font-size: 0.8em;
        }
      }
    }

    .select-lang-btn {
      @extend .rounded-corners-5, .pull-end;
      margin-#{$endSide}: 240px;
      margin-top: 8px;
      @media (max-width: 767px) {
        margin-#{$endSide}: 0;
        float: #{$startSide} !important;
      }

      .globe-list-btn {
        @extend .f14;
        padding-#{$startSide}: 15px;
        padding-#{$endSide}: 5px;
        padding-top: 12px;
        padding-bottom: 12px;
        display: inline-block;
        cursor: pointer;
        @media (min-width: 768px) {
          display: none;
        }
      }

      ul {
        li {
          > a {
            &,
            &:active,
            &:focus,
            &:link,
            &:visited {
              @extend .text-white, .bg-transparent, .border-1, .border-white, .rounded-corners-5, .f12;
              outline: none;
              padding: 0 5px;
              line-height: 10px;

              &.selected {
                @extend .text-blue, .bg-white;
              }
            }
          }
        }

        @media (max-width: 767px) {
          display: none;
          position: absolute;
          z-index: 21;
          text-align: center;
          background-color: map_get($colors, 'blue');
          padding-bottom: 5px;
          padding-top: 5px;

          li {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            > a {
              border: none !important;
              -webkit-border-radius: 0 !important;
              -moz-border-radius: 0 !important;
              border-radius: 0 !important;
            }
          }
        }
      }

      @media (max-width: 767px) {
        padding-bottom: 0;
        margin-top: 0;
      }

    }

  }
  #logo {
    max-width: 100%;
    height: auto;
    max-height: 45px;
  }
  #logo-small {
    max-width: 100%;
    display: none;
    max-height: 45px;
  }

  .main-menu {
    position: relative;
    min-height: 76px;
    //z-index: 20;
    .list-inline {
      margin-left: 0;
      margin-right: 0;
    }
    @media (max-width: 999px) {
      #menu-tree {
        //display: none;
        //width: 100%;
        //float: #{$startSide};

        li {
          > ul {
            top: 100%;
          }
        }

        a {
          width: auto;
          padding: 8px;
          margin-#{$endSide}: 0;
          font-size: 18px;
        }
      }
/*      .toggle-menu {
        display: inline-block;
      }*/
    }
    > a {
      position: relative;
      z-index: 1;
    }
    .top-menu-btn {
      @extend .pull-end;
      color: #fff;
      border-radius: 5px;
      padding: 5px 10px;
      text-align: right;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
      width: auto;
      min-height: 53px;
      display: inline-block;
      margin-top: 12px;
      margin-#{$startSide}: 10px;
      &, & svg {
        transition: all 0.2s 0s;
      }
      &:hover {
        @extend .bg-lightGray, .text-blue;
        svg {
          fill: red;
        }
      }
      span {
        display: block;
        &:last-child {
          position: absolute;
          top: 5px;
          left: 10px;
        }
        svg {
          width: 17px;
        }
      }

      &.ehda-card-menu {
        @extend .bg-green;
      }

      &.ehda-volunteer-menu {
        @extend .bg-blue;
        &:hover {
          svg {
            fill: map_get($colors, 'blue');
          }
        }
      }

      &:last-of-type {
        margin-#{$startSide}: 0;
      }
    }
    li {
      $percent: 50% + ($rtlRatio * 50%);
      &:nth-child(2) {
        > ul.mega-menu:after {
          $pixel: $rtlRatio * 128px;
          background-position-x: calc(#{$percent} + #{$pixel});
        }
      }
      &:nth-child(3) {
        > ul.mega-menu:after {
          $pixel: $rtlRatio * 253px;
          background-position-x: calc(#{$percent} + #{$pixel});
        }
      }
    }
    > ul {
      @extend .text-#{$endSide};
      @media(max-width: 999px) {
        display: block;
        margin-top: 10px;
        text-align: center;
        > li a {
          font-size: 1em;
          width: auto;
          margin: 0;
          padding: 8px;
        }
      }
      @media (min-width: 1000px) {
        //position: absolute;
        //left: -15px;
        //right: -15px;
        //padding-#{$endSide}: 258px;
        //bottom: 0;
        //margin: 0;
      }
      .mega-menu {
        padding: 20px 5%;
        $boxShadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
        height: 330px;
        -webkit-box-shadow: #{$boxShadow};
        -moz-box-shadow: #{$boxShadow};
        box-shadow: #{$boxShadow};
        background-image: url(#{$imagesDir}sprout.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 100px;
        @if $rtl {
          background-position-x: 70px;
        } @else {
          background-position-x: calc(100% - 70px);
        }

        //&:after {
        //  $backgroundImageName: "menu-ribbon";
        //
        //  @if not $rtl {
        //    $backgroundImageName: $backgroundImageName + "-ltr";
        //  }
        //
        //  content: "";
        //  left: 0;
        //  right: 0;
        //  top: 0;
        //  bottom: 0;
        //  //background: url(#{$imagesDir}#{$backgroundImageName}.png) no-repeat #{$endSide} 122px;
        //  background-attachment: fixed;
        //  position: absolute;
        //  pointer-events: none;
        //  z-index: 1;
        //  @media(max-width: 1000px) {
        //    background-position: left top !important;
        //  }
        //}
        > ul {
          > li {
            margin-#{$startSide}: 20px;
            > a {
              @extend .pl10, .pr10;
              border-#{$startSide}: 2px solid map_get($colors, 'blue');
              display: block;
              padding-top: 3px;
              padding-bottom: 3px;
            }
          }
        }
      }
    }
    > ul > li {
      display: inline-block;
      &:hover > a, &.active > a {
        @extend .text-green;
        @media(min-width: 1000px) {
          //&:before {
          //  content: "";
          //  position: absolute;
          //  #{$startSide}: -58px;
          //  #{$endSide}: 0;
          //  top: -20px;
          //  transform: skew(($rtlRatio) * 45deg);
          //  bottom: 0;
          //  background: #000;
          //  opacity: 0.1;
          //}
        }
        //&.active > a {
        //  &:before {
        //    background: #e6e6e6;
        //  }
        //}
        //&:hover > a, > a:hover {
        //  &:before {
        //    border-top: 10px solid #e6e6e6;
        //  }
        //}
      }
      > a {
        @extend .text-darkGray;
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 0 10px 20px;
        position: relative;
        margin-#{$endSide}: 24px;
        width: auto;
        &:before {
          content: "";
        }
      }
    }
  }

  .slogan {
    position: absolute;
    overflow: hidden;
    #{$endSide}: 0;
    top: 0;
    bottom: 0;
    span {
      padding: 10px 15px;
      display: inline-block;
      position: relative;
      z-index: 2;
      float: #{$startSide};
    }
    &:before {
      @extend .bg-green;
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% + 40px);
      #{$endSide}: -50%;
      top: -20px;
      //transform: skew(-30deg);
      z-index: 1;
      border-#{$startSide}: 5px solid #fff;
      @media(max-width: 500px) {
        border-width: 2px;
      }
      //box-shadow: 0 1px #fff;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }
  }
}

@media (min-width: 900px) {
  .main-logo {
    min-width: 300px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

@media (max-width: 650px) {
  .main-logo {
    overflow: hidden;
    //width: 90px;
  }
  header #logo {
    display: none;
    //width: 300px;
  }
  header #logo-small {
    display: inline;
    //width: 300px;
  }
  header .main-menu > ul {
    margin-left: 13%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .main-menu > a {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .main-menu > a {
    //width: 100%;
  }
  header .main-menu > ul {
    margin-left: 0;
  }
}

// Top Main Header --end

// Ehda Card --start
.ehda-card {
  position: fixed;
  top: 45%;
  right: 0;
  z-index: 10;
  background-color: rgba(209, 209, 209, 0.56);
  padding: 10px;
  border-radius: 10px 0 0 10px;
  text-align: left;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -30px;
    bottom: -30px;
    left: -30px;
    right: 0;
  }
  &, * {
    transition: all 0.2s;
  }
  &:hover {
    background-color: #fff;
    span:first-child {
      background-color: #fff;
      svg {
        fill: #e87;
        transform: scale(1.2);
        animation: none;
      }
    }
  }
  svg {
    animation: heartbeat 1300ms ease 0s infinite normal;
  }
  span:first-child {
    @extend .bg-green;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 7px;
  }
  span:last-child {
    white-space: nowrap;
    margin: 20px 0 -40px;
    display: block;
    color: #8a8a8a;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 10px;
    border-radius: 4px;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

@keyframes beating2 {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

.ehda-card-heart {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 5px;

  .heart-container {
    position: relative;

    .heart-item {
      font-size: 6em; /* change it */
      @media (max-width: 767px) {
        font-size: 5em;
      }
      @media (max-width: 500px) {
        font-size: 4em;
      }
      color: #e80000;
      transform: scale(1, 1);
      transition: all 1s;
      opacity: 1;
      animation: beating2 1s linear infinite;
      overflow: hidden;

      .heart-line {
        position: absolute;
        width: 94%;
        height: 100%;
        top: -10%;
        bottom: 0;
        transform: scale(1, 1);
        left: 3%;
      }
    }
  }
}

// Ehda Card --end

// Current Members --start
#current-members {
  @extend .text-darkGray;
  margin: 2em 0;
  h3 {
    font-size: 100%;
    white-space: nowrap;
    line-height: 4em;
  }
}

// Current Members --end

// Events Slider --start
.events-slider {
  .event-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: -1px;
    text-align: right;
    overflow: hidden;
    &:before {
      @extend .bg-green;
      width: 100%;
      right: 50%;
      top: 0;
      content: "";
      position: absolute;
      z-index: 1;
      transform: skew(-45deg);
      height: 100%;
      border-right: 15px solid #fff;
    }
    &:after {
      content: "";
      position: absolute;
      width: 250px;
      height: 100%;
      right: 80%;
      top: 0;
      z-index: 1;
      background: url(#{$imagesDir}events-ribbon.png) no-repeat;
      background-size: cover;
    }
  }
  .text {
    &,
    * {
      @extend .text-white;
    }
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 5%;
    direction: rtl;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    @media(max-width: 519px) {
      width: 60%;
      p {
        margin-right: 18%;
      }
    }
    @media (max-width: 700px) {
      h2 {
        font-size: 26px;
      }
    }
  }
}

// Events Slider --end

// Map --start
.show-title {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  margin: 0 !important;
  padding: 0 5px;
  text-align: center;
  line-height: 26px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  opacity: 0.8;
}

.iran-map {
  user-select: none;
}

.iran-map svg {
  height: 500px;
  width: 500px;
  max-width: 100%;
}

.iran-map .border path {
  fill: #fff;
}

.iran-map .province path {
  transition: all 0.2s;
  fill: #8994b9;
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    fill: #b1b1b1 !important;
    cursor: default;
  }
}

.iran-map .province path:hover, .iran-map .province path.hover {
  fill: #9ddf60 !important;
  cursor: pointer;
}

.choose-state {
  cursor: pointer;
  h3 {
    display: inline-block;
  }
  &.active {
    .icon {
      transform: scale(-1);
    }
  }
  .icon {
    margin: 0 10px;
    transition: all 0.2s;
  }
}

.states-list {
  display: none;
  position: absolute;
  height: 400px;
  overflow: auto;
  direction: ltr;
  border: 1px solid #8994b9;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  width: 70%;
  @media(max-width: 770px) {
    left: 0;
    position: fixed;
    top: 0;
    background-color: #fff;
    right: 0;
    width: auto;
    bottom: 0;
    height: auto;
    margin: 0;
  }
  li {
    a {
      display: block;
      padding: 10px 15px;
      direction: rtl;
      text-align: right;
      white-space: nowrap;
      &:hover, &.active {
        background-color: #d1dbe4;
      }
      &[disabled] {
        background-color: #ccc !important;
        &:after {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
  }
}

// Map --end

// Page Title --start
%page-title {
  @extend .text-white-deep;
  line-height: 64px;
  white-space: nowrap;
  &.center-title {
    position: absolute;
    z-index: 0;
    &:before {
      right: -60px;
      left: 0;
      margin: auto;
      width: 10%;
      border-top-right-radius: 0;
    }
    &:after {
      content: "";
      //background-color: #5d962a;
      //transform: skew(45deg);
      position: absolute;
      right: 0;
      left: -50px;
      margin: auto;
      width: 10%;
      min-width: 300px;
      height: 100%;
      z-index: -1;
      top: 0;
      border-bottom-left-radius: 35px;
      border-top-left-radius: 0;
    }
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &:before {
    @extend .bg-green;
    $borderRadius: 35px;
    content: "";
    //@if $rtl {
    //  transform: skew(-45deg);
    //} @else {
    //  transform: skew(45deg);
    //}
    position: absolute;
    #{$startSide}: -100px;
    width: 40%;
    min-width: 300px;
    height: 100%;
    z-index: -1;
    -webkit-border-radius: #{$borderRadius};
    -moz-border-radius: #{$borderRadius};
    border-radius: #{$borderRadius};
  }
}

@each $colorName, $colorCode in $darkColors {
  .page-#{$colorName}-title {
    @extend %page-title;
    &:after, &:before {
      @extend .bg-#{$colorName};
    }
  }
}

// Page Title --end

// Archive --start
.archive {
  margin-top: 30px;
  margin-bottom: 30px;
  .media-heading {
    line-height: 1.7;
  }
  .media-right,
  .media-left {
    img {
      min-width: 250px;
      width: 100%;
      height: auto;
    }
  }

  &.products {
    .media-right,
    .media-left {
      img {
        min-width: 200px;
      }
    }
  }

  .archive-item {
    overflow: hidden;
  }

  .media {
    > a {
      padding-left: 0;
    }
    @media (max-width: 767px) {
      > div,
      a > div {
        float: #{$startSide};
        width: 100%;
      }
    }
    .media-start {
      padding-left: 0;
      padding-right: 0;
    }

    .media-end {
      @media (min-width: 768px) {
        padding-top: 70px;
      }
    }

    .media-body {
      padding-left: 5px;
      padding-right: 5px;
    }

  }
}

// Archive --end

// Footer --start
footer {
  @extend .pt80, .pr0, .pb40, .pl0;
  //position: absolute;
  //width: 100%;
  //bottom: 0;
  @media(max-width: 990px) {
    padding: 40px 0;
  }
  .list-unstyled {
    a {
      @extend .right-bordered-link;
      &:hover {
        border-color: color(#fff);
      }
    }
  }
}

.go-to-top {
  position: fixed;
  z-index: 10;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #e6e6e6;
  padding: 14px 17px;
}

// Footer --end

// Rounded Corner --start
@for $i from 1 to 21 {
  $number: $i * 5;
  $value: $number * 1px;
  .rounded-corners-#{$number} {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
  }
}

// Rounded Corner --end

// Radio and Checkbox --start
[type="radio"],
[type="checkbox"] {
  position: absolute;
  display: none;
}

[type="radio"][disabled],
[type="checkbox"][disabled] {
  cursor: not-allowed;
}

[type="radio"] + label,
[type="checkbox"] + label {
  position: relative;
  padding-#{$startSide}: 30px;
  padding-#{$endSide}: 0;
  cursor: pointer;
  vertical-align: middle;
}

[type="radio"] + label:hover:before,
[type="checkbox"] + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}

[type="radio"] + label:before,
[type="checkbox"] + label:before {
  position: absolute;
  top: 0;
  #{$startSide}: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #c0c0c0;
}

[type="radio"] + label:after,
[type="checkbox"] + label:after {
  position: absolute;
  display: none;
  content: '';
}

[type="radio"][disabled] + label,
[type="checkbox"][disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}

[type="radio"][disabled] + label:hover, [type="radio"][disabled] + label:before, [type="radio"][disabled] + label:after,
[type="checkbox"][disabled] + label:hover,
[type="checkbox"][disabled] + label:before,
[type="checkbox"][disabled] + label:after {
  cursor: not-allowed;
}

[type="radio"][disabled] + label:hover:before,
[type="checkbox"][disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none;
}

[type="radio"][disabled] + label:before,
[type="checkbox"][disabled] + label:before {
  border-color: #e4e4e4;
}

[type="radio"]:checked + label:before,
[type="checkbox"]:checked + label:before {
  animation-name: none;
}

[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
  display: block;
}

[type="radio"] + label:before {
  border-radius: 50%;
}

[type="radio"] + label:after {
  top: 6px;
  #{$startSide}: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

[type="radio"]:checked + label:before {
  border: 1px solid;
}

[type="radio"]:checked[disabled] + label:before {
  border: 1px solid;
}

[type="radio"]:checked[disabled] + label:after {
  background: #c9e2f9;
}

[type="checkbox"] + label:before {
  border-radius: 3px;
}

[type="checkbox"] + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}

.radio {
  @each $colorName, $colorCode in $darkColors {
    &.#{$colorName} {
      $veryLight: lighten($colorCode, 80%);
      $littleLight: lighten($colorCode, 30%);

      [type="radio"] + label:after {
        background: #{$colorCode};
      }

      [type="radio"]:checked + label:before {
        border-color: #{$colorCode};
      }

      [type="radio"]:checked[disabled] + label:before {
        border-color: #{$veryLight};
      }

      [type="radio"]:checked[disabled] + label:after {
        background: #{$veryLight};
      }

      [type="checkbox"]:checked + label:before {
        border: #{$colorCode};
        background: #{$colorCode};
      }

      [type="checkbox"]:checked[disabled] + label:before {
        border: #{$littleLight};
        background: #{$littleLight};
      }
    }
  }

  @extend .radio.black;
  padding-right: 0;
  padding-left: 0;
  display: inline-block;
  margin-right: 15px;

  &:first-child {
    margin-right: 0;
  }
}

// Radio and Checkbox --end

.media-list {
  .media-list-item {
    @extend .media;
    border-#{$startSide}-width: 2px;
    border-#{$startSide}-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-#{$startSide}: 2px;
    padding-#{$endSide}: 0;

    .media-list-item-body {
      @extend .media-body
    }

    .media-list-item-heading {
      @extend .media-heading
    }

    .media-list-item-image {
      @extend .media-#{$startSide};
      padding-#{$endSide}: 10px !important;
      padding-#{$startSide}: 0px !important;
    }

    .media-list-item-image img {
      height: 72px;
      width: 72px;
      object-fit: cover;
    }

    a {
      @extend .text-black;
      float: right;
    }
  }
}

.underlined-heading {
  $borderSize: 3px;
  @extend .border-bottom-darkGray;
  @extend .mb15;
  border-bottom-width: #{$borderSize};
  border-bottom-style: solid;

  > span {
    @extend .pb5;
    @extend .pl5;
    display: inline-block;
    border-bottom-width: #{$borderSize};
    border-bottom-style: solid;
    margin-bottom: -#{$borderSize};
  }
}

/* floating elements */

@each $dShort, $dLong in $directions {
  @for $i from 0 to 11 {
    $value: $i * 5;
    .floating-#{$dLong}-#{$value} {
      @extend %floating;
      #{$dLong}: #{$value}px;
    }
  }
}

img%img-cover {
  object-fit: cover;
}

@for $i from 2 to 15 {
  $width: 50 * $i;
  @for $j from 2 to 15 {
    $height: 50 * $j;
    img.img-cover-#{$width}-#{$height} {
      @extend %img-cover;
      width: #{$width}px;
      height: #{$height}px;
    }
  }
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.yt-gallery {
  .yt-gallery-item {
    position: relative;
    img {
      $transition: filter 1s, border .2s;
      -webkit-transition: #{$transition};
      -moz-transition: #{$transition};
      -ms-transition: #{$transition};
      -o-transition: #{$transition};
      transition: #{$transition};
    }
    .yt-gallery-item-text {
      $transition: opacity .2s;
      @extend .border-top-1;
      @extend .border-top-gray;
      @extend .text-center;
      -webkit-transform: #{$transition};
      -moz-transform: #{$transition};
      -ms-transform: #{$transition};
      -o-transform: #{$transition};
      transform: #{$transition};
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, .5);
      padding: 3px 5px;
      color: #000;
      opacity: 0;
    }
    &.focus {
      img {
        @extend .border-5;
      }
      .yt-gallery-item-text {
        opacity: 1;
      }
    }
    &.unfocus {
      img {
        @extend .grayscale;
        border-width: 0;
      }
    }
  }

  ul.waterfall {
    padding: 0;

    li {
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 0;

      &.show {
        opacity: 1;
        transition: all 0.3s, top 1s;
      }

      div {
        transition: all 0.5s;
        img {
          width: 100%;
        }
      }
    }
  }
}

.form-control.has-icon {
  padding-right: 30px;
}

.help-block.error {
  @extend .text-red;
  @extend .f12;
  font-weight: normal;
}

// DropZone --start
.dropzone {
  $baseColor: map_get($colors, 'blue');
  border: 2px dashed #{$baseColor} !important;
  background: lighten($baseColor, 50%) !important;

  .dz-preview {
    @extend .border-2;

    &.dz-success {
      @extend .border-green;
    }
    &.dz-error {
      @extend .border-red;
    }

    .dz-details, .dz-image {
      z-index: 0 !important;
    }

    .dz-image {
      border-radius: 0 !important;
    }

    .dz-remove {
      $boxSize: 25;
      $overFlow: 12;
      $borderColor: map_get($colors, 'gray');
      @extend .fa, .fa-remove, .text-gray, %floating, .bg-white, .pt5;
      display: inline-block !important;
      top: -#{$overFlow}px;
      #{$endSide}: -#{$overFlow}px;
      width: #{$boxSize}px;
      height: #{$boxSize}px;
      border-radius: 50%;
      border: 1px solid #{$borderColor} !important;
      opacity: .8;
      transition: opacity .7s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.dz-hidden-input { // this is in body
  direction: ltr !important;
}

// DropZone --end

// Shadow --start
.shadow-m {
  $value: 0 5px 20px -5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: #{$value};
  -moz-box-shadow: #{$value};
  box-shadow: #{$value};
}

// Shadow --end

// Bootstrap Select Picker --start
.bootstrap-select {
  > .btn-default {
    @extend .form-control;
  }

  > .dropdown-toggle {
    padding-right: 12px !important;
    padding-left: 30px !important;
  }

  * {
    text-align: #{$startSide} !important;
  }

  &.btn-group .dropdown-toggle .caret {
    left: 12px !important;
    right: auto !important;
    margin: 0 !important;
  }
}

// Bootstrap Select Picker --end

// JqueryUi --start
[type="radio"],
[type="checkbox"] {
  &,
  &:checked {
    + label.ui-button {
      & {
        padding: .4em 1em;
      }

      &:before,
      &:after,
      .ui-checkboxradio-icon {
        @extend %display-none;
      }
    }
  }
}

.ui-datepicker {
  .ui-datepicker-calendar {
    td {
      $activeColor: #1ABC9C;
      $defaultColor: #2c3e50;
      $highlightColor: #757575;
      $disabledColor: #9F9F9F;

      > * {
        @extend .text-center, .border-1;
        background: map_get($colors, 'white');
        font-weight: 500;
      }

      &.ui-state-disabled {
        > .ui-state-default {
          color: #{$disabledColor};
          border-color: #{$disabledColor};
        }
      }

      &:not(.ui-state-disabled) {
        > .ui-state-default {
          color: #{$defaultColor};
        }
        > .ui-state-highlight {
          color: #{$highlightColor};
          border-color: #{$highlightColor};
        }
        > .ui-state-active {
          color: #{$activeColor};
          border-color: #{$activeColor};
        }
      }
    }
  }
}

.form-buttonset {
  label {
    margin-bottom: 0 !important;
  }

  .buttonset {
    width: 100%;

    .ui-button {
      width: 100%;
      display: block;
      text-align: center;
      border-width: 2px;

      &:not(.ui-state-active) {
        background: #fff;
        border-color: #BDC3C7;
        color: #34495e;
      }

      &.ui-state-active {
        @extend .border-green;
        background: map_get($colors, 'green');
      }

      &:not(.ui-corner-right):not(.ui-corner-left) {
        border-radius: 0;
      }
    }

    td:first-of-type {
      .ui-button {
        @extend .ui-corner-#{$startSide};
        border-top-#{$endSide}-radius: 0;
        border-bottom-#{$endSide}-radius: 0;
      }
    }

    td:last-of-type {
      .ui-button {
        @extend .ui-corner-#{$endSide};
        border-top-#{$startSide}-radius: 0;
        border-bottom-#{$startSide}-radius: 0;
      }
    }
  }
}

.form-group {
  &.has-error {
    .form-buttonset {
      .ui-button:not(.ui-state-active) {
        border-color: #e74c3c;
      }
    }
  }
  //&.has-success {
  //  .form-buttonset {
  //    .ui-button:not(.ui-state-active) {
  //      border-color: #2ecc71;
  //    }
  //  }
  //}
}

// JqueryUi --end

// Forms and Inputs --start
form {
  .form-heading {
    @extend .mt20, .mb10, .text-#{$startSide};
    width: 100%;
    overflow: hidden;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      border-top: 1px dashed #{map_get($colors, 'darkGray')};
      width: 100%;
      margin-#{$endSide}: -100%;
      margin-#{$startSide}: 10px;
    }
  }
}

.img-btn {
  $transitionValue: all .3s ease-out;
  @extend .mt10, .mb10, .mr15, .ml15;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;

  &:hover {
    -webkit-animation-name: emitis-heartbeat;
    -webkit-animation-duration: 900ms;
    -webkit-transform-origin: 70% 70%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  }

  img {
    max-height: 180px;
  }
}

// Forms and Inputs --end

// Post Cards --start

.post-card {
  @extend .border-1, .border-lightGray, .pt10, .pb10, .pl15, .pr15;
  min-height: 420px;

  .post-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 0 !important;
  }

  .post-card-text {
    *:first-child {
      line-height: 1.6;
    }
  }

  a {
    @extend .link-black;
  }
}

// Post Cards --end

// FlatUI --start

.btn {
  border: none;
  font-weight: normal;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  &:active, &.active {
    outline: none;
    box-shadow: none;
  }
  &:focus:active {
    outline: none;
  }
  &.disabled, &[disabled] {
    @extend .btn-lightGreen, .border-lightGreen;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: not-allowed;
  }
}

.btn-success {
  @extend .btn-green;
}

.open > .dropdown-toggle.btn-success {
  @extend .btn-green;
}

.open > .dropdown-toggle.btn-success {
  background: #27ad60;
  border-color: #27ad60;
}

.btn-success {
  &.disabled, &[disabled] {
    @extend .btn-lightGreen;
  }
}

fieldset[disabled] .btn-success {
  @extend .btn-lightGreen;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    @extend .btn-lightGreen;
  }
}

fieldset[disabled] .btn-success:hover {
  @extend .btn-lightGreen;
}

.btn-success {
  &.disabled.hover, &[disabled].hover {
    @extend .btn-lightGreen;
  }
}

fieldset[disabled] .btn-success.hover {
  @extend .btn-lightGreen;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    @extend .btn-lightGreen;
  }
}

fieldset[disabled] .btn-success:focus {
  @extend .btn-lightGreen;
}

.btn-success {
  &.disabled:active, &[disabled]:active {
    @extend .btn-lightGreen;
  }
}

fieldset[disabled] .btn-success:active {
  @extend .btn-lightGreen;
}

.btn-success {
  &.disabled.active, &[disabled].active {
    @extend .btn-lightGreen;
  }
}

fieldset[disabled] .btn-success.active {
  @extend .btn-lightGreen;
}

.btn-success .badge {
  @extend .text-green;
  background-color: #ffffff;
}

.btn-primary {
  @extend .btn-blue;
}

.open > .dropdown-toggle.btn-primary {
  @extend .btn-blue;
}

.open > .dropdown-toggle.btn-primary {
  background: #27ad60;
  border-color: #27ad60;
}

.btn-primary {
  &.disabled, &[disabled] {
    @extend .btn-lightBlue;
  }
}

fieldset[disabled] .btn-primary {
  @extend .btn-lightBlue;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    @extend .btn-lightBlue;
  }
}

fieldset[disabled] .btn-primary:hover {
  @extend .btn-lightBlue;
}

.btn-primary {
  &.disabled.hover, &[disabled].hover {
    @extend .btn-lightBlue;
  }
}

fieldset[disabled] .btn-primary.hover {
  @extend .btn-lightBlue;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    @extend .btn-lightBlue;
  }
}

fieldset[disabled] .btn-primary:focus {
  @extend .btn-lightBlue;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    @extend .btn-lightBlue;
  }
}

fieldset[disabled] .btn-primary:active {
  @extend .btn-lightBlue;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    @extend .btn-lightBlue;
  }
}

fieldset[disabled] .btn-primary.active {
  @extend .btn-lightBlue;
}

.btn-primary .badge {
  @extend .text-blue;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
  &:hover, &.hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: #f4d313;
    border-color: #f4d313;
  }
}

.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f4d313;
  border-color: #f4d313;
}

.btn-warning {
  &:active, &.active {
    background: #cda70d;
    border-color: #cda70d;
  }
}

.open > .dropdown-toggle.btn-warning {
  background: #cda70d;
  border-color: #cda70d;
}

.btn-warning {
  &.disabled, &[disabled] {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled.hover, &[disabled].hover {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning.hover {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled:active, &[disabled]:active {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning:active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning {
  &.disabled.active, &[disabled].active {
    background-color: #bdc3c7;
    border-color: #f1c40f;
  }
}

fieldset[disabled] .btn-warning.active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
}

.btn-warning .badge {
  color: #f1c40f;
  background-color: #ffffff;
}

.btn-inverse {
  color: #ffffff;
  background-color: #34495e;
  &:hover, &.hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: #415b76;
    border-color: #415b76;
  }
}

.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #415b76;
  border-color: #415b76;
}

.btn-inverse {
  &:active, &.active {
    background: #2c3e50;
    border-color: #2c3e50;
  }
}

.open > .dropdown-toggle.btn-inverse {
  background: #2c3e50;
  border-color: #2c3e50;
}

.btn-inverse {
  &.disabled, &[disabled] {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled:hover, &[disabled]:hover {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse:hover {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled.hover, &[disabled].hover {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse.hover {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled:focus, &[disabled]:focus {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse:focus {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled:active, &[disabled]:active {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse:active {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse {
  &.disabled.active, &[disabled].active {
    background-color: #bdc3c7;
    border-color: #34495e;
  }
}

fieldset[disabled] .btn-inverse.active {
  background-color: #bdc3c7;
  border-color: #34495e;
}

.btn-inverse .badge {
  color: #34495e;
  background-color: #ffffff;
}

.form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}

.form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
  color: #b2bcc5;
}

.form-control, .select2-search input[type="text"] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  //font-family: "Lato", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus {
  border-color: #1abc9c;
  outline: 0;
  box-shadow: none;
}

.form-control {
  &[disabled], &[readonly] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #465565;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}

fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #465565;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.select2-search input[type="text"] {
  &[disabled], &[readonly] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #465565;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}

fieldset[disabled] .select2-search input[type="text"] {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #465565;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.form-control.flat, .select2-search input[type="text"].flat {
  border-color: transparent;
}

.form-control.flat:hover, .select2-search input[type="text"].flat:hover {
  border-color: #bdc3c7;
}

.form-control.flat:focus, .select2-search input[type="text"].flat:focus {
  border-color: #1abc9c;
}

.input-sm {
  border-radius: 6px;
}

.form-group-sm {
  .form-control, .select2-search input[type="text"] {
    border-radius: 6px;
  }
}

.select2-search input[type="text"] {
  border-radius: 6px;
}

select {
  &.input-sm {
    height: 35px;
    line-height: 35px;
  }
  &.form-group-sm {
    .form-control, .select2-search input[type="text"] {
      height: 35px;
      line-height: 35px;
    }
  }
  &.select2-search input[type="text"] {
    height: 35px;
    line-height: 35px;
  }
}

textarea {
  &.input-sm, &.form-group-sm .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-sm, &.form-group-sm .form-control {
    height: auto;
  }
}

textarea.form-group-sm .select2-search input[type="text"], select[multiple].form-group-sm .select2-search input[type="text"], textarea.select2-search input[type="text"], select[multiple].select2-search input[type="text"] {
  height: auto;
}

.input-lg {
  height: 45px;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 1.235;
  border-radius: 6px;
}

.form-group-lg {
  .form-control, .select2-search input[type="text"] {
    height: 45px;
    padding: 10px 15px;
    font-size: 17px;
    line-height: 1.235;
    border-radius: 6px;
  }
}

select {
  &.input-lg {
    height: 45px;
    line-height: 45px;
  }
  &.form-group-lg {
    .form-control, .select2-search input[type="text"] {
      height: 45px;
      line-height: 45px;
    }
  }
}

textarea {
  &.input-lg, &.form-group-lg .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-lg, &.form-group-lg .form-control {
    height: auto;
  }
}

textarea.form-group-lg .select2-search input[type="text"], select[multiple].form-group-lg .select2-search input[type="text"] {
  height: auto;
}

.input-hg, .form-group-hg .form-control, .form-horizontal .form-group-hg .form-control, .form-group-hg .select2-search input[type="text"], .form-horizontal .form-group-hg .select2-search input[type="text"] {
  height: 53px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.318;
  border-radius: 6px;
}

select {
  &.input-hg {
    height: 53px;
    line-height: 53px;
  }
  &.form-group-hg {
    .form-control, .select2-search input[type="text"] {
      height: 53px;
      line-height: 53px;
    }
  }
}

textarea {
  &.input-hg, &.form-group-hg .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-hg, &.form-group-hg .form-control {
    height: auto;
  }
}

textarea.form-group-hg .select2-search input[type="text"], select[multiple].form-group-hg .select2-search input[type="text"] {
  height: auto;
}

.form-control-feedback {
  position: absolute;
  top: 2px;
  right: 2px;
  margin-top: 1px;
  line-height: 36px;
  font-size: 17px;
  color: #b2bcc5;
  background-color: transparent;
  padding: 0 12px 0 0;
  border-radius: 6px;
  pointer-events: none;
}

.input-hg + .form-control-feedback, .control-feedback-hg {
  font-size: 20px;
  line-height: 48px;
  padding-right: 16px;
  width: auto;
  height: 48px;
}

.input-lg + .form-control-feedback, .control-feedback-lg {
  font-size: 18px;
  line-height: 40px;
  width: auto;
  height: 40px;
  padding-right: 15px;
}

.input-sm + .form-control-feedback, .control-feedback-sm, .select2-search input[type="text"] + .form-control-feedback {
  line-height: 29px;
  height: 29px;
  width: auto;
  padding-right: 10px;
}

.has-success {
  .help-block, .control-label.changing-color, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #2ecc71;
  }
  .form-control, .select2-search input[type="text"] {
    color: #2ecc71;
    border-color: #2ecc71;
    box-shadow: none;
  }
  .form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
    color: #2ecc71;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
    color: #2ecc71;
  }
  .form-control:focus, .select2-search input[type="text"]:focus {
    border-color: #2ecc71;
    box-shadow: none;
  }
  .input-group-addon {
    color: #2ecc71;
    border-color: #2ecc71;
    background-color: #ffffff;
  }
  .form-control-feedback {
    color: #2ecc71;
  }
}

.has-warning {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #f1c40f;
  }
  .form-control, .select2-search input[type="text"] {
    color: #f1c40f;
    border-color: #f1c40f;
    box-shadow: none;
  }
  .form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
    color: #f1c40f;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
    color: #f1c40f;
  }
  .form-control:focus, .select2-search input[type="text"]:focus {
    border-color: #f1c40f;
    box-shadow: none;
  }
  .input-group-addon {
    color: #f1c40f;
    border-color: #f1c40f;
    background-color: #ffffff;
  }
  .form-control-feedback {
    color: #f1c40f;
  }
}

.has-error {
  .help-block, .control-label.changing-color, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #e74c3c;
  }
  .form-control, .select2-search input[type="text"] {
    color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: none;
  }
  .form-control::-moz-placeholder, .select2-search input[type="text"]::-moz-placeholder {
    color: #e74c3c;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder, .select2-search input[type="text"]:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .select2-search input[type="text"]::-webkit-input-placeholder {
    color: #e74c3c;
  }
  .form-control:focus, .select2-search input[type="text"]:focus {
    border-color: #e74c3c;
    box-shadow: none;
  }
  .input-group-addon {
    color: #e74c3c;
    border-color: #e74c3c;
    background-color: #ffffff;
  }
  .form-control-feedback {
    color: #e74c3c;
  }
}

.form-control {
  &[disabled] + .form-control-feedback, &[readonly] + .form-control-feedback {
    cursor: not-allowed;
    color: #d5dbdb;
    background-color: transparent;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}

fieldset[disabled] .form-control + .form-control-feedback, .form-control.disabled + .form-control-feedback {
  cursor: not-allowed;
  color: #d5dbdb;
  background-color: transparent;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.select2-search input[type="text"] {
  &[disabled] + .form-control-feedback, &[readonly] + .form-control-feedback {
    cursor: not-allowed;
    color: #d5dbdb;
    background-color: transparent;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}

fieldset[disabled] .select2-search input[type="text"] + .form-control-feedback, .select2-search input[type="text"].disabled + .form-control-feedback {
  cursor: not-allowed;
  color: #d5dbdb;
  background-color: transparent;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

// FlatUI --end

// Bootstrap --start
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @extend .text-darkGray;
  line-height: 1.3;
}

.popover {
  font-family: "IranSans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

// Bootstrap --end

// Player List --start

.player-list {
  margin-right: -3px;
  margin-left: -3px;

  .player-list-item {
    @extend .mt10;
    padding-right: 3px;
    padding-left: 3px;

    &.current {
      filter: grayscale(100%);

      .player-list-item-inner {
        @extend .border-blue;
      }

      .player-list-item-playing {
        opacity: 1;
      }
    }

    &:not(.current) {
      .player-list-item-inner {
        cursor: pointer;
      }
    }

    &:hover, &.current {
      .player-list-item-text {
        opacity: 1;
      }
    }

    .player-list-item-inner {
      @extend .border-2, .border-gray;
      width: 100%;
      height: 100px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .player-list-item-text {
      @extend .text-center;
      position: absolute;
      bottom: 0;
      font-size: 11.3px;
      padding: 3px 5px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .player-list-item-playing {
      opacity: 0;
      font-weight: 600;
    }

    * {
      $transition: all 1s;
      -webkit-transition: #{$transition};
      -moz-transition: #{$transition};
      -ms-transition: #{$transition};
      -o-transition: #{$transition};
      transition: #{$transition};
    }
  }
}

// Player List --end

// Featherlight --start
.featherlight {
  .featherlight-previous,
  .featherlight-next {
    @extend %font-family-awesome;
    height: auto;
    right: 4px;

    &:hover {
      background: none;
    }

    span {
      @extend .f50;
    }
  }

  .featherlight-previous {
    left: 4px;
    right: 80%;
  }

  .featherlight-content {
    padding: 4px 4px 0;
    border-bottom-width: 4px;
  }

  .featherlight-caption {
    position: absolute;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    width: calc(100% - 8px);
    line-height: 50px;
  }

  .featherlight-close-icon {
    border-bottom-left-radius: 80%;
  }
}

// Featherlight --end

// Celebs --start
.celebs {
  .celebs-item {
    $transformDegree: $rtlRatio * 20;
    $itemHeight: 240;
    $imageWidth: ($itemHeight * 4 /3);
    .celebs-item-inner {
      @extend .pull-start, .border-blue, .border-2, .mb20;
      width: 100%;
      height: #{$itemHeight}px;
      overflow: hidden;

      .celebs-item-img {
        $transform: skew((-1 * $transformDegree) * 1deg, 0);
        $marginLeft: $imageWidth / 5;
        @extend .pull-end, .border-#{$startSide}-2, .border-#{$startSide}-blue;
        width: #{$imageWidth}px;
        height: 100%;
        -webkit-transform: #{$transform};
        -moz-transform: #{$transform};
        -ms-transform: #{$transform};
        -o-transform: #{$transform};
        transform: #{$transform};
        margin-#{$endSide}: -#{$marginLeft}px;
        position: relative;
        overflow: hidden;

        &:before {
          content: " ";
          width: 130%;
          height: 100%;
          //background: url("http://localhost/ehda.center/public/photos/shares/special volunteers/Tarane Alidoustin.jpg");
          position: absolute;
          transform: skew(-20deg, 0);
          top: 0;
          left: -30px;
          background-size: cover;
        }

        img {
          width: 100%;
          transform: skew($transformDegree * 1deg, 0);
          margin-#{$startSide}: -14%;
          height: 100%;
          object-fit: cover;
        }
      }

      .celebs-item-text {
        @extend .pull-start, .pr10;
        width: calc(100% - #{$imageWidth}px);
      }
    }
  }
}

// Celebs --end

// Angels --start
.angels-main-container {
  position: static;
  .angels-main-container-inner {
    //position: relative;

    & > *:not(.stars-bg):not(.new-angel-form-container) {
      z-index: 3;
    }
  }

  .stars-bg {
    background: url(#{$imagesDir}angels-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 2;

    .show-form-btn-container {
      width: 100%;
      position: absolute;
      bottom: 20px;

      > button {
        $transform: scale(4, 1);
        @extend .text-white, .f40;
        background: transparent;
        border: none;
        line-height: 30px;
        -webkit-transform: #{$transform};
        -moz-transform: #{$transform};
        -ms-transform: #{$transform};
        -o-transform: #{$transform};
        transform: #{$transform};
        opacity: 0.5;
      }
    }
  }

  .stars {
    background: url(#{$imagesDir}big-fade-logo.png) no-repeat 50%;
    padding: 20px;
    background-size: contain;
    margin: 200px 20px;
    @media(max-width: 750px) {
      margin: 100px 20px;
    }
    svg {
      max-width: 100%;
    }
    circle {
      transition: all 0.2s;
      transform-origin: center center;
      cursor: pointer;
      animation: starpulse 1.5s linear infinite;
      stroke: #fff;
      stroke-width: 0;
      &:nth-child(odd) {
        animation-delay: 0.3s;
      }
      &:nth-child(3n+1) {
        animation-delay: 0.5s;
      }
      &:hover {
        opacity: 1 !important;
        stroke-width: 5px !important;
      }
    }
    .user-card {
      position: absolute;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px 20px;
      width: 140px;
      height: 160px;
    }
    .angel-img {
      display: none;
    }
  }

  .search-angel {
    text-align: center !important;
    margin-top: 60px !important;

    input, button {
      display: inline-block;
      vertical-align: middle;
      transition: all 0.2s;
      outline: none !important;
    }
    input {
      background-color: rgba(191, 193, 237, 0.1);
      border: 4px solid #747294;
      border-radius: 8px;
      color: #fff;
      padding: 5px 10px;
      &:hover, &:active, &:focus {
        border-color: #fff;
      }
    }
    .btn-search {
      border: 4px solid rgba(255, 255, 255, 0.4);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: transparent;
      box-sizing: border-box;
      position: relative;
      &:hover, &:active, &:focus {
        border-color: #fff;
      }
    }
    &.loading {
      pointer-events: none;
      .btn-search:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border: 4px solid transparent;
        border-top-color: #fff;
        border-radius: 50%;
        animation: spin 1.4s linear infinite;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes starpulse {
    0% {
      stroke-width: 3px;
      opacity: 0.4;
    }
    50% {
      stroke-width: 0;
      opacity: 1.0;
    }
    100% {
      stroke-width: 3px;
      opacity: 0.4;
    }
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(1.3);
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.3);
    }
    70% {
      transform: scale(1);
    }
  }

  .user-card {
    @extend .text-white;
    background: none !important;
    height: auto;

    img {
      @extend .border-2;
      border-color: rgba(255, 255, 255, .5);
      object-fit: cover;
    }
  }

  .new-angel-form-container {
    position: relative;
    overflow-y: hidden;
    .new-angel-form-container-inner {
      //position: absolute;
      //bottom: 0;
      //left: 0;
      //background-color: #fff;
      //z-index: 0;
    }
  }
}

// Angels --end

// Alerts --start
.alert {
  $alertFontSize: 1.1rem;
  @extend .full-width, .pt10, .pb10, .pr20, .pl20, .bg-white, .border-1, .border-lightGray, .mb15, .text-darkGray;
  font: normal $alertFontSize IRANSans, Tahoma, Arial, sans-serif;

  position: relative;

  &:after {
    @extend .border-right-5, .border-right-red;
    position: absolute;
    //z-index: 800;
    top: 0;
    right: 0;

    height: 100%;

    content: "";
  }

  &[class^="icon-"],
  &[class*=" icon-"] {
    padding-right: 64px;
  }

  &[class^="icon-"]:before,
  &[class*=" icon-"]:before {
    font: normal 16px "icomoon";

    position: absolute;
    z-index: 700;
    top: 0;
    right: 0;

    width: 50px;
    height: 100%;
    padding: 12px 19px 12px 14px;

    text-align: center;

    color: #e75668;
    border-left: 1px solid #e1e1e1;
    background: #f1f5f5;
  }

  &.alt {
    @extend .text-white, .bg-red;
  }

  &.alt p,
  &.alt ul,
  &.alt li {
    @extend .text-white;
  }

  &.alt a {
    @extend .text-lightGray;
  }

  &.alt a:hover {
    @extend .text-white;
  }

  &.alt:after {
    @extend .border-red;
  }

  &.alt:before {
    @extend .text-white;
    width: 45px;
    padding: 12px 0;

    text-align: center;

    border-left-color: #b94553;
    background: #c44958;
  }

  // Red & Danger -start
  &.red:after,
  &.alert-danger:after {
    @extend .border-red;
  }

  &.red:before,
  &.alert-danger:before {
    @extend .text-darkRed;
  }

  &.red.alt,
  &.alert-danger.alt {
    @extend .bg-lightRed;
  }

  &.red.alt:after,
  &.alert-danger.alt:after {
    @extend .border-darkRed;
  }

  &.red.alt:before,
  &.alert-danger.alt:before {
    @extend .text-white, .border-left-red, .bg-darkRed;
  }
  // Red & Danger -end

  // Green & Success -start
  &.green:after,
  &.alert-success:after {
    @extend .border-green;
  }

  &.green:before,
  &.alert-success:before {
    @extend .text-darkGreen;
  }

  &.green.alt,
  &.alert-success.alt {
    @extend .bg-lightGreen;
  }

  &.green.alt:after,
  &.alert-success.alt:after {
    @extend .border-darkGreen;
  }

  &.green.alt:before,
  &.alert-success.alt:before {
    @extend .text-white, .border-left-green, .bg-darkGreen;
  }

  &.blue:after,
  &.alert-info:after {
    @extend .border-blue;
  }
  // Green & Success -end

  // Blue & Info -start
  &.blue:before,
  &.alert-info:before {
    @extend .text-darkBlue;
  }

  &.blue.alt,
  &.alert-info.alt {
    @extend .bg-lightBlue;
  }

  &.blue.alt:after,
  &.alert-info.alt:after {
    @extend .border-darkBlue;
  }

  &.blue.alt:before,
  &.alert-info.alt:before {
    @extend .text-white, .border-left-blue, .bg-darkBlue;
  }
  // Blue & Info -end

  // Blue & Info -start
  &.gray:after {
    border-color: #a0a0a0;
  }

  &.gray:before {
    color: #a0a0a0;
  }

  &.gray.alt {
    background: #a0a0a0;
  }

  &.gray.alt:after {
    border-color: #888888;
  }

  &.gray.alt:before {
    color: #ffffff;
    border-left-color: gray;
    background: #888888;
  }

  &.dark:after {
    border-color: #7089a5;
  }

  &.dark:before {
    color: #7089a5;
  }

  &.dark.alt {
    background: #7089a5;
  }

  &.dark.alt:after {
    border-color: #5f748c;
  }

  &.dark.alt:before {
    color: #ffffff;
    border-left-color: #5a6e84;
    background: #5f748c;
  }

  &.light:after {
    border-color: #fafafa;
  }

  &.light:before {
    color: #fafafa;
  }

  &.light.alt {
    background: #fafafa;
  }

  &.light.alt:after {
    border-color: #d5d5d5;
  }

  &.light.alt:before {
    color: #ffffff;
    border-left-color: #c8c8c8;
    background: #d5d5d5;
  }

  &.compact {
    display: inline-block;

    width: auto;
  }

  p {
    font-size: $alertFontSize;
    line-height: 1.8;
  }

  a {
    font-size: $alertFontSize;
  }

  ul {
    padding-right: 20px;
  }

  ul li {
    font-size: $alertFontSize;

    margin-bottom: 2px;
  }
}

// Alerts --end

// Owl Card Slider --start
.owl-card-theme {
  .owl-item {
    .slide-text {
      @if $rtl {
        direction: rtl;
      } @else {
        direction: ltr;
      }
    }
  }
}

// Owl Card Slider --end

// Post Template --start
.sub-title, .post-title {
  line-height: 1.7;
}

.article {
  margin-bottom: 30px;
  .comments {
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
  }
  .post-cover {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
  }
  img {
    max-width: 100%;
    padding: 10px;
  }
  .tags, .share, .comments {
    margin-top: 10px;
  }
  .tags {
    a {
      margin-bottom: 5px;
    }
  }

  .download-box {
    .download-box-watermark {
      @extend .floating-top-0, .floating-left-15, .p15, .full-height, .align-vertical-center;
      font-size: 10em;
      line-height: 1;
      opacity: .3;
      overflow-y: hidden;
    }
  }
}

// Post Template --end

// Font Page --start
.btn-with-image {
  position: relative;

  &:after {
    $width: 40;
    content: ' ';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: #{$startSide};
    left: -#{($width + 5)}px;
    top: 0;
    width: #{$width}px;
    height: 30px;
  }

  &.btn-with-image-font {
    &:after {
      background-image: url(#{$imagesDir}download-link-icon-font.png);
    }
  }

  &.btn-with-image-pdf {
    &:after {
      background-image: url(#{$imagesDir}download-link-icon-pdf.png);
    }
  }
}

// Font Page --end

// Timers --start

.timers {
  margin-top: 50px;
  .row > div {
    margin-bottom: 20px;
  }
  .circle {
    overflow: hidden;
  }
  svg, canvas {
    max-width: 100%;
    /*height: auto;*/
  }
  .count-down {

  }
  .timer {
    font-weight: 700;
    line-height: 2.5;
    width: 65%;
    margin-left: 5px;
    span {
      display: inline-block;
      width: auto;
      font-size: 2em;
      text-align: center;
      @media(max-width: 1200px) {
        font-size: 1.7em;
      }
      @media(max-width: 1000px) {
        font-size: 1.2em;
      }
      @media(max-width: 780px) {
        font-size: 1.8em;
      }
      @media(max-width: 500px) {
        font-size: 1.4em;
      }
      @media(max-width: 440px) {
        font-size: 1.1em;
      }
    }
  }
  .timer-message {
    white-space: normal;
    @media(max-width: 780px) and (min-width: 580px) {
      margin-top: 15px;
    }
    strong {
      display: block;
      font-size: 1.3em;
    }
    span {

    }
  }
  .circle-main {

  }
  .circle-progress {
    stroke-dasharray: 251;
    transform: rotate(-90deg);
    transform-origin: center center;
  }
  .circle-green {
    stroke: $color-green;
  }
  .circle-blue {
    stroke: $color-primary;
  }
  .circle-gray {
    stroke: #ccc;
  }
}

// Timers --end