/* important variables */
@import "variables";
/* libraries */
@import "bootstrap";
@import "bootstrap-rtl";
@import "jquery-ui/flat-ui-theme";
@import "font-awesome/font-awesome";
/* direction files */
@import "local-variables/rtl";
/* yt files */
@import "colors";
@import "measurement_and_alignment";
@import "fonts";
/* plugins files */
@import "owl-carousel";
@import "owl-card-theme";
@import "owl-theme";
@import "owl-transitions";
/* other files */
@import "sprites";

$color-primary: #1c3482;
$color-green: #3ab637;

html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}

.bg-primary {
  background: $color-primary url(#{$imagesDir}menu-bg.jpg) no-repeat right center;
  background-size: cover;
  * {
    color: #fff;
  }
  a:hover, a:focus {
    color: #f1f1f1;
  }
}

.bg-success {
  background-color: $color-green;
}

.text-success {
  color: $color-green;
}

.text-white {
  color: #fff;
}

.no-margin {
  margin: 0;
}

body.sticky-header {
  margin-top: 30px;
  header .main-menu > ul .mega-menu:after {
    background-position-y: 60px;
  }
  .main-menu {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    //height: 68px;
    padding: 0 15px;
    z-index: 30;
    top: 0;
    box-shadow: 0 0 20px -4px rgba(0, 0, 0, .5);
    margin: 0;
  }
}

.has-child {
  &.relative {
    position: relative;
  }
  ul {
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1000;
    &.mega-menu {
      > ul {
        display: block;
      }
      left: 0;
      right: 0;
      > ul {
        position: relative;
        float: right;
        text-align: right;
      }
    }
  }
  &.active {
    ul {
      /*display: block;*/
    }
  }
}

.right-bordered-link {
  border-right: 2px solid #fff;
  padding: 3px 10px;
  display: block;
}

.mega-menu {
  @media (max-width: 1000px) and (min-width: 480px) {
    overflow-y: auto;
    padding: 20px;
    top: 76px;
  }
  @media (max-width: 480px) {
    overflow-y: auto;
    padding: 20px;
    top: 119px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-size: 18px;
  }
  > ul {
    margin: 0 20px;
    @media (max-width: 1000px) {
      float: none !important;
      display: block !important;
      margin: 10px 0px;
    }
    > li {
      display: block;
      > a {
        &:hover {
          border-color: color(#fff);
        }
      }
    }
  }
}

.home-slider {
  .item {
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    img {
      display: block;
      width: 100%;
      height: auto;
      min-height: 400px;;
      opacity: 0;
    }
  }
}

.fixed-background {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width: 500px) {
    h3 {
      font-size: 300% !important;
    }
  }
}
.special-list {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  .media-heading {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    font-size: 18px;
  }
  .media-start, .media-end {
    width: 20%;
    min-width: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .media {
    img {
      border: 1px solid #ccc;
    }
    &:hover {
      .date {
        &:before {
          background-color: #5a93c4;
          transform: translateY(-50%) scale(1.3);
        }
        span {
          color: #5a93c4;
          background-color: #f9f9f9;
          box-shadow: inset 0 0 0 1px #5a93c4;
        }
      }
    }
    .date {
      position: relative;
      span {
        border-radius: 20px;
        background-color: #5a93c4;
        padding: 1px 10px 0;
        display: inline-block;
        position: relative;
        z-index: 1;
        color: #fff;
        transition: color 0.2s, box-shadow 0.2s, background-color 0.2s;
      }
      &:before {
        position: absolute;
        left: 0;
        content: "";
        background-color: #a8cbe8;
        height: 1px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.1s, background-color 0.1s;
      }
    }
  }
  .media-body {
    width: 80%;
    max-width: 0; //just hack
    p {
      max-height: 70px;
      overflow: hidden;
    }
  }
  > h3 {
    margin: -10px -10px 10px;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    background-color: #eee;
    border-radius: 5px 5px 0 0;
  }
}

.events, .news {
  padding-top: 10px;
}

.news {
  .date {
    font-size: 0.9em;
    display: block;
  }
}

.social-links {
  a {
    display: block;
    opacity: .8;
    //transform: scale(1.2);
    &:hover {
      opacity: 1;
    }
  }
}

body.contact .content {
  > .row:last-child {
    margin-bottom: 50px;
  }
  .social-links {
    a {
      margin: 10px;
    }
  }
}

#home-notes {
  padding: 3% 0;
}

.animated-people {
  @media(max-width: 550px) {
    white-space: nowrap;
    transform: scale(0.7);
  }
  @media(max-width: 450px) {
    > span:first-child {
      transform: scale(1.5);
    }
    > span:first-child, .equal-sign {
      display: block;
      margin: auto;
    }
    white-space: nowrap;
    transform: scale(0.7);
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  > span {
    width: 20px;
    height: 58px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
    span {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  span.equal-sign {
    font-size: 4em;
    color: #ccc;
    width: auto;
    height: auto;
    line-height: 2em;
  }
}

.animate-die {
  animation: die 10s linear infinite;
  transform-style: preserve-3d;
}

.animate-return {
  animation: return 10s linear infinite;
  transform-style: preserve-3d;
}

@keyframes die {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  10% {
    opacity: 0.06;
  }
  13% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  43% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

@keyframes return {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  60% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  80% {
    opacity: 1;
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/*Gallery*/
* {
  box-sizing: border-box;
}

#gallery {
  margin-bottom: 100px;
}

.flex_wrapper {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 24%;
  position: relative;
  transition: all 0.2s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  img {
    transition: opacity 0.3s;
  }
}

.flex-item:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.flex-item:nth-child(7n+5) {
  margin-right: 12%;
}

.flex-item .inner {
  width: 69.5%;
  height: 0;
  padding-bottom: 69.5%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.flex-item .inner img {
  width: 165%;
  transform: translateX(17%) translateY(-17%) rotate(-45deg);
}

.gallery-archive {
  .thumbnail {
    position: relative;
    overflow: hidden;
    &:hover {
      .media-object {
        opacity: 1;
      }
    }
    .media-object {
      width: 100%;
      height: auto;
      opacity: .8;
      transition: all 0.2s;
    }
    .media-title {
      position: absolute;
      color: #fff;
      bottom: 30px;
      right: 4px;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0.5);
      max-width: 90%;
    }
  }
}

@import "featherlight";
@import "featherlight.gallery";

span.container {
  display: block;
}

@import "persian-datepicker";
.ehda-card-image {
  max-width: 80%;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin: 20px 0;
}

#registerForm {
  margin-top: 40px;
}

/*Checkboxes & Radios*/
@keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #3e97eb;
  }
}

/*Form*/
select.form-control {
  padding-top: 0;
  padding-bottom: 0;
}

.ehda-card-form {
  .submit {
    outline: none !important;
    img {
      transition: all 0.1s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.tooltip-inner {
  font-family: "IranSans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.input-group-addon {
  .form-control {
    margin: -4px 0px;
    border-radius: 4px !important;
    height: 28px;
    padding: 1px 3px !important;
  }
}

.media-start, .media-end {
  display: table-cell;
  vertical-align: top;
}

@import "public";