/*
*-------------------------------------------------------
* Gachet Colors
*-------------------------------------------------------
*/

$ml_pink: #E75668;

$ml_red-light: #ff6f60;
$ml_red: #E53935;
$ml_red-dark: #ab000d;
$ml_red-darker: #981714;

$ml_yellow: #E8E94D;

$ml_blue: #125dad;
