/*
*-------------------------------------------------------
* Category Browse
*-------------------------------------------------------
*/

%custom_scrollbar{
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    outline: 1px solid #708090;
    border-radius: 3px;
  }
}

.categories_browse{
  display: flex;
  flex-direction: row;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  height: 80vh;
  align-items: stretch;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  .categories_sidebar{
    $sidebar_border: 1px solid #e7e7e7;

    background-color: #f3f5f7;
    padding: 30px 0;
    flex: 0 0 230px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    .categories_folders{
      padding: 0;
      list-style-type: none;
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
      border-top: $sidebar_border;

      @extend %custom_scrollbar;


      .categories_folder{
        a{
          display: inline-block;
          padding: 12px 15px 10px;
          width: 100%;
          color: #656565;
          border-bottom: $sidebar_border;
          text-decoration: none;
          border-right: 3px solid transparent;

          &:hover{
            background-color: #ebf1f3;
          }

          &.active{
            background-color: #fff;
            color: #23b7e5;
            border-right: 3px solid #23b7e5;
            position: relative;
            &:after{
              content: '';
              width: 3px;
              height: 100%;
              position: absolute;
              left: -2px;
              top: 0;
              background-color: #fff;
            }
          }
        }
      }
    }

    .categories_footer{
      text-align: center;
      margin-top: auto;
    }
  }


  .categories_content{
    width: 100%;
    overflow-y: auto;

    @extend %custom_scrollbar;

    .categories_inner_body{
      display: flex;
      align-items: stretch;
      min-height: 100%;
      flex-direction: row;

      @media (max-width: 1250px) {
        flex-direction: column;
        height: auto;
      }

      .categories_create{
        //border-left: 1px solid #ddd;
        padding: 30px 15px;
        flex: 0 0 420px;
        box-shadow: inset 1px 0 4px rgba(0, 0, 0, 0.13);

        @media (max-width: 1250px) {
          flex-direction: column;
          flex: auto;
          border: 0;
          border-bottom: 1px solid #ddd;
        }
      }

      .categories_nested{
        padding: 30px 15px;
        flex: 1;

        .categories_list{
          list-style-type: none;
          margin-bottom: 15px;

          .categories_item{
            .category_box{
              padding: 8px 12px;
              border: 1px solid #e6e6e6;
              margin-bottom: 8px;
              border-radius: 3px;
              background: #f7f7f7;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
              font-size: 13px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &.deactivated{
                background: repeating-linear-gradient(150deg, #efefef, #efefef 10px, #f9f9f9 10px, #f9f9f9 21px);
              }

              .category_buttons{
                display: flex;
                align-items: center;
                .category_button{
                  font-size: 17px;
                  line-height: 1;
                  display: inline-block;
                  margin: 0 8px;
                  cursor: pointer;
                  &:last-child{
                    margin: 0;
                  }
                }

              }
            }

          }
        }
      }

      .categories_labels{
        padding: 30px 15px;
        flex: 1;

        .category_label{
          display: inline-flex;
          border-radius: 3px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          justify-content: space-between;
          background: #333;
          margin-bottom: 10px;
          margin-left: 5px;
          color: #fff;

          .category_title{
            padding: 8px 10px;
            min-width: 70px;
            text-align: center;
            font-size: 13px;
          }

          .category_buttons{
            display: flex;
            .category_button{
              width: 35px;
              justify-content: center;
              font-size: 17px;
              display: inline-flex;
              align-items: center;
              border-right: 1px solid rgba(0,0,0,0.1);
              cursor: pointer;
              background-color: rgba(0,0,0,0);
              transition: background-color 0.35s;
              &:hover{
                background-color: rgba(0,0,0,0.07);
              }
            }
          }

          &.deactivated{
            filter: grayscale(100%);
          }
        }

      }

    }
  }
}

.categories_modal{
  padding: 30px !important;

  .modal-dialog{
    width: 100% !important;
    .modal-body{
      max-height: none;
    }
  }
}
