/////////////////////////////////////////////////
//                                             //
//                    BASE                     //
//                                             //
//        Site-wide mixins and functions       //
//                                             //
/////////////////////////////////////////////////

$color__white: #FFFFFF;
$color__black: #000000;

$color__green: #88AC2E;

$color__blue: #3397b9;

$color__blue-gray: #28323e;
$color__blue-gray--dark: #212a35;

$color__gray--light: #9daeb8;
$color__gray--dark: #58595B;

// Bootstrap class modification
.text-danger{
  color: #ea211d;
}
.text-success{
  color: #05c509;
}
.text-warning{
  color: #d69213;
}
.text-info{
  color: #119ce0;
}
.text-purple{
  color: #ad02ad;
}


// extendable classes
.list-reset{
  margin:0;
  padding: 0;
  list-style-type: none;
}



// ## Calculates em size based on required pixel size and context.
// $target: (required) Required pixel size
// $context: (optional) Current font size used to calculate em value
// Returns: Em value
@function calc-em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}

// Clear fix
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Transition Cross Browser
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
