// SCSS CONFIGURATION


/////////////////
// 1.2 Fonts   //
/////////////////

$text__family-sans:  IRANSans , sans-serif;

///////////////
// 1.3 Sizes //
///////////////

$base__font-size: 18;
$base__line: 30;





