body {
  background: #ebf3e2 !important;
  font-family: IRANSans;
}

.wrapper {
  margin-top: 250px;
  margin-bottom: 80px;
}
header{
  height: 150px;
  text-align: center;
  margin-bottom: 25px;
  background: #88AC2E;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  img{
    height: 100%;
  }
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}