/*
*-------------------------------------------------------
* Calendar List
*-------------------------------------------------------
*/

.calendar-list{
  margin: 0 -15px;
  .row-calendar{
    transition: all 0.35s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .dropdown-toggle{
      background: transparent;
      border: 0;
      opacity: 0.5;
    }

    &:hover{
      background-color: #f1f3f4;
      .dropdown-toggle{
        opacity: 0.8;
      }
    }
  }
}
