/*
*-------------------------------------------------------
* Comments
*-------------------------------------------------------
*/

.box-comment{
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.comment_compose{
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}
