/*
*-------------------------------------------------------
* Event modal
*-------------------------------------------------------
*/

.notification-form-row{
  border: 1px solid #eee;
  margin-bottom: 20px;

  h4{
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
