/*
*-------------------------------------------------------
* modal
*-------------------------------------------------------
*/

.modal-title {
  font-weight: 500;
  font-size: 16px;
}

.modal-wait {
  margin: 20px ;
}

.modal-body{
  max-height: 70vh;
  overflow-y: auto;
  padding-bottom: 100px;
}

.modal-wait{
  height: 40px;
}

