/*
*-------------------------------------------------------
* PDatePicker
*-------------------------------------------------------
*/
.datepicker-plot-area{
  font-size: 12px;
  font-family: Vazir, sans-serif;
}

.twin{
  display: flex;
  flex-direction: row;
  input:first-child{
    @include margin-end(5px);
  }
}
