/*
*-------------------------------------------------------
* Specs Style Sheet
*-------------------------------------------------------
*/

.reset-tform{
  .tForms{
    max-width: unset;
  }
}

.specs-list{
  // Styling
  ol{
    list-style-type: none;
    &.panel-group{
      .panel{
        border-top-width: 1px;
        .panel-heading{
          button{
            em{
              vertical-align: middle;
            }
          }
          .js_sortable_handle{
            cursor: move;
          }
        }
      }
    }
  }


  // JS Specific classes
  .js_spec_item{
    .js_delete_cat{
      display: none;
    }
    .js_spec_draggable{
      min-height: 50px;
    }
    &.js_no_child{
      .js_control-btns{
        .js_delete_cat{
          display: inline-block;
        }
      }
      .js_spec_draggable{
        margin: 15px;
        padding: 30px;
        border: 2px dashed #ddd;
        background: #fafafa;
      }
    }
  }
}
