//-----------------------------------------------------------------
// Mixins
//-----------------------------------------------------------------

// Clearfix
@mixin clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

// Media query
@mixin bp($class: xs) {
    @if $class == xs {
        @media (max-width: (map_get($bp-sizes, 'sm')-1) + 'px') { @content; }
    }

    @else if $class == sm {
        @media (min-width: map_get($bp-sizes, 'sm') + 'px') { @content; }
    }

    @else if $class == md {
        @media (min-width: map_get($bp-sizes, 'md') + 'px') { @content; }
    }

    @else if $class == lg {
        @media (min-width: map_get($bp-sizes, 'lg') + 'px') { @content; }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

//-----------------------------------------------------------------
// Make Grid
//-----------------------------------------------------------------
@mixin make-grid($size){

    $list: '.col-#{$size}-1';

    @for $i from 2 through $columns {
        $list: "#{$list}, .col-#{$size}-#{$i}";
    }

    @if($size == 'xs'){
        #{$list}{
            float: $global-right;
        }

        @for $i from 1 through 12 {
            .col-#{$size}-#{$i}{
                @include grid-width($i);
            }
        }
    } @else {
        @include bp($size){
            #{$list}{
                float: $global-right;
            }

            @for $i from 1 through 12 {
                .col-#{$size}-#{$i}{
                    @include grid-width($i);
                }
            }
        }
    }
}
@mixin grid-width($i){
    width: percentage(($i / $columns));
}

//-----------------------------------------------------------------
// Box
//-----------------------------------------------------------------
@mixin box(){
	background: $panel-body-background;
	border: 0;
	border-radius: $panel-border-radius;
	box-shadow: $panel-box-shadow;
}

//-----------------------------------------------------------------
// Margin Generator
//-----------------------------------------------------------------
@mixin margin_generator($value) {

	.m#{$value}{
		margin: rem($value)!important;
	}

	.mt#{$value}{
		margin-top: rem($value)!important;
	}

	.mr#{$value}{
		margin-right: rem($value)!important;
	}

	.mb#{$value}{
		margin-bottom: rem($value)!important;
	}

	.ml#{$value}{
		margin-left: rem($value)!important;
	}

}



//-----------------------------------------------------------------
// Padding Generator
//-----------------------------------------------------------------
@mixin padding_generator($value) {

	.p#{$value}{
		padding: rem($value)!important;
	}

	.pt#{$value}{
		padding-top: rem($value)!important;
	}

	.pr#{$value}{
		padding-right: rem($value)!important;
	}

	.pb#{$value}{
		padding-bottom: rem($value)!important;
	}

	.pl#{$value}{
		padding-left: rem($value)!important;
	}

}