//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

// Direction
//------------------------------------------------
$global-direction:          rtl !default;
$global-direction-reverse:  ltr !default;
$global-left:               if($global-direction == rtl, left, right);
$global-right:              if($global-direction == rtl, right, left);

// Colors
//------------------------------------------------
$color-red:                 #FF2D55      !default;
$color-red-lightest:			lighten($color-red, 36%) !default;
$color-red-lighter:			lighten($color-red, 20%) !default;
$color-red-light:			lighten($color-red, 10%) !default;
$color-red-dark:			darken($color-red, 10%) !default;
$color-red-darker:			darken($color-red, 20%) !default;
$color-gold:				#C29D46;
$color-orange:              #D8871E      !default;
$color-yellow:              #FFCC00      !default;
$color-green:               #2ecc71      !default;
$color-green-lightest:			lighten($color-green, 40%) !default;
$color-green-lighter:			lighten($color-green, 20%) !default;
$color-green-light:			lighten($color-green, 10%) !default;
$color-green-dark:			darken($color-green, 10%) !default;
$color-green-darker:			darken($color-green, 20%) !default;
$color-teal:                #009688      !default;
$color-blue:                #61CEED      !default;
$color-blue-lightest:			lighten($color-blue, 40%) !default;
$color-blue-lighter:			lighten($color-blue, 20%) !default;
$color-blue-light:			lighten($color-blue, 10%) !default;
$color-blue-dark:			darken($color-blue, 10%) !default;
$color-blue-darker:			darken($color-blue, 20%) !default;
$color-gray:                #737373 !default;
$color-gray-lightest:			lighten($color-gray, 40%) !default;
$color-gray-lighter:			lighten($color-gray, 20%) !default;
$color-gray-light:			lighten($color-gray, 10%) !default;
$color-gray-dark:			darken($color-gray, 10%) !default;
$color-gray-darker:			darken($color-gray, 20%) !default;
$colors-all: (
		'red': $color-red, 'red-lightest': $color-red-lightest, 'red-lighter': $color-red-lighter, 'red-light': $color-red-light, 'red-dark': $color-red-dark, 'red-darker': $color-red-darker,
		'green': $color-green, 'green-lightest': $color-green-lightest, 'green-lighter': $color-green-lighter, 'green-light': $color-green-light, 'green-dark': $color-green-dark, 'green-darker': $color-green-darker,
		'blue': $color-blue, 'blue-lightest': $color-blue-lightest, 'blue-lighter': $color-blue-lighter, 'blue-light': $color-blue-light, 'blue-dark': $color-blue-dark, 'blue-darker': $color-blue-darker,
		'gray': $color-gray, 'gray-lightest': $color-gray-lightest, 'gray-lighter': $color-gray-lighter, 'gray-light': $color-gray-light, 'gray-dark': $color-gray-dark, 'gray-darker': $color-gray-darker,
) !default;
$colors: (
        'red':              $color-red,
        'green':            $color-green,
        'blue':             $color-blue,
        'gray-darker':      $color-gray-darker,
        'gray-dark':        $color-gray-dark,
        'gray':             $color-gray,
        'gray-light':       $color-gray-light,
        'gray-lighter':     $color-gray-lighter,
) !default;

// Socials
$socials: (
        'facebook':         #3b5998,
        'google':      		#4285f4,
        'google-plus':      #dd4b39,
        'twitter':          #00aced,
        'instagram':        #405de6,
        'linkedin':         #007bb6,
        'youtube':          #bb0000,
        'telegram':         #0088cc,
        'dribbble':         #ea4c89,
        'pinterest':       	#bd081c,
) !default;

// Color usage
//------------------------------------------------
$global-color:              $color-blue;


// Transitions
// ------------------------------------------------
$global-transition:			all 0.2s ease-in-out;


// Typography
//------------------------------------------------
$font-directory: '../fonts/';

// Font Family
$font-family-vazir:         Vazir, Tahoma, Arial, sans-serif !default;
$font-family-vazir-farsi:   VazirFN, Vazir, Tahoma, Arial, sans-serif !default;
$font-family-iran:          IRANYekan, Vazir, Tahoma, Arial, sans-serif !default;
$font-family-icon:			'icomoon';

// Font weights
$font-weight-ultralight:    100 !default;
$font-weight-light:    		300 !default;
$font-weight-normal:        normal !default;
$font-weight-medium:        500 !default;
$font-weight-bold:          bold !default;

// Font base
$global-font-family:        $font-family-vazir !default;
$global-font-size:          16px !default;
$global-font-weight:        $font-weight-normal !default;
$global-line-height:        1.5 !default;
$global-base-color:        	#000 !default;

// Anchor
$link-color:                darken($color-blue, 20%) !default;
$link-decoration:           none !default;
$link-hover-color:          #000 !default;
$link-hover-decoration:     none !default;
$link-transition:     		$global-transition !default;

// Heading
$heading-font-family:       $font-family-iran;
$heading-font-size:         32, 28, 20, 16, 14, 13 !default;
$heading-font-weight:       $font-weight-bold !default;
$heading-color:             #222 !default;
$heading-line-height:       $global-line-height !default;
$heading-margin-bottom:     10px !default;
$heading-small-font-size:   80% !default;
$heading-small-font-weight: $font-weight-normal !default;
$heading-small-color:       #555 !default;
$heading-small-line-height: $global-line-height !default;

// Paragraph
$p-font-family:           	inherit !default;
$p-font-weight:				$font-weight-light !default;
$p-color:					#222 !default;
$p-margin-bottom:           1rem !default;

// Mark
$mark-bg:                   #fffecc !default;
$mark-padding-y:            1px !default;
$mark-padding-x:            3px !default;

// Strong
$strong-font-weight:        $font-weight-bold !default;

// Code
$code-font-family:          "Courier New", monospace !default;
$code-font-size:            100% !default;
$code-bg:                   #333 !default;
$code-color:                #fff !default;
$code-padding-y:            3px !default;
$code-padding-x:            5px !default;

// Grid
//------------------------------------------------
$bp-sizes: (
        'xs': 480,
        'sm': 768,
        'md': 992,
        'lg': 1200,
);
$container-sizes: (
        'sm': 750,
        'md': 970,
        'lg': 1170,
);
$columns: 12;
$gutter: 30px;


// Border
//------------------------------------------------
$global-border-color:       #e7e7e7;
$global-border:             1px solid $global-border-color;
$global-border-light-color: #f0f2f5;
$global-border-light: 		1px solid $global-border-light-color;
$global-border-radius:      3px;


// Box Shadow
//------------------------------------------------
$global-box-shadow:         0 5px 15px rgba(#000, 0.1);
$global-box-shadow-hover:   0 10px 25px rgba(#000, 0.2);


// Z-index
//------------------------------------------------
$z-index-0:					0;
$z-index-1:					100;
$z-index-2:					200;
$z-index-3:					300;
$z-index-4:					400;
$z-index-5:					500;
$z-index-6:					600;
$z-index-7:					700;
$z-index-8:					800;
$z-index-9:					900;
$z-index-front:				9999;


// Images
//------------------------------------------------
$image-border-radius: $global-border-radius;
$image-thumb-border-color: $global-border-color;
$image-thumb-border: 1px solid $image-thumb-border-color;
$image-thumb-padding: 5px;
$image-thumb-shadow: $global-box-shadow;

// Icons
//------------------------------------------------
$icon-selector: 			'[class^="icon-"], [class*=" icon-"]';
$icon-with-selector: 		'&[class^="icon-"], &[class*=" icon-"]';

// Buttons
//------------------------------------------------
$button-selector:           ".button";
$button-height:       		40px;
$button-border-color:       #dee5e7;
$button-border:             0 solid $button-border-color;
$button-bg:                 #fff;
$button-color:              #58666e;
$button-font-weight:        $font-weight-normal;
$button-font-family:        inherit;
$button-font-size:          rem(13);
$button-line-height:        1.3;
$button-padding-y:          rem(12);
$button-padding-x:          rem(32);
$button-wide-padding-x:		rem(24);
$button-border-radius:      $global-border-radius;
$button-transition:         $global-transition;
$button-shadow:             inset 0 1px 0 0 rgba(#fff, 0.2), 0 1px 1px rgba(90,90,90,0.1);
$button-shadow-active:      inset rgba(#000, 0.125) 0px 3px 5px, 0 2px 2px rgba(#000, 0);
$button-disabled-cursor:    default;
$button-disabled-opacity:   0.6;

$button-icon-font-size:		rem(14);
$button-with-icon-font-size:rem(14);
$button-with-icon-margin:	5px;
$button-labeled-padding-y:	16 + $button-height;

$button-xs-height:     		24px;
$button-xs-font-weight:     $font-weight-light;
$button-xs-font-size:       rem(11);
$button-xs-padding-y:       rem(5);
$button-xs-padding-x:       rem(8);
$button-wide-xs-padding-x:  rem(12);
$button-sm-height:     		30px;
$button-sm-font-size:       rem(12);
$button-sm-line-height:     1;
$button-sm-padding-y:       rem(8);
$button-sm-padding-x:       rem(14);
$button-wide-sm-padding-x:  rem(20);
$button-lg-height:     		54px;
$button-lg-font-size:       rem(16);
$button-lg-line-height:     1;
$button-lg-padding-y:       rem(19);
$button-lg-padding-x:       rem(24);
$button-wide-lg-padding-x:  rem(30);


// Button Group
//------------------------------------------------
$button-group-button-shadow:            inset 0 1px 0 0 rgba(#fff, 0.2);
$button-group-button-shadow-active:     inset 0 2px 5px 0 rgba(#000, 0.1);


// Alerts
//------------------------------------------------
$alert-bg:                  #fff;
$alert-border:              $global-border;
$alert-border-radius:		$global-border-radius;
$alert-big-border:          4px solid $global-border-color;
$alert-box-shadow:          $global-box-shadow;
$alert-padding-y:           rem(14);
$alert-padding-x:           rem(18);
$alert-margin-bottom:       1rem;
$alert-fixed-space:         20px;
$alert-font-family:			$global-font-family;
$alert-font-weight:			$font-weight-light;
$alert-font-size:			rem(13);
$alert-icon-width:			50px;
$alert-icon-font-size:		rem(16);
$alert-xs-padding-y:		8px;
$alert-xs-padding-x:		12px;
$alert-xs-font-size:		rem(11);
$alert-xs-icon-width:		35px;
$alert-xs-icon-font-size:	rem(12);
$alert-sm-padding-y:		10px;
$alert-sm-padding-x:		14px;
$alert-sm-font-size:		rem(12);
$alert-sm-icon-width:		40px;
$alert-sm-icon-font-size:	rem(14);
$alert-lg-padding-y:		16px;
$alert-lg-padding-x:		20px;
$alert-lg-font-size:		rem(16);
$alert-lg-icon-width:		60px;
$alert-lg-icon-font-size:	rem(20);


// Progress
//------------------------------------------------
$progress-height:           24px;
$progress-border:           0;
$progress-margin-bottom:    1rem;
$progress-box-shadow:       $global-box-shadow;
$progress-bg:               #eceeef;
$progress-border-radius:    $global-border-radius;
$progress-transition:       $global-transition;
$progress-font-size:        rem(12);


// Forms
//------------------------------------------------
$form-input-selector:				"input[type=text], input[type=email], input[type=file], input[type=number], input[type=password], input[type=tel], input[type=url], input[type=search]";
$form-input-height:     			40px;
$form-input-padding-y:				rem(8);
$form-input-padding-x:				rem(8);
$form-input-font-weight:    		$font-weight-normal;
$form-input-font-family:    		inherit;
$form-input-font-size:      		rem(13);
$form-input-line-height:    		inherit;
$form-input-text-align:				$global-right;
$form-input-placeholder-color: 		#caccd3;
$form-input-color:					#555;
$form-input-focus-color:			#000;
$form-input-bg:						#fff;
$form-input-border-color:			#e6ecf5;
$form-input-border:					1px solid $form-input-border-color;
$form-input-border-hover-color:		darken($global-border-color, 10%);
$form-input-border-focus-color:		$global-color;
$form-input-border-radius:			$global-border-radius;
$form-input-transition:				all 0.2s ease-in-out;
$form-input-disabled-cursor:		not-allowed;
$form-input-disabled-opacity:		0.7;
$form-input-disabled-border-color:	#ddd;
$form-input-disabled-bg:			#eee;
$form-input-error-color:			$color-red;
$form-input-success-color:			$color-green;
$form-input-warning-color: #FFB731;

$form-input-xs-height:				24px;
$form-input-xs-font-size:			rem(10);
$form-input-xs-font-weight:			$font-weight-light;
$form-input-xs-padding-y:			rem(6);
$form-input-xs-padding-x:			rem(6);
$form-input-sm-height:				30px;
$form-input-sm-font-size:			rem(12);
$form-input-sm-font-weight:			inherit;
$form-input-sm-padding-y:			rem(8);
$form-input-sm-padding-x:			rem(8);
$form-input-lg-height:				54px;
$form-input-lg-font-size:			rem(14);
$form-input-lg-font-weight:			inherit;
$form-input-lg-padding-y:			rem(10);
$form-input-lg-padding-x:			rem(20);

$form-label-font-family: 			inherit;
$form-label-font-weight: 			$font-weight-light;
$form-label-font-size: 				rem(13);
$form-label-color: 					#666;
$form-label-margin-bottom: 			5px;

$form-checkbox-size:				18px;
$form-checkbox-margin-bottom:		rem(5);
$form-checkbox-font-size:			rem(12);
$form-checkbox-space:				$form-checkbox-size + 7px;
$form-checkbox-border:				$global-border;
$form-checkbox-border-radius:		$global-border-radius;
$form-checkbox-bg:					#fbfbfb;
$form-checkbox-tick-size:			10px;
$form-checkbox-tick-border-size:	2px;
$form-checkbox-tick-right:			7px;
$form-checkbox-tick-top:			12px;
$form-checkbox-tick-color:			#aaa;
$form-checkbox-color:				$color-gray;
$form-checkbox-checked-color:		$color-gray-darker;
$form-checkbox-checked-bg:			$global-color;
$form-checkbox-checked-border:		darken($global-color, 10%);
$form-checkbox-sm-size: 			14px;
$form-checkbox-sm-font-size:		rem(10);
$form-checkbox-sm-space:			$form-checkbox-sm-size + 7px;
$form-checkbox-sm-tick-size:		8px;
$form-checkbox-sm-tick-border-size:	1px;
$form-checkbox-sm-tick-right:		5px;
$form-checkbox-sm-tick-top:			9px;
$form-checkbox-lg-size: 			24px;
$form-checkbox-lg-font-size:		rem(16);
$form-checkbox-lg-space:			$form-checkbox-lg-size + 6px;
$form-checkbox-lg-tick-size:		14px;
$form-checkbox-lg-tick-border-size:	3px;
$form-checkbox-lg-tick-right:		9px;
$form-checkbox-lg-tick-top:			14px;

$form-radio-size:					18px;
$form-radio-margin-bottom:			rem(5);
$form-radio-font-size:				rem(12);
$form-radio-space:					$form-radio-size + 7px;
$form-radio-border:					$global-border;
$form-radio-border-radius:			$global-border-radius;
$form-radio-bg:						#fbfbfb;
$form-radio-tick-size:				8px;
$form-radio-tick-right:				5px;
$form-radio-tick-top:				14px;
$form-radio-tick-color:				#aaa;
$form-radio-checked-color:			$color-gray;
$form-radio-checked-bg:				$global-color;
$form-radio-checked-border:			darken($global-color, 10%);
$form-radio-sm-size: 				14px;
$form-radio-sm-font-size:			rem(10);
$form-radio-sm-space:				$form-radio-sm-size + 7px;
$form-radio-sm-tick-size:			6px;
$form-radio-sm-tick-border-size:	1px;
$form-radio-sm-tick-right:			4px;
$form-radio-sm-tick-top:			11px;
$form-radio-lg-size: 				24px;
$form-radio-lg-font-size:			rem(16);
$form-radio-lg-space:				$form-radio-lg-size + 6px;
$form-radio-lg-tick-size:			14px;
$form-radio-lg-tick-border-size:	3px;
$form-radio-lg-tick-right:			5px;
$form-radio-lg-tick-top:			16px;

$form-switch-off-bg:				$color-gray-light;
$form-switch-xs-height: 			14px;
$form-switch-sm-height: 			20px;
$form-switch-height: 				29px;
$form-switch-lg-height: 			32px;

$form-field-margin-bottom:			20px;
$form-field-help-font-size:			rem(11);
$form-field-help-font-weight:		$font-weight-light;
$form-field-help-color:				$color-gray;
$form-field-help-margin:			5px;
$form-field-icon-width:				36px;

// Panel
//------------------------------------------------
$panel-border:						$global-border;
$panel-border-radius:				10px;
$panel-margin-bottom:				30px;
$panel-box-shadow:					$global-box-shadow;
$panel-last-margin:					30px;
$panel-body-padding:				30px;
$panel-body-background:				#fff;
$panel-header-padding:				10px 16px 10px 10px;
$panel-header-bg: 					#fafafa;
$panel-header-min-height: 			44px;
$panel-header-border-color: 		$global-border-color;
$panel-header-border-width: 		1px;
$panel-header-border: 				0 solid $panel-header-border-color;
$panel-header-title-color: 			#666;
$panel-header-title-font-family: 	$font-family-iran;
$panel-header-title-font-weight: 	$font-weight-bold;
$panel-header-icon-size: 			rem(14);
$panel-header-icon-color: 			$global-color;
$panel-header-icon-padding: 		6px 0 8px 12px;
$panel-header-icon-margin: 			8px;
$panel-header-link-font-family: 	inherit;
$panel-header-link-font-size: 		rem(14);
$panel-header-link-font-weight: 	inherit;


// Modal
//------------------------------------------------
$modal-bg:							rgba(#000, 0.8);
$modal-transition:					$global-transition;
$modal-width:						600px;
$modal-top:							150px;
$modal-bottom:						100px;
$modal-open-top:					100px;
$modal-xs-width:					250px;
$modal-sm-width:					400px;
$modal-lg-width:					850px;


// Labels
//------------------------------------------------
$label-bg: 							$color-gray;
$label-border-radius: 				$global-border-radius;
$label-padding-x: 					7px;
$label-padding: 					5px $label-padding-x;
$label-icon-width: 					20px;
$label-font-size: 					rem(12);
$label-xs-font-size:				rem(10);
$label-xs-padding:				    3px 4px 4px;
$label-sm-font-size:				rem(11);
$label-sm-padding:					4px 6px 5px;
$label-lg-font-size:				rem(14);
$label-lg-padding:					8px 10px 9px;

// Badges
//------------------------------------------------
$badge-padding: 4px 5px 3px;
$badge-font-size: rem(11);


// Table
//------------------------------------------------
$table-margin-bottom: 20px;
$table-box-shadow: $global-box-shadow;
$table-border-color: #f0f2f5;
$table-border: 1px solid $table-border-color;
$table-border-radius: $global-border-radius;
$table-text-align: right;
$table-bg: #fff;
$table-odd-bg: #fafafa;

$table-font-family: $global-font-family;
$table-font-size: rem(13);
$table-font-weight: $font-weight-light;
$table-line-height: normal;

$table-head-font-family: $global-font-family;
$table-head-font-weight: $font-weight-bold;
$table-head-color: $color-gray-dark;
$table-head-bg: #fff;
$table-head-border-color: $global-border-color;

// Divider
//------------------------------------------------
$divider-border:					$global-border;
$divider-dashed-border-color:		$color-gray-light;
$divider-dotted-border-color:		$color-gray-light;
$divider-margin:					20px;