/*-----------------------------------------------------------------
- Alerts
-----------------------------------------------------------------*/
.alert {
    width: 100%;
    background: $alert-bg;
    border: 0;
	border-radius: $alert-border-radius;
	box-shadow: $alert-box-shadow;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    position: relative;
	font-weight: $alert-font-weight;
	font-size: $alert-font-size;
	font-family: $alert-font-family !important;

	p{
		font-weight: $alert-font-weight;
		font-size: $alert-font-size;

		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		color: $global-color;
		border-bottom: 1px dotted $global-color;
	}
	ul{
		margin: 0;
		padding-right: 30px;

		li{
			margin-bottom: 5px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

    &:after {
        content: '';
        height: calc(100% + 2px);
        border-#{$global-right}: $alert-big-border;
		border-radius: 0 $alert-border-radius $alert-border-radius 0;
        position: absolute;
        top: -1px;
        #{$global-right}: -1px;
        z-index: 800;
    }

	//--------------------------------
	// Icon
	//--------------------------------
	&[class^="icon-"], &[class*=" icon-"] {
		padding-right: $alert-icon-width;
		font-weight: $alert-font-weight;
		font-size: $alert-font-size;
		font-family: $global-font-family !important;

		&:before {
			width: $alert-icon-width;
			text-align: center;
			font: normal $alert-icon-font-size $font-family-icon;
			line-height: $alert-icon-font-size;
			color: $global-color;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			margin-top: -2px;
			z-index: 700;
		}
	}

    //--------------------------------
    // Alt and Colors
    //--------------------------------
	&.alt {
		color: #ffffff;
		border-color: transparent;

		p, ul, li, h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
		a {
			color: #eeeeee;

			&:hover {
				color: #fff;
			}
		}
	}

	@each $color, $value in $colors{
		&.#{$color}{
			color: $value;

			&:after{
				border-color: $value;
			}
			&:before{
				color: $value;
			}
			a{
				color: darken($value, 10%);
				border-bottom-color: $value;
			}

			&.alt{
				background: $value;
				color: #ffffff;

				&:before{
					background: rgba($value, 0.9);
					border-color: darken($value, 15%);
					color: #ffffff;
				}
				&:after{
					border-color: darken($value, 15%);
				}
				a{
					color: #ffffff;
					border-bottom-color: #fff;
				}
			}
		}
	}

    //--------------------------------
    // Compact
    //--------------------------------
	&.compact {
		display: inline-block;
		width: auto;
	}

    //--------------------------------
    // Fixed
    //--------------------------------
	&.fixed{
		display: inline-block;
		width: auto;
		position: fixed;
		z-index: $z-index-front + 100;
		margin-bottom: 0;

		$positions: 'top', 'bottom', 'right', 'left';
		@each $position in $positions{
			&.#{$position}{
				#{$position}: $alert-fixed-space;
			}
		}
	}

	//--------------------------------
	// Close
	//--------------------------------
	.alert-close {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		border: 0 !important;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	&.alert-success, &.success{
		@extend .alert.green;
		background: #effff8;
	}
	&.alert-danger, &.danger{
		@extend .alert.red;
		background: #fff6f6;
	}
	&.alert-warning, &.warning{
		@extend .alert.red;
		background: #FFF2E1;
	}
}