/*-----------------------------------------------------------------
- Badges
-----------------------------------------------------------------*/
.badge{
	@extend .label;
	padding: $badge-padding;
	font-size: $badge-font-size;

	&.circular{
		border-radius: 20px;
	}
}

.notify{
	position: relative;

	> .badge, > .label{
		position: absolute;
		top: 0;
		right: 0;
	}
}

