/*-----------------------------------------------------------------
- Buttons
-----------------------------------------------------------------*/
#{$button-selector}{
    cursor: pointer;
    display: inline-block;
    outline: 0;
    height: $button-height;
    border: $button-border;
    vertical-align: middle;
    background: $button-bg;
    color: $button-color;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    font-family: $button-font-family;
    line-height: $button-line-height;
    padding: $button-padding-y $button-padding-x;
    text-transform: none;
    text-shadow: none;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: $button-border-radius;
    box-shadow: $button-shadow;
    user-select: none;
    transition: $button-transition;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-align: center;

    //--------------------------------
    // Hover, active, focus, disable
    //--------------------------------
    // Hover
    &:hover {
        background: darken($button-bg, 1%);
        border-color: darken($button-border-color, 5%);
		text-decoration: none;
    }

    // Active
    &:active, &.active {
        box-shadow: $button-shadow-active;
    }

    // Focus
    &:focus, &.focus{
        outline: 0;
    }

    // Disable
    &:disabled, &.disabled {
        opacity: $button-disabled-opacity;
        cursor: $button-disabled-cursor;
        pointer-events: none;
        box-shadow: none;
    }

    //--------------------------------
    // Colors
    //--------------------------------
	@each $color, $value in $colors{
		&.#{$color}{
			background: $value;
			border-color: darken($value, 8%);

			@if (lightness($value) > 80) {
				color: $button-color;
			} @else {
				color: #fff;
			}

			&:hover{
				background: darken($value, 5%);
			}

			&.shadow{
				top: 0;
				position: relative;
				box-shadow: 2px 2px 0 0 darken($value, 15%);

				&:hover{
					box-shadow: 0 2px 0 0 darken($value, 15%);
				}
				&:active{
					top: 2px;
					box-shadow: 0 0 0 0 darken($value, 15%);
				}
			}
		}
	}
    // Socials
	@each $social, $value in $socials{
		&.#{$social}{
			background: $value;
			border-color: darken($value, 8%);
			color: #ffffff;

			&:hover{
				background: darken($value, 5%);
			}
		}
	}

    //--------------------------------
    // Icons
    //--------------------------------
	&[class^="icon-"], &[class*=" icon-"] {
		width: $button-height;
		height: $button-height;
		font-family: $font-family-icon !important;
		font-size: $button-icon-font-size;
		padding-right: 0;
		padding-left: 0;
	}
	// With Icons
	[class^="icon-"], [class*=" icon-"] {
		font-size: $button-with-icon-font-size;
		margin-#{$global-left}: $button-with-icon-margin;
		position: relative;
		top: -1px;
	}
	// Icon on reverse side
	&.#{$global-left}{
		[class^="icon-"], [class*=" icon-"]{
			margin-#{$global-left}: 0;
			margin-#{$global-right}: $button-with-icon-margin;
		}
	}

	// Labeled
	&.labeled{
		position: relative;
		padding-#{$global-right}: $button-labeled-padding-y;
		overflow: hidden;

		[class^="icon-"], [class*=" icon-"] {
			position: absolute;
			top: 0;
			right: 0;
			width: $button-height;
			height: 100%;
			font-family: $font-family-icon;
			font-size: $button-with-icon-font-size;
			margin: 0;
			background: rgba(0, 0, 0, 0.05);
			border-left: 1px solid rgba(0, 0, 0, 0.05);

			&:before{
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				text-align: center;
				transform: translateY(-50%);
			}
		}

		&.#{$global-left}{
			padding-#{$global-right}: $button-padding-x;
			padding-#{$global-left}: $button-labeled-padding-y;

			[class^="icon-"], [class*=" icon-"] {
				right: auto;
				left: 0;
				border-#{$global-left}: 0;
				border-#{$global-right}: 1px solid rgba(0, 0, 0, 0.05);
			}
		}
	}

    //--------------------------------
    // Alternative
    //--------------------------------
	&.alt{
		background: none !important;
		color: $button-color;
		box-shadow: none;
		border: 1px solid $color-gray-lightest;

		@each $color, $value in $colors{
			&.#{$color}{
				border-color: $value;
				color: $value;

				&:hover{
					border-color: darken($value, 10%);
					color: darken($value, 10%);
				}
			}
		}
	}

    //--------------------------------
    // Inverted
    //--------------------------------
	&.inverted{
		background: none;
		color: $button-color;
		box-shadow: none;
		border: 1px solid $color-gray-lightest;

		&:hover{
			color: #ffffff;
			border-color: $button-color;
			background: $button-color;
		}

		@each $color, $value in $colors{
			&.#{$color}{
				border-color: $value;
				@if (lightness($value) > 80) {
					color: darken($value, 30%);
				} @else {
					color: $value;
				}

				&:hover{
					@if (lightness($value) > 80) {
						color: darken($value, 30%);
					} @else {
						color: #fff;
					}
					background: $value;
				}
				&:active{
					background: darken($value, 5%);
				}
			}
		}
	}


	//--------------------------------
	// Circular
	//--------------------------------
	&.circular{
		width: $button-height;
		border-radius: 50%;
		text-align: center !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}


    //--------------------------------
    // Block
    //--------------------------------
	&.block{
		display: block;
		width: 100%;
	}


	//--------------------------------
	// Rounded
	//--------------------------------
	&.rounded{
		border-radius: $button-height/2;
	}

	//--------------------------------
	// Wide
	//--------------------------------
	&.wide{
		padding: $button-padding-y $button-wide-padding-x;
	}

	//--------------------------------
	// Loader
	//--------------------------------
	&.loader{
		position: relative;
		overflow: hidden;

		&:after{
			content: '';
			width: 24px;
			height: 24px;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></svg>');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 24px;
			display: inline-block;
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			transition: $button-transition;
			opacity: 0;
			visibility: hidden;
			-webkit-filter: hue-rotate(220deg) saturate(5);
			filter: hue-rotate(220deg) saturate(5);
		}
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: inherit;
			z-index: 8;
			transition: $button-transition;
			opacity: 0;
			visibility: hidden;
		}

		// Types
		&.bubbles:after{
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white"><circle transform="translate(8 0)" cx="0" cy="16" r="0"><animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" /></circle><circle transform="translate(16 0)" cx="0" cy="16" r="0"><animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.3" keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" /></circle><circle transform="translate(24 0)" cx="0" cy="16" r="0"><animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" /></circle></svg>');
		}
		&.cylon:after{
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white"><path transform="translate(0 0)" d="M0 12 V20 H4 V12z"><animateTransform attributeName="transform" type="translate" values="0 0; 28 0; 0 0; 0 0" dur="1.5s" begin="0" repeatCount="indefinite" keytimes="0;0.3;0.6;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" /></path><path opacity="0.5" transform="translate(0 0)" d="M0 12 V20 H4 V12z"><animateTransform attributeName="transform" type="translate" values="0 0; 28 0; 0 0; 0 0" dur="1.5s" begin="0.1s" repeatCount="indefinite" keytimes="0;0.3;0.6;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" /></path><path opacity="0.25" transform="translate(0 0)" d="M0 12 V20 H4 V12z"><animateTransform attributeName="transform" type="translate" values="0 0; 28 0; 0 0; 0 0" dur="1.5s" begin="0.2s" repeatCount="indefinite" keytimes="0;0.3;0.6;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" /></path></svg>');
		}
		&.spinning:after{
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></svg>');
		}

		&.loader-light{
			&:after{
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="gray"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></svg>');
			}

			// Types
			&.bubbles:after{
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="gray"><circle transform="translate(8 0)" cx="0" cy="16" r="0"><animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" /></circle><circle transform="translate(16 0)" cx="0" cy="16" r="0"><animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.3" keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" /></circle><circle transform="translate(24 0)" cx="0" cy="16" r="0"><animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" /></circle></svg>');
			}
			&.cylon:after{
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="gray"><path transform="translate(0 0)" d="M0 12 V20 H4 V12z"><animateTransform attributeName="transform" type="translate" values="0 0; 28 0; 0 0; 0 0" dur="1.5s" begin="0" repeatCount="indefinite" keytimes="0;0.3;0.6;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" /></path><path opacity="0.5" transform="translate(0 0)" d="M0 12 V20 H4 V12z"><animateTransform attributeName="transform" type="translate" values="0 0; 28 0; 0 0; 0 0" dur="1.5s" begin="0.1s" repeatCount="indefinite" keytimes="0;0.3;0.6;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" /></path><path opacity="0.25" transform="translate(0 0)" d="M0 12 V20 H4 V12z"><animateTransform attributeName="transform" type="translate" values="0 0; 28 0; 0 0; 0 0" dur="1.5s" begin="0.2s" repeatCount="indefinite" keytimes="0;0.3;0.6;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" /></path></svg>');
			}
			&.spinning:after{
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="gray"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></svg>');
			}
		}

		&.loading{
			cursor: default;
			pointer-events:none;
			opacity: 0.7;

			&:before{
				opacity: 1;
				visibility: visible;
			}
			&:after{
				top: 50%;
				opacity: 1;
				visibility: visible;
			}
		}
	}

    //--------------------------------
    // Sizes
    //--------------------------------
	&.xs {
		height: $button-xs-height;
		font-weight: $button-xs-font-weight;
		font-size: $button-xs-font-size;
		padding: $button-xs-padding-y $button-xs-padding-x;

		&.circular{
			width: $button-xs-height !important;
		}
		&.rounded{
			border-radius: $button-xs-height/2;
		}
		[class^="icon-"], [class*=" icon-"]{
			font-size: $button-xs-font-size;
		}
		&.wide{
			padding: $button-xs-padding-y $button-wide-xs-padding-x;
		}
	}
	&.sm {
		height: $button-sm-height;
		font-size: $button-sm-font-size;
		line-height: $button-sm-line-height;
		padding: $button-sm-padding-y $button-sm-padding-x;

		&.circular{
			width: $button-sm-height !important;
		}
		&.rounded{
			border-radius: $button-sm-height/2;
		}
		[class^="icon-"], [class*=" icon-"]{
			font-size: $button-sm-font-size;
		}
		&.wide{
			padding: $button-sm-padding-y $button-wide-sm-padding-x;
		}
	}
	&.lg {
		height: $button-lg-height;
		font-size: $button-lg-font-size;
		line-height: $button-lg-line-height;
		padding: $button-lg-padding-y $button-lg-padding-x;

		&.circular{
			width: $button-lg-height !important;
		}
		&.rounded{
			border-radius: $button-lg-height/2;
		}
		[class^="icon-"], [class*=" icon-"]{
			font-size: $button-lg-font-size;
		}
		&.wide{
			padding: $button-lg-padding-y $button-wide-lg-padding-x;
		}
	}

	&[class^="icon-"], &[class*=" icon-"] {
		&.xs, &.sm, &.lg{
			width: auto;
		}
	}

}

// TODO: Labeled size fix, Loading(Ladda?), Components (Change color, text, icon), Animations