/*-----------------------------------------------------------------
- Icons core
-----------------------------------------------------------------*/
@font-face {
	font-family: $font-family-icon;
	src:  url($font-directory + 'icomoon.eot?cs2az2');
	src:  url($font-directory + 'icomoon.eot?cs2az2#iefix') format('embedded-opentype'),
	url($font-directory + 'icomoon.ttf?cs2az2') format('truetype'),
	url($font-directory + 'icomoon.woff?cs2az2') format('woff'),
	url($font-directory + 'icomoon.svg?cs2az2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: $font-family-icon !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}