/*-----------------------------------------------------------------
- Labels
-----------------------------------------------------------------*/
.label{
	display: inline-block;
	padding: $label-padding;
	font-weight: $font-weight-light;
	font-size: $label-font-size;
	line-height: 1;
	background: $label-bg;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $label-border-radius;

	// Colors
	@each $color, $value in $colors{
		&.#{$color}{
			background: $value;
		}
	}

	// Icon Inside
	[class^="icon-"], [class*=" icon-"]{
		margin-left: 5px;
	}

	// Labeled
	&.labeled{
		position: relative;
		padding-right: $label-icon-width + $label-padding-x;
		overflow: hidden;

		[class^="icon-"], [class*=" icon-"] {
			position: absolute;
			top: 0;
			right: 0;
			width: $label-icon-width;
			height: 100%;
			font-family: $font-family-icon;
			margin: 0;
			background: rgba(0, 0, 0, 0.05);
			border-left: 1px solid rgba(0, 0, 0, 0.05);

			&:before{
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				text-align: center;
				transform: translateY(-50%);
			}
		}

		&.left{
			padding-right: $label-padding-x;
			padding-left: $label-icon-width + $label-padding-x;

			[class^="icon-"], [class*=" icon-"] {
				right: auto;
				left: 0;
				border-left: 0;
				border-right: 1px solid rgba(0, 0, 0, 0.05);
			}
		}
	}

	// Sizes
	//------------------------------------------------
	// XS
	&.xs{
		font-size: $label-xs-font-size;
		padding: $label-xs-padding;
	}
	// SM
	&.sm{
		font-size: $label-sm-font-size;
		padding: $label-sm-padding;
	}
	// LG
	&.lg{
		font-size: $label-lg-font-size;
		padding: $label-lg-padding;
	}
}

// @TODO: check variables