/*-----------------------------------------------------------------
- Modal
-----------------------------------------------------------------*/
body.modal-open{
	overflow: hidden;
}
.modal-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8500;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;

	&.open{
		display: block;
	}
}
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8000;
	background: $modal-bg;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: $modal-transition;

	&.open{
		opacity: 1;
		visibility: visible;
	}
}

.modal{
	max-width: 100%;
	width: $modal-width;
	position: absolute;
	top: $modal-top;
	left: 50%;
	margin-bottom: $modal-bottom !important;
	transform: translateX(-50%);
	box-shadow: none;
	z-index: 9000;
	opacity: 0;
	visibility: hidden;
	transition: $modal-transition;

	&.open{
		top: $modal-open-top;
		opacity: 1;
		visibility: visible;
	}

	// Close
	.close-modal {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		border: 0 !important;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	// XS
	&.xs{
		width: $modal-xs-width;
	}

	// SM
	&.sm{
		width: $modal-sm-width;
	}

	// LG
	&.lg{
		width: $modal-lg-width;
	}
}
