/*-----------------------------------------------------------------
- Pagination
-----------------------------------------------------------------*/
ul.pagination{
    display: inline-block;
    width: auto;
    max-width: 768px;
    text-align: center;
    margin: 10px auto;
    padding: 0;
    @include clearfix;
	@include box;

    li{
        display: inline-block;
        float: right;

        a, span{
            float: right;
            display: inline-block;
            user-select: none;
            padding: 12px 16px;
            font-size: rem(14);
            font-weight: $font-weight-light;
            position: relative;
            border: 1px solid #e6e6e6;
            border-left: 0;
            background: #ffffff;
            line-height: 1.2;
			text-decoration: none;

            &:hover{
                background: #f3f3f3;
            }
        }

        &:first-child{
            a, span{
                border-radius: 0 4px 4px 0;
            }
        }
        &:last-child{
            a, span{
                border-left: 1px solid #e6e6e6;
                border-radius: 4px 0 0 4px;
            }
        }

        &.disabled{
            a, span{
                color: rgba(46, 64, 87, 0.4);
                pointer-events: none;
            }
        }
        &.active{
            a, span{
                //border-color: $global-color;
                background: $global-color;
				font-weight: $font-weight-bold;
                pointer-events: none;
                color: #ffffff;
            }
        }
    }

}
.pagination-wrapper{
	display: inline-block;
	width: 100%;
	text-align: center;
}