/*-----------------------------------------------------------------
- Panel
-----------------------------------------------------------------*/
.panel {
	background: #fff;
	margin-bottom: $panel-margin-bottom;
	@include box;
	border-radius: 10px;
	overflow: hidden;

	&:last-child {
		margin-bottom: $panel-last-margin;
	}

	//--------------------------------
	// Body
	//--------------------------------
	> article {
		padding: $panel-body-padding;
		background: $panel-body-background;
	}

	//--------------------------------
	// Header & Footer
	//--------------------------------
	> header, > footer {
		padding: $panel-header-padding;
		background: #fff;
		position: relative;
		min-height: $panel-header-min-height;
		border: $panel-header-border;

		&.dark{
			background: $panel-header-bg;
		}

		.title {
			display: block;
			color: $panel-header-title-color;
			font-family: $panel-header-title-font-family;
			font-weight: $panel-header-title-font-weight;
			margin: 0;

			small{
				color: #999;
				font-size: 80%;
				margin-right: 2px;
			}

			[class^="icon-"], [class*=" icon-"] {
				display: inline-block;
				padding: $panel-header-icon-padding;
				margin-#{$global-left}: $panel-header-icon-margin;
				border-#{$global-left}: 1px solid $panel-header-border-color;
				font-size: $panel-header-icon-size;
				color: $panel-header-icon-color;
			}

			a {
				border-bottom: 0;
				display: inline-block;
				font-family: $panel-header-link-font-family;
				font-weight: $panel-header-link-font-weight;
				font-size: $panel-header-link-font-weight;
			}

		}

		// Sizes
		&.lg{
			height: 64px;
		}
	}

	> header{
		border-bottom-width: $panel-header-border-width;
	}

	> footer{
		border-top-width: $panel-header-border-width;
	}

	//--------------------------------
	// Color
	//--------------------------------
	@each $color, $value in $colors{
		&.#{$color}{
			> header{
				background: lighten($value, 5%);

				.title{
					color: #ffffff;

					[class^="icon-"], [class*=" icon-"] {
						color: #eeeeee;
					}
					small{
						color: #eeeeee;
					}
				}
				.functions{
					a{
						color: #eee;

						&:hover{
							color: #ffffff;
						}
					}
				}
			}
		}
		&.bar-#{$color}{
			border-top: 3px solid $value;
		}
		&.fill-#{$color}{
			> header, > footer{
				background: darken($value, 5%);
				color: #ffffff;
				border-color: darken($value, 10%);

				.title{
					color: #ffffff;

					small, [class^="icon-"], [class*=" icon-"]{
						color: #ffffff;
					}
				}
			}
			> article{
				background: $value;
				color: #ffffff;
			}
		}
	}

	//--------------------------------
	// Functions
	//--------------------------------
	> header, > footer{
		position: relative;

		.functions {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);

			// Icon Functions
			> a:not(.button) {
				font: $font-weight-normal rem(14)/1.4 $font-family-icon;
				color: #a3afb7;
				padding: 6px 3px;
				margin-right: 3px;
				float: left;

				&:hover {
					color: #526069;
				}

				&:last-child {
					margin-right: 15px;
				}

				&.panel-toggle{
					@extend .icon-minus;
				}
			}

			// Label
			.label{
				float: left;
				margin: 4px 3px;
			}

			// Buttons
			> .button-group, > button, > .button, .dropdown{
				float: left;
				margin: 1px 4px 0 0;
			}

			> .button-group{
				button, .button{
					float: right;
				}
			}

			.button-group, .button{
				//box-shadow: none;
			}
			.button{
				&:active{
					box-shadow: $button-shadow-active;
				}
			}

			// Search
			.field{
				float: left;
				margin: 0;
			}

			// Progress Bar
			.progress{
				float: left;
				width: 120px;
				margin: 4px 4px 0 0;
			}

			.switch{
				float: left;
				margin-top: 3px;

				&.xs{
					margin-top: 9px;
				}
				&.sm{
					margin-top: 6px;
				}
			}

			// Right functions
			&.right{
				left: auto;
				right: 10px;

				> .button, > a, .label, .field, > .button-group, .progress, .switch{
					float: right;
				}
			}
		}
	}

	//--------------------------------
	// Closed
	//--------------------------------
	&.closed {
		.functions {
			> a {
				&.panel-toggle {
					@extend .icon-plus;
				}
			}
		}
		header {
			border-bottom-color: transparent;
		}
		article, footer {
			display: none;
		}
	}

	//--------------------------------
	// Small
	//--------------------------------
	&.small {
		> header, > footer {
			min-height: 1px;
			padding: 4px 12px 4px 10px;

			.functions {
				left: 7px;

				a {
					font-size: rem(12);
				}
			}
		}
	}

}

// Todo: Variables