/*-----------------------------------------------------------------
- Progress
-----------------------------------------------------------------*/
.progress {
    position: relative;
    display: block;
    max-width: 100%;
    height: $progress-height;
    border: $progress-border;
    margin-bottom: $progress-margin-bottom;
    box-shadow: $progress-box-shadow;
    background: $progress-bg;
    border-radius: $progress-border-radius;
    @include clearfix;
    overflow: hidden;

    .bar{
        float: $global-right;
        line-height: 1;
        position: relative;
        width: 0;
        max-width: 100%;
        height: 100%;
        min-width: 32px;
        background: $global-color;
        transition: $progress-transition;

        &:first-child{
            @if($global-direction == rtl) {
                border-radius: 0 $progress-border-radius $progress-border-radius 0;
            } @else {
                border-radius: $progress-border-radius 0 0 $progress-border-radius;
            }
        }

        // Label
        span{
            font-weight: $font-weight-light;
            font-size: $progress-font-size;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
        }

        // Colors
		@each $color, $value in $colors{
			&.#{$color}{
				background: $value;
			}
		}

        // Stripe
		&.stripe {
			background-size: 30px 30px;
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .11) 25%, transparent 25%,
					transparent 50%, rgba(255, 255, 255, .08) 50%, rgba(255, 255, 255, .11) 75%,
					transparent 75%, transparent);
		}

        // Shine
		&.shine {
			&:after {
				content: '';
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: #fff;
				animation: animate-shine 2s ease-out infinite;
			}
		}
    }

	// XS
	&.xs{
		height: 6px;

		.bar{
			span{
				display: none;
			}
		}
	}
	// SM
	&.sm{
		height: 16px;

		.bar{
			span{
				display: none;
			}
		}
	}
	// MD
	&.md{
		height: 24px;
	}
	// LG
	&.lg{
		height: 32px;

		.bar{
			span{
				font-size: rem(14);
			}
		}
	}
}

// Animate
.progress .bar.stripe.animate{
	animation: animate-stripes 3s linear infinite;
}

// Shine
.progress .bar.shine{
	&:after {
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #fff;
		animation: animate-shine 2s ease-out infinite;
	}
}

// Animate
@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -60px 0;
	}
}
@keyframes animate-shine {
	0% {
		opacity: 0;
		width: 0;
	}
	50% {
		opacity: .3;
	}
	100% {
		opacity: 0;
		width: 95%;
	}
}