/*-----------------------------------------------------------------
- Tabs
-----------------------------------------------------------------*/
.tab-titles{
	width: 100%;
	border-bottom: $global-border;
	@include clearfix;

	a{
		float: $global-right;
		font-family: $global-font-family;
		font-size: rem(14);
		border-#{$global-left}: $global-border;
		border-top: $global-border;
		padding: 10px 25px 12px;
		background: #fafafa;
		color: $color-gray;
		position: relative;
		white-space: nowrap;
		text-align: center;

		&:before{
			content: '';
			position: absolute;
			top: -1px;
			right: 0;
			width: 100%;
			border-top: 3px solid transparent;

			&:first-child:not(:last-child){
				border-top-right-radius: $global-border-radius;
			}
			&:last-child:not(:first-child){
				border-top-left-radius: $global-border-radius;
			}
		}

		&:first-child{
			border-#{$global-right}: $global-border;
		}

		&:hover{
			color: $global-color;
		}

		&:first-child:not(:last-child){
			border-top-right-radius: $global-border-radius;
		}
		&:last-child:not(:first-child){
			border-top-left-radius: $global-border-radius;
		}

		&.active{
			background: #ffffff;
			color: $global-color;

			&:before{
				border-top-color: $global-color;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: -1px;
				right: 0;
				width: 100%;
				height: 1px;
				background: #ffffff;
				z-index: 1;
			}
		}

		// Icons
		[class^="icon-"], [class*=" icon-"]{
			vertical-align: baseline;
			margin-left: 8px;
			position: relative;
			top: 1px;
		}
	}

	// Colors for all
	@each $color, $value in $colors{
		&.#{$color} a, a.#{$color}{
			&.active{
				@if (lightness($value) > 80) {
					color: darken($value, 30%);
				} @else {
					color: $value;
				}

				&:before{
					border-top-color: $value;
				}
			}

			&:hover{
				@if (lightness($value) > 80) {
					color: darken($value, 30%);
				} @else {
					color: $value;
				}
			}
		}
	}

	// Left
	&.#{$global-left}{
		a{
			float: left;

			&:first-child{
				border-#{$global-right}: 0;
			}
			&:last-child{
				border-#{$global-right}: $global-border;
			}
		}
	}

	// Block
	&.block{
		display: table;
		table-layout: fixed;

		a{
			float: none;
			display: table-cell;
		}
		&:after{
			display: none;
		}
	}
}

.tab-contents{
	.tab-content{
		display: none;
		padding: 15px;
		border: $global-border;
		border-top: 0;
		background: #ffffff;

		&.active{
			display: block;
		}
	}
}

// @TODO: Vertical, side, variables