/*-----------------------------------------------------------------
- Table
-----------------------------------------------------------------*/
table.table{
	width: 100%;
	max-width: 100%;
	background: $table-bg;
	text-align: $table-text-align;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: $table-border-radius;
	margin-bottom: $table-margin-bottom;
	@include box;

	&:last-child{
		//margin-bottom: 0;
	}

	// Table Header & Footer
	thead, tfoot{
		background: $table-head-bg;

		td, th{
			color: $table-head-color;
			border-top: 0;
			border-bottom: 0;
		}
	}

	thead{
		border-bottom: 1px solid $table-head-border-color;
	}

	tfoot{
		border-top: 1px solid $table-head-border-color;
	}

	// Cell
	td,th{
		text-align: right;
		vertical-align: middle;
		padding: 10px 8px;
		font: $table-font-weight $table-font-size $table-font-family;
		line-height: $table-line-height;
		border-top: $table-border;
	}
	th{
		font-family: $table-head-font-family;
		font-weight: $table-head-font-weight;
	}
	td{
		color: $color-gray-dark;
	}
	.action-column{
		width: 1px;
		white-space: nowrap;

		> a{
			margin: 0 3px;

			&:not(.button){
				font-size: rem(16);
				color: $color-gray;

				&:hover{
					color: $color-gray-dark;
				}
			}
		}
	}


	//--------------------------------
	// Bordered
	//--------------------------------
	&.bordered{
		border: $table-border;

		td,th{
			border: $table-border;
		}
	}


	//--------------------------------
	// Striped
	//--------------------------------
	&.striped{
		> tbody{
			> tr:nth-of-type(even){
				background: $table-odd-bg;
			}
		}
	}


	//--------------------------------
	// Hover
	//--------------------------------
	&.hover{
		> tbody{
			> tr:hover{
				background: $table-odd-bg;
			}
		}
	}


	//--------------------------------
	// Compact
	//--------------------------------
	&.compact{
		td,th{
			padding: 8px;
		}
	}


	//--------------------------------
	// Padded
	//--------------------------------
	&.padded{
		td,th{
			padding: 14px 12px;
		}
	}


	//--------------------------------
	// Colors
	//--------------------------------
	// Bar Colors: .bar-{color-name}
	@each $color, $value in $colors{
		&.bar-#{$color}{
			border-top: 3px solid $value;
		}
	}

	// BG Color
	@each $color, $value in $colors{
		&.#{$color}{
			border-color: shade($value, 10%);

			thead, tfoot{
				background: $value;
				border-color: shade($value, 10%);
			}
			tbody{
				background: tint($value, 15%);

				tr{
					border-color: tint($value, 5%);
				}
			}

			td, th{
				color: #ffffff;
				border-color: shade($value, 10%);
			}

			&.striped{
				tbody tr:nth-of-type(even){
					background: tint($value, 25%);
				}
			}
		}
	}


	// Row and Cell color
	tr, th, td{
		@each $color, $value in $colors{
			&.#{$color}{
				background: rgba($value, 0.15);
			}
		}
	}


	//--------------------------------
	// Fixed
	//--------------------------------
	&.fixed{
		table-layout: fixed;
	}
}


//--------------------------------
// Responsive
//--------------------------------
.table-responsive{
	width: 100%;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: $table-border;
	margin-bottom: $table-margin-bottom;

	table.table{
		background: #ffffff;
		margin-bottom: 0;
		border-right: 0;
	}
}

// Todo: Check variables