/*
*-------------------------------------------------------
* Main Content of the page
*-------------------------------------------------------
*/

.b-statics{
  padding: 20px;
  background: #e8f3cb;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;

  .b-static-title{
    margin-left: 5px;
  }
  .b-static-amount{
    font-weight: 500;
    font-size: 20px;
  }
}
.b-content{
  padding: 100px 80px 0;
  @media (max-width: 1024px) {
    padding: 100px 20px 0;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  .b-content-search{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    label{
      color: $color__gray--dark;
      margin-left: 20px;
      @include text($text__size--m,$text__line--m);
    }

    input{
      min-width: 300px;
      height: 50px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
      //text-align: left;
      //direction: ltr;
      @include text($text__size--m, $text__line--m);
      font-weight: 500;
      color: $color__gray--dark;
    }
    .remove{
      padding:0;
      background-color: transparent;
      border:0;
      color: #ca1212;
      @include text($text__size--m,$text__line--m);
      position: absolute;
      top: 10px;
      right: 320px;
    }
    .search-select{
      display: inline-block;
      height: 50px;
      border-radius: 0;
      margin-right: -5px;
      border-left: 0;
    }
    .b-input-icon{
      background-color: $color__green;
      color: $color__white;
      display: inline-block;
      width: 45px;
      height: 50px;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      float: left;
      i{
        line-height: 50px;
        text-align: center;
      }
    }

    .search-alert{
      margin-top: 20px;
      display: none;
      .close{
        top:4px;
      }
    }
  }

  .b-target-table{
    margin: 30px 0 0;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    .target-table{
      input{
        width: 200px;
      }
      input[type=number]{
        text-align: left;
        direction: ltr;
        width: 200px;
      }
      .table-input--attendee{
        width: 50px !important;
      }
      .td-fullname{
        .table-input--firstname, .table-input--lastname{
          width: 100px;
          display: inline-block;
        }
      }
      .td-submit{
        .fa-refresh{
          color: $color__gray--dark;
        }
      }

      .box-selector{
        select{
          width: 200px;
        }
      }
      .td-box{
        span{
          cursor: pointer;
          border-bottom: 1px dotted;
          text-align: center;
        }
      }
    }
  }

  .b-content-table{
    margin: 100px 0;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
    .add-to-table{
      position: absolute;
      top:5px;
      left: 5px;
    }
    .btn-print{
      position: absolute;
      top:5px;
      left: 55px;
    }
    .last-update{
      position: absolute;
      top: -30px;
      left: 5px;
      display: inline;
      opacity: 0.9;
    }
    .box-selector{
      position: absolute;
      top: 5px;
      select{
        min-width: 300px;
      }
    }
    td,
    th{
      line-height: inherit;
    }
    .preview-table{
      margin-top: 10px;
    }
  }

  // Status Classes
  .entered{
    background-color: #ccc !important;
    color: #777 !important;
  }
}

//Modal
.modal{
  label{
    font-weight: 400;
  }
}