/*
*-------------------------------------------------------
* Header section
*-------------------------------------------------------
*/


.b-header{
  padding: 10px;
  //border-bottom: 4px solid $color__blue;
  background-color: $color__green;
  .b-header-logo{
    width: 30%;
    height: 80px;
    float: right;
    .b-header-logo-img{
      max-width: 100%;
      height: 100%;
    }
  }

  .b-header-btn-group{
    float: left;
    padding: 20px 0;
    a{
      color: $color__white;
    }
  }
}