/*
*-------------------------------------------------------
* Questions Page
*-------------------------------------------------------
*/

h1, h2, h3, h4, h5, h6{
  &.underlined-heading{
    border-bottom: 1px solid #dadada;
  }
}

#addFromOpener{
  margin: 20px 0;
}

.add-new-form{
  #question-add-from{
    textarea{
      resize: none;
    }
  }
}

.questions-list{
  .question-item{
    -webkit-box-shadow:  0 2px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:  0 2px 5px rgba(0,0,0,0.4);
    box-shadow:  0 2px 5px rgba(0,0,0,0.4);
    padding: 10px 8px;
    border-radius: 4px;
    margin: 20px 0;
    .question-title{
      font-weight: bold;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .question-options-status{
      margin: 0 10px 10px;
    }
    .question-lottery{
      margin: 10px;
      border-top: 1px solid #dadada;
      padding: 20px 0;
      &.loading{
        position: relative;
        &:after{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #666;
          opacity: 0.7;
          animation: flash 1s infinite alternate;
        }
      }
      .lottery-result{
        ul{
          list-style-type: none;
          margin: auto;
          li{
            margin-bottom: 10px;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes flash {
  from{
    opacity: 0.7;
  }
  to{
    opacity:0.3;
  }
}