/*
*
* Typography related styles
*/


$text__family-sans:  IRANSans , sans-serif !default;

$text__size--xxl: 40 !default;
$text__size--xl: 32 !default;
$text__size--l: 30 !default;
$text__size--m: 18 !default;
$text__size--s: 14 !default;
$text__size--xs: 12 !default;

$text__line--xxl: 44 !default;
$text__line--xl: 40 !default;
$text__line--l: 38 !default;
$text__line--m: 30 !default;
$text__line--s: 19 !default;
$text__line--xs: 16 !default;



@mixin text($size, $line, $margin: 0, $family: $text__family-sans) {
  font-size: calc-em($size);
  line-height: ($line/$size);
  font-family: $family;
  margin-bottom: calc-em($margin, $size);
}

/*
*-------------------------------------------------------
* None Styled elements
*-------------------------------------------------------
*/



html {
  font-size: $base__font-size * 1px;
}

body {
  @include text($base__font-size, $base__line);
}

h1 {
  @include text($text__size--xxl, $text__line--xxl, 25);
  font-weight: 300;
  color: $color__gray--dark;
}

h2 {
  @include text($text__size--xl, $text__line--xl, 25);
  color: $color__gray--dark;
}

h3 {
  @include text($text__size--l, $text__line--l, 25);
  color: $color__gray--dark
;
}

p {
  @include text($text__size--m, $text__line--m, 2);
  color: $color__gray--dark;
}

a{
  //@include text($text__size--m, $text__line--m);
  &,
  &:hover,
  &:active,
  &:visited,
  &:focus
  {
    color: $color__blue;
  }
}
