.card-item article .gift{
	font-size: 24px;
}
.card-item article .gift.q span.hide{
	font-size: 24px;
}
.card-item article .gift.q span.hide.empty{
	font-size: 48px;
}

#random-cards .card-item{
	max-width: 600px;
}
#random-number{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 130px;
	transition: all 0.4s ease;
	border-bottom: 20px solid transparent;
	line-height: 1;
	padding: 0 20px;
}
#random-number.selected{
	font-size: 160px;
	color:     #7cce1c;
	border-bottom-color: #7cce1c;
}