/*
*-------------------------------------------------------
* Layouts / Footer
*-------------------------------------------------------
*/

.footer {
  padding: 20px 0 40px;
  background-color: #222;
  color: #eee;
}
.footer .links, .footer a {
  color: #888;
}