/*
*-------------------------------------------------------
* Layout / Navbar
*-------------------------------------------------------
*/

.navbar {
  //border-top: 8px solid #fff;
  background-color: #0A3057;
  padding: 10px;
  color: #FFFFFF;
  margin: 0;
}
.navbar a {
  text-decoration: none;
}
.navbar h1 {
  margin: 0 0 3px 0;
  font-size: 28px;
  font-weight: 700;
  //letter-spacing: 1px;
  color: #f5f8d8;
}
.navbar h1 .sub {
  display: block;
  margin: 4px 0 0;
  @include margin-start(34);
  font-size: 14px;
  //letter-spacing: 1px;
  color: #fff;
  font-weight: normal;
}
.navbar .inquire {
  margin-top: 10px;
}
.navbar .inquire span {
  @include padding-end(5);
  color: #FFFFFF;
}

/* Header sizing */
@media all and (max-width: 1000px) {
  .navbar h1 {
    font-size: 22px;
  }
  .navbar h1 .sub {
    @include margin-start(27);
  }
}
@media all and (max-width: 510px) {
  .navbar h1 {
    font-size: 16px;
  }
  .navbar h1 .sub {
    @include margin-start(20);
  }
}
