/*
*-------------------------------------------------------
* Layouts / Services
*-------------------------------------------------------
*/

.services {
  background-color: #38464F;
  color: #E1E9ED;
}
.services h1, .services h2, .services h3, .services h4 {
  color: #F4F9F9;
}
.services .intro {
  padding: 16px 0 16px;
  text-align: center;
}
.services .blurbs {
  margin: 20px 0;
}
.blurb {
  text-align: center;
}
.blurb img {
  margin: 0 auto;
}
.blurb h4 {
  margin: 24px auto;
}
.blurb p {
  margin: 15px 0;
}
.blurb ul {
  text-align: $start;
  @include padding-start(0);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.blurb a {
  margin: 15px 0 40px;
}