/*
*-------------------------------------------------------
* Layouts / Splash
*-------------------------------------------------------
*/

.splash {
  text-align: $end;
  padding-top: 50px;
  background:url('../images/city.png') repeat-x bottom;
}
.splash h2 {
  margin-bottom: 30px;
  line-height: 1.1;
  font-size: 42px;
  color: #555;
}
.splash p.splash-text {
  margin-bottom: 50px;
  color: #555;
  font-size: 18px;
}
.splash a.inquire {
  margin-bottom: 25px;
  padding: 14px 44px;
  background-color: #f46414;
  border: 1px solid #f94919;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  box-shadow: 0 1px 0 #fc9e6b inset;
  box-shadow: 2px 2px 5px #888888;
  text-shadow: 1px 1px 0 #823e19;
  white-space: nowrap;
  display: inline-block;
  span{
    @if $start == "right" {
      @include transform(scale(-1, 1));
    }
    float: $start;
    padding-right: 5px;
  }
}
.splash a.inquire:hover {
  background-color: #EF4902;
  transition: 0.6s;
}
.splash p.btn-note {
  width: 290px;
  float: $end;
  margin: -20px 0 80px;
  padding: 40px 0 0;
  @include padding-end(20);
  background: transparent url('../images/arrow.png') no-repeat 0 0;
  color: #2d6c9d;
  font-family: Angelina, Verdana, Tahoma;
  font-size: 20px;
}
.splash .image {
  height: 450px;
  background: transparent url('../images/construction.png') 40% 100% no-repeat;
}

/* Header sizing */
@media all and (max-width: 1000px) {
  .splash h2 {
    font-size: 32px;
  }
}
@media all and (max-width: 510px) {

  .splash h2 {
    font-size: 18px;
  }
}