// Site settings
@import "site-setting";

//base
@import "base";

// Styles
/*
*-------------------------------------------------------
* Login Page
*-------------------------------------------------------
*/
.wrapper{
  width: 100%;
  height: 100%;
  font-family: IRANSans;
}

.full-screen{
  width: 100%;
  height: 100%;
  background: map_get($colors, "semiWhite");
  display: table;
  #logout{
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 20px;
  }
  .credit{
    white-space: nowrap;
    position: fixed;
    left: 0;
    top: 50%;
    @include transform(rotate(-90deg) translate(0, -250%));
    opacity: 0.7;
    font-size: em(13);
    a{
      color: map_get($colors, "black");
    }
  }
  .dual-logo-header{
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
    @extend %clearfix;
    @include box-shadow(0 2px 5px rgba(0,0,0,0.2));
    border-bottom: 5px solid map_get($colors, 'blue');
    background: #fff;
    .logo-container{
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px 0;
      height: 100%;
      .ehda{
        float: right;
        width: 300px;
        height:100%;
        display: inline-block;
      }
      .pasargad{
        width: 100px;
        float: left;
        height:100%;
        display: inline-block;
      }
      img{
        width: 100%;
        height:100%;
        object-fit: contain;
      }
    }
  }
  .container-inner{
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    .login-box{
      max-width: 400px;
      margin: auto;
      background: #fff;
      border-radius: 5px;
      padding: 15px 20px;
      @include box-shadow(0 2px 5px rgba(0,0,0,0.2));
      form{
        padding: 15px 0;
      }
    }

    .inquiry-box{
      max-width: 450px;
      margin: auto;
      background: #fff;
      border-radius: 5px;
      padding: 15px 20px;

      @include box-shadow(0 2px 5px rgba(0,0,0,0.2));
      form{
        padding: 15px 0;
        #inputCodemelli{
          direction: ltr;
        }
      }
    }

    .register-box{
      max-width: 450px;
      background: #fff;
      border-radius: 5px;
      padding: 15px 20px;
      margin: 150px auto 30px;

      @include box-shadow(0 2px 5px rgba(0,0,0,0.2));
      form{
        padding: 15px 0;
        label{
          text-align: right;
        }
        [type="radio"]+label:after{
          background: map_get($colors,'green');
        }
      }
    }

  }
}
