@mixin arrow($color) {
  width: 12px;
  height: 12px;
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  // Scales well with transform too!
  // transform: scale(2.5);

  &::before {
    top: 2px;
    right: -6px;
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 0 $color, 3px 2px 0 $color, 2px 3px 0 $color, 3px 3px 0 $color;
  }
  &::after {
    width: 0;
    height: 0;
    left: -1px;
    bottom: 50%;
    content: '•';
    color: $color;
    line-height: 0;
    font-size: 14px;
    position: absolute;
    transition: left .1s ease-out, bottom .1s ease-out, letter-spacing .1s ease-out;
  }
  &.-rtl{
    @include transform(rotate(180deg) translate(100%));
    &::before {
      right: 6px;
    }
  }
  &.-long {
    //width: 22px;
    &::after {
      left: 0;
      content: '•••';
      text-align: right;
    }
  }

  &.-rtl{
    -webkit-transform: rotate(180deg) translate(100%);
    -moz-transform: rotate(180deg) translate(100%);
    -ms-transform: rotate(180deg) translate(100%);
    -o-transform: rotate(180deg) translate(100%);
    transform: rotate(180deg) translate(100%);
  }

  &:hover,
  &:focus {
    outline: none;
    &::after {
      left: 1px;
    }
    &.-long::after {
      left: -.19em;
      letter-spacing: .1em;
    }
  }
}