/*
*-------------------------------------------------------
* Widgets / Box
*-------------------------------------------------------
*/

.box{
  height: 320px;
  margin-bottom: 30px;
  position: relative;
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.25));
  @include transition(all 0.35s);
  overflow: hidden;
  a{
    color: map_get($colors,'darkGray');
  }
  &:hover{
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.25));
  }
  .box_image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height: auto;
      }
    }
  }
  .box_caption{
    padding: 10px;
    .title{
      font-size: em(16);

    }
  }

  .footer{
    border-top: 1px solid map_get($colors,'lightGray');
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: white;
    @include box-shadow(0 -6px 5px -3px #fff);
    font-size: em(16);
    color: map_get($colors,'darkGray');
    &:hover{
      color: map_get($colors,'darkRed');
    }
    /*a{
      font-size: em(16);
      color: map_get($colors,'darkGray');
      &:hover{
        color: map_get($colors,'darkRed');
      }
    }*/
  }
}

.media-box{
  margin-bottom: 30px;
  //height: 200px;
  overflow: hidden;
  position: relative;
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.25));
  .box_image{
    @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));
    display: block;
    overflow: hidden;
    position: relative;
    &:hover{
      img{
        @include transform(translateY(-20%));
      }
      .content-wrapper{
        opacity: 1;
        visibility: visible;
        @include transform(perspective(600px) rotateY(0deg));
      }
    }
    img{
      @include transition(all 0.3s ease 0s);
    }
    .content-wrapper{
      position: absolute;
      background: #ffffff;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 50%;
      display: block;
      bottom: 0;
      left: 0;
      vertical-align: baseline;
      @include transform(perspective(600px) rotateX(90deg));
      @include transform-origin(center bottom 0);
      @include transform-style(preserve-3d);
      @include transition(all 0.3s ease 0s);
      .content{
        padding:10px;
        vertical-align: baseline;
        overflow: hidden;
        height: 100%;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          bottom:0;
          left:0;
          right:0;
          background: linear-gradient(to top, white, transparent);
          height: 10px;
          @media (max-width: $tablet) {
            display: none;
          }
        }
        h2{
          color: map_get($colors,"green");
          padding: 0 0 6px;
          margin:0;
          font-size: em(16);
        }
        p{
          margin: 0;
          color: map_get($colors,"darkGray");
          font-size: em(13);
        }
      }
    }
  }
  @media (max-width: $tablet) {
    .box_image{
      &:hover{
        img{
          @include transform(translateY(0%));
        }
        .content-wrapper{
          opacity: 1;
          visibility: visible;
          @include transform(perspective(0px) rotateY(0deg));
        }
      }
      img{
        @include transform(translateY(0%));
        width: 100%;
      }
      .content-wrapper{
        opacity: 1;
        height:40%;
        visibility: visible;
        @include transform(perspective(600px) rotateY(0deg));
        background-color: rgba(0,0,0,0.4);
        .content{
          h2,p{
            color: #fff;
          }
        }
      }
    }
  }
}
