/*
*-------------------------------------------------------
* Widget / Category Box
*-------------------------------------------------------
*/

.category-box{
  cursor: pointer;


  &.active{
    .widget{
      color: white;
      background-color: map_get($colors, "lightGreen");
    }

    .h2{
      color: white;
    }
  }

  .widget{
    border: 0;
    overflow: hidden;
    background-color: map_get($colors, "lightGray");
    @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.25));
    margin: 0;
    .row-table{
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%;
      margin: 0;
      .title-container{
        padding-top: 11px;
        padding-bottom: 10px;
        .h2{
          white-space: nowrap;
          font-size: 18px;
        }
      }
      .icon-container{
        background-color: rgba(0,0,0,0.2);
        height: 100%;
        em{
          font-size: 25px;
          padding-bottom: 10px;
          padding-top: 11px;
        }
      }
    }
  }
}