/*
*-------------------------------------------------------
* Widget / Error Box
*-------------------------------------------------------
*/

.error-box{
  padding: 20px 0;
  .content{
    text-align: center;
  }
}