/*
*-------------------------------------------------------
* Widgets / Event Card
*-------------------------------------------------------
*/

.event-card{
  width:300px;
  height: 350px;
  position: relative;
  background: #000;
  display: inline-block;
  margin:10px;
  @include box-shadow(0 2px 4px rgba(0,0,0,0.2));
  .status{
    position: absolute;
    top: 0;
    @include start(0);
    //width: 40px;
    width: 80px;
    height: 40px;
    font-size: em(14);
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #000;
    z-index: 2;
    padding: 0 5px;
    @include border-bottom-end-radius(10px);
    &.future{
      background-color: map_get($colors,"lightGreen");
    }
    &.running{
      background-color: map_get($colors,"gold");
    }
    &.past{
      background-color: map_get($colors,"silver");
    }
  }
  .card_image{
    position: absolute;
    top:0;
    bottom:50px;
    left:0;
    right:0;
    z-index: 0;
    &:after{
      content: '';
      background: rgba(0,0,0,0.2);
      position: absolute;
      top:0;
      bottom:100px;
      left:0;
      right:0;
      z-index: 0;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height: auto;
      }
    }
  }
  .card_caption{
    padding: 10px 20px;
    position: absolute;
    z-index: 2;
    bottom:0;
    left:0;
    right:0;
    height: 150px;
    background: linear-gradient(to top, rgba(0,0,0,1) 40%, rgba(0,0,0,0.2));
    color: #fff;
    .title{
      color: #fff;
      font-size: em(16);
      margin-bottom: 0;
    }
    .dates,
    .times,
    .location{
      color: map_get($colors,"lightGray");
      font-size: em(14);
      i{
        color: map_get($colors,"darkRed");
      }
    }
    .times{
      span{
        direction: ltr;
      }
    }
  }
  .footer{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    @include end(0);
    background-color: map_get($colors,"darkRed");
    @include border-top-start-radius(10px);
    a{
      color: #fff;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      i{
        line-height: 40px;
        font-size: 20px;
      }
    }
  }
}