/*
*-------------------------------------------------------
* Widget / Linked Files
*-------------------------------------------------------
*/

.linked-file-wrapper {
  text-align: center;
  .linked-file {
    display: inline-block;
    background-color: map_get($colors, 'white');
    width: 150px;
    height: 140px;
    border-radius: 3px;
    margin: 6px;
    overflow: hidden;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    &:hover {
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      .file-icon {
        color: map_get($colors, 'silver');
        text-align: center;
        width: 100%;
        height: 100px;
        i {
          line-height: 100px;
          font-size: 70px;
        }
      }
      .title {
        text-align: center;
        padding: 0 5px;
        font-size: 13px;
        color: map_get($colors, 'darkGray');
        margin-top: 5px;
      }
    }
  }
}

