/*
*-------------------------------------------------------
* Widget / Pagination
*-------------------------------------------------------
*/
$paginateColor: map_get($colors,"blue");

.pagination{
  .pagination>li>a,
  .pagination>li>span{
    color: $paginateColor;
  }
  .pagination>.active>a,
  .pagination>.active>span,
  .pagination>.active>a:hover,
  .pagination>.active>span:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span:focus{
    background-color: $paginateColor;
    border-color: $paginateColor;
  }
}