/*
*-------------------------------------------------------
* Widgets / Row Boxes
*-------------------------------------------------------
*/

$imageWidth: 250;

$imgHeight: 150;

.row-box{
  height: 160px;
  margin: 15px 0;
  position: relative;
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.25));
  &:hover{
    @include box-shadow(0 2px 4px 0 rgba(0,0,0,0.25));
  }
  @media (max-width: $tablet) {
    height: 350px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .image-wrapper{
    width: $imageWidth + px;
    position: absolute;
    top:0;
    bottom:0;
    @include start(0);
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height: auto;
      }
    }
    @media (max-width: $tablet) {
      height: $imgHeight + px;
      width: 100%;
      position: static;
    }
  }
  .content{
    overflow: hidden;
    @include margin-start($imageWidth);
    padding:10px;
    height: 100%;
    @media (max-width: $tablet) {
      @include margin-start(0);
      height: 350 - $imgHeight +px;
      .title{
        margin-top: 0;
      }
    }
    .subtitle{
      color: map_get($colors,"gray");
      font-size: em(15);
      margin:0;
    }
    .title{
      font-size: em(17);
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .date,
    .author{
      font-size: em(14);
      color: map_get($colors,"gray");
    }
    .caption{
      font-size: em(16);
      color: map_get($colors,'darkGray');
      margin-top: 10px;
      height: 65px;
      overflow: hidden;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        background: linear-gradient(to top, white , transparent);
        right: 0;
        left: 0;
        bottom: 0;
        height: 10px;
      }
    }
  }
}