/*
*-------------------------------------------------------
* Widget / Search Form
*-------------------------------------------------------
*/

.search-form{
  position: relative;
  label{
    display: none;
  }
  input{
    width:100% !important;
    @include padding-end(30);
  }
  .search-button{
    border: 0;
    background: none;
    color: map_get($colors,'green');
    position: absolute;
    top: 50%;
    font-size: em(18);
    @include transform(translateY(-50%));
    @include end(5px);
  }
}
