/*
*-------------------------------------------------------
* Section Heading
*-------------------------------------------------------
*/

.underlined-heading{
  $borderSize: 3;
  border-bottom-width:0  !important;
  > span {
    @include padding-start(15);
    display: inline-block;
    border-bottom-width: 0;
    @include border-start-style(solid);
    @include border-start-width(#{$borderSize});
    @include margin-start(-#{$borderSize});
  }
}