/*
*-------------------------------------------------------
* Widget / Simple List Item
*-------------------------------------------------------
*/

.simple-list-item{
  border-bottom: 1px solid map_get($colors, 'lightGray');
  padding-bottom: 10px;
  &:hover{
    background-color: map_get($colors,'semiWhite');
  }
  &:last-child{
    border-bottom: 0;
  }
  .title{
    font-size: em(22);
  }
  .subtitle{
    font-size: em(14);
    color: map_get($colors, 'gray');
  }
  .abstract{
    margin:10px 0;
  }
  .read_more{
    font-weight: 500;
    color: map_get($colors,'darkRed');
  }
}