/*
*-------------------------------------------------------
* Small Row Box
*-------------------------------------------------------
*/

.small-row-box{
  padding: 10px 0;
  margin:0 10px;
  border-bottom: 1px solid map_get($colors, 'semiWhite');
  overflow: hidden;
  @extend %clearfix;
  position: relative;
  .image-wrapper{
    height: 60px;
    width: 60px;
    float: $start;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height: auto;
      }
    }
  }
  .content{
    height: 100%;
    @include margin-start(65);

    .title{
      font-size: em(15);
      margin: 0;
      //margin-bottom: 5px;
    }
    .date{
      font-size: em(13);
      color: map_get($colors,"gray");
    }
  }
  .bg{
    position: absolute;
    @include end(0px);
    top:10px;
    bottom:0;
    color: map_get($colors, 'lightGray');
    font-size: 80px;
    line-height: 70px;
    z-index: -1;
    font-weight: 500;
  }
  &.text-only{
    .content{
      @include margin-start(0);
    }
  }
}