$tabHeight: 60;
$eventHeight: 6 * $tabHeight;
$themeColor: map_get($colors,'green');
$ThemeColorLighter: map_get($colors,'lightGreen');


.tabs-container{
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.tabs{
  width: 20%;
  @include border-start(4px solid $themeColor);
  border-bottom: 0;
  @media (max-width: $tablet) {
    width: 100%;
    border-bottom: 4px solid $themeColor;
    @include border-start(0);
  }
  ul{
    padding:0;
    margin: 0;
    list-style-type: none;
    @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));
    @media (max-width: $tablet) {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      @include box-shadow(none);
    }
    li{
      $grayBorder:1px solid map_get($colors,'lightGray');
      display: inline-block;
      width: 100%;
      height: $tabHeight+px;
      text-align: center;
      white-space: nowrap;
      border-top: $grayBorder;
      @include border-end($grayBorder);
      background: #fff;
      &:last-child{
        border-bottom: $grayBorder;
      }
      @media (max-width: $tablet) {
        width: auto;
        height: 50px;
        &:nth-child(1){
          @include border-start($grayBorder);
          border-bottom: 0;
        }
      }
      a{
        color: map_get($colors,'almostBlack');
        font-size: em(16);
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 15px 10px;
        @media (max-width: $tablet) {
          font-size: em(15);
          padding: 10px;
        }
      }
      &.is-active{
        border: 1px solid $themeColor;
        background: $themeColor;
        a{
          color: #fff;
        }
      }
    }
  }
}
.tab-data-view{
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  height: $eventHeight+px;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));
  .data-box{
    padding: 20px 30px;
    min-height: 350px;
  }
}

// Vue Related classes
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  height: 350px;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}