/*
*-------------------------------------------------------
* Widget / Text Box
*-------------------------------------------------------
*/

.text-box-row{
  padding: 5px 20px;
  @extend %clearfix;

  .title{
    margin: 0;
    font-size: 22px;
    padding: 10px 5px;
    border-bottom: 2px solid map_get($colors, "blue");
    a{
      color: map_get($colors, "darkGray");
    }
  }

  .abstract{
    color: map_get($colors, "gray");
    margin-top: 10px;
    font-size: 13px;
  }
  .read-more{
    color: map_get($colors, "blue");
    margin: 8px 0;
    display: inline-block;
    &:hover {
      .arrow {
        outline: none;
        &::after {
          left: 1px;
        }
        &.-long::after {
          left: -.19em;
          letter-spacing: .1em;
        }
      }
    }
    .arrow{
      margin: 0 10px;
      @include arrow(map_get($colors, "blue"));
    }
  }
}