/*
*-------------------------------------------------------
* Widget / Title With Image
*-------------------------------------------------------
*/

.title-with-image{
  padding: 130px 0;
  text-align: center;
  z-index: -1;
  position: relative;
  overflow: hidden;
  .background{
    background-color: #266e88;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);
      z-index: 0;
    }
    &.blur{
      $filter: blur(5px);
      -webkit-filter: $filter;
      -moz-filter: $filter;
      -o-filter: $filter;
      -ms-filter: $filter;
      filter: $filter;
      @include transform(scale(1.1));
    }
  }

  h1{
    color: #fff;
    font-size: em(45);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    a{
      color: #fff;
    }
  }
  h2{
    margin-bottom: 0;
    color: map_get($colors ,"lightGray");
    margin-top: 15px;
    font-weight: 400;
    z-index: 2;
    position: relative;
    //border-top: 3px solid #7b7b7b;
    display: inline-block;
    //padding-top: 10px;
    a{
      color: map_get($colors ,"lightGray");
    }
  }
}

