/*
*-------------------------------------------------------
* Widget / Slide Row Box
*-------------------------------------------------------
*/

.slide-row-box{
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #365d65;
  padding-bottom: 10px;
  height: 210px;
  .box{
    background: map_get($colors, "lightGray") no-repeat center;
    background-size: cover;
    width: 250px;
    height: 200px;
    position: relative;
    float: $start;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    .content{
      background-color: rgba(0,0,0,0.3);
      padding:10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      h3{
        color: #fff;
        font-size: em(16);
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .date{
        color: map_get($colors,"lightGray");
        font-size: em(14);
      }
    }
  }
  .owl-nav{
    display: none;
  }
  .owl-dots{
    display: none;
  }
}