/*
*-------------------------------------------------------
* Layout / Activities
*-------------------------------------------------------
*/
.activities{
  margin-top: 50px;
}

.activities-tree{
  max-width:320px;
  margin:auto;
  position: relative;
  &:before{
    content: '';
    top: 120px;
    bottom: 0;
    //height: 100%;
    width: 3px;
    position: absolute;
    left:50%;
    @include transform(translateX(-50%));
    background: map_get($colors, 'green');
    opacity: 0.3;
    //@media (max-width: $mobile) {
    //  display: none;
    //}
  }
  .activity-box{
    width: 160px;
    height: 130px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    a{
      display: inline-block;
      width:100%;
      height:100%;
      .leaf{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        opacity: 0.9;
      }
      .leaf-inactive{
        display: block;
      }
      .leaf-active{
        display: none;
      }
    }
    .content{
      margin-top: 50px;
      .title{
        font-size: em(18);
        color: white;
        position: relative;
        z-index: 1;
        width: 85px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &:nth-child(odd){
      margin-left: auto;
      .leaf{
        left:-12px;
      }
      .content{
        margin-right: 30px;
      }
    }
    &:nth-child(even){
      margin-right: auto;
      .leaf{
        @include transform(scale(-1,1));
        right: -12px;
      }
      .content{
        margin-left: 30px;
      }
    }
    &.active{
      .leaf-inactive{
        display: none;
      }
      .leaf-active{
        display: block;
        opacity: 1;
        filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4));
      }
    }
  }
}
