/*
*-------------------------------------------------------
* Layout / Angles
*-------------------------------------------------------
*/

.angels-main-container{
  .page-title{
    //background: map_get($colors, "darkBlue");
    //background: linear-gradient(map_get($colors, "darkBlue"), #09174b ,#09174b) ;
    h2{
      color: #fff !important;
      text-shadow: 0 2px 7px rgba(255, 255, 255, 0.25);
    }
  }
  .search-angel{
    margin-top: 15px !important;
    #alertNotFound{
      overflow: hidden;
      border: 0;
    }
    .btn-search{
      //border: 1px solid transparent;
      //border-left-width: 0;
      border:0;
      width: 46px;
      height: 46px;
      border-radius: 0 50% 50% 0;
      //background-color: rgba(255,255,255,0.4);
      background-color: map_get($colors, "blue");
      box-sizing: border-box;
      position: relative;
      margin-left: -5px;
      i{
        font-size: em(25);
        color: #fff;
      }
      &:hover{
        border: 1px solid transparent;
        border-left-width: 0;
      }
    }
    #angels_name{
      background-color: rgba(255,255,255,0.4);
      border: 1px solid transparent;
      border-radius: 4px 0 0 4px;
      color: #fff;
      padding: 9px 10px;
      &::placeholder{
        color: rgba(255,255,255,0.8);
      }
    }
    .search-status{
      position: relative;
      .loading{
        position: absolute;
        margin-top: 15px;
        width: 100%;
        i{
          font-size: em(35);
          color: #fff;
        }
      }
      #alertNotFound{
        position: absolute;
        top: 0;
      }
    }
  }
}