/*
*-------------------------------------------------------
* Layout / Annual Report
*-------------------------------------------------------
*/

.annual-report{
  @extend %clearfix;
  @extend %fullWidth;

  height: 300px;

  .year-container{
    @extend %fullWidth;
    background-color: map_get($colors,'lightGray');
    width: 25%;
    float: $start;
    height:100%;
    position: relative;
    @media (max-width: $tablet) {
      height: 100px!important;
    }
    .year{
      position: absolute;
      display: inline-block;
      font-size: em(36);
      font-weight: 600;
      top: 15px;
      @include start(10%);
      @include end(0);
      border-bottom: 1px solid map_get($colors,'gray');
      @media (max-width: $tablet) {
        top: 50%;
        @include start(30px);
        @include transform(translateY(-50%));
      }
    }
  }
  .report-detail{
    @extend %fullWidth;
    width: 75%;
    float: $start;
    padding: 20px 30px;
    padding-top: 70px;
    @media (max-width: $tablet) {
      padding-top: 20px;
    }
    h1{
      font-size: em(25);
      margin-top: 0;
    }
    .abstract{
      max-width: 800px;
      max-height: 120px;
      overflow: hidden;
      @media (max-width: $tablet) {
        max-height: none;
      }
    }
    .link-wrapper{
      margin-top: 20px;
    }
  }
}

%fullWidth{
  @media (max-width: $tablet) {
    width: 100%;
    float: none;
    height: auto;
  }
}