/*
*-------------------------------------------------------
* Layout / Celebrities
*-------------------------------------------------------
*/

.celebrities{

  ul.waterfall li {
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
  }
  
  ul.waterfall li.show {
    opacity: 1;
    transition: all 0.3s, top 1s;
  }

  ul.waterfall li > div {
    transition: all 0.5s;
  }

  /***************************************/

  .yt-gallery{
    ul.waterfall {
      padding: 0;
      .yt-gallery-item{
        position: relative;
        @include transition(all 0.35s);
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        .yt-gallery-item-detail{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          z-index: -1;

          .yt-gallery-item-inner{
            width: 100%;
            height: 100%;
            position: relative;
            padding: 10px;
            text-align: center;
            .celeb-medal{
              position: absolute;
              font-size: em(33);
              top: 10px;
              left: 50%;
              transform: translateX(-50%);
            }
            .celeb-name{
              position: absolute;
              left: 0;
              right: 0;
              bottom: 15px;
              color: map_get($colors, 'black');
              font-weight: 500;
            }
          }
        }

        &.focus{
          @include transition(all 0.35s);
          z-index: 2;
          .yt-gallery-item-container{
            @include transform(translateX(50%));
            img{
              border: 0;
              @include box-shadow(0 0 5px rgba(0,0,0,0.4));
            }
          }
          .yt-gallery-item-detail{
            @include transform(translateX(-100%));
            @include box-shadow(0 0 5px rgba(0,0,0,0.4));
          }
        }
        &.unfocus{
          @include transition(all 0.35s);
        }
      }
    }
  }


}

.celebrity{
  margin: 50px 0;
  .celebrity-pic-container{
    .celebrity-pic{
      width:100%;
      max-width: 350px;
      height: 350px;
      overflow: hidden;
      position: relative;
      @include box-shadow(0 2px 4px rgba(0,0,0,0.2));
      @media (max-width: $tablet) {
        margin: auto;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .celebrity_medal{
        position: absolute;
        bottom: 0;
        @include end(0px);
        z-index: 0;
        text-align: center;
        width: 45px;
        .fa{
          font-size: em(30);
          position: relative;
          z-index: 2;
          line-height: 45px;
        }
        &:before{
          $badge_color: map_get($colors,'semiWhite');
          content: '';
          width:0;
          height: 0;
          @include border-start(40px solid transparent);
          @include border-end(40px solid $badge_color);
          border-bottom: 40px solid $badge_color;
          border-top: 40px solid transparent;
          position: absolute;
          bottom:0;
          @include end(0);
          z-index: 1;
        }
      }
    }

  }

  .celebrity-info{
    margin-top: 30px;
  }
  .celebrity-info-title{
    font-size: em(18);
    font-weight: 500;
    @include margin-end(10);
  }
}