/*
*-------------------------------------------------------
* Layouts / Contact Page
*-------------------------------------------------------
*/

.contact-info{
  .info-wrapper{
    .info-row{
      margin-bottom: 15px;
      .title{
        display: inline-block;
        margin:0;
        @include margin-end(10);
      }
      .info{
        display: inline-block;
      }

      &.social{

        .social-wrapper{
          margin-top: 40px;
          display: flex;
          //justify-content: center;
          flex-wrap: wrap;
          .social-link{

            a{
              opacity: 0.7;
              width: 80px;
              height: 80px;
              background-color: map_get($colors, "semiWhite");
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 5px;
              @include transition(opacity 0.5s);
              &:hover{
                opacity: 1;
                @include transition(opacity 0.5s);
              }
              i{
                font-size: 27px;
                color: #545454;
              }
            }
          }
        }
      }
    }
  }
}


.contact-form{
  margin: 20px 0 30px;
  padding: 0 10px;
  .form-row{
    margin-bottom: 15px;
    textarea{
      height: 100px;
      resize: vertical;
    }
  }
}