/*
*-------------------------------------------------------
* Layout / Event Single
*-------------------------------------------------------
*/

.event-content{
  .details{
    .image-wrapper{
      width: 100%;
      height: 200px;
      overflow: hidden;
      margin-bottom: 15px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include only-ie{
          height:auto;
        }
      }
    }
    width: 280px;
    font-size: em(16);
    font-weight: 500;
    float: $end;
    text-align: $start;
    padding: 30px;
    margin:0 15px 10px;
    @media (max-width: $mobile) {
      margin:0 5px 10px;
    }
    @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
    i{
      font-weight: 600;
    }
  }
}
.status-tag{
  color: #000;
  text-align: center;
  padding: 2px 5px;
  border-radius: 15px;
  font-size: em(18);
  &.upcoming{
    background-color: map_get($colors,"lightGreen");
  }
  &.running{
    background-color: map_get($colors,"gold");
  }
  &.expired{
    background-color: map_get($colors,"silver");
  }
}
