/*
*-------------------------------------------------------
* Layouts / FAQ List
*-------------------------------------------------------
*/

.faq-group{
  margin-bottom: 30px;
  h2{
    font-size: em(20);
    margin-bottom: 15px;
    color: map_get($colors,'darkRed');
  }
  .form-wrapper{
    border: 1px solid map_get($colors, 'lightGray');
    border-radius: 5px;
    padding: 20px 0;
  }
}
.faq-list{
  .panel-group{
    .panel{
      border:0;
      margin-top: 10px;
      @include box-shadow(0 1px 2px rgba(0,0,0,0.25));
      &:hover{
        @include box-shadow(0 2px 4px rgba(0,0,0,0.25));
      }
      .panel-heading{
        border:0;
        background: map_get($colors,'semiWhite');
        position: relative;
        @include padding-end(30);
        a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color: map_get($colors,'darkGray');
          .panel-icon{
            position: absolute;
            top:50%;
            @include transform(translateY(-50%));
            @include end(15px);
          }
          .panel-title{
            font-weight: 400;
          }
        }
      }
    }
  }
}
