/*
*-------------------------------------------------------
* Layout / Filter Grid View
*-------------------------------------------------------
*/

.filter_wrapper{
  padding: 30px 20px;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));
  width: 100%;
  &:hover{
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.25));
  }
  .close-filter{
    display: none;
    font-size: em(25);
    color: map_get($colors,'silver');
    cursor: pointer;
  }
}

.filter_inner{
  .filter_search{
    margin-bottom: 30px;
    position: relative;
  }

  .filter_checkboxes{
    .checkbox-group{
      margin: 30px 0;
      .title{
        border-bottom: 1px solid map_get($colors,'lightGray');
        margin-bottom: 20px;
        h1{
          font-size: em(16);
          font-weight: 500;
          margin: 0;
          margin-bottom: 10px;
        }
      }
      .body{
        .checkbox{
          input{
            display: block;
          }
        }
      }
    }
  }
}

.header-filter{
  border-bottom: 1px solid map_get($colors,'lightGray');
  padding: 20px 0;
  //@include box-shadow(0 1px 2px 0 rgba(0,0,0,0.25));
  //&:hover{
  //  @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.25));
  //}
  .form-group{
    select{
      border-width: 1px;
    }
    margin-bottom: 0;
    .help-block{
      display: none;
    }
  }
}

.filter-opener{
  display: none;
  @media (max-width: $tablet) {
    display: block;
    width: 100%;
    position: fixed;
    right:0;
    left:0;
    bottom: 0;
    border-radius: 0;
    padding: 10px 0;
    z-index: 9;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.3);
  }
}

.filter-sidebar{
  @media (max-width: $tablet) {
    position: fixed;
    z-index: 100;
    top: 0;
    @include end(-100%);
    @include start(100%);
    bottom: 0;
    padding: 0;
    background: #fff;
    overflow-y: auto;
    visibility: hidden;
    @include box-shadow(none);
    @include transition(all 0.5s);
    &.opened{
      @include end(0);
      @include start(0);
      visibility: visible;
    }
    .close-filter{
      display: inline-block;
      position: absolute;
      top: 10px;
      @include end(20px);
    }
    .filter_wrapper{
      padding-top: 60px;
      width: 100%;
      height:100%;
    }
  }
}

.result-container{
  position: relative;
  &.loading{
    &:before{
      content: "\f110";
      font-family: FontAwesome;
      position: absolute;
      z-index: 7;
      top: 50%;
      left:50%;
      @include transform(translate(-50%,-50%));
      font-size: 40px;
      color: map_get($colors,'blue');
      @include animation(spinning 2s infinite linear);
    }
    &:after{
      content: "";
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color: rgba(255,255,255,0.5);
      width: 100%;
      height:100%;
      z-index: 6;
    }
  }
}

@include keyframes(spinning){
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


