/*
*-------------------------------------------------------
* Layout / Financial Support
*-------------------------------------------------------
*/

.financial-support{
  .abstract{
    text-align: center;
    margin: 40px 0;
    h1{
      color: map_get($colors,"green");
      margin-bottom: 30px;
    }
    .content{
      font-size: em(18);
    }
  }

  .call-to-action{
    margin:30px 0;
    text-align: center;
  }

  .support-details{
    margin-bottom: 30px;
    .description{
      margin-bottom: 30px;
    }
  }

  .donation{
    padding: 60px 0;
    h1{
      color: map_get($colors,"green");
      margin-bottom: 30px;
      text-align: center;
    }
    .account-info{
      padding: 30px 0;
      h2{
        text-align: center;
        font-size: em(22);
        color: map_get($colors,'darkRed');
        margin-bottom: 20px;
      }
      .account-data{
        font-size: em(18);
        .title{
          font-weight: 500;
          margin-bottom: 5px;
        }
        .subtitle{
          font-size: em(15);
          color: map_get($colors,'gray');
        }
        .data{
          padding: 6px 12px;
          font-size: em(19);
          background-color: map_get($colors,'lightGray');
          text-align: left;
          position: relative;
          margin-bottom: 10px;
          @media (max-width: 340px) {
            font-size: em(18);
          }
          .copy-icon{
            position: absolute;
            right: 12px;
            top: 6px;
            opacity: 0.8;
            cursor: pointer;
            @include transition(all 0.35s);
            &:hover{
              opacity:1;
              @include transition(all 0.35s);
            }
          }
        }
        .owner{
          color: map_get($colors,'gray');
          font-size: em(14);
        }
      }
    }

    .form-wrapper{
      padding: 30px 20px;
      border: 1px solid map_get($colors,'silver');
      border-radius: 4px;
      h2{
        text-align: center;
        font-size: em(25);
      }
      .donation-from{
        max-width: 800px;
        margin: auto;
      }
    }
  }
}
