/*
*-------------------------------------------------------
* Layout / Footer
*-------------------------------------------------------
*/

footer{
  padding-bottom: 30px !important;
  .social-links{
    li{
      i{
        font-size: 27px;
      }
    }
  }
  h5{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .credit{
    hr{
      opacity: 0.5;
    }
  }
}