/*
*-------------------------------------------------------
* Layout / Gallery Category List
*-------------------------------------------------------
*/

.gallery-cat_row{
  margin: 60px 0;
  .gallery-cat_heading{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid map_get($colors,"silver");
    margin-bottom: 15px;
    .gallery-cat_title{
      width: 70%;
      h1{
        font-size: em(18);
        //margin: 0;
        display: inline-block;
        font-weight: bold;
        //font-size: 14px;
        color: map_get($colors,"darkGray");
        padding: 0 15px 10px;
        border-bottom: 2px solid map_get($colors,"darkGray");
        margin: 0 0 -2px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 80%;
        float: right;
        text-align: $start;
        a{
          color: map_get($colors,"darkGray");
        }
      }
      .gallery-cat_subtitle{
        @media (max-width: $tablet) {
          display: none;
        }
        margin:0;
        @include margin-start(10px);
        padding:0;
        list-style-type: none;
        li{
          display: inline-block;
          a{
            padding:0 10px;
            color: map_get($colors,"darkGray");
            &:hover{
              color: map_get($colors,"darkRed");
            }
          }
        }
      }
    }
    .gallery-cat_more{
      width: 30%;
      text-align: $end;
      min-width: 125px;
      .read-more{
        @include margin-end(20);
        color: map_get($colors,"darkRed");
        .arrow{
          @include arrow(map_get($colors,"darkRed"));
        }
      }
    }
  }

  .gallery-cat_body{
    overflow: hidden;
    .gallery-cat_container{
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @include transition(transform .5s);
      .gallery-cat_item{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        a{
          text-decoration: none;
          color: map_get($colors,'darkGray');
          .wrapper{
            .item_thumbnail{
              height: 180px;
              overflow: hidden;
              img{
                width: 100%;
                height:100%;
                object-fit: cover;
                @include only-ie{
                  height: auto;
                }
              }
            }
            .item_info{
              h2{
                font-size: em(16);
                margin: 10px 0;
              }
              .date{
                font-size: em(14);
                color: map_get($colors,'gray');
                margin-top: -10px;
              }
            }
          }
        }
      }
      .owl-nav{
        .owl-prev,
        .owl-next {
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          width: 30px;
          cursor: pointer;
          &.disabled{
            opacity: 0.7;
            cursor: not-allowed;
          }
          img{
            width: 100%;
          }
        }
        .owl-prev{
          @include start(0);
        }
        .owl-next{
          @include end(0);
        }
      }
    }
  }
}