/*
*-------------------------------------------------------
* Layout / General Info
*-------------------------------------------------------
*/

.info-list{
  margin-top: 40px;
  margin-bottom: 40px;
  .info-list-item{
    padding: 20px 10px;
    position: relative;
    border-bottom: 1px solid map_get($colors,'semiWhite');
    z-index: 0;
    .bg{
      color: map_get($colors,"lightGray");
      font-weight: 800;
      font-size: 3em;
      position: absolute;
      top: 0;
      @include start(0);
      z-index: -1;
    }
    .title{
      font-weight: 500;
      font-size: em(15);
      @include padding-start(30);
    }
    &::after{
      content: '';
      background: url('../images/curved-arrow.svg');
      background-size: contain;
      height: 60px;
      width: 60px;
      display: inline-block;
      opacity:0.1;
      position: absolute;
      top: 50%;
      bottom: -50%;
      @include end(0);
      z-index: -1;
    }
    &.last{
      &::after{
        display: none;
      }
    }
    &.current{
      .bg{
        color: map_get($colors,"green");
      }
      &::after{
        opacity: 1;
        background: url('../images/curved-arrow-green.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &.ltr{
    .info-list-item{
      &::after{
        @include transform(scaleX(-1));
      }
    }
  }
}