/*
*-------------------------------------------------------
* Layout / Image Gallery
*-------------------------------------------------------
*/

.gallery-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.gallery{
  position: relative;
  overflow: hidden;
  border-top: 5px solid #88ac2e;
  /* Bootstrap-style columns */
  .tile-column {
    position: relative;
    float: left;
    min-height: 1px;
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;


    /* Space between tiles */
    margin-top: 8px;
  }

  .my-sizer-element {
    width: 20%;
    @media (max-width: 1200px) {
      width: 25%;
    }
    @media (max-width: 991px) {
      width: 33.33%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (max-width: 420px) {
      width: 100%;
    }
  }
  .col-span {
    width: 50%;
  }

  /* default styles so shuffle doesn't have to set them (it will if they're missing) */
  .my-shuffle {
    position: relative;
    overflow: hidden;
  }

  /* Ensure images take up the same space when they load */
  /* https://vestride.github.io/Shuffle/images */
  .aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
  }

  .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .aspect--16x9 {
    padding-bottom: 56.25%;
  }

  .aspect--9x80 {
    padding-bottom: calc(112.5% + 8px);
  }

  .aspect--32x9 {
    padding-bottom: calc(28.125% - 3px);
  }

  img {
    display: block;
    width: 100%;

    max-width: none;
    height: 100%;
    object-fit: cover;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: auto;
    }
  }

  /* Small reset */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  figure {
    margin: 0;
    padding: 0;
  }
}

// Light Box Style changes
.lightboxOverlay{
  position: fixed !important;
  bottom:0;
  right:0;
  width: 100% !important;
  height: 100% !important;
}
.lightbox{
  position: fixed !important;
  top: 55px !important;
}
.lb-closeContainer{
  position: fixed;
  top:20px;
  @include start(30px);
}
.lb-details{
  margin-top: 10px;
  float: none !important;
  width: 100% !important;
  text-align: $start !important;
}
.lb-caption{
  font-weight: 500 !important;
}
.lb-number{
  display: none !important;
}