/*
*-------------------------------------------------------
* Layout / main Carousel
*-------------------------------------------------------
*/

.home-slider-new{
  display: block;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  .slide{
    position: relative;
    height: 700px;
    width: 100%;
    a{
      display: inline-block;
      width: 100%;
      height:100%;
      .image-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include only-ie{
            height: auto;
          }
        }
      }
      .slide-text {
        position: absolute;
        bottom: 30px;
        @include start(50px);
        width: 50%;
        background: rgba(0,0,0,0.57);
        color: white;
        padding: 20px 30px;
        border-radius: 10px;
        min-width: 300px;
        overflow: hidden;
        h3{
          color: #fff;
        }
        @media (max-width: $tablet) {
          left: 40px;
          right: 40px;
          width: auto;
          min-width: unset;
          max-height:640px;
        }
        @media (max-width: $mobile) {
          left: 20px;
          right: 20px;
          width: auto;
          min-width: unset;
          max-height:640px;
        }
      }
    }
  }
  .owl-nav{
    .owl-prev,
    .owl-next{
      position: absolute;
      top: 50%;
      cursor: pointer;
      @include transform(translateY(-50%));
      filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
      -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
      img{
        width: 100%;
      }
      @media (max-width: $tablet) {
        width: 40px;
      }
    }
    .owl-prev{
      @include start(5px);
    }
    .owl-next{
      @include end(5px);
    }
  }
}