/*
*-------------------------------------------------------
* Layout / Main Menu
*-------------------------------------------------------
*/
$blockViewPoint: 1439px;
$menuBreakPoint : 991px;

.menu{
  position: relative;
  &.menu{
    @include padding-end(190);
    float: $end;
    padding: 0;
    margin-bottom: 0;
    margin-top: 23px;
  }
  .menu-list{
    text-align: $start;
    margin-bottom: 0;
    @media (max-width: $menuBreakPoint) {
      display: block;
      margin-top: 10px;
      overflow-y: auto;
      height: 100%;
      padding: 20px 40px;
      max-width: 900px;
      margin-right: auto !important;
      margin-left: auto !important;
    }
    .list-inline{
      margin-left: 0;
      margin-right: 0;
    }
    li.has-child{
      @media (max-width: $menuBreakPoint) {
        display: block;
      }
      &:last-child{
        .sub-menu{
          @media (max-width: 1220px) {
            @include end(0);
            //top: 100%;
          }
        }
      }
      a{
        width: auto;
        margin: 0;
        display: block;
        font-weight: 500;
        position: relative;
        color: map_get($colors, 'darkGray');
        font-size: em(15);
        padding-top: 10px;
        padding-bottom: 20px;
        cursor: pointer;
        @include padding-end(10);
        @include margin-end(10);
        &:hover{
          color: map_get($colors, 'green');
        }
      }
      &.active {
        & > a{
          color: map_get($colors, 'green');
        }
        .sub-menu{
          opacity: 1;
          visibility: visible;
          @include transform(perspective(600px) rotateX(0deg));
          @media (max-width: $menuBreakPoint) {
            position: static;
            @include box-shadow(none);
          }
        }
      }
      .sub-menu{
        background-image: none;
        left: auto;
        right: auto;
        padding: 20px 15px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        align-content: space-around;
        list-style-type: none;
        @include transform(perspective(600px) rotateX(-90deg));
        @include transform-origin(center top 0);
        @include transform-style(preserve-3d);
        @include transition(all 0.3s ease 0s);
        @include box-shadow(0 3px 5px rgba(0,0,0,0.3));
        @media (max-width: 1000px) and (min-width: 992px) {
          top: 100%;
        }
        &.multi-col{
          left:0;
          right:0;
        }
        .menu-col{
          width: 33%;
          min-width: 210px;
          overflow: hidden;
          float: $start;
          display: inline-block;
          margin: 5px 0;
          & > a{
            font-size: em(16);
            border-bottom: 1px solid map_get($colors, 'lightGray');
            padding: 6px 20px;
            color: map_get($colors,'green')
          }
          ul{
            position: static;
            display: block;
            margin: auto;
            padding: 0;
            li{
              list-style-type: none;
              @include margin-start(0);
              a{
                padding: 6px 20px;
                width: 200px;
                border:0;
              }
            }
          }
        }
      }
    }
  }
}

.menu{
  @media (max-width: $blockViewPoint) {
    width: 100%;
    .menu-list{
      text-align: center;
    }
  }
  @media (max-width: $menuBreakPoint) {
    position: fixed;
    background: #fff;
    float: none;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 20px;
    width: 70% !important;
    height: 100%;
    min-width: 270px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    @include transform(translateX(100%));
    @include transition(all .35s ease-in-out);
    .menu-list{
      text-align: $start;
    }
  }
}
.close-menu{
  display: none;
  text-decoration: none;
  background-color: transparent;
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 5%;
  @include end(-50);
  right: auto;
  color: #fff;
  font-size: em(50);
  opacity:0;
  @include start(15);
  @include transform(translateY(-100%));
  @include transition(all .2s ease-in-out);
  @media (max-width: $tablet) {
    font-size: em(30);
  }
  @media (max-width: $menuBreakPoint) {
    display: block;
  }
}

.toggle-menu{
  display: none;
  cursor: pointer;
  @include margin-end(20);
  @media (max-width: $menuBreakPoint) {
    display: inline-block;
  }
}

// Search box
.menu{
  .search-icon{
    margin-left: 10px;
    border: 1px solid map_get($colors,'blue');
    display: inline-block;
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 5px;
    color: map_get($colors,'darkBlue');
  }
  .search-box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    background: #fff;
    z-index: 20;
    .close-icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include start(10px);
      color: map_get($colors,'silver');
    }
    input{
      width: 90%;
      @include padding-start(30);
    }
  }
}


.menu-opened{
  overflow: hidden;
  .menu:before{
    content: "";
    position: fixed;
    z-index: 9998;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 100%;
    display: inline-block;
    visibility: hidden;
    //transition: opacity .2s ease-in-out;
    @include transition(opacity .2s ease-in-out);
    opacity: 0;
    background: rgba(0, 0, 0, .5);
  }
  @media (max-width: $menuBreakPoint) {
    .menu:before{
      opacity: 1;
      visibility: visible;
    }
    .menu{
      opacity: 1;
      visibility: visible;
      @include transform(translateX(0));
      .menu-list{
        padding: 20px;
      }
      .search-icon{
        display: none;
      }
      .search-box{
        position: static;
        display: block !important;
        input{
          @include padding-start(12);
          display: inline-block;
          width: 75%;
        }
        .close-icon{
          display: none;
        }
      }
    }
    .close-menu{
      @include transform(translateY(0));
      opacity: 1;
    }
  }
}



