/*
*-------------------------------------------------------
* Layout / Organization
*-------------------------------------------------------
*/
.organization-box {
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
  .title {
    color: #fff;
    font-size: em(20);
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
  }
}

.organizations {
  margin: 40px 0 50px;
  .organization {
    display: none;
    &.active {
      display: block;
    }
  }
}

.section-title {
  text-align: center;
  margin: 20px 0 40px;
  h2 {
    margin: 0;
  }
}

.sponsors-section {
  h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    font-size: em(20);
    color: map_get($colors, 'gray');
  }
  .important {
    padding: 30px 20px;
    @media(max-width: $mobile){
      padding: 30px 0;
    }
    .sponsor-card {
      @extend %clearfix;
      margin-bottom: 20px;
      padding: 20px 30px;
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
      .content {
        margin: 20px 0;
      }
      .logo-wrapper {
        margin: 0 10px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .logo-title {
        text-align: center;
        h1 {
          font-size: em(20);
          color: map_get($colors, "blue");
        }
      }
    }
  }
  .others {
    padding: 30px 0;
    .other-sponsors {
      padding: 0;
      margin: 0;
      list-style-type: none;
      .other-sponsor {
        font-size: em(16);
        line-height: 2;
        @include border-start(3px solid map_get($colors, "blue"));
        a {
          color: map_get($colors, "darkGray");
        }
      }
    }
  }
}

.organization-group {
  .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    h2 {
      color: map_get($colors, 'darkRed');
      margin: 0;
      font-size: em(26);
    }
  }
  .members {
    text-align: center;
    .member {
      width: 150px;
      //padding: 15px 20px;
      height: 200px;
      display: inline-block;
      .image-wrapper {
        width: 110px;
        height: 110px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        border: 5px solid map_get($colors, 'lightGray');
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        margin-top: 10px;
        .name {
          font-weight: 600;
          font-size: em(14);
        }
        .position {
          color: map_get($colors, 'gray');
          font-size: em(14);
        }
      }
    }
    .specials {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .image-wrapper {
        border: 5px solid map_get($colors, 'blue');
      }
    }
    .normals{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.volunteers-section{
  .random-celebrities{
    .celebrities-heading{
      border-bottom: 1px solid map_get($colors, "lightGray");
      margin-bottom: 30px;
      h3{
        margin:0;
        margin-bottom: 10px;
        font-size: em(23);
      }
      .read-more{
        text-align: $end;
        width: 100%;
        display: inline-block;
        font-weight: 500;
        .fa{
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }
    .random-celebrities-body{
      text-align: center;
      .random-celebrity-col{
        display: inline-block;
        width: 170px;
      }
      .random-celebrity-image{
        width:150px;
        height:150px;
        overflow: hidden;
        border-radius: 50%;
        margin:10px;
        img{
          width: 100%;
          height:100%;
          object-fit: cover;
        }
      }
      .random-celebrity-name{
        text-align: center;
      }
    }
  }
}