/*
*-------------------------------------------------------
* Layout / Pinned Events
*-------------------------------------------------------
*/

.pinned-events{
  padding: 40px 0;
  position: relative;
  //&:before{
  //  content: "";
  //  position: absolute;
  //  width: 100%;
  //  height: 70%;
  //  bottom:0;
  //  left:0;
  //  right:0;
  //  background-color: map_get($colors,"black");
  //}
  .events-container{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}