/*
*-------------------------------------------------------
* Layout / Research Projects
*-------------------------------------------------------
*/

.research-projects{
  margin: 40px 0;
  .description{
    font-size: em(18);
  }
}