/*
*-------------------------------------------------------
* Layout / States
*-------------------------------------------------------
*/

.states-info{
  .browser-window{
    margin-top: 30px;
    border: 1px solid map_get($colors, 'lightGray');
    position: relative;
    border-radius: 5px 5px 2px 2px;
    .browser-top{
      position: absolute;
      top:0;
      left:0;
      right:0;
      border-radius: 5px 5px 2px 2px;
      border-bottom: 1px solid map_get($colors, 'lightGray');
      height: 26px;
      width: 100%;
      .browser-buttons{
        float: left;
        margin: 0 8px;
        .browser-btn{
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: map_get($colors, 'silver');
          margin: 8px 4px;
          border-radius: 50%;
        }
      }
    }
    .browser-body{
      padding: 30px 20px;
      margin-top: 27px;
    }
  }


  .state-website-container{
    text-align: center;
    .state-btn{
      padding: 10px 20px;
      position: relative;
      font-size: em(18);
      overflow: hidden;
      @include padding-start(68);
      display: inline-block;
      &:hover .state-icon{
        @include transition(all 0.5s);
        @include transform(translateX(0));
      }
      .state-icon{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: map_get($colors, 'darkBlue');
        @include transform(translateX(calc(100% - 48px)));
        @include transition(all 0.5s);
        .state-icon-inner{
          width: 100%;
          height:100%;
          position: relative;
          text-align: center;
          font-size: em(17);
          display: inline-block;
          line-height: 44px;

          .fa{
            position: absolute;
            @include end(0);
            font-size: 25px;
            vertical-align: bottom;
            width: 48px;
            height: 48px;
            display: inline-block;
            line-height: 48px;
          }
        }
      }
    }
  }

  .state-title{
    font-size: 18px;
    font-weight: 600;
  }

  .state-contact-info{
    .state-contact-icon{
      @include padding-end(10);
      font-size: em(25);
    }
    .state-address,
    .state-tel,
    .state-email{
      margin-bottom: 10px;
    }
  }
}