/*
*-------------------------------------------------------
* Layouts / Top Events
*-------------------------------------------------------
*/

$tabHeight: 60;
$eventHeight: 6 * $tabHeight;
$themeColor: map_get($colors,'green');
$ThemeColorLighter: map_get($colors,'lightGreen');

.latest-events{
  overflow: hidden;
  height: 360px;
  @media (max-width: $tablet) {
    height: 414px;
  }
  .tabs{
    width: 120px;
    @media (max-width: $tablet) {
      width: 100%;
    }
    ul{
      li{
        $grayBorder:1px solid map_get($colors,'lightGray');
        width: 116px;
        height: $tabHeight+px;
        @media (max-width: $tablet){
          height: $tabHeight - 10 +px;
        }
        &.is-active{
          border: 1px solid $themeColor;
          background: $themeColor;
        }
      }
    }
  }
  .tab-data-view{
    height: $eventHeight+px;
    .data-box{
      &:hover{
        .event-image img{
          @include transform(scale(1.1));
        }
      }
      .event{
        .event-image{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
          z-index: 0;
          img{
            width: 100%;
            height:100%;
            object-fit: cover;
            @include transition(all 5s linear 0s);
            @include only-ie{
              height: auto;
            }
          }
        }
        .event-detail{
          z-index: 1;
          position: absolute;
          color: #fff;
          background: rgba(0, 0, 0, 0.57);
          padding: 7px 20px;
          display: block;
          width: 300px;
          bottom: 20px;
          @include start(30px);
          border-radius: 5px;
          @media (max-width: $mobile) {
            left: 20px;
            right: 20px;
            width: auto;
          }
          h1{
            font-size: em(20);
            color: #fff;
            margin-top: 15px;
            margin-bottom: 10px;
            line-height: 1.5;
          }
          .location,
          .date{
            font-size: em(14);
            color: map_get($colors,'lightGray');
            margin-right: 10px;
          }
          .read-more{
            color: $ThemeColorLighter;
            margin: 8px 0;
            display: inline-block;
            &:hover {
              .arrow {
                outline: none;
                &::after {
                  left: 1px;
                }
                &.-long::after {
                  left: -.19em;
                  letter-spacing: .1em;
                }
              }
            }
            .arrow{
              margin: 0 10px;
              @include arrow($themeColor);
            }
          }
        }
      }
    }
  }
}

