/*
*-------------------------------------------------------
* Layout / Top News
*-------------------------------------------------------
*/

$newsBreakPoint: 991px;
$tabHeight: 60;
$eventHeight: 6 * $tabHeight;
$themeColor: map_get($colors, 'blue');
$ThemeColorLighter: map_get($colors, 'lightBlue');

//.latest-news {
//  .tabs-container {
//    //flex-direction: row;
//    @media (max-width: $newsBreakPoint) {
//      flex-direction: column-reverse;
//    }
//
//  }
//  .tabs {
//    width: 50%;
//    @include border-start(4px solid $themeColor);
//    @media (max-width: $newsBreakPoint) {
//      @include border-start(none);
//      border-bottom: 4px solid $themeColor;
//    }
//    @media (max-width: $newsBreakPoint) {
//      width: 100%;
//    }
//    ul {
//      @media (max-width: $tablet) {
//        white-space: nowrap;
//      }
//      li {
//        width: 100%;
//        height: $tabHeight;
//        @media (max-width: $tablet) {
//          display: block;
//        }
//        &.is-active {
//          border: 1px solid $themeColor;
//          background: $themeColor;
//        }
//        a {
//          padding: 15px 10px;
//          overflow: hidden;
//          vertical-align: top;
//        }
//      }
//    }
//
//  }
//  .tab-data-view {
//    width: 50%;
//    height: $eventHeight+px;
//    @media (max-width: $newsBreakPoint) {
//      width: 100%;
//    }
//    .data-box {
//      height: $eventHeight+px;
//      &:hover {
//        .event-image img {
//          @include transform(scale(1.1));
//        }
//      }
//      .news {
//        .news-image {
//          position: absolute;
//          top: 0;
//          left: 0;
//          right: 0;
//          bottom: 40%;
//          overflow: hidden;
//          z-index: 0;
//          @media (max-width: $newsBreakPoint) {
//            bottom: 0;
//          }
//          img {
//            width: 100%;
//            height: 100%;
//            object-fit: cover;
//            @include transition(all 5s linear 0s);
//            @include only-ie {
//              height: auto;
//            }
//          }
//        }
//        .news-detail {
//          z-index: 1;
//          position: absolute;
//          color: map_get($colors, 'almostBlack');
//          background: #fff;
//          padding: 7px 20px;
//          display: block;
//          width: 100%;
//          bottom: 0;
//          left: 0;
//          right: 0;
//          top: 60%;
//          border-radius: 5px;
//          @media (max-width: $newsBreakPoint) {
//            bottom: 20px;
//            @include start(30px);
//            @include end(auto);
//            top: auto;
//            background: rgba(0, 0, 0, 0.57);
//            color: #fff;
//            width: 300px;
//          }
//          @media (max-width: $mobile) {
//            left: 20px;
//            right: 20px;
//            width: auto;
//          }
//          h1 {
//            font-size: em(20);
//            color: inherit;
//            margin-top: 15px;
//            margin-bottom: 10px;
//            line-height: 1.5;
//          }
//          .location,
//          .date {
//            font-size: em(14);
//            color: map_get($colors, 'lightGray');
//            margin-right: 10px;
//          }
//          .read-more {
//            color: $ThemeColorLighter;
//            margin: 8px 0;
//            display: inline-block;
//            //font-size: em(14);
//            &:hover {
//              .arrow {
//                outline: none;
//                &::after {
//                  left: 1px;
//                }
//                &.-long::after {
//                  left: -.19em;
//                  letter-spacing: .1em;
//                }
//              }
//            }
//            .arrow {
//              margin: 0 10px;
//              @include arrow($ThemeColorLighter);
//            }
//          }
//        }
//      }
//    }
//  }
//
//}

.latest-news {
  height: 360px;
  width: 100%;
  overflow: hidden;
  display: block;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));

  .slide{
    height: 360px;
    width: 100%;
    min-height: 350px;
    position: relative;

    .news {
      height: $eventHeight+px;
      &:hover .news-image img{
        @include transform(scale(1.1));
      }
      .news-image {
        position: absolute;
        top: 0;
        @include end(50%);
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 0;
        @media (max-width: $newsBreakPoint) {
          bottom: 0;
          @include end(0);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include transition(all 5s linear 0s);
          @include only-ie {
            height: auto;
          }
        }
      }
      .news-detail {
        z-index: 1;
        position: absolute;
        color: map_get($colors, 'almostBlack');
        background: #fff;
        padding: 7px 20px;
        display: block;
        width: 50%;
        bottom: 0;
        left: 0;
        right: 50%;
        top: 0;
        @media (max-width: $newsBreakPoint) {
          bottom: 20px;
          @include start(30px);
          @include end(auto);
          background: rgba(0, 0, 0, 0.57);
          color: #fff;
          width: 300px;
          max-width: 320px;
          top: 20px;
          border-radius: 5px;
        }
        @media (max-width: $mobile) {
          left: 20px;
          right: 20px;
          width: auto;
        }
        h1 {
          font-size: em(20);
          color: inherit;
          margin-top: 15px;
          margin-bottom: 10px;
          line-height: 1.5;
        }
        .location,
        .date {
          font-size: em(14);
          color: map_get($colors, 'gray');
          @include margin-start(10);
          @media (max-width: $newsBreakPoint) {
            color: map_get($colors, 'lightGray');
          }
        }
        .abstract{
          margin-top: 10px;
          position: relative;
          max-height: 165px;
          overflow: hidden;
          &:after{
            content: "";
            position: absolute;
            background: linear-gradient(to top, white , transparent);
            right: 0;
            left: 0;
            bottom: 0;
            height: 10px;
          }
          @media (max-width: $newsBreakPoint) {
            max-height: 110px;
            &:after{
              background: transparent;
            }
          }
          p{
            height: 100%;
          }
        }
        .read-more {
          color: $ThemeColorLighter;
          margin: 8px 0;
          display: inline-block;
          position: absolute;
          bottom: 20px;
          @include end(30px);
          @media (max-width: $newsBreakPoint) {
            position: static;
          }
          &:hover {
            .arrow {
              outline: none;
              &::after {
                left: 1px;
              }
              &.-long::after {
                left: -.19em;
                letter-spacing: .1em;
              }
            }
          }
          .arrow {
            margin: 0 10px;
            @include arrow($ThemeColorLighter);
          }
        }
      }
    }
  }

  .owl-nav{
    .owl-prev,
    .owl-next {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: 30px;
      cursor: pointer;
      background: rgba(0,0,0,0.3);
      padding: 5px;
      &.disabled{
        opacity: 0.7;
        cursor: not-allowed;
      }
      img{
        width: 100%;
      }
    }
    .owl-prev{
      @include start(0);
    }
    .owl-next{
      @include end(0);
    }
  }
}