/*
*-------------------------------------------------------
* Layout / Top event
* (event list)
*-------------------------------------------------------
*/

.top-event-full{
  width: 100%;
  position: relative;
  overflow: hidden;
  .image-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
    z-index: 0;
    &.blur{
      $filter: blur(5px);
      -webkit-filter: $filter;
      -moz-filter: $filter;
      -o-filter: $filter;
      -ms-filter: $filter;
      filter: $filter;
      @include transform(scale(1.1));
    }
    &:after{
      content: "";
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      z-index: 0;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include only-ie{
        height: auto;
      }
    }
  }
  .content{
    width:100%;
    padding: 160px 0;
    position: relative;
    z-index: 2;
    text-align: center;
    .title{
      font-size: 3em;
      color: #fff;
      text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
      max-width: 1200px;
      margin: 0 auto 20px;
    }
    .dates{
      font-size: em(20);
      color: map_get($colors,"lightGray");
    }
    .times{
      font-size: em(20);
      color: map_get($colors,"lightGray");
      span{
        direction: ltr;
      }
    }
    .location{
      font-size: em(20);
      color: map_get($colors,"lightGray");
    }

  }
}

