/*
*-------------------------------------------------------
* Layout / Video Player
*-------------------------------------------------------
*/

$text-color: map_get($colors, 'semiWhite');
$text-secondary: map_get($colors, 'silver');

$bg-secondary: map_get($colors, 'darkGray');
$bg-color: map_get($colors, 'black');

$border_color: #2d2d2d;

.video-wrapper {
  background: $bg-color;
  padding: 20px 0;
  color: $text-color;
  //position: relative;
  .theme-mode {
    position: absolute;
    color: $text-color;
    text-decoration: none;
    top: 0;
    font-size: em(14);
    .mode {
      &.noDisplay {
        display: none;
      }
      i {
        font-size: em(20);
        font-weight: 600;
      }
    }
  }

  .player-wrapper {
    iframe {
      border: none;
    }
  }

  .video-info {
    padding: 20px 0 8px;
    .title {
      font-size: em(20);
      color: $text-color;
      margin: 0;
    }
    .caption {
      margin-top: 10px;
    }
    .statics {
      padding: 10px 0 0;
      .statics_views,
      .statics_comments {
        @include margin-end(10);
        color: $text-secondary;
        i {
          font-size: em(18);
        }
      }
    }
    hr {
      border-color: $bg-secondary;
    }
    .tags {
      //padding-bottom: 20px;
      margin-top: 10px;
    }
  }

  .video-playlist {
    max-height: 600px;
    @media (max-width: 991px) {
      max-height: 400px;
      margin-top: 20px;
    }
    //background-color: $bg-secondary;
    overflow-y: auto;
    .episodes {
      .video-row {
        position: relative;
        height: 86px;
        margin-bottom: 10px;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
        .video-thumb {
          position: absolute;
          @include start(0);
          top: 0;
          width: 150px;
          height: 85px;
          overflow: hidden;
        }
        .video-info {
          position: absolute;
          @include end(0);
          @include start(150px);
          bottom: 0;
          top: 0;
          padding-right: 20px;
          border-bottom: 1px solid $border_color;
          .title {
            font-size: em(15);
            color: $text-color;
          }
          .visits {
            font-size: em(13);
            color: $text-secondary;
          }
        }
        &.current {
          background: $border_color;
        }
      }
    }
  }
}

.light-theme {
  $text-color: map_get($colors, 'darkGray');
  $text-secondary: map_get($colors, 'black');

  $bg-secondary: map_get($colors, 'silver');
  $bg-color: map_get($colors, 'semiWhite');

  $border_color: map_get($colors, 'lightGray');

  &.video-wrapper {
    background: $bg-color;
    color: $text-color;
    .theme-mode {
      color: $text-color;
    }
    .video-info {
      .title {
        color: $text-color;
      }
      .statics {
        .statics_views,
        .statics_comments {
          color: $text-secondary;
        }
      }
      hr {
        border-color: $bg-secondary;
      }
    }

    .video-playlist {
      .episodes {
        .video-row {
          .video-info {
            border-bottom: 1px solid $border_color;
            .title {
              color: $text-color;
            }
            .visits {
              color: $text-secondary;
            }
          }
          &.current {
            background: $border_color;
          }
        }
      }
    }
  }
}