/*-----------------------------------------------------------------
- Grid
-----------------------------------------------------------------*/
//--------------------------------
// Container
//--------------------------------
.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter/2;
    padding-left: $gutter/2;
    @include clearfix;

    @each $size, $value in $container-sizes{
        @include bp($size){
            width: px($value);
        }
    }
}

// Fluid
.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter/2;
    padding-left: $gutter/2;
    @include clearfix;
}

//--------------------------------
// Row
//--------------------------------
.row{
    margin-right: -($gutter/2);
    margin-left: -($gutter/2);
    @include clearfix;
}

//--------------------------------
// Columns
//--------------------------------
$list: '.col-xs-1,';
$items: ('xs', 'sm', 'md', 'lg');
$start: 1;

@each $item in $items{

    @if($item == xs){
        $start: 2;
    } @else {
        $start: 1;
    }

    @for $i from $start through $columns {
        $list: "#{$list}, .col-#{$item}-#{$i}";
    }

}
#{$list}{
    position: relative;
    min-height: 1px;
    padding-left:  15px;
    padding-right: 15px;
}

// XS
@include make-grid('xs');

// SM
@include make-grid('sm');

// MD
@include make-grid('md');

// LG
@include make-grid('lg');

// Col Center
.col-center{
    float: none;
    margin-right: auto;
    margin-left: auto;
}

// Grid space sizes
.row{
	&.xs{
		margin-right: 0;
		margin-left: 0;

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
			padding-right: 0;
			padding-left: 0;
		}
	}
	&.sm{
		margin-right: -5px;
		margin-left: -5px;

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
			padding-right: 5px;
			padding-left: 5px;
		}
	}
	&.lg{
		margin-right: -20px;
		margin-left: -20px;

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	&.xlg{
		margin-right: -30px;
		margin-left: -30px;

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}
