/*-----------------------------------------------------------------
- Some Resets
-----------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: $global-font-family;
    font-size: $global-font-size;
    font-weight: $global-font-weight;
    line-height: $global-line-height;
    color: $global-base-color;
    background-color: #fff;
    direction: $global-direction;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img{
    vertical-align: middle;
}