/*-----------------------------------------------------------------
- Typography
-----------------------------------------------------------------*/
// Font Family
@font-face {
	font-family: Vazir;
	src: url($font-directory + 'Vazir.eot');
	src: url($font-directory + 'Vazir.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'Vazir.woff2') format('woff2'),
	url($font-directory + 'Vazir.woff') format('woff'),
	url($font-directory + 'Vazir.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: Vazir;
	src: url($font-directory + 'Vazir-Bold.eot');
	src: url($font-directory + 'Vazir-Bold.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'Vazir-Bold.woff2') format('woff2'),
	url($font-directory + 'Vazir-Bold.woff') format('woff'),
	url($font-directory + 'Vazir-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: Vazir;
	src: url($font-directory + 'Vazir-Light.eot');
	src: url($font-directory + 'Vazir-Light.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'Vazir-Light.woff2') format('woff2'),
	url($font-directory + 'Vazir-Light.woff') format('woff'),
	url($font-directory + 'Vazir-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: Vazir;
	src: url($font-directory + 'Vazir-Medium.eot');
	src: url($font-directory + 'Vazir-Medium.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'Vazir-Medium.woff2') format('woff2'),
	url($font-directory + 'Vazir-Medium.woff') format('woff'),
	url($font-directory + 'Vazir-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: Vazir;
	src: url($font-directory + 'Vazir-Thin.eot');
	src: url($font-directory + 'Vazir-Thin.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'Vazir-Thin.woff2') format('woff2'),
	url($font-directory + 'Vazir-Thin.woff') format('woff'),
	url($font-directory + 'Vazir-Thin.ttf') format('truetype');
	font-weight: 100;
}
@font-face {
	font-family: IRANYekan;
	src: url($font-directory + 'iranyekanwebregular.eot');
	src: url($font-directory + 'iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'iranyekanwebregular.woff2') format('woff2'),
	url($font-directory + 'iranyekanwebregular.woff') format('woff'),
	url($font-directory + 'iranyekanwebregular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: IRAN;
	src: url($font-directory + 'iranyekanwebbold.eot');
	src: url($font-directory + 'iranyekanwebbold.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'iranyekanwebbold.woff2') format('woff2'),
	url($font-directory + 'iranyekanwebbold.woff') format('woff'),
	url($font-directory + 'iranyekanwebbold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: IRANYekan;
	src: url($font-directory + 'iranyekanweblight.eot');
	src: url($font-directory + 'iranyekanweblight.eot?#iefix') format('embedded-opentype'),
	url($font-directory + 'iranyekanweblight.woff2') format('woff2'),
	url($font-directory + 'iranyekanweblight.woff') format('woff'),
	url($font-directory + 'iranyekanweblight.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: VazirFN;
	src: url($font-directory + 'Vazir-FD-WOL.eot');
	src: url($font-directory + 'Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
				 url($font-directory + 'Vazir-FD-WOL.woff2') format('woff2'),
				 url($font-directory + 'Vazir-FD-WOL.woff') format('woff'),
				 url($font-directory + 'Vazir-FD-WOL.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: VazirFN;
	src: url($font-directory + 'Vazir-Bold-FD-WOL.eot');
	src: url($font-directory + 'Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
				 url($font-directory + 'Vazir-Bold-FD-WOL.woff2') format('woff2'),
				 url($font-directory + 'Vazir-Bold-FD-WOL.woff') format('woff'),
				 url($font-directory + 'Vazir-Bold-FD-WOL.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: VazirFN;
	src: url($font-directory + 'Vazir-Light-FD-WOL.eot');
	src: url($font-directory + 'Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
				 url($font-directory + 'Vazir-Light-FD-WOL.woff2') format('woff2'),
				 url($font-directory + 'Vazir-Light-FD-WOL.woff') format('woff'),
				 url($font-directory + 'Vazir-Light-FD-WOL.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: VazirFN;
	src: url($font-directory + 'Vazir-Medium-FD-WOL.eot');
	src: url($font-directory + 'Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
				 url($font-directory + 'Vazir-Medium-FD-WOL.woff2') format('woff2'),
				 url($font-directory + 'Vazir-Medium-FD-WOL.woff') format('woff'),
				 url($font-directory + 'Vazir-Medium-FD-WOL.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: VazirFN;
	src: url($font-directory + 'Vazir-Thin-FD-WOL.eot');
	src: url($font-directory + 'Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
				 url($font-directory + 'Vazir-Thin-FD-WOL.woff2') format('woff2'),
				 url($font-directory + 'Vazir-Thin-FD-WOL.woff') format('woff'),
				 url($font-directory + 'Vazir-Thin-FD-WOL.ttf') format('truetype');
	font-weight: 100;
}

.vazir-fn{
	font-family: $font-family-vazir-farsi !important;
}

// Anchor tag
a{
    color: $link-color;
    text-decoration: $link-decoration;
	transition: $link-transition;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

// Heading
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-iran;
    font-weight: $heading-font-weight;
    color: $heading-color;
    line-height: $heading-line-height;
    margin: 0 0 $heading-margin-bottom;

    small{
        font-size: $heading-small-font-size;
        font-weight: $heading-small-font-weight;
        color: $heading-small-color;
        line-height: $heading-small-line-height;
    }

}
@for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
        font-size: rem(nth($heading-font-size, $i));
    }
}

// Paragraph
p{
	font-family: $p-font-family;
	font-weight: $p-font-weight;
	color: $p-color;
	margin: 0 0 $p-margin-bottom 0;
	line-height: 2;
}

// Mark
mark{
    background: $mark-bg;
    padding: $mark-padding-y $mark-padding-x;
}

// Strong
b, strong{
    font-weight: $strong-font-weight;
}

// Code
code{
    font-family: $code-font-family;
    font-size: $code-font-size;
    background: $code-bg;
    color: $code-color;
    padding: $code-padding-y $code-padding-x;
	border-radius: $global-border-radius;
	direction: ltr !important;
}